<%= render PageComponent.new(breadcrumb: breadcrumb(:new_member), title: "Add a member to your team 📱") do %>
  <%= form_with(model: @invite,
                url: accounts_organization_invitations_path(@invite.organization, @invite),
                builder: ButtonHelper::AuthzForms,
                html: { method: :post }) do |form| %>
    <%= render "shared/errors", resource: @invite %>

    <div class="space-y-4">
      <%= form.hidden_field :organization_id, value: @invite.organization.id %>

      <div>
        <%= form.label :email, class: "block text-sm font-medium mb-1" %>
        <%= form.email_field :email, autofocus: true, autocomplete: "email", class: "form-input w-full" %>
      </div>

      <div>
        <%= form.label :role, class: "block text-sm font-medium mb-1" %>
        <%= form.select :role,
                        options_for_select(Accounts::Membership.allowed_roles, "developer"),
                        { required: true },
                        { class: "form-input w-full mb-1" } %>
      </div>

      <div class="mt-5">
        <!-- Start -->
        <%= form.authz_submit :blue, "Create" %>
      </div>
    </div>
  <% end %>
<% end %>
