<div class="max-w-sm mx-auto px-4 py-8">
  <div class="flex mb-8 -ml-2">
    <%= inline_svg("tramline.svg") %>
  </div>

  <%= render partial: 'shared/flash' %>

  <!-- Form -->
  <%= form_for(resource, as: resource_name, html: { 'data-turbo' => "false" }, url: session_path(resource_name)) do |f| %>
    <div class="space-y-4">
      <div>
        <%= f.label :email, class: "block text-sm font-medium mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input w-full" %>
      </div>

      <div>
        <%= f.label :password, class: "block text-sm font-medium mb-1" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-input w-full" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <label class="flex items-center">
          <%= f.check_box :remember_me, class: "form-checkbox" %>
          <%= f.label :remember_me, class: "text-sm ml-2" %>
        </label>
      <% end %>

      <div class="flex items-center justify-between mt-6">
        <div class="mr-1">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-sm underline hover:no-underline" %>
          <% end %>
        </div>
        <%= f.submit "Log in", class: "btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3" %>
      </div>
    </div>
  <% end %>

  <!-- Footer -->
  <div class="flex mt-8 pt-4 border-t border-slate-200 justify-center">
    <span class="text-xs text-slate-400">Copyright <%= Date.current.year %>, Tramline Inc.</span>
  </div>
</div>
