<div class="min-h-screen flex items-center justify-center">
  <%= render CardComponent.new(title: "Pick your Jira Organization", separator: true, size: :base) do %>
    <% if @resources&.any? %>
      <%= render FormComponent.new(url: resend_jira_callback_path, method: :post, free_form: true) do |form| %>
        <%= form.F.hidden_field :code, value: params[:code] %>
        <%= form.F.hidden_field :state, value: params[:state] %>

        <% options = @resources.map do |org| %>
          <%
            {
              title: org["name"],
              subtitle: org["url"],
              icon: "integrations/logo_jira.png",
              opt_name: :cloud_id,
              opt_value: org["id"],
              options: { checked: true }
            }
          %>
        <% end %>

        <%= render OptionCardsComponent.new(form: form.F, options:) %>

        <% form.with_action do %>
          <%= form.F.authz_submit "Continue", "archive.svg", size: :sm %>
        <% end %>
      <% end %>
    <% else %>
      <div class="rounded-md bg-yellow-50 p-4">
        <div class="text-sm text-yellow-700">
          <h3 class="font-medium text-yellow-800">No organizations available</h3>
          <p class="mt-1">Please try again or contact support if the issue persists.</p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
