<%= form_with(model: [app, config, app_variant],
              url: app_app_config_app_variants_path(app, config),
              builder: ButtonHelper::AuthzForms) do |form| %>
  <!-- Modal header -->
  <div class="flex flex-col items-start rounded-t p-4">
    <div class="flex justify-between w-full items-center border-b py-4">
      <h3 class="text-xl font-semibold text-gray-900 inline-flex items-center">
        <%= inline_svg("dna.svg", classname: "w-6 h-6 fill-current mr-1") %>
        New App Variant
      </h3>
      <button type="button" class="text-slate-400 hover:cursor-pointer hover:text-slate-500" data-action="modal#close">
        <%= inline_svg("close_icon.svg", classname: "w-4 h-4 fill-current") %>
        <span class="sr-only">Close modal</span>
      </button>
    </div>
  </div>

  <!-- Modal body -->
  <div class="p-4 space-y-6">
    <div>
      App variants are akin to <strong>product flavors</strong> or <strong>build variants</strong>, but with an explicit
      requirement of having a different
      bundle identifier.
      For example, you can setup a staging variant <code><%= app.bundle_identifier + ".staging" %></code> that gets
      deployed to a different Firebase app than the primary <code><%= app.bundle_identifier %></code> app.
    </div>

    <div class="grid grid-cols-2 gap-x-5">
      <div>
        <%= form.label :name, class: "block text-sm font-medium mb-1" %>
        <%= form.text_field :name, class: "form-input w-full", placeholder: "Enter app name...", required: true %>
      </div>

      <div>
        <%= form.label :bundle_identifier, class: "block text-sm font-medium mb-1" %>
        <%= form.text_field :bundle_identifier, class: "form-input w-full", placeholder: "eg., com.just.use.rails", required: true %>
        <div class="text-sm mt-1">If you're going to deploy to the App Store or Play Store, this <strong>must</strong>
          match the identifier in the store listing.
        </div>
      </div>
    </div>

    <%= render partial: "firebase_form", locals: { form:, config:, app:, firebase_ios_apps:, firebase_android_apps: } %>
  </div>

  <!-- Modal footer -->
  <div class="flex items-center p-4 space-x-2 border-t border-gray-200 rounded-b">
    <%= form.authz_submit :blue, "Save" %>
  </div>
<% end %>
