<%= render V2::EnhancedTurboFrameComponent.new("#{@integration_category}_config") do %>
  <% if @app.bitrise_connected? %>
    <%= form_with(model: [@app, @config],
                  url: app_app_config_path(@app),
                  builder: EnhancedFormHelper::AuthzForm,
                  method: :patch) do |form| %>
      <%= render V2::FormComponent.new(params) do |form_component| %>
        <% form_component.with_section(heading: "Select Project") do |component| %>
          <% component.with_description do %>
            This will be your base notification channel. Later, when you create trains, you can add more granularity.
            <%= image_tag "integrations/logo_bitrise.png", title: "Bugsnag", width: 22, class: "my-2" %>
          <% end %>

          <% if @ci_cd_apps.present? %>
            <div class="mb-4">
              <%= form.label :bitrise_project_id, "App Name", class: "block text-sm font-medium mb-1" %>
              <%= form.select :bitrise_project_id,
                              options_for_select(
                                display_channels(@ci_cd_apps) { |app| "#{app[:name]} (#{app[:id]})" },
                                @config.bitrise_project_id.to_json
                              ),
                              { class: "form-select" },
                              data: { controller: "input-select" } %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="mt-8">
        <%= form.authz_submit "Update", "plus.svg" %>
      </div>
    <% end %>
  <% else %>
    <%= render partial: "empty_state" %>
  <% end %>
<% end %>
