<%= render PageComponent.new(breadcrumb: breadcrumb(:app_config, @config), title: "Configure ⚙️") do %>
  <%= render partial: 'shared/errors', locals: { resource: @config } %>

  <%= form_with(model: [@app, @config],
                url: app_app_config_path(@app),
                builder: ButtonHelper::AuthzForms,
                method: :patch) do |form| %>
    <section>
      <div class="mb-8">
        <h2 class="font-bold text-xl">
          General
        </h2>
      </div>

      <div class="grid gap-5 md:grid-cols-2 pb-8">
        <div>
          <%= form.label :code_repository, "Code Repository", class: "block text-sm font-medium mb-1" %>
          <%= form.select :code_repository,
                          options_for_select(
                            display_channels(@code_repositories) { |chan| chan[:full_name] },
                            @config.code_repository.to_json
                          ),
                          {},
                          { class: "form-select w-full" } %>
        </div>

        <% if @app.notifications_set_up? %>
          <div>
            <div class="text-xl text-slate-600 font-medium mt-2 mb-4">Notifications</div>
            <%= render partial: "shared/notifications_form",
                       locals: { form:, app: @app, channels: @notification_channels, current: @config.notification_channel } %>
          </div>
        <% end %>
      </div>
    </section>

    <% if @app.bitrise_connected? %>
      <section class="border-t border-dashed pb-8">
        <div class="my-8">
          <h2 class="font-bold text-xl">
            <%= image_tag "integrations/logo_bitrise.png", title: "Bitrise", width: 35, class: "pb-2" %>
            Bitrise
          </h2>
        </div>

        <div class="grid gap-5 md:grid-cols-2">
          <% if @ci_cd_apps.present? %>
            <div class="mb-4">
              <%= form.label :bitrise_project_id, "App Name", class: "block text-sm font-medium mb-1" %>
              <%= form.select :bitrise_project_id,
                              options_for_select(
                                display_channels(@ci_cd_apps) { |app| "#{app[:name]} (#{app[:id]})" },
                                @config.bitrise_project_id.to_json
                              ),
                              { class: "form-select" },
                              data: { controller: "input-select" } %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>

    <%= render partial: "firebase_form", locals: { form:, app: @app, config: @config, firebase_ios_apps: @firebase_ios_apps, firebase_android_apps: @firebase_android_apps } %>


    <% if @app.bugsnag_connected? %>
      <section class="border-t border-dashed pb-8">
        <div class="my-8">
          <h2 class="font-bold text-xl">
            <%= image_tag "integrations/logo_bugsnag.png", title: "Bugsnag", width: 35, class: "pb-2" %>
            Bugsnag
          </h2>
        </div>

        <div class="grid gap-5 md:grid-cols-2">
          <% if @monitoring_projects.present? %>
            <div class="mb-4">
              <%= form.label :bugsnag_project_id, "Project Name", class: "block text-sm font-medium mb-1" %>
              <%= form.select :bugsnag_project_id,
                              options_for_select(
                                display_channels(@monitoring_projects) { |project| "#{project[:name]} (#{project[:id]})" },
                                @config.bugsnag_project_id.to_json
                              ),
                              { class: "form-select" },
                              data: { controller: "input-select" } %>
            </div>
          <% end %>
        </div>
      </section>
    <% end %>

    <div class="mt-5">
      <%= form.authz_submit :blue, "Update" %>
    </div>
  <% end %>

  <section class="border-t border-dashed my-8 pt-8">
    <%= render TableComponent.new(columns: %w[name bundle_identifier actions]) do |table| %>
      <% table.with_heading do %>
        <div class="flex justify-between items-end mb-2">
          <h2 class="text-2xl text-slate-800 font-bold flex flex-row items-center">
            <%= inline_svg("dna.svg", classname: "w-7 h-7 fill-current mr-1") %>
            App Variants
          </h2>
          <div data-controller="modal" class="px-2">
            <%= authz_link_to :green, "#", { data: { action: "modal#open" } } do %>
              <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
              <span class="hidden xs:block ml-2">Create an app variant</span>
            <% end %>

            <dialog data-modal-target="modal"
                    class="p-0 backdrop:bg-gray-400 backdrop:bg-opacity-50 open:animate-fade-in w-2/3">
              <div class="relative bg-white rounded-lg shadow">
                <%= render partial: "app_variant_form", locals: { app: @app, config: @config, app_variant: @config.variants.build,
                                                                  firebase_ios_apps: @firebase_ios_apps, firebase_android_apps: @firebase_android_apps } %>
              </div>
            </dialog>
          </div>
        </div>
      <% end %>

      <% @config.variants.each do |variant| %>
        <% table.with_row do |row| %>
          <% row.with_cell do %>
            <%= variant.name %>
          <% end %>

          <% row.with_cell do %>
            <%= variant.bundle_identifier %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% unless @config.variants.exists? %>
      <div class="text-gray-500 text-sm">
        No app variants have been configured yet.
      </div>
    <% end %>
  </section>
<% end %>
