<%= render V2::EnhancedTurboFrameComponent.new("#{@integration_category}_config") do %>
  <% if @app.bugsnag_connected? %>
    <%= form_with(model: [@app, @config],
                  url: app_app_config_path(@app),
                  builder: EnhancedFormHelper::AuthzForm,
                  method: :patch) do |form| %>
      <%= render V2::FormComponent.new(params) do |form_component| %>
        <% form_component.with_section(heading: "Select Project") do |component| %>
          <% component.with_description do %>
            For your connected Bugsnag organization.
            <%= image_tag "integrations/logo_bugsnag.png", title: "Bugsnag", width: 22, class: "my-2" %>
          <% end %>

          <% if @monitoring_projects.present? %>
            <div class="mb-4">
              <%= form.labeled_select :bugsnag_project_id,
                                      "Project",
                                      options_for_select(
                                        display_channels(@monitoring_projects) { |project| "#{project[:name]} (#{project[:id]})" },
                                        @config.bugsnag_project_id.to_json
                                      ) %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <div class="mt-8">
        <%= form.authz_submit "Update", "plus.svg" %>
      </div>
    <% end %>
  <% end %>
<% end %>
