<%= render V2::EnhancedTurboFrameComponent.new("#{@integration_category}_config") do %>
  <%= render V2::FormComponent.new(model: [@app, @config], url: app_app_config_path(@app), method: :patch) do |f| %>
    <% f.with_section(heading: "Select Repository") do |section| %>
      <% section.with_description do %>
        Primary working code repository.
      <% end %>

      <% if @workspaces.present? %>
        <div data-controller="stream-effect"
             data-stream-effect-url-value="<%= edit_app_app_config_url(@app, integration_category: "version_control") %>"
             data-stream-effect-param-value="workspace">
          <%= section.F.labeled_select :bitbucket_workspace,
                                       "Workspace",
                                       options_for_select(@workspaces, selected: @config.bitbucket_workspace),
                                       {},
                                       disabled: @workspaces.blank?,
                                       class: EnhancedFormHelper::AuthzForm::SELECT_CLASSES,
                                       data: { action: "change->stream-effect#fetch", stream_effect_target: "dispatch" } %>
        </div>
      <% end %>

      <div>
        <%= section.F.labeled_select :code_repository,
                                     "Code Repository",
                                     options_for_select(
                                       display_channels(@code_repositories) { |repo| repo[:full_name] },
                                       @config.code_repository.to_json
                                     ) %>
      </div>

    <% end %>

    <% f.with_action do %>
      <%= f.F.authz_submit "Update", "plus.svg", size: :xs %>
    <% end %>
  <% end %>
<% end %>
