<%= render V2::EnhancedTurboFrameComponent.new("#{@integration_category}_config") do %>
  <%= form_with(model: [@app, @config],
                url: app_app_config_path(@app),
                builder: EnhancedFormHelper::AuthzForm,
                method: :patch) do |form| %>
    <section>
      <div class="grid gap-5 md:grid-cols-2 pb-8">
        <div>
          <%= form.label :code_repository, "Code Repository", class: "block text-sm font-medium mb-1" %>
          <%= form.select :code_repository,
                          options_for_select(
                            display_channels(@code_repositories) { |chan| chan[:full_name] },
                            @config.code_repository.to_json
                          ),
                          {},
                          { class: "form-select w-full" } %>
        </div>
      </div>
    </section>

    <%= form.authz_submit "Update", "plus.svg" %>
  <% end %>
<% end %>
