<div class="flex flex-col section-gap-default">
  <div>
    <%= render HorizontalDataSetComponent.new do |component| %>
      <% component.with_data_set(title: "Chosen build to submit") do %>
        <%= render LiveRelease::BuildComponent.new(submission.build, show_commit: false, show_activity: false, show_metadata: false, show_compact_metadata: true) %>
      <% end %>

      <% component.with_data_set(title: "Phased release") do %>
        <% if phased_release_enabled? %>
          <%= render BadgeComponent.new(text: "Enabled", status: :success) %>
        <% else %>
          <%= render BadgeComponent.new(text: "Disabled", status: :neutral) %>
        <% end %>
      <% end %>

      <% component.with_data_set(title: "Release style") do %>
        <%= render BadgeComponent.new(text: "Manual", status: :neutral) %>
      <% end %>
    <% end %>
  </div>

  <div>
    <%= render SimpleTabComponent.new(groups: languages) do |component| %>
      <% localizations.each do |localization| %>
        <% component.with_tab do %>
          <div class="flex flex-col item-gap-default text-xs">
            <% localization.except("language").each do |key, val| %>
              <div>
                <span class="<%= EnhancedFormHelper::AuthzForm::LABEL_CLASSES %>"><%= key.humanize %></span>
                <p class="text-secondary whitespace-pre-wrap leading-tight card-default"><%= val %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
