<%= render CardComponent.new(title: "Active Release Candidate", size: :full, separator: true) do |card| %>
  <% if show_soak_actions? %>
    <% card.with_action do %>
      <%= render ButtonComponent.new(
            scheme: :danger,
            type: :link,
            size: :xxs,
            label: "End soak",
            options: end_soak_release_beta_soak_path(@release),
            html_options: html_opts(:post, "Are you sure you want to end the soak period early?")
          ) do |b|
            b.with_icon("stop.svg")
          end %>
    <% end %>
    <% card.with_action do %>
      <%= render ButtonComponent.new(
            scheme: :light,
            type: :link,
            size: :xxs,
            label: "Extend soak",
            options: extend_soak_release_beta_soak_path(@release, additional_hours: 1),
            html_options: html_opts(:post, "Extend soak period by 1 hour?")
          ) do |b|
            b.with_icon("ruler.svg")
          end %>
    <% end %>
  <% end %>

  <div class="flex flex-col section-gap-default">
    <%= render PlatformViewComponent.new(@release) do |component| %>
      <% component.platform_runs.each do |run| %>
        <% if run.latest_beta_release.present? %>
          <div class="grid grid-cols-1">
            <div class="flex flex-col item-gap-default">
              <%= render LiveRelease::BuildComponent.new(run.latest_beta_release.build) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>

    <% if beta_soak&.started_at.present? %>
      <div data-controller="countdown"
           data-countdown-count-down-hours-value="<%= time_remaining_hours %>"
           data-countdown-direction-value="down"
           class="flex justify-center items-center border-default box-padding">
        <div class="flex flex-col item-gap-default items-center">
          <% if beta_soak&.ended_at.present? %>
            <div class="text-xl">Soak period has ended</div>
          <% else %>
            <div class="text-2xl text-secondary">Soak time remaining</div>
            <div class="text-4xl" data-countdown-target="output"><%= time_remaining %></div>
          <% end %>
        </div>
      </div>
    <% else %>
      <div class="flex justify-center items-center border-default box-padding">
        <div class="flex flex-col item-gap-default items-center">
          <div class="text-md text-secondary">Soak period will start when RC is available</div>
          <div class="text-4xl"><%= time_remaining %></div>
        </div>
      </div>
    <% end %>

    <div class="flex flex-col text-secondary text-xs">
      <div>† Soak starts as soon as an active Release Candidate is available.</div>
      <div>‡ App submission will be enabled once your <%= beta_soak&.period_hours %>-hour soak period
        ends.
      </div>

      <% if beta_soak&.started_at.present? && !beta_soak&.ended_at.present? %>
        <div>‡ Soak period started at <strong><%= soak_start_time %></strong> and will end at <strong><%= soak_end_time %></strong>.</div>
      <% end %>
    </div>
  </div>
<% end %>
