<%= form_with(model: [current_organization, app, integration]) do |form| %>
  <div class="block">
    <div class="field">
      <%= form.label :name, "Category", class: "label" %>
      <div class="control">
        <div class="select">
          <%= form.select :name, options_for_select([["Version Control", "version_control"]], integration.name) %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :kind, "Provider", class: "label" %>
      <div class="control">
        <div class="select">
          <%= form.select :kind, options_for_select([%w[Github github]], integration.kind) %>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.submit 'Attach', class: "button is-link" %>
      </div>
    </div>
  </div>
<% end %>