<%= form_with(model: [current_organization, app, integration]) do |form| %>
  <div class="block">
    <div class="field">
      <%= form.label :category, class: "label" %>
      <div class="control">
        <div class="select">
          <%= form.select :category, options_for_select([["Version Control", "version_control"]], integration.category) %>
        </div>
      </div>
    </div>

    <div class="field">
      <%= form.label :provider, class: "label" %>
      <div class="control">
        <div class="select">
          <%= form.select :provider, options_for_select([%w[Github github]], integration.provider) %>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.button 'Attach', class: "button is-link", "data-turbo": false %>
      </div>
    </div>
  </div>
<% end %>