<% @integrations_by_categories.each do |category, integrations| %>
  <h3><%= category.pluralize.titleize %></h3>
  <br/>
  <table>
    <thead>
    <tr>
      <th>Provider</th>
      <th></th>
      <th>Connected</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% integrations.each do |integration| %>
      <% provider = integration.provider %>

      <tr>
        <td><%= provider.titleize %></td>
        <td>
          <%= image_tag("#{provider}_thumb.png", width: 30) %>
        </td>

        <td>
          <% if integration.fully_connected? %>
            ✅
          <% else %>
            ❌
          <% end %>
        </td>

        <td>
          <% if integration.connect? %>
            <%= form_with(model: [current_organization, app, integration],
                          method: :get,
                          url: connect_accounts_organization_app_integrations_path(current_organization, app, integration),
                          class: "realign-form") do |form| %>
              <%= form.hidden_field :category, value: category %>
              <%= form.hidden_field :provider, value: provider %>
              <%= form.submit 'Connect', "data-turbo": false  %>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>
