<% if @integration.version_control? %>
  <%= form_with(model: [current_organization, @app, @integration], method: :patch) do |form| %>
    <fieldset class="block">
      <legend>VCS</legend>
      <div class="field">
        <%= form.label :active_code_repo, "Active Repository", class: "label" %>
        <div class="control">
          <div class="select">
            <%= form.select :active_code_repo,
                            options_for_select(@channels.map { |chan| [chan[:name], chan[:id]] },
                                               @integration.active_code_repo),
                            {},
                            data: { controller: "inputselect" } %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :working_branch, class: "label" %>
        <div class="control">
          <%= form.text_field :working_branch, class: "input", placeholder: "eg. main or develop", required: true %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.button 'Set', class: "button is-link", "data-turbo": false %>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>

<% if @integration.notification? %>
  <%= form_with(model: [current_organization, @app, @integration], method: :patch) do |form| %>
    <fieldset class="block">
      <legend>Notifications</legend>
      <div class="field">
        <%= form.label :notification_channel, "Notification Channel", class: "label" %>
        <div class="control">
          <div class="select">
            <%= form.select :notification_channel,
                            options_for_select(@channels.map { |chan| ["#" + chan["name"], chan["id"]] }),
                            {},
                            data: { controller: "inputselect" } %>
          </div>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.button 'Set', class: "button is-link", "data-turbo": false %>
        </div>
      </div>
    </fieldset>
  <% end %>
<% end %>

