<% if build %>
  <div class="flex flex-col item-gap-default">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start gap-x-1.5">
        <% if show_number %>
          <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
            <% badge.with_link(number, external_url) %>
          <% end %>
        <% end %>

        <% unless show_build_only %>
          <%= render V2::IconComponent.new("v2/slash.svg", size: :xs) %>
          <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
            <% badge.with_icon(build_logo) %>
            <% badge.with_link(ci_info, ci_link) %>
          <% end %>
        <% end %>
      </div>

      <% unless show_build_only %>
        <%= render V2::TooltipComponent.new("Originally created on #{time_format build.generated_at}", placement: "top") do |tooltip| %>
          <% tooltip.with_body do %>
            <div class="flex items-center">
              <%= inline_svg("v2/dotted_line.svg", classname: "w-4 h-4 inline-flex mx-2 text-secondary") %>
              <span class="text-secondary font-normal text-sm"><%= last_activity_at %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= render V2::HorizontalDataSetComponent.new do |component| %>
      <% component.with_data_set(title: "Artifact") do %>
        <% if artifact.present? %>
          <%= render V2::ButtonComponent.new(scheme: :link,
                                             label: artifact.get_filename,
                                             options: artifact.download_url,
                                             type: :link_external,
                                             size: :none,
                                             authz: false) %>
        <% else %>
          –
        <% end %>
      <% end %>
      <% component.with_data_set(title: "Version String").with_content(version_name) %>
      <% component.with_data_set(title: "Build Number").with_content(build_number) %>
    <% end %>

    <%= render V2::CommitComponent.new(commit: build.commit, detailed: false) %>
  </div>
<% end %>
