<% if build %>
  <div class="flex flex-col item-gap-default">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start gap-x-1.5">
        <% if show_number %>
          <%= render V2::BadgeComponent.new(text: number, kind: :badge) %>
        <% end %>

        <% if submission? %>
          <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
            <% badge.with_icon(store_logo) %>
            <% badge.with_link(build_info, external_link) %>
          <% end %>
        <% end %>

        <% unless show_build_only %>
          <%= render V2::IconComponent.new("v2/slash.svg", size: :xs) %>
          <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
            <% badge.with_icon(build_logo) %>
            <% badge.with_link(ci_info, ci_link) %>
          <% end %>

          <% if previous_build.present? %>
            <%= render V2::ModalComponent.new(title: "Changes since last submission",
                                              subtitle: diff_between,
                                              size: :xl_3,
                                              authz: false) do |modal| %>
              <% button = modal.with_button(scheme: :naked_icon, type: :action, size: :none) %>
              <% button.with_icon("v2/diff.svg", size: :lg) %>
              <% button.with_tooltip("Changes since last build", placement: "top") %>
              <% modal.with_body do %>
                <%= render partial: "shared/divide_collection",
                           locals: { collection: render(V2::CommitComponent.with_collection(commits_since_last_release)) } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>

      <% unless show_build_only %>
        <%= render V2::TooltipComponent.new("Originally created on #{time_format build.generated_at}", placement: "top") do |tooltip| %>
          <% tooltip.with_body do %>
            <div class="flex items-center">
              <%= inline_svg("v2/dotted_line.svg", classname: "w-4 h-4 inline-flex mx-2 text-secondary") %>
              <span class="text-secondary font-normal text-sm"><%= last_activity_at %></span>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= render V2::HorizontalDataSetComponent.new do |component| %>
      <% component.with_data_set(title: "Artifact").with_content("prod.apk") %>
      <% component.with_data_set(title: "Version String").with_content("16.32") %>
      <% component.with_data_set(title: "Build Number").with_content("12312") %>
    <% end %>

    <%= render V2::CommitComponent.new(commit: build.commit, detailed: false) %>
  </div>
<% end %>
