<% if build %>
  <div class="flex flex-col item-gap-default">
    <% if badge_data? %>
      <div class="flex items-center justify-between">
        <div class="flex items-center justify-start gap-x-1.5">
          <% if show_number %>
            <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
              <% badge.with_link(number, external_url) %>
              <% badge.with_icon("tramline.svg") %>
            <% end %>
          <% end %>

          <% if show_ci && ci_info.present? && external_url.present? %>
            <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
              <% badge.with_icon(ci_cd_provider_logo) %>
              <% badge.with_link(ci_info, external_url) %>
            <% end %>
          <% end %>

          <% if show_compact_metadata %>
            <%= render V2::BadgeComponent.new(text: build.display_name, kind: :badge) %>
          <% end %>

          <% if show_activity %>
            <%= render V2::BadgeComponent.new(**workflow_status) %>
          <% end %>
        </div>

        <% if show_activity %>
          <%= render partial: "shared/show_time_ago", locals: { tooltip_text: created_tooltip, last_activity_at: } %>
        <% end %>
      </div>
    <% end %>

    <% if show_metadata %>
      <%= render V2::HorizontalDataSetComponent.new do |component| %>
        <% component.with_data_set(title: "Artifact") do %>
          <% if artifact.present? %>
            <%= render V2::ButtonComponent.new(scheme: :link,
                                               label: artifact.get_filename.truncate(30),
                                               options: artifact.download_url,
                                               type: :link_external,
                                               size: :none,
                                               authz: false) %>
          <% else %>
            <%= NOT_AVAILABLE %>
          <% end %>
        <% end %>
        <% component.with_data_set(title: "Version String").with_content(version_name) %>
        <% component.with_data_set(title: "Build Number").with_content(build_number) %>
      <% end %>
    <% end %>

    <% if show_commit %>
      <%= render V2::CommitComponent.new(commit: build.commit, detailed: false) %>
    <% end %>
  </div>
<% end %>
