<div class="flex flex-col section-gap-default">
  <% if changelog_present? %>
    <%= render V2::CardComponent.new(title: "Changes since last release (#{commits_since_last.size})", separator: true, size: :base) do |card| %>
      <% card.with_action do %>
        <span class="text-xs text-secondary-50 items-center flex gap-1">
          Diff from <%= render V2::BadgeComponent.new(text: changelog_from, kind: :badge) %>
        </span>
      <% end %>

      <%= render partial: "shared/divide_collection", locals: { collection: render(V2::CommitComponent.with_collection(commits_since_last)) } %>
    <% end %>
  <% end %>

  <%= render V2::CardComponent.new(title: "Ongoing work (#{mid_release_prs.count})",
                                   fold: true,
                                   size: :base,
                                   separator: true,
                                   emptiness: mid_release_prs.empty?) do |card| %>
    <% card.with_empty_state(text: "There are no more pull requests targeting your release branch.",
                             banner_image: "v2/check.svg") %>

    <%= render partial: "shared/divide_collection",
               locals: { collection: render(V2::PullRequestComponent.with_collection(mid_release_prs)) } %>
  <% end %>

  <%= render V2::CardComponent.new(title: "Change queue (#{change_queue_commits_count})",
                                   fold: true,
                                   size: :base,
                                   separator: true,
                                   subtitle: apply_help_text,
                                   emptiness: change_queue_commits_count.zero?) do |card| %>
    <% card.with_action do %>
      <% if change_queue_commits.present? %>
        <%= render V2::ButtonComponent.new(
          scheme: :default,
          options: apply_release_build_queue_path(release, build_queue),
          type: :button,
          size: :xxs,
          disabled: !release.committable?,
          label: "Apply now",
          html_options: { data: { turbo_confirm: "This will accept the commits in the queue, are you sure?" } }) do |b|
          b.with_icon("arrow_down_wide_narrow.svg", size: :sm)
        end %>
      <% end %>
    <% end %>

    <% card.with_empty_state(text: "The commit queue is empty.",
                             banner_image: "arrow_down_wide_narrow.svg") %>

    <%= render partial: "shared/divide_collection",
               locals: { collection: render(V2::CommitComponent.with_collection(change_queue_commits)) } %>
  <% end %>

  <%= render V2::CardComponent.new(title: "Latest applied commits (#{applied_commits.size})",
                                   fold: true,
                                   size: :base,
                                   separator: true) do %>
    <% if applied_commits.present? %>
      <%= render partial: "shared/divide_collection",
                 locals: { collection: render(V2::CommitComponent.with_collection(applied_commits)) } %>
    <% end %>
  <% end %>

  <%= render V2::CardComponent.new(title: "Pending backmerges (#{open_backmerge_prs.size})",
                                   fold: true,
                                   separator: true,
                                   size: :base,
                                   emptiness: open_backmerge_prs.empty?) do |card| %>
    <% card.with_empty_state(text: "All backmerge pull requests have been merged.",
                             banner_image: "v2/check.svg") %>

    <%= render partial: "shared/divide_collection",
               locals: { collection: render(V2::PullRequestComponent.with_collection(open_backmerge_prs)) } %>
  <% end %>
</div>
