<% content_for :error_resource do %>
  <%= render V2::ErrorComponent.new(error_resource) %>
<% end %>

<% if back_button %>
  <div class="my-2 mb-4">
    <%= back_button %>
  </div>
<% end %>

<div class="grid grid-cols-10 bg-backgroundLight-50">
  <div class="col-span-2 flex flex-col pl-6 py-3.5 pb-16 border-t border-default-b border-default-l rounded-tl-lg rounded-bl-lg">
    <div class="flex flex-col space-y-2 pr-4">
      <div class="flex flex-row gap-x-2 justify-end items-baseline">
        <span class="text-sm text-secondary-50"><%= @release.app.display_attr(:platform) %></span>
        <span class="heading-1 text-main dark:text-white"><%= @release.release_version %></span>
      </div>

      <% if (reldex = release_summary&.fetch(:reldex, nil)) %>
        <div class="flex flex-row justify-end">
          <%= render V2::Reldex::StatusComponent.new(release:, reldex_score: reldex) %>
        </div>
      <% end %>

      <div class="flex flex-row justify-end">
        <%=
          badge = V2::BadgeComponent.new("humanoid-slug-42")
          badge.with_icon("v2/robot.svg")
          render badge
        %>
      </div>

      <%= render V2::SmartTextBoxComponent.new(@release.release_branch,
                                               clipboard: true,
                                               clipboard_tooltip: "Copy release branch",
                                               size: :compact) %>

      <% if @release.tag_name.present? %>
        <%= render V2::SmartTextBoxComponent.new(@release.tag_name,
                                                 clipboard: true,
                                                 clipboard_tooltip: "Copy final release tag",
                                                 size: :compact) %>
      <% end %>

      <div class="flex flex-row justify-end gap-x-1">
        <%= render V2::StatusIndicatorPillComponent.new(text: "Rollout", status: :success) %>
        <%= render V2::StatusIndicatorPillComponent.new(text: "Phased 5%", status: :inert) %>
      </div>
    </div>

    <div class="flex flex-col mt-16 space-y-8">
      <% sorted_sections.each do |section_name, sorted_configs| %>
        <div>
          <div class="flex flex-row justify-end heading-5-sc pr-4">
            <%= section_name %>
          </div>

          <ul class="text-sm font-medium text-gray-500 dark:text-gray-400 mt-2">
            <% sorted_configs.each do |(_position, name, path, icon)| %>
              <div class="flex gap-x-2 items-center w-full">
                <div class="w-6 h-5 <%= status %> rounded-full border border-white dark:border-gray-900 dark:bg-gray-700"></div>

                <a href="<%= path %>" class="flex flex-row items-center justify-between pr-4 w-full rounded-sm hover:text-gray-900 hover:bg-gray-100 <%= active_style(path) %>" aria-current="page">
                  <li class="text-sm font-normal px-2 py-1.5 dark:bg-gray-200">
                    <%= name %>
                  </li>

                  <%= render V2::IconComponent.new(icon, size: :md) %>
                </a>
              </div>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>

  <div class="col-span-8 bg-white">
    <% tabs.each do |tab| %>
      <%= tab %>
    <% end %>
  </div>
</div>


