<section class="2xl:container 2xl:mx-auto">
  <% content_for :error_resource do %>
    <%= render V2::ErrorComponent.new(error_resource) %>
  <% end %>

  <div class="grid grid-cols-10">
    <div class="col-span-2 flex flex-col justify-between !pt-10 pl-8 py-3.5 border-default-b border-default-l 2xl:rounded-bl-lg border-default-r">
      <div>
        <div class="flex justify-between">
          <div class="my-2 mb-4">
            <%= back_button %>
          </div>

          <div class="flex flex-col gap-1 items-end <%= RIGHT_GUTTER %>">
            <% if hotfix? %>
              <span class="self-end"><%= render V2::BadgeComponent.new(text: "Hotfix", kind: :featured) %></span>
            <% end %>

            <div class="flex flex-row gap-2 justify-end items-baseline">
              <% if cross_platform? %>
                <div class="flex items-center gap-1">
                  <%= render V2::IconComponent.new("v2/android.svg", size: :lg) %>
                  <%= render V2::IconComponent.new("v2/plus_fat.svg", size: :lg) %>
                  <%= render V2::IconComponent.new("v2/ios.svg", size: :lg) %>
                </div>
              <% else %>
                <%= render V2::IconComponent.new("v2/#{platform}.svg", size: :lg) %>
              <% end %>

              <span class="heading-1 text-main dark:text-white"><%= display_release_version %></span>
            </div>

            <%= render V2::ButtonComponent.new(
              scheme: :link,
              type: :link,
              size: :none,
              options: timeline_release_path(release),
              authz: false,
              label: "Release activity",
              html_options: { class: "text-sm" }) do |b|
              b.with_icon("v2/activity.svg")
            end %>
          </div>
        </div>

        <div class="flex flex-col gap-2 mt-8 <%= RIGHT_GUTTER %>">
          <% if reldex %>
            <div class="flex flex-row justify-end">
              <%= render V2::Reldex::StatusComponent.new(release:, reldex_score: reldex) %>
            </div>
          <% end %>

          <div class="flex flex-col gap-2 items-end">
            <div class="flex flex-row gap-2 items-center">
              <% if finished? %>
                <div class="cursor-pointer text-2xl"
                     data-controller="confetti"
                     data-action="click->confetti#spray"
                     data-confetti-animation-value="stars"
                     data-confetti-follow-value=false
                     data-confetti-duration-value="2">
                  <%= render V2::IconComponent.new("v2/party_popper.svg", size: :md) %>
                </div>
              <% end %>

              <%= render V2::BadgeComponent.new(text: overall_status.first, status: overall_status.second) %>
            </div>

            <%= render(scheduled_badge) if automatic? %>

            <%# TODO: [V2] use the new rollout domain object / use radial charts %>
            <%# platform_runs.each do |platform_run| %>
              <%# if staged_rollout_status(platform_run) %>
                <%#= render V2::BadgeComponent.new(**staged_rollout_status(platform_run)) do |status| %>
                  <%#= status.with_icon("v2/#{platform_run.platform}.svg", size: :sm) %>
                <%# end %>
              <%# end %>
            <%# end %>
          </div>

          <%= render V2::SmartTextBoxComponent.new(release_branch,
                                                   clipboard: true,
                                                   clipboard_tooltip: "Copy release branch",
                                                   size: :compact) %>

          <% if tag_name.present? %>
            <%= render V2::SmartTextBoxComponent.new(tag_name,
                                                     clipboard: true,
                                                     clipboard_tooltip: "Copy final release tag",
                                                     size: :compact) %>
          <% end %>
        </div>

        <div class="flex flex-col mt-10 gap-10">
          <% sorted_sections.each do |section_name, sorted_configs| %>
            <div>
              <div class="flex flex-row justify-end heading-5-sc <%= RIGHT_GUTTER %>">
                <%= section_name %>
              </div>

              <ul class="text-gray-500 dark:text-gray-400 mt-2">
                <% sorted_configs.each do |_, config| %>
                  <% config => { title:, path:, icon: } %>
                  <li class="flex items-center justify-center w-full gap-2">
                    <%= status_icon(config) %>
                    <%= content_tag(sidebar_title_tag(config),
                                    class: "flex flex-row items-center justify-between w-full rounded hover:text-main-900 hover:bg-main-100 #{active_style(path)} mr-2 px-2",
                                    href: path) do %>
                      <div class="flex gap-2 items-center">
                        <span class="text-sm font-normal py-1.5 dark:bg-gray-200"><%= title %></span>
                        <%= coming_soon(config) %>
                      </div>

                      <%= render V2::IconComponent.new(icon, size: :md) %>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>

      <div class="self-end mt-10 flex flex-col gap-2 items-end <%= RIGHT_GUTTER %>">
        <% if partially_finished? %>
          <%= render V2::ButtonComponent.new(
            scheme: :light,
            type: :link,
            size: :xxs,
            options: finish_release_release_path(release),
            label: "Mark release as finished",
            html_options: html_opts(:delete, "You have finished release to only one of the platforms. Are you sure you want to finish the release?")) do |b|
            b.with_icon("v2/list_checks.svg")
          end %>
        <% end %>
        <% if active? %>
          <%= render V2::ButtonComponent.new(
            scheme: :danger,
            type: :button,
            size: :xxs,
            label: "Stop release",
            options: release_path(release),
            turbo: false,
            html_options: html_opts(:delete, stop_release_warning)) do |b|
            b.with_icon("v2/stop.svg")
          end %>
        <% end %>
      </div>
    </div>

    <article class="col-span-8 bg-white">
      <% tabs.each do |tab| %>
        <%= tab %>
      <% end %>
    </article>
  </div>
</section>
