<div class="flex flex-col item-gap-default">
  <div class="self-start">
    <%= render V2::BadgeComponent.new(**status) %>
  </div>

  <%= render V2::CardComponent.new(title: "Current Build") do |card| %>
    <% card.with_actions do %>
      <div class="flex flex-row gap-2">
        <%= render V2::ModalComponent.new(title: "Changes since last build", size: :xl_3, authz: false) do |modal| %>
          <% button = modal.with_button(label: "Changes since last build", type: :action, scheme: :supporting, size: :xs) %>
          <% button.with_icon("v2/diff.svg", size: :md) %>
          <% button.with_tooltip("Changes since last build", placement: "top") %>
          <% modal.with_body do %>
            <%= render partial: "shared/divide_collection",
                       locals: { collection: render(changed_commits) } %>
          <% end %>
        <% end %>

        <% unless workflow_run.present? %>
          <%= render V2::ButtonComponent.new(label: "Create build", scheme: :default, type: :action, size: :xxs) %>
        <% end %>
      </div>
    <% end %>

    <div class="flex flex-col section-gap-default">
      <% if build.present? %>
        <%= render V2::LiveRelease::BuildComponent.new(build, show_number: true, show_build_only: false) %>
      <% end %>

      <% store_submissions.each do |submission| %>
        <%= render V2::LiveRelease::PreProdSubmissionComponent.new(submission) %>
      <% end %>
    </div>
  <% end %>
</div>
