<div class="flex flex-col item-gap-default">
  <% if pre_prod_release.new_build_available? %>
    <%= render V2::AlertComponent.new(size: :md, kind: :announcement, type: :announce, title: "New Internal Build is available") do |ann| %>
      <% ann.with_announcement_action(label: "Start Beta submissions",
                                      scheme: :default,
                                      type: :button,
                                      options: run_pre_prod_beta_path(release_platform_run),
                                      size: :xxs,
                                      turbo: false,
                                      html_options: {
                                        method: :post,
                                        params: {pre_prod_release: rc_params},
                                        data: {turbo_method: :post, turbo_confirm: "Are you sure?"}
                                      }) %>
      <div class="flex flex-col gap-2">
        <%= render V2::LiveRelease::BuildComponent.new(latest_internal_release.build, show_number: true, show_metadata: false, show_ci: true, show_activity: false, show_commit: false) %>
        <span class="text-sm">Please start the beta release process for the new build.</span>
      </div>
    <% end %>
  <% end %>

  <% if pre_prod_release.new_commit_available? %>
    <%= render V2::AlertComponent.new(size: :md, kind: :announcement, type: :announce, title: "New changes on the release branch") do |ann| %>
      <% ann.with_announcement_action(label: "Start Beta submissions",
                                      scheme: :default,
                                      type: :button,
                                      options: run_pre_prod_beta_path(release_platform_run),
                                      size: :xxs,
                                      turbo: false,
                                      html_options: {
                                        method: :post,
                                        params: {pre_prod_release: rc_params},
                                        data: {turbo_method: :post, turbo_confirm: "Are you sure?"}
                                      }) %>
      <div class="flex flex-col gap-2">
        <%= render V2::CommitComponent.new(commit: latest_commit, detailed: false) %>
        <span class="text-sm">You can continue to release your existing Release Candidate, or replace it with the new changes.</span>
      </div>
    <% end %>
  <% end %>

  <div class="self-start">
    <%= render V2::BadgeComponent.new(**status) %>
  </div>

  <%= render V2::CardComponent.new(title: "Current Build") do |card| %>
    <% card.with_actions do %>
      <div class="flex flex-row gap-2">
        <% if build.present? %>
          <%= render V2::ModalComponent.new(title: "Changes since last build", size: :xl_3, authz: false) do |modal| %>
            <% button = modal.with_button(label: "Changes since last build", type: :action, scheme: :supporting, size: :xxs) %>
            <% button.with_icon("v2/diff.svg", size: :md) %>
            <% modal.with_body do %>
              <%= render partial: "shared/divide_collection",
                         locals: { collection: render(changed_commits) } %>
            <% end %>
          <% end %>
        <% end %>

        <% if triggerable? %>
          <%= render V2::ButtonComponent.new(label: "Create build",
                                             scheme: :default,
                                             options: trigger_workflow_run_path(workflow_run),
                                             size: :xxs,
                                             html_options: { method: :patch, data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } }) %>
        <% end %>

        <% if retriggerable? %>
          <%= render V2::ButtonComponent.new(label: "Retrigger build",
                                             scheme: :default,
                                             options: retry_workflow_run_path(workflow_run),
                                             size: :xxs,
                                             html_options: { method: :patch, data: { turbo_method: :patch, turbo_confirm: "Are you sure?" } }) %>
        <% end %>
      </div>
    <% end %>

    <div class="flex flex-col section-gap-default">
      <% if build.present? %>
        <%= render V2::LiveRelease::BuildComponent.new(build, show_number: true, show_build_only: false) %>
      <% end %>

      <% store_submissions.each do |submission| %>
        <%= render V2::LiveRelease::PreProdSubmissionComponent.new(submission) %>
      <% end %>
    </div>
  <% end %>
</div>
