<% if step_run.present? %>
  <%= render V2::CardComponent.new(title: "Current build", separator: !compact?, size: :full) do |card| %>
    <% card.with_actions do %>
      <div class="flex gap-1">
        <%= download_build %>
        <%= render V2::ModalComponent.new(title: "Changes since last build", size: :xl_3, authz: false) do |modal| %>
          <% button = modal.with_button(label: "Changes since last build", type: :action, scheme: (compact? ? :naked_icon : :supporting), size: :xxs) %>
          <% button.with_icon("v2/diff.svg", size: :md) %>
          <% button.with_tooltip("Changes since last build", placement: "top") %>
          <% modal.with_body do %>
            <%= render partial: "shared/divide_collection",
                       locals: { collection: render(V2::CommitComponent.with_collection(release.all_commits.sample(rand(1..5)))) } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="flex flex-col item-gap-default justify-between h-full">
      <div class="flex flex-col item-gap-default items-start">
        <div class="flex justify-between w-full items-center">
          <div class="flex gap-2 items-start">
            <div class="flex items-center gap-1">
              <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
                <% badge.with_icon("integrations/logo_#{step_run.ci_cd_provider}.png") %>
                <% badge.with_link(step_run.commit.short_sha, step_run.ci_link) %>
              <% end %>
            </div>

            <div class="flex flex-col gap-2">
              <% step_run.deployment_runs.reject(&:production_channel?).each do |deployment_run| %>
                <div class="flex gap-2 items-center">
                  <%= inline_svg("v2/connect_line.svg", classname: "w-5 h-5 inline-flex") %>
                  <%= render V2::BadgeComponent.new(kind: :badge) do |badge| %>
                    <% badge.with_icon("integrations/logo_#{deployment_run.deployment.integration_type}.png") %>
                    <% badge.with_link(step_run.build_display_name, deployment_run.external_link) %>
                  <% end %>
                  <%= render V2::BadgeComponent.new(**deployment_status(deployment_run)) %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <% unless compact? %>
        <div class="border-default-t pt-2">
          <%= render V2::CommitComponent.new(commit: step_run.commit, detailed: false) %>
        </div>
      <% end %>
      <%# end %>
    </div>
  <% end %>
<% else %>
  <%= render V2::EmptyStateComponent.new(
    title: "No build available",
    text: "Please run the workflow to continue",
    banner_image: "v2/drill.svg",
    type: :subdued
    ) %>
<% end %>
