<%= render V2::CardComponent.new(title: title, subtitle: subtitle, separator: true) do |card| %>
  <% if wrap_up? %>
    <% card.with_action do %>
      <%= render V2::ButtonComponent.new(
        scheme: :default,
        options: post_release_release_path(release),
        type: :button,
        size: :xxs,
        label: "Retry") do |b|
        b.with_icon("v2/repeat.svg", size: :md)
      end %>
    <% end %>
  <% end %>

  <% if post_release_started? %>
    <% card.with_action do %>
      <%= render V2::ButtonComponent.new(
        scheme: :default,
        options: "javascript:window.location.reload();",
        type: :link,
        size: :xxs,
        label: "Refresh") do |b|
        b.with_icon("v2/repeat.svg", size: :md)
      end %>
    <% end %>
  <% end %>

  <% if post_release_started? %>
    <%= render V2::LoadingIndicatorComponent.new(skeleton_only: true, turbo_frame: false) %>
  <% else %>
    <div class="flex flex-col gap-2 text-sm text-secondary">
      <% if train.tag_releases? %>
        <p class="<%= strikethrough %>">
          ◦ Cut tag at <code><%= release.last_commit.short_sha %></code> and push to <%= tag_link %> <%= checked %>
        </p>
      <% end %>

      <p class="<%= strikethrough %>">
        ◦ Ensure all unmerged changes are pushed back to <%= release.train.working_branch %> <%= checked %>
      </p>

      <p class="<%= strikethrough %>">
        ◦ Refresh all the DevOps dashboards and reports <%= checked %>
      </p>
    </div>

    <% if closed_post_release_prs.present? %>
      <div class="flex flex-col items-start item-gap-default mt-4">
        <h3 class="heading-5">Closed PRs</h3>
        <%= render(V2::PullRequestComponent.with_collection(closed_post_release_prs, simple: true)) %>
      </div>
    <% end %>

    <% if post_release_failed? %>
      <div class="flex flex-col items-start item-gap-default mt-4">
        <% if open_backmerge_prs? %>
          <%= render V2::AlertComponent.new(type: :error, title: "We couldn't finish this release, please manually merge/close the backmerge PRs and retry.") %>
          <h3 class="heading-5">Backmerge Pull Requests</h3>
          <%= render(V2::PullRequestComponent.with_collection(open_backmerge_prs, simple: true)) %>
        <% elsif open_post_release_prs? %>
          <%= render V2::AlertComponent.new(type: :error, title: "We couldn't automatically finish the release, please manually merge/close the PR and retry.") %>
          <h3 class="heading-5">Post-release Pull Request</h3>
          <%= render(V2::PullRequestComponent.with_collection(open_post_release_prs, simple: true)) %>
        <% end %>

        <% if unmerged_changes? %>
          <h3 class="heading-5">Unmerged Changes</h3>

          <div class="text-sm text-secondary">
            <p>There are <%= unmerged_changes.size %> commit(s) that were not automatically merged by
              Tramline. You can find the current diff between the
              branches <%= link_to_external "here", release.compare_url, class: "underline" %>.</p>
            <p>Please ensure that these changes have been manually merged back on
              <code><%= release.train.working_branch %></code> before wrapping up this release.</p>
          </div>

          <% unless open_prs? %>
            <%= render V2::ButtonComponent.new(
              scheme: :danger,
              options: post_release_release_path(release),
              type: :button,
              size: :xxs,
              label: "I understand, complete the release") %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
