<% icon = view_context.live_release_tab_configuration.dig(:stability, :internal_builds, :icon) %>
<%= render V2::LiveRelease::ContainerComponent.new(release, title: release.train.name) do |container| %>
  <% container.with_back_button %>
  <% container.with_tab(title: "Internal Builds", icon:) do %>
    <%= render V2::PlatformViewComponent.new(release) do |component| %>
      <% component.runs do |release_platform_run| %>
        <% if configured?(release_platform_run) %>
          <%= render V2::LiveRelease::SubmissionConfigComponent.new(configuration(release_platform_run), internal_workflow_config(release_platform_run), release_platform_run:) %>
        <% else %>
          <%= render V2::EmptyStateComponent.new(
            title: "No internal build step configured",
            text: "Please configure an internal build step for the train to see the build status.",
            banner_image: "v2/drill.svg",
            type: :subdued) %>
        <% end %>
      <% end %>

      <% component.runs do |run| %>
        <% latest_release = latest_internal_release(run) %>
        <% if latest_release.present? %>
          <%= render V2::LiveRelease::PreProdRelease::CurrentReleaseComponent.new(latest_release) %>
        <% elsif configured?(run) %>
          <% if run.hotfix? %>
            <%= render V2::AlertComponent.new(kind: :announcement, type: :announce, title: "Changes were not automatically applied for the hotfix") do |ann| %>
              <% ann.with_announcement_button(label: "Create internal build",
                                              scheme: :default,
                                              type: :button,
                                              options: pre_prod_internal_run_path(run),
                                              size: :xxs,
                                              turbo: false,
                                              html_options: html_opts(:post, "Are you sure you want to create the internal build?")) %>
              <div class="flex flex-col gap-2">
                <%= render V2::CommitComponent.new(commit: applicable_commit(run), detailed: false) %>
                <span class="text-sm">Internal builds are not automatically triggered for hotfixes. But you can manually apply the latest commit and kickoff the build.</span>
              </div>
            <% end %>
          <% else %>
            <%= render V2::EmptyStateComponent.new(
              title: "Not ready yet",
              text: "Please wait for changes to be applied before starting.",
              banner_image: icon,
              type: :subdued) %>
          <% end %>
        <% else %>
          <div><!-- grid maintenance --></div>
        <% end %>
      <% end %>

      <% component.runs do |run| %>
        <%= render V2::SectionComponent.new(title: "Build insights", style: :titled, size: :compact) do %>
          <%= render V2::AccordionComponent.new(title: "Metadata trend") do %>
            <% if run.internal_builds.size > 1 %>
              <%= render V2::BuildHealthComponent.new(release_platform_run: run, builds: run.internal_builds) %>
            <% else %>
              <%= render V2::EmptyStateComponent.new(
                title: "No build metadata trend to show",
                text: "As you add more builds to Tramline, the trend of their metadata will be displayed here.",
                banner_image: "v2/drill.svg",
                type: :subdued) %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <% component.runs do |release_platform_run| %>
        <% previous_releases = previous_internal_releases(release_platform_run) %>
        <% if previous_releases.present? %>
          <%= render V2::SectionComponent.new(title: "Other builds (#{previous_releases.size})", style: :titled, size: :compact) do %>
            <div class="flex flex-col item-gap-default">
              <% previous_releases.each do |internal_release| %>
                <%= render V2::LiveRelease::PreProdRelease::PreviousReleaseComponent.new(internal_release) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
