<% icon = view_context.live_release_tab_configuration.dig(:stability, :internal_builds, :icon) %>
<%= render V2::LiveRelease::ContainerComponent.new(release, title: release.train.name) do |container| %>
  <% container.with_back_button %>
  <% container.with_tab(title: "Internal Builds", icon:) do %>
    <%= render V2::PlatformViewComponent.new(release) do |component| %>
      <% component.runs do |release_platform_run| %>
        <% if configured?(release_platform_run) %>
          <%= render V2::LiveRelease::SubmissionConfigComponent.new(configuration(release_platform_run), internal_workflow_config(release_platform_run), release_platform_run:) %>
        <% else %>
          <%= render V2::EmptyStateComponent.new(
            title: "No internal build step configured",
            text: "Please configure an internal build step for the train to see the build status.",
            banner_image: "v2/drill.svg",
            type: :subdued) %>
        <% end %>
      <% end %>

      <% component.runs do |release_platform_run| %>
        <% latest_release = latest_internal_release(release_platform_run) %>
        <% if latest_release.present? %>
          <%= render V2::LiveRelease::PreProdRelease::CurrentReleaseComponent.new(latest_release) %>
        <% elsif configured?(release_platform_run) %>
          <%= render V2::EmptyStateComponent.new(
            title: "Not ready yet",
            text: "Please wait for changes to be applied before starting.",
            banner_image: icon,
            type: :subdued) %>
        <% else %>
          <div></div>
          <%= render V2::ButtonComponent.new(
            scheme: :success,
            options: run_pre_prod_internal_path(release_platform_run),
            type: :button,
            size: :xxs,
            turbo: false,
            html_options: html_opts(:post, "Are you sure you want to start the internal release?")) %>
        <% end %>
      <% end %>

      <!-- TODO: [V2] [post-alpha] Show build health here -->

      <% component.runs do |release_platform_run| %>
        <% previous_releases = previous_internal_releases(release_platform_run) %>
        <% if previous_releases.present? %>
          <%= render V2::SectionComponent.new(title: "Other builds (#{previous_releases.size})", style: :titled, size: :compact) do %>
            <div class="flex flex-col item-gap-default">
              <% previous_releases.each do |internal_release| %>
                <%= render V2::LiveRelease::PreProdRelease::PreviousReleaseComponent.new(internal_release) %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
