<div class="mb-7">
  <% if editable? %>
    <%= render V2::AlertComponent.new(type: :info, title: "You can edit the release notes until the review process has begun on the stores.", full_screen: false) %>
  <% else %>
    <%= render V2::AlertComponent.new(kind: :announcement, type: :announce, title: "Release notes cannot be edited") do %>
      ❌ You can't edit the release notes once the review process has begun on the stores.
    <% end %>
  <% end %>
</div>

<%= render V2::FormComponent.new(model: ReleaseMetadata.new(release: @release), url: update_metadata_path, method: :patch, data: { turbo: false }, free_form: true) do |f| %>
  <div>
    <div class="flex flex-col gap-y-2 mb-6">
      <div class="flex gap-x-4">
        <%= render V2::ButtonComponent.new(label: "Play Store metadata requirements",
                                           scheme: :link,
                                           type: :link_external,
                                           options: "https://play.google.com/console/about/storelistings/#best-practices",
                                           html_options: { class: "text-sm" },
                                           authz: false,
                                           size: :none,
                                           arrow: :none) do |b|
          b.with_icon("integrations/logo_google_play_store.png", size: :md, classes: "text-main")
        end %>

        <%= render V2::ButtonComponent.new(label: "App Store Connect metadata requirements",
                                           scheme: :link,
                                           type: :link_external,
                                           options: "https://help.apple.com/asc/appsspec/en.lproj/static.html",
                                           html_options: { class: "text-sm" },
                                           authz: false,
                                           size: :none,
                                           arrow: :none) do |b|
          b.with_icon("integrations/logo_app_store.png", size: :md, classes: "text-main")
        end %>
      </div>

      <div class="flex flex-row justify-between">
        <div class="flex flex-row items-center justify-start gap-x-3"
             data-controller="stream-effect"
             data-stream-effect-url-value="<%= edit_metadata_url %>"
             data-stream-effect-param-value="language">
          <%= render V2::IconComponent.new("languages.svg", size: :xxl) %>
          <%= select_tag :language,
                         options_for_select(active_languages, language),
                         disabled: false,
                         class: EnhancedFormHelper::AuthzForm::SELECT_CLASSES,
                         data: { action: "change->stream-effect#fetch", stream_effect_target: "dispatch" } %>
        </div>

        <div class="flex flex-row justify-end gap-x-2">
          <div>
            <%= render V2::ButtonComponent.new(
              scheme: :light,
              options: root_path,
              type: :link,
              disabled: true,
              size: :xxs,
              label: "Copy to all locales",
              html_options: { data: { turbo_confirm: "This will copy the release notes to all locales, are you sure?" } }) do |b|
              b.with_icon("v2/square_stack.svg", size: :sm)
            end %>
          </div>

          <div>
            <%= f.F.authz_submit "Save current locale", "v2/archive.svg", size: :xxs, disabled: !editable? %>
          </div>
        </div>
      </div>

      <div class="text-secondary text-xs">
        † The languages in this list are the locales set for your app or the ones that have been recently used.
      </div>
      <div class="text-secondary text-xs">
        Now editing — <span class="font-semibold tracking-wide"><%= language %></span>
      </div>
    </div>

    <%= render V2::PlatformViewComponent.new(@release) do |component| %>
      <% if android_metadata %>
        <% f.F.fields_for :android, android_metadata do |aF| %>
          <div class="flex flex-col gap-y-4">
            <%= aF.hidden_field :id %>
            <div><%= aF.labeled_textarea :release_notes, "Release Notes" %></div>
          </div>
        <% end %>
      <% elsif component.cross_platform? %>
        <div class="flex flex-col gap-y-4">
          <%= render no_locale_set %>
        </div>
      <% end %>

      <% if ios_metadata %>
        <% f.F.fields_for :ios, ios_metadata do |iosF| %>
          <div class="flex flex-col gap-y-4">
            <%= iosF.hidden_field :id %>
            <div><%= iosF.labeled_textarea :release_notes, "What's New?" %></div>
            <div><%= iosF.labeled_textarea :promo_text, "Promo Text" %></div>
            <div><%= iosF.labeled_textarea :keywords, "Keywords", readonly: true, disabled: true %></div>
            <div><%= iosF.labeled_textarea :description, "Description", readonly: true, disabled: true %></div>
          </div>
        <% end %>
      <% elsif component.cross_platform? %>
        <div class="flex flex-col gap-y-4">
          <%= render no_locale_set %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
