<div class="flex flex-col section-gap-default">
  <div class="flex">
    <%= render V2::HorizontalDataSetComponent.new(separator: :dashed, bg_color: true) do |component| %>
    <% component.with_data_set(title: "Release Captain") do %>
      <div class="flex items-center gap-x-2 justify-between">
        <%= release_pilot_avatar %>
        <span class="text-sm text-secondary"><%= release.release_pilot.full_name %></span>
        <span class="text-xs text-secondary-50"><%= release.release_pilot.email %></span>
      </div>
    <% end %>

    <% component.with_data_set(title: "Started").with_content(start_time) %>
    <% component.with_data_set(title: "Released").with_content(end_time) %>
    <% component.with_data_set(title: "Duration").with_content(duration) %>

    <% if final? %>
      <% component.with_data_set(title: "Stability commits").with_content(overall_summary.commits_count) %>
      <% if backmerges? %>
        <% component.with_data_set(title: "Backmerges").with_content(backmerge_summary) %>
      <% end %>
    <% end %>
  <% end %>
  </div>

  <div class="grid grid-cols-3 item-gap-default">
    <% if final? %>
      <%= render ChartComponent.new(team_release_chart) %>
      <%= render ChartComponent.new(team_stability_chart) %>
    <% else %>
      <%= render ChartComponent.new(build_stability_chart) %>
    <% end %>
  </div>

  <div class="grid grid-cols-2 item-gap-default min-w-80">
    <% if changelog_present? %>
      <%= render V2::CardComponent.new(title: "Changes since last release", separator: true) do |card| %>
        <% card.with_actions do %>
        <span class="text-xs text-secondary-50">
          Diff from <%= render V2::BadgeComponent.new(@release.release_changelog.from_ref) %>
        </span>
        <% end %>

        <%= render partial: "shared/divide_collection", locals: { collection: render(V2::CommitComponent.with_collection(commits_since_last)) } %>
      <% end %>
    <% end %>

    <%= render V2::CardComponent.new(title: "Captain's Log", fold: false, separator: true) do |card| %>
      <% card.with_actions do %>
        <%= render V2::ModalComponent.new(title: "Edit Internal Notes", dismissable: false) do |modal| %>
          <% modal.with_button(scheme: :light, type: :action, size: :xxs, arrow: :none)
                  .with_icon("v2/pencil.svg", size: :sm) %>
          <% modal.with_body do %>
            <%= form_with(model: [@release], method: :put, builder: EnhancedFormHelper::AuthzForm) do |form| %>
              <div data-controller="text-editor" data-text-editor-view-mode-value="false" class="mb-4">
                <div data-text-editor-target="editor"></div>
                <%= form.textarea :internal_notes, { class: "hidden", data: { text_editor_target: "editorReplica" } } %>
              </div>

              <%= form.authz_submit "Save", "v2/archive.svg" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div data-controller="text-editor"
           data-text-editor-view-mode-value="true"
           data-text-editor-view-content-value="<%= internal_notes %>"
           class="overflow-y-scroll overflow-x-hidden">
        <div class="ql-editor p-0" data-text-editor-target="viewContents" contenteditable="false"></div>
      </div>
    <% end %>
  </div>

  <%= render V2::PlatformLevelOverviewComponent.new(release, size: :compact) %>
</div>
