<%= render V2::PlatformViewComponent.new(@release) do |component| %>
  <% platform_run_components.each do |platform_component| %>
    <div class="opacity-80">
      <div class="flex gap-2 items-start">
        <%= render V2::BadgeComponent.new(text: platform_component.step.workflow_name, kind: :badge) do |badge| %>
          <% badge.with_icon("integrations/logo_#{platform_component.step.ci_cd_provider}.png") %>
        <% end %>

        <div class="flex flex-col gap-2">
          <% platform_component.step.deployments.reject(&:production_channel?).each do |deployment| %>
            <div class="flex gap-2 items-center">
              <%= inline_svg("v2/connect_line.svg", classname: "w-5 h-5 inline-flex") %>
              <%= render V2::BadgeComponent.new(text: deployment.deployment_channel_name, kind: :badge) do |badge| %>
                <% badge.with_icon("integrations/logo_#{deployment.integration&.providable || "external"}.png") %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <% platform_run_components.each do |platform_component| %>
    <div class="self-start">
      <% if platform_component.latest_step_run.present? %>
        <%= render V2::BadgeComponent.new(**platform_component.step_status(platform_component.latest_step_run), kind: :status) %>
      <% else %>
        <%= render V2::ButtonComponent.new(label: "Run workflow", scheme: :default, type: :action, size: :xxs) %>
      <% end %>
    </div>
  <% end %>

  <% platform_run_components.each do |platform_component| %>
    <%= render V2::LiveRelease::DeprecatedBuildComponent.new(step_run: platform_component.latest_step_run,
                                                             release_platform_run: platform_component.release_platform_run) %>
  <% end %>

  <% platform_run_components.each do |platform_component| %>
    <% if platform_component.previous_step_runs.present? %>
      <%= render V2::SectionComponent.new(title: "Older builds (#{platform_component.previous_step_runs.size})", style: :titled, size: :compact) do %>
        <div class="flex flex-col item-gap-default">
          <% platform_component.previous_step_runs.each do |step_run| %>
            <%= render V2::AccordionComponent.new(push_down: true) do |accordion| %>
              <% accordion.with_title_section do %>
                <div class="flex text-sm items-center justify-between">
                  <div class="flex gap-2">
                    <span><%= step_run.build_display_name %></span>
                    <%= render V2::BadgeComponent.new(**platform_component.step_status(step_run)) %>
                  </div>

                  <div class="flex items-center">
                    <%= inline_svg("v2/dotted_line.svg", classname: "w-4 h-4 inline-flex mx-2 text-secondary") %>
                    <span class="text-secondary font-normal"><%= ago_in_words(step_run.created_at) %></span>
                  </div>
                </div>
              <% end %>

              <div class="my-3">
                <%= render V2::LiveRelease::DeprecatedBuildComponent.new(step_run:,
                                                                         release_platform_run: platform_component.release_platform_run,
                                                                         compact: true) %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
