<%= render V2::LiveRelease::ContainerComponent.new(release, title: release.train.name) do |container| %>
  <% container.with_back_button %>
  <% container.with_tab(title: "Release Candidate", icon: live_release_tab_configuration.dig(:stability, :release_candidate, :icon)) do %>
    <%= render V2::PlatformViewComponent.new(release) do |component| %>
      <% component.runs do |run| %>
        <div class="flex flex-col item-gap-default">
          <% beta_release = latest_beta_release(run) %>
          <%= render V2::LiveRelease::PreProdRelease::RcHeaderComponent.new(run, beta_release) %>

          <% if beta_release.present? %>
            <%= render V2::LiveRelease::PreProdRelease::CurrentReleaseComponent.new(beta_release) %>
          <% else %>
            <%= render V2::LiveRelease::PreProdRelease::PrepareReleaseCandidateComponent.new(run) %>
          <% end %>
        </div>
      <% end %>

      <% component.runs do |run| %>
        <% previous_betas = previous_beta_releases(run) %>
        <% if previous_betas.present? %>
          <%= render V2::SectionComponent.new(title: "Other builds (#{previous_betas.size})", style: :titled, size: :compact) do %>
            <div class="flex flex-col item-gap-default">
              <% previous_betas.each do |beta_release| %>
                <%= render V2::LiveRelease::PreProdRelease::PreviousReleaseComponent.new(beta_release) %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div><!-- grid maintenance --></div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
