<div class="flex flex-col item-gap-default">
  <% unless compact? %>
    <%= render V2::LiveRelease::BuildComponent.new(build, show_build_only: true) %>
  <% end %>
  <div class="flex flex-col section-gap-default">
    <%= render V2::CardComponent.new(title: "Rollout Status", separator: false, fixed_height: card_height) do |card| %>
      <% card.with_actions do %>
        <div class="flex flex-row gap-2">
          <%= render V2::ModalComponent.new(title: "Rollout timeline",
                                            size: :xs,
                                            type: :drawer,
                                            authz: false) do |modal| %>
            <% button = modal.with_button(scheme: :supporting,
                                          size: :xxs,
                                          type: :action,
                                          label: "Timeline") %>
            <% button.with_icon("v2/activity.svg", size: :base) %>
            <% button.with_tooltip("See recent rollout activity", placement: "top") %>
            <% modal.with_body do %>
              <div class="pl-3"><%= render TimelineComponent.new(events:) %></div>
            <% end %>
          <% end %>
          <% if action.present? %>
            <%= render action %>
          <% end %>
        </div>
      <% end %>

      <div class="flex flex-col justify-between gap-1 h-full">
        <div class="grid grid-cols-12">
          <div class="col-span-5 flex flex-col gap-2">
            <div class="flex items-baseline gap-2">
              <%= render V2::IconComponent.new("integrations/logo_#{provider}.png", size: :xl) %>
              <div class="text-3xl font-bold"><%= last_rollout_percentage %>%</div>
              <div class="text-sm text-secondary-50">of users</div>
            </div>

            <div class="flex gap-1 flex-wrap">
              <%= render V2::BadgeComponent.new(**status) %>
              <div class="text-sm text-secondary-50"><%= stage_help %></div>
            </div>

            <% unless compact? %>
              <div class="flex flex-wrap gap-y-2 text-secondary text-sm">
                <p><%= action_help %></p>
              </div>
            <% end %>
          </div>

          <% unless compact? %>
            <div class="col-span-7 justify-self-end self-end flex flex-col gap-2">
              <% stages.each_with_index do |(percent, st), _idx| %>
                <div class="flex flex-row justify-between gap-1 items-center flex-initial flex-wrap">
                  <%= render V2::ProgressBarComponent.new(percent: percent, label: true, status: st) %>
                  <% if st == :default %>
                    <%= render V2::IconComponent.new("v2/check.svg", size: :sm, classes: "text-green-600") %>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>

        <% if compact? %>
          <div class="mt-2">
            <%= render V2::LiveRelease::BuildComponent.new(build, show_build_only: true) %>
          </div>
        <% end %>

        <% unless compact? %>
          <%= render V2::SectionComponent.new(title: "More actions", style: :titled, size: :micro) do %>
            <div class="flex justify-between items-center">
              <div class="flex flex-row gap-2">
                <% more_actions.each do |action| %>
                  <%= render action %>
                <% end %>
              </div>
              <div class="flex flex-row gap-2">
                <%= render V2::ButtonComponent.new(label: "Store dashboard ↗",
                                                   scheme: :link,
                                                   type: :link_external,
                                                   options: "https://play.google.com/store/apps/details?id=com.example.app",
                                                   html_options: { class: "text-sm" },
                                                   authz: false,
                                                   size: :none) do |b|
                  b.with_icon("integrations/logo_google_play_store.png", size: :md)
                end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <% if release_platform_run.store_submitted_releases.present? %>
      <%= render ReleaseMonitoringComponent.new(
        deployment_run: release_platform_run.store_submitted_releases.first,
        metrics: [:stability, :adoption_rate, :adoption_chart, :errors],
        show_version_info: false,
        size: monitoring_size,
        num_events: 1) %>
    <% end %>
  </div>
</div>
