<% content_for :error_resource do %>
  <%= render V2::ErrorComponent.new(submission) %>
<% end %>

<div class="flex flex-col">
  <% if new_submission_allowed? %>
    <%= render V2::AlertComponent.new(size: :md, kind: :announcement, type: :announce, title: "New RC Build is available") do |ann| %>
      <% modal = ann.with_announcement_modal(title: "Available builds", subtitle: "Choose a build to send for submission to the store") %>
      <% modal.with_button(label: "Start a new submission", scheme: :light, type: :action, size: :xxs) %>
      <% modal.with_body do %>
        <% render V2::FormComponent.new(model: [release, release_platform_run, release_platform_run.production_releases.new],
                                        scope: :production_release,
                                        url: run_production_path(release_platform_run),
                                        free_form: true) do |form| %>
          <%= form.F.labeled_select :build_id, "Select a build", options_for_select(all_builds.map { |b| [build_display_info(b), b.id] }, all_builds.first) %>
          <% form.with_action do %>
            <%= form.F.authz_submit "Create submission", "v2/archive.svg" %>
          <% end %>
        <% end %>
      <% end %>

      <div class="flex flex-col gap-2">
        <%= render V2::LiveRelease::BuildComponent.new(newer_builds.first, show_number: true, show_metadata: false, show_ci: true, show_activity: false, show_commit: false) %>
        <span class="text-sm">A new build is available for submission</span>
      </div>
    <% end %>
  <% end %>

  <%= change_build_prompt %>

  <%= render V2::CardComponent.new(title: "Store Submission", size: :full, separator: false) do |card| %>
    <% card.with_actions do %>
      <div class="flex items-center gap-x-1.5">
        <% if changeable? %>
          <%= render V2::ModalComponent.new(title: "Available builds", subtitle: "Choose a build to send for submission to the store") do |modal| %>
            <% button = modal.with_button(label: "Change build", scheme: :light, type: :action, size: :xxs) %>
            <% button.with_icon("v2/pencil.svg") %>
            <% modal.with_body do %>
              <%= render V2::FormComponent.new(model: [release, release_platform_run, submission],
                                               scope: :store_submission,
                                               url: update_path,
                                               free_form: true) do |form| %>
                <%= form.F.hidden_field :force, value: true %>
                <%= form.F.labeled_select :build_id, "Select a build", build_opts %>

                <% form.with_action do %>
                  <%= form.F.authz_submit "Save", "v2/archive.svg" %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <% if action.present? %>
          <%= render V2::ButtonComponent.new(**action) { |b| b.with_icon("v2/clipboard_list.svg") } %>
        <% end %>
        <% if submission.reviewable? %>
          <%= render V2::ModalComponent.new(title: "Submission Preview", subtitle: "Review all the details before submitting for review", dismissable: false, size: :xxl) do |modal| %>
            <% modal.with_button(label: "Preview & submit for review", scheme: :default, type: :action, size: :xxs) %>
            <% modal.with_body do %>
              <div class="flex flex-col gap-6">
                <%= render V2::LiveRelease::PreviewSubmissionComponent.new(submission) %>
                <%= render V2::ButtonComponent.new(scheme: :default,
                                                   type: :button,
                                                   label: "Submit for review",
                                                   options: submit_for_review_path,
                                                   turbo: false,
                                                   html_options: { method: :patch, data: { turbo_method: :patch } }) %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class="flex flex-col item-gap-default text-secondary text-xs">
      <div class="justify-start"><%= render V2::BadgeComponent.new(**status) %></div>

      <%= render V2::LiveRelease::BuildComponent.new(current_build, show_number: true) %>

      <%= render V2::SectionComponent.new(style: :titled, title: "Store status", size: :micro) do %>
        <div class="flex justify-between items-center">
          <%= render V2::BadgeComponent.new(text: store_status, status: :neutral) %>
          <%= render V2::ButtonComponent.new(label: "Store dashboard ↗",
                                             scheme: :link,
                                             type: :link_external,
                                             options: external_link,
                                             html_options: { class: "text-sm" },
                                             authz: false,
                                             size: :none) do |b|
            b.with_icon(store_icon, size: :md)
          end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
