<% content_for :error_resource do %>
  <%= render V2::ErrorComponent.new(submission) %>
<% end %>

<div class="flex flex-col">
  <% if build.present? %>
    <% if submission.change_allowed? && newer_builds.present? %>
      <%= render V2::AlertComponent.new(type: :notice, title: "A new build #{newer_builds.last.display_name} is available. Change build to update the submission.", dismissible: true) %>
    <% end %>

    <%= render V2::CardComponent.new(title: "Store Submission", fold: false, separator: false) do |card| %>
      <% card.with_actions do %>
        <div class="flex items-center gap-x-1.5">
          <% if changeable? %>
            <%= render V2::ModalComponent.new(title: "Available builds", subtitle: "Choose a build to send for submission to the store") do |modal| %>
              <% button = modal.with_button(label: "Change build", scheme: :light, type: :action, size: :xxs) %>
              <% button.with_icon("v2/pencil.svg") %>
              <% modal.with_body do %>
                <%= render V2::FormComponent.new(model: [release, release_platform_run, submission],
                                                 scope: :store_submission,
                                                 url: release_platform_store_submission_path(release, release_platform_run.platform, submission),
                                                 free_form: true) do |form| %>
                  <%= form.F.hidden_field :force, value: true %>
                  <%= form.F.labeled_select :build_id, "Select a build", options_for_select(all_builds.map { |b| [build_display_info(b), b.id] }, submission.build_id) %>

                  <% form.with_action do %>
                    <%= form.F.authz_submit "Save", "v2/archive.svg" %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
          <% if action.present? %>
            <%= render V2::ButtonComponent.new(**action) { |b| b.with_icon("v2/clipboard_list.svg") } %>
          <% end %>
        </div>
      <% end %>

      <div class="flex flex-col gap-3 text-secondary text-xs">
        <div class="justify-start"><%= render V2::StatusIndicatorPillComponent.new(**status) %></div>

        <%= render V2::LiveRelease::BuildComponent.new(submission.build, previous_build: previous_submission&.build) %>

        <%= render V2::SectionComponent.new(style: :titled, title: "Store status", size: :micro) do %>
          <div class="flex justify-between items-center">
            <%= render V2::StatusIndicatorPillComponent.new(text: store_status, status: :neutral) %>
            <%= render V2::ButtonComponent.new(label: "Store dashboard ↗",
                                               scheme: :link,
                                               type: :link_external,
                                               options: external_link,
                                               authz: false,
                                               size: :none) do |b|
              b.with_icon(store_icon, size: :md)
            end %>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <% if newer_builds.present? && !submission.change_allowed? %>
    <%= render V2::AlertComponent.new(type: :notice, title: "A new build #{newer_builds.last.display_name} is available for submission", dismissible: false) %>
    <%= render V2::ButtonComponent.new(
      scheme: :default,
      type: :button,
      size: :xxs,
      label: "Start a new submission",
      options: release_platform_store_submissions_path(release, release_platform_run.platform, submission.id),
      turbo: false,
      html_options: { method: :post, data: { turbo_method: :put, turbo_confirm: "Are you sure about that?" } }
    ) %>
  <% elsif build.nil? %>
    <%= render V2::AlertComponent.new(kind: :banner, title: "No build available", dismissible: false) do %>
      No build is available for this platform. Please build a release candidate to continue.
    <% end %>
  <% end %>
</div>
