<div class="flex flex-row justify-between items-center px-1">
  <div class="flex flex-col gap-1">
    <span class="text-xs text-secondary">Chosen build to submit</span>
    <%= render V2::LiveRelease::BuildComponent.new(submission.build, show_build_only: true) %>
  </div>

  <div class="flex flex-col gap-1">
    <span class="text-xs text-secondary">Phased release</span>
    <% if phased_release_enabled? %>
      <%= render V2::StatusIndicatorPillComponent.new(text: "Enabled", status: :success) %>
    <% else %>
      <%= render V2::StatusIndicatorPillComponent.new(text: "Disabled", status: :neutral) %>
    <% end %>
  </div>

  <div class="flex flex-col gap-1">
    <span class="text-xs text-secondary">Release style</span>
    <%= render V2::StatusIndicatorPillComponent.new(text: "Manual", status: :neutral) %>
  </div>
</div>

<div>
  <%= render V2::SimpleTabComponent.new(groups: languages) do |component| %>
    <% localizations.each do |localization| %>
      <% component.with_tab do %>
        <div class="flex flex-col item-gap-default text-xs">
          <% localization.except("language").each do |key, val| %>
            <div>
              <span class="<%= EnhancedFormHelper::AuthzForm::LABEL_CLASSES %>"><%= key.humanize %></span>
              <p class="text-secondary whitespace-pre-wrap leading-tight card-default"><%= val %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
