<% url = train_group.new_record? ? app_train_groups_path(app) : app_train_group_path(app, train_group) %>

<%= form_with(model: [app, train_group],
              url: url,
              builder: ButtonHelper::AuthzForms) do |form| %>

  <div class="grid gap-x-5 gap-y-2 md:grid-cols-2">
    <div data-controller="domain--branch-name-help"
         data-domain--branch-name-help-current-value="<%= train_group.display_name %>">
      <div class="mb-2">
        <%= form.label :name, class: "block text-sm font-medium mb-1" %>
        <%= form.text_field :name,
                            class: "form-input w-full",
                            placeholder: "Enter train name...",
                            required: true,
                            data: { domain__branch_name_help_target: "input",
                                    action: "domain--branch-name-help#set" } %>
      </div>

      <div class="text-sm italic">
        <span data-domain--branch-name-help-target="helpTextTitle"></span>
        <span class="font-mono" data-domain--branch-name-help-target="helpTextVal"></span>
      </div>

      <div class="mt-6">
        <%= form.label :description, class: "block text-sm font-medium mb-1" %>
        <%= form.text_area :description, class: "form-input w-full h-24",
                           placeholder: "Describe the purpose of your train..." %>
      </div>
    </div>

    <div class="grid gap-x-5 md:grid-cols-1"
         data-controller="domain--version-name-help"
         data-domain--version-name-help-disabled-value="<%= train_group.persisted? %>">

      <div>
        <%= form.label :major_version_seed,
                       "Seed with your current version name (build name)",
                       class: "block text-sm font-medium mb-1" %>
        <%= form.text_field :major_version_seed,
                            class: text_field_classes(is_disabled: train_group.persisted?).concat(" w-1/4"),
                            placeholder: "major",
                            required: true,
                            disabled: train_group.persisted?,
                            data: { domain__version_name_help_target: "majorInput",
                                    action: "domain--version-name-help#bump" } %>

        <span class="mx-1">.</span>
        <%= form.text_field :minor_version_seed,
                            class: text_field_classes(is_disabled: train_group.persisted?).concat(" w-1/4"),
                            placeholder: "minor",
                            required: true,
                            disabled: train_group.persisted?,
                            data: { domain__version_name_help_target: "minorInput",
                                    action: "domain--version-name-help#bump" } %>

        <span class="mx-1">.</span>
        <%= form.text_field :patch_version_seed,
                            class: text_field_classes(is_disabled: train_group.persisted?).concat(" w-1/4"),
                            placeholder: "patch (optional)",
                            required: false,
                            disabled: train_group.persisted?,
                            data: { domain__version_name_help_target: "patchInput",
                                    action: "domain--version-name-help#bump" } %>
      </div>

      <% unless train_group.persisted? %>
        <div class="text-sm italic mt-2">
          <span hidden data-domain--version-name-help-target="helpTextVal"></span>
        </div>

        <div class="text-sm mt-2">
          <div class="grid gap-x-5 gap-y-2 md:grid-cols-2">
            <div class="flex flex-col bg-slate-50 rounded-sm pl-4 pt-4 mt-2 items-center justify-center">
              <div class="flex-grow mb-2">
                <div class="uppercase tracking-wider text-2xl drop-shadow-sm font-mono">
                  <span data-domain--version-name-help-target="currentVersion">x.x</span>
                </div>
              </div>
              <div class="mt-3 mb-3 text-stone text-xs drop-shadow-sm">
                Your <strong>current</strong> release version
              </div>
            </div>
            <div class="flex flex-col bg-slate-50 rounded-sm pl-4 pt-4 mt-2 items-center justify-center">
              <div class="flex-grow mb-2">
                <div class="uppercase tracking-wider text-2xl drop-shadow-sm font-mono">
                  <span data-domain--version-name-help-target="nextVersion">x.x</span>
                </div>
              </div>
              <div class="mt-3 mb-3 text-stone text-xs drop-shadow-sm">
                Your <strong>next</strong> release will start with this version
              </div>
            </div>
          </div>
        </div>

        <div class="text-sm mt-2">
          <p>
            Tramline increments the version name for every release build created, which guarantees that every build can be
            uniquely identified. We allow a
            <%= link_to_external "SemVer", "https://semver.org", class: "underline" %>-like scheme, for eg.
            <code>MAJOR.MINOR.PATCH</code> and <code>MAJOR.MINOR</code>.
          </p>

          <p class="pt-2">
            Refer to
            the <%= link_to_external "docs", "https://docs.tramline.app/automations#version-name", class: "underline" %>
            to learn more about versioning.
          </p>
        </div>
      <% end %>
    </div>
  </div>

  <div class="text-xl text-slate-600 font-medium mt-8 mb-2">Branching strategy</div>

  <div class="grid gap-x-5 md:grid-cols-2">
    <div data-controller="branching-selector">
      <%= form.label "Strategy", class: "block text-sm font-medium mb-1" %>
      <%= form.select :branching_strategy,
                      options_for_select(Train::BRANCHING_STRATEGIES.invert, train_group.branching_strategy),
                      { required: true, },
                      { class: text_field_classes(is_disabled: train_group.persisted?), data: { action: 'branching-selector#change' }, disabled: train_group.persisted? } %>
    </div>

    <div>
      <%= form.label :working_branch, class: "block text-sm font-medium mb-1" %>
      <%= form.text_field :working_branch, class: text_field_classes(is_disabled: train_group.persisted?), placeholder: "eg., master, main", disabled: train_group.persisted? %>
    </div>

    <div class="almost_trunk hidden"></div>

    <div><!-- this is required to maintain intended grid structure --></div>

    <div class="release_backmerge hidden">
      <div>
        <%= form.label :release_backmerge_branch, class: "block text-sm font-medium my-1" %>
        <%= form.text_field :release_backmerge_branch, class: text_field_classes(is_disabled: train_group.persisted?), placeholder: "eg., dev", disabled: train_group.persisted? %>
      </div>
    </div>

    <div class="parallel_working hidden">
      <div>
        <%= form.label :release_branch, class: "block text-sm font-medium my-1" %>
        <%= form.text_field :release_branch, class: text_field_classes(is_disabled: train_group.persisted?), placeholder: "eg., production", disabled: train_group.persisted? %>
      </div>
    </div>
  </div>

  <% unless train_group.persisted? %>
    <div class="text-sm mt-4">
      Refer to the <%= link_to_external "docs", "https://docs.tramline.app/branching-strategies", class: "underline" %>
      to learn more about our supported branching strategies.
    </div>
  <% end %>

  <div class="mt-10">
    <%= form.authz_submit :blue, train_group.persisted? ? "Update Train" : "Create Train" %>
  </div>
<% end %>
