<div class="max-w-md mx-auto px-4 py-8">
  <%= render partial: "authentication/email/shared/header", locals: { heading: "Forgot your password? ðŸ§", subtitle_text: nil} %>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name),
               html: { method: :post, 'data-turbo' => "false" }) do |f| %>
    <div class="space-y-6">
      <div>
        <%= f.label :email, class: "block text-sm font-medium mb-1" %>
        <%= f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-input w-full" %>
      </div>

      <div class="">
        <%= f.submit "Send reset instructions", class: "btn bg-indigo-500 hover:bg-indigo-600 text-white w-full" %>
      </div>

      <div class="text-sm">
        Or
        <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Sign up", new_registration_path(resource_name),
                      class: "font-medium text-indigo-500 hover:text-indigo-600" %>
        <% end %>
        or,
        <%= link_to "Sign In", email_authentication_session_path, class: "font-medium text-indigo-500 hover:text-indigo-600" %>
      </div>
    </div>
  <% end %>

  <%= render partial: "authentication/email/shared/footer" %>
</div>
