<%= tag.turbo_frame id: "all_builds", target: "_top", data: { turbo_action: "advance" } do %>
  <table class="table-auto w-full">
    <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
    <tr>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">
          <%= sort_link(column: "version_name", label: "Version Name") %>
        </div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">
          <%= sort_link(column: "version_code", label: "Version Code") %>
        </div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">
          <%= sort_link(column: "train_name", label: "Train") %>
        </div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">
          <%= sort_link(column: "release_status", label: "Release Status") %>
        </div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">
          <%= sort_link(column: "step_name", label: "Step") %>
        </div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">
          <%= sort_link(column: "step_status", label: "Step Status") %>
        </div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">
          <div class="font-semibold text-left">
            <%= sort_link(column: "build_generated_at", label: "Generated on") %>
          </div>
        </div>
      </th>
    </tr>
    </thead>

    <tbody class="text-sm divide-y divide-slate-200">
    <% builds.each do |build| %>
      <tr class="hover:bg-green-600 font-normal text-slate-800">
        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="flex items-center">
            <div class="text-slate-800">
              <%= build[:version_name] %>
            </div>
          </div>
        </td>

        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">
            <%= build[:version_code] %>
          </div>
        </td>

        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">
            <%= build[:train_name] %>
          </div>
        </td>

        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">
            <%= build[:release_status] %>
          </div>
        </td>

        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">
            <%= build[:step_name] %>
          </div>
        </td>

        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">
            <%= build[:step_status] %>
          </div>
        </td>

        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">
            <%= time_format build[:build_generated_at], with_year: true %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="p-5">
    <%= render PaginationComponent.new(results: paginator, turbo_frame: "all_builds", info: true) %>
  </div>
<% end %>
