<div class="text-secondary text-sm">
  <strong><%= builds.size %></strong> builds found.
</div>

<% if builds.present? %>
  <%= render SectionComponent.new(style: :boxed, size: :micro) do %>
    <% builds.each do |build| %>
      <div class="flex flex-col gap-y-2">
        <div class="flex items-center justify-between border-default-b px-1 py-1 mb-3">
          <div class="flex justify-start gap-1 items-center">
            <h2 class="heading-2 text-main dark:text-white font-normal">Build <%= build.version_code %></h2>
            <%= render BadgeComponent.new(text: build.version_name, kind: :status_pill, status: :neutral) %>
            <%= release_status(build) %>
            <%= render BadgeComponent.new(
              text: "Built #{time_format(build.built_at, with_year: true)}",
              kind: :status_pill,
              status: :neutral
            ) %>
          </div>

          <div class="flex justify-end gap-2">
            <% if build.ci_link.present? %>
              <%= render ButtonComponent.new(
                scheme: :supporting,
                label: "CI",
                options: build.ci_link,
                size: :sm,
                type: :link_external,
                authz: false) do |b|
                b.with_icon("workflow.svg")
              end %>
            <% end %>

            <% if build.download_url.present? %>
              <%= render ButtonComponent.new(
                scheme: :supporting,
                label: "Download",
                options: build.download_url,
                size: :sm,
                type: :link_external,
                authz: false) do |b|
                b.with_icon("download.svg")
              end %>
            <% end %>
          </div>
        </div>

        <div class="flex flex-col item-gap-default">
          <%= render CardComponent.new(title: "Build Details", separator: false, size: :xs) do %>
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
              <div>
                <div class="text-sm font-medium text-slate-500">Train</div>
                <div class="mt-1"><%= build.train_name %></div>
              </div>
              <div>
                <div class="text-sm font-medium text-slate-500">Platform</div>
                <div class="mt-1"><%= release_platform(build) %></div>
              </div>
              <div>
                <div class="text-sm font-medium text-slate-500">Kind</div>
                <div class="mt-1"><%= build.kind.humanize %></div>
              </div>
              <div>
                <div class="text-sm font-medium text-slate-500">Submissions</div>
                <div class="mt-1"><%= submissions(build) %></div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="pt-5">
    <%= render PaginationComponent.new(results: paginator, turbo_frame: "all_builds", info: true) %>
  </div>
<% else %>
  <%= render EmptyStateComponent.new(
    title: "No builds found",
    text: "No builds are available at this time.",
    banner_image: "drill.svg",
    type: :subdued) %>
<% end %>
