<div class="col-span-4 border-default box-padding bg-white dark:bg-backgroundDark">
  <div class="flex flex-col h-full space-y-3">
    <div class="grow">
      <header class="flex items-start space-x-3 align-top">
        <% if icon_url.present? %>
          <img src="<%= icon_url %>" alt="icon" class="w-10 h-10 rounded" />
        <% else %>
          <%= image_tag "app.svg", class: "w-10 h-10" %>
        <% end %>
        <h4 class="heading-4"><%= name %></h4>
      </header>
    </div>

    <footer>
      <div class="flex flex-col justify-start items-start space-y-5">
        <div class="text-xs text-slate-500">
          <%= description %>
        </div>

        <div class="flex justify-between w-full items-baseline">
          <div class="flex gap-2">
            <% if bundle_id.present? %>
              <div class="text-xs text-secondary font-mono"><%= bundle_id %></div>
            <% end %>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
