<% apps_by_platform.each do |platform, list| %>
  <article class="mb-12">
    <h2 class="text-2xl text-slate-800 font-bold">
      <%= platform_icon(platform) %>
      <%= platform_name(list.first) %>
    </h2>

    <% list.each do |app| %>
      <div class="grid grid-cols-3 gap-x-1 my-3 gap-y-2">
        <%= link_to app_path(app) do %>
          <div class="flex flex-col bg-indigo-50 rounded-sm pl-4 pt-4 shadow-sm hover:bg-indigo-100 h-52">
            <div class="flex-grow mb-2">
              <%= app_icon(platform) %>
            </div>
            <div class="mt-3 mb-3">
              <p class="font-semibold"><%= app.name %></p>
              <p class="text-sm"><%= app.bundle_identifier %></p>
              <p class="text-xs"><%= app.description %></p>
            </div>
          </div>
        <% end %>
        <% app.high_level_overview.each_with_index do |(_train, releases), i| %>
          <% if i > 0 %>
            <div></div>
          <% end %>

          <% unless releases.blank? %>
            <% if releases[:in_review].nil? %>
              <div class="flex flex-col bg-indigo-300 rounded-sm pl-4 pt-4 h-52">
                <div class="flex-grow mb-2">
                  <p class="uppercase tracking-wider text-white text-sm">Nothing in Review</p>
                </div>
              </div>
            <% else %>
              <%= link_to release_path(releases[:in_review].id) do %>
                <div class="flex flex-col bg-indigo-300 rounded-sm pl-4 pt-4 h-52 shadow-sm hover:bg-indigo-400">
                  <div class="flex-grow mb-2">
                    <p class="uppercase tracking-wider text-white text-sm">Reviewing</p>
                    <p class="text-2xl font-bold"><%= releases[:in_review].release_version %></p>
                  </div>

                  <div class="mt-3 mb-3 text-stone">
                    <p class="text-sm">
                      <span class="font-bold">Branch</span>:
                      <code><%= releases[:in_review].release_branch %></code>
                    </p>

                    <p class="text-sm">
                      <span class="font-bold">Started</span>
                      <span><%= ago_in_words releases[:in_review].created_at %></span></p>
                  </div>
                </div>
              <% end %>
            <% end %>

            <% if releases[:last_released].nil? %>
              <div class="flex flex-col bg-indigo-500 rounded-sm pl-4 pt-4 h-52">
                <div class="flex-grow mb-2">
                  <p class="uppercase tracking-wider text-white text-sm">No releases yet</p>
                </div>
              </div>
            <% else %>
              <%= link_to release_path(releases[:last_released].id) do %>
                <div class="flex flex-col bg-indigo-500 rounded-sm pl-4 pt-4 h-52 shadow-sm hover:bg-indigo-600">
                  <div class="flex-grow mb-2">
                    <p class="uppercase tracking-wider text-white text-sm">Released</p>
                    <p class="text-2xl font-bold"><%= releases[:last_released].release_version %></p>
                  </div>

                  <div class="mt-3 mb-3 text-stone-200">
                    <p class="text-sm">
                      <span class="font-bold">Branch</span>:
                      <code><%= releases[:last_released].release_branch %></code>
                    </p>
                    <p class="text-sm">
                      <span class="font-bold">Released</span>
                      <span><%= ago_in_words releases[:last_released].completed_at %></span></p>
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </article>
<% end %>
