<% if chart.present? %>
  <%= render V2::CardComponent.new(title: title,
                                   subtitle: chart_scope,
                                   fold: false,
                                   separator: false,
                                   classes: "w-full",
                                   emptiness: insufficient?) do |card| %>
    <% card.with_actions do %>
      <% if help_text.present? %>
        <div class="flex"><%= render corner_icon %></div>
      <% end %>
    <% end %>

    <% card.with_empty_state(text: "Waiting for more data",
                             banner_image: "v2/clock.svg",
                             type: :subdued) %>

    <% unless insufficient? %>
      <% if area? %>
        <div data-controller="charts"
             data-charts-type-value="area"
             data-charts-format-value="<%= value_format %>"
             data-charts-show-x-axis-value="<%= show_x_axis %>"
             data-charts-show-y-axis-value="<%= show_y_axis %>"
             data-charts-series-value="<%= series %>"
             data-charts-height-value="<%= height %>">
          <div data-charts-target="chart"></div>
        </div>
      <% end %>

      <% if line? %>
        <div data-controller="charts"
             data-charts-type-value="line"
             data-charts-format-value="<%= value_format %>"
             data-charts-show-x-axis-value="<%= show_x_axis %>"
             data-charts-show-y-axis-value="<%= show_y_axis %>"
             data-charts-annotations-value="<%= annotations %>"
             data-charts-series-value="<%= series %>"
             data-charts-height-value="<%= height %>">
          <div data-charts-target="chart"></div>
        </div>
      <% end %>

      <% if stacked_bar? %>
        <div data-controller="charts"
             data-charts-type-value="stacked-bar"
             data-charts-format-value="<%= value_format %>"
             data-charts-show-x-axis-value="<%= show_x_axis %>"
             data-charts-show-y-axis-value="<%= show_y_axis %>"
             data-charts-series-value="<%= series %>"
             data-charts-height-value="<%= height %>">
          <div data-charts-target="chart"></div>
        </div>
      <% end %>

      <% if polar_area? %>
        <div data-controller="charts"
             data-charts-type-value="polar-area"
             data-charts-format-value="<%= value_format %>"
             data-charts-show-x-axis-value="<%= show_x_axis %>"
             data-charts-show-y-axis-value="<%= show_y_axis %>"
             data-charts-series-value="<%= linear_series %>">
          <div data-charts-target="chart"></div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
