<% unless series_raw.blank? %>
  <div class="w-full bg-white box-padding border-default">
    <div class="flex justify-between items-start mb-4">
      <div>
        <h1 class="flex heading-3 items-center gap-x-1">
          <%= title %>
        </h1>
        <p class="text-sm font-normal text-main-400"><%= chart_scope %></p>
      </div>

      <div class="flex py-0.5 font-semibold text-green-700"><%= corner_icon %></div>
    </div>

    <% if area? %>
      <div data-controller="charts"
           data-charts-type-value="area"
           data-charts-format-value="<%= value_format %>"
           data-charts-show-x-axis-value="<%= show_x_axis %>"
           data-charts-show-y-axis-value="<%= show_y_axis %>"
           data-charts-series-value="<%= series %>">
        <div data-charts-target="chart"></div>
      </div>
    <% end %>

    <% if line? %>
      <div data-controller="charts"
           data-charts-type-value="line"
           data-charts-format-value="<%= value_format %>"
           data-charts-show-x-axis-value="<%= show_x_axis %>"
           data-charts-show-y-axis-value="<%= show_y_axis %>"
           data-charts-series-value="<%= series %>">
        <div data-charts-target="chart"></div>
      </div>
    <% end %>

    <% if stacked_bar? %>
      <div data-controller="charts"
           data-charts-type-value="stacked-bar"
           data-charts-format-value="<%= value_format %>"
           data-charts-show-x-axis-value="<%= show_x_axis %>"
           data-charts-show-y-axis-value="<%= show_y_axis %>"
           data-charts-series-value="<%= series %>">
        <div data-charts-target="chart"></div>
      </div>
    <% end %>
  </div>
<% end %>
