<div data-controller="nested-form-ext" class="flex flex-col item-gap-default">
  <% if add_button? %>
    <div>
      <%= render ButtonComponent.new(
        scheme: :light,
        type: :action,
        size: :xs,
        label: "Add a new parameter",
        html_options: { data: { action: "nested-form-ext#add" } },
        arrow: :none) do |b|
        b.with_icon("plus.svg", rounded: false)
      end %>
    </div>
  <% end %>

  <div class="flex flex-col flex-1">
    <% if form.object.parameters.present? %>
      <div class="grid grid-cols-12 item-gap-default items-center font-medium text-secondary text-xs">
        <div class="col-span-5"><%= form.label_only :name, parameter_name_label %></div>
        <div class="col-span-5"><%= form.label_only :value, parameter_value_label %></div>
      </div>
    <% end %>

    <div class="flex flex-col item-gap-default">
      <% form.object.parameters.each do |parameter| %>
        <% form.fields_for :parameters, parameter do |parameter_form| %>
          <div class="nested-form-wrapper" data-new-record="false">
            <%= render Form::ParametersComponent.new(parameter_form, parameter_name_label:, parameter_value_label:)%>
          </div>
        <% end %>
      <% end %>
    </div>

    <template data-nested-form-ext-target="template">
      <div class="nested-form-wrapper" data-new-record="true">
        <% form.fields_for :parameters, form.object.parameters.build, child_index: "NEW_RECORD" do |parameter_form| %>
          <%= render Form::ParametersComponent.new(parameter_form, parameter_name_label:, parameter_value_label:)%>
        <% end %>
      </div>
    </template>

    <div data-nested-form-ext-target="target"></div>
  </div>
</div>
