<% if cross_platform_app? %>
  <div class="grid grid-cols-2 text-xl text-slate-600">
    <span class="justify-self-start bg-green-50 rounded-lg px-5 py-3">Android</span>
    <span class="justify-self-end bg-blue-50 rounded-lg px-5 py-3">iOS</span>
  </div>
<% end %>
<% events_by_days.each_with_index do |(day, events), index| %>
  <div class="relative" data-controller="reveal" data-reveal-toggle-keys-value="e">
    <% if cross_platform_app? %>
      <div class="w-1 bg-slate-200 absolute h-full left-1/2 -translate-x-1/2 -z-50"></div>
    <% end %>
    <div class="flex flex-col items-center mb-2 bg-white py-1">
      <%= inline_svg('calendar_time.svg', classname: "inline-flex w-10") %>
      <time class="text-xl font-semibold text-slate-900"><%= day %></time>
      <%= toggle_for(hide_timeline?(index)) %>
    </div>
    <div data-reveal <%= hide_timeline(index) %>>
      <% if cross_platform_app? %>
        <div class="grid grid-cols-2 items-center">
          <% events.each do |passport| %>
            <%= activity_metadata(passport, :left) %>

            <section class="grid <%= justify_content(passport) %> col-span-1 items-center grid-flow-col">
              <%= connector(passport, :left) %>
              <%= render EventTimeline::EventMessageComponent.new(passport: passport) %>
              <%= connector(passport, :right) %>
            </section>

            <%= activity_metadata(passport, :right) %>
          <% end %>
        </div>
        <div class="w-4 py-1 bg-slate-200 absolute h-1 left-1/2 -translate-x-1/2 -z-50"></div>
      <% else %>
        <div class="grid grid-cols-9 items-center">
          <% events.each do |passport| %>
            <div class="col-span-1 justify-self-end mr-2">
              <%= activity_metadata_content(passport, " justify-self-start ml-2") %>
            </div>
            <section class="grid col-span-8 justify-self-start border-slate-200 border-l-2 grid-flow-col items-center">
              <div class="border-t-3 mr-1 border-slate-200 w-10"></div>
              <%= render EventTimeline::EventMessageComponent.new(passport: passport) %>
            </section>
          <% end %>
          <div class="col-span-1 justify-self-end border-slate-200 border-r-8 h-2"></div>
          <div class="col-span-8 justify-self-start border-slate-200 border-l-8 h-2"></div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
