<%= render TableComponent.new(columns: column_names) do |table| %>
  <% table.with_heading do %>
    <div class="flex justify-between w-full items-center">
      <div>
        <h2 class="text-2xl text-slate-800 font-bold"><%= heading %></h2>
        <span class="text-sm text-slate-400"><%= subtitle %></span>
      </div>
      <% if external_app %>
        <div class="text-left">
          <%= decorated_button_to :neutral, refresh_external_app_path(app), method: :post do %>
            <%= inline_svg('refresh.svg', classname: "inline-flex w-4") %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if external_app %>
    <% channels.each do |channel| %>
      <% table.with_row do |row| %>
        <% row.with_cell do %>
          <span><%= channel_name channel %></span>
        <% end %>

        <% row.with_cell do %>
          <% releases(channel).each do |release| %>
            <div class="mx-2">
              <div class="flex justify-between text-sm mb-2">
                <div>
                  <%= release_description(release) %>
                  <%= release_status(release) %>
                </div>
                <% if release[:user_fraction] %>
                  <div class="italic"><%= release_fraction_title(release) %></div>
                <% end %>
              </div>
              <% if release[:user_fraction] %>
                <div class="border-slate-200">
                  <div class="relative w-full h-2 bg-slate-300">
                    <div class="absolute inset-0 bg-emerald-500" aria-hidden="true" style="width: <%= release_fraction_width(release) %>"></div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
