<div class="mb-5 flex justify-between items-center">
  <div>
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Summary", subheading: "#{time_ago_in_words(release.completed_at)} ago" } %>
    <% if loaded? %>
      <div class="text-slate-600 animate-bounce mt-2">
        Great work team! This release is complete!
      </div>
    <% end %>
  </div>

  <% if loaded? %>
    <div class="cursor-pointer text-2xl"
         data-controller="confetti"
         data-action="click->confetti#spray"
         data-confetti-animation-value="school-pride"
         data-confetti-follow-value=false
         data-confetti-duration-value="1">🎉
    </div>
  <% end %>
</div>
<div class="text-main-900">
  <% if loaded? %>
    <%= render TabGroupComponent.new(groups: tab_groups) do |component| %>
      <% component.with_tab do %>
        <div class="p-4 bg-white rounded-lg" id="overall" data-tabs-target="panel">
          <div class="grid grid-rows-2 gap-y-5">
            <dl class="flex justify-evenly gap-x-8 px-2 py-4">
              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= overall.version %></dt>
                <dd class="text-main-500">Final version</dd>
              </div>

              <% if overall.tag.present? %>
                <div class="flex flex-col text-center items-center justify-center">
                  <dt class="mb-2 text-xl font-extrabold underline"><%= link_to_external overall.tag, overall.tag_url, class: "underline" %></dt>
                  <dd class="text-main-500">Release tag</dd>
                </div>
              <% end %>

              <% if overall.hotfixes.present? %>
                <div class="flex flex-col text-center items-center justify-center">
                  <dt class="mb-2 text-xl font-extrabold underline"><%= hotfixes %></dt>
                  <dd class="text-main-500">Hotfixes</dd>
                </div>
              <% end %>

              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= overall.commits_count %></dt>
                <dd class="text-main-500">Commits in release</dd>
              </div>

              <% if hotfix? %>
                <div class="flex flex-col text-center items-center justify-center">
                  <dt class="mb-2 text-xl font-extrabold"><%= overall.hotfixed_from %></dt>
                  <dd class="text-main-500">Hotfix released from</dd>
                </div>
              <% end %>

              <% if backmerges? %>
                <div class="flex flex-col text-center items-center justify-center">
                  <dt class="mb-2 text-xl font-extrabold"><%= overall.backmerge_pr_count %></dt>
                  <dd class="text-main-500">Backmerge PRs</dd>
                </div>

                <div class="flex flex-col text-center items-center justify-center">
                  <dt class="mb-2 text-xl font-extrabold"><%= overall.backmerge_failure_count %></dt>
                  <dd class="text-main-500">Automatic Backmerge failures</dd>
                </div>
              <% end %>
            </dl>

            <dl class="flex justify-center gap-x-14 px-2 py-4">
              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= duration_in_words overall.duration %></dt>
                <dd class="text-main-500">Release duration</dd>
              </div>

              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= time_format overall.kickoff_at %></dt>
                <dd class="text-main-500">Kicked Off</dd>
              </div>

              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= time_format overall.finished_at %></dt>
                <dd class="text-main-500">Finished</dd>
              </div>
            </dl>
          </div>
        </div>
      <% end %>

      <% if store_versions? %>
        <% component.with_tab do %>
          <div class="hidden p-4 bg-white rounded-lg" data-tabs-target="panel">
            <div class="flex justify-center gap-12 p-2">
              <% store_versions_by_platform.each do |platform, store_versions| %>
                <div class="w-full max-w-md p-4 bg-white">
                  <h2 class="mb-5 text-2xl font-extrabold tracking-tight"><%= platform %></h2>
                  <div class="flow-root">
                    <ul role="list" class="divide-y divide-main-200">
                      <% store_versions.each do |store_version| %>
                        <li class="py-4 flex flex-row justify-between items-start gap-y-2">
                          <div>
                            <div class="text-sm text-base font-semibold truncate"><%= store_version.version %></div>
                            <div class="text-sm font-base truncate"><%= store_version.build_number %></div>
                            <p class="text-sm text-main-500 mt-2 truncate">
                              <strong>Build created
                                on</strong>&nbsp;<span><%= time_format store_version.built_at %></span>
                            </p>
                            <p class="text-sm text-main-500 truncate">
                              <strong>Submitted
                                on</strong>&nbsp;<span class=""><%= time_format store_version.submitted_at %></span>
                            </p>
                            <p class="text-sm text-main-500 truncate">
                              <strong>Started release
                                on</strong>&nbsp;<span><%= time_format store_version.release_started_at %></span>
                            </p>
                          </div>

                          <% if staged_rollouts?(store_version) %>
                            <ol class="relative text-main-500 border-l border-main-200">
                              <% staged_rollouts(store_version) do |rollout, time| %>
                                <li class="mb-4 ml-6 last:mb-0">
                                  <span class="absolute flex items-center justify-center w-4 h-4 bg-green-100 rounded-full -left-2 ring-4 ring-white"></span>
                                  <div class="flex flex-col w-20">
                                    <p class="text-xs font-semibold leading-tight"><%= rollout %>%</p>
                                    <p class="text-xs"><%= time_format(time, with_time: false) %></p>
                                  </div>
                                </li>
                              <% end %>
                            </ol>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% component.with_tab do %>
        <div class="hidden p-4 bg-white rounded-lg" data-tabs-target="panel">
          <div class="flex justify-center gap-12 p-2">
            <% step_summary_by_platform.each do |platform, steps_summary| %>
              <div class="w-full max-w-md p-4 bg-white">
                <h2 class="mb-5 text-2xl font-extrabold tracking-tight"><%= platform %></h2>
                <div class="flow-root">
                  <ul role="list" class="divide-y divide-main-200">
                    <% steps_summary.each do |summary| %>
                      <li class="py-4 flex flex-row justify-between items-start gap-y-2">
                        <div>
                          <div class="text-sm text-base font-semibold truncate"><%= summary.name %></div>
                          <div class="text-sm font-base truncate"><%= summary.phase.titleize %></div>
                          <p class="text-sm text-main-500 mt-2 truncate">
                            <strong>Ran for </strong>&nbsp;<span><%= duration_in_words summary.duration %></span>
                          </p>
                          <p class="text-sm text-main-500 truncate">
                            <strong>Builds
                              generated</strong>&nbsp;<span class=""><%= summary.builds_created_count %></span>
                          </p>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if pull_requests? %>
        <% component.with_tab do %>
          <div class="hidden p-4 bg-white rounded-lg" data-tabs-target="panel">
            <h2 class="mb-2 text-xl font-extrabold tracking-tight">Pull requests automatically created during the release</h2>
            <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white" data-inactive-classes="text-main-500">
              <%= render partial: "shared/live_release/pull_requests_thin", locals: { prs: pull_requests, title_size: 80 } %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if current_organization.team_analysis_enabled? && teams_present? %>
        <% component.with_tab do %>
          <div class="hidden p-4 bg-white rounded-lg" data-tabs-target="panel">
            <div class="grid grid-cols-2 gap-4">
              <%= render ChartComponent.new(team_release_chart) %>
              <%= render ChartComponent.new(team_stability_chart) %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="flex flex-wrap justify-between items-center px-5 py-3 bg-indigo-50 border border-indigo-100 rounded-sm text-left">
      <div class="text-slate-800 font-semibold animate-pulse">
        We're preparing a release summary for you, please wait...
      </div>
    </div>
  <% end %>
</div>
