<div class="mb-5 flex justify-between items-center">
  <div>
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Summary", subheading: "#{time_ago_in_words(release.completed_at)} ago" } %>
    <% if loaded? %>
      <div class="text-slate-600 animate-bounce mt-2">
        Great work team! This release is complete!
      </div>
    <% end %>
  </div>

  <% if loaded? %>
    <div class="cursor-pointer text-2xl"
         data-controller="confetti"
         data-action="click->confetti#spray"
         data-confetti-animation-value="school-pride"
         data-confetti-follow-value=false
         data-confetti-duration-value="1">🎉
    </div>
  <% end %>
</div>
<div class="text-gray-900">
  <% if loaded? %>
    <%= render TabGroupComponent.new(groups: tab_groups) do |component| %>
      <% component.with_tab do %>
        <div class="p-4 bg-white rounded-lg" id="overall" data-tabs-target="panel">
          <div class="grid grid-rows-2 gap-y-5">
            <dl class="flex justify-evenly gap-x-8 px-2 py-4">
              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= overall.version %></dt>
                <dd class="text-gray-500">Final version</dd>
              </div>

              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold underline"><%= overall.tag %></dt>
                <dd class="text-gray-500">Release tag</dd>
              </div>

              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= overall.commits_count %></dt>
                <dd class="text-gray-500">Commits in release</dd>
              </div>

              <% if backmerges? %>
                <div class="flex flex-col text-center items-center justify-center">
                  <dt class="mb-2 text-xl font-extrabold"><%= overall.backmerge_pr_count %></dt>
                  <dd class="text-gray-500">Backmerge PRs</dd>
                </div>

                <div class="flex flex-col text-center items-center justify-center">
                  <dt class="mb-2 text-xl font-extrabold"><%= overall.backmerge_failure_count %></dt>
                  <dd class="text-gray-500">Automatic Backmerge failures</dd>
                </div>
              <% end %>
            </dl>

            <dl class="flex justify-center gap-x-14 px-2 py-4">
              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= overall.duration_interval.inspect %></dt>
                <dd class="text-gray-500">Release duration</dd>
              </div>

              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= time_format overall.kickoff_at %></dt>
                <dd class="text-gray-500">Kicked Off</dd>
              </div>

              <div class="flex flex-col text-center items-center justify-center">
                <dt class="mb-2 text-xl font-extrabold"><%= time_format overall.finished_at %></dt>
                <dd class="text-gray-500">Finished</dd>
              </div>
            </dl>
          </div>
        </div>
      <% end %>

      <% component.with_tab do %>
        <div class="hidden p-4 bg-white rounded-lg" data-tabs-target="panel">
          <div class="flex justify-center gap-12 p-2">
            <% store_versions_by_platform.each do |platform, store_versions| %>
              <div class="w-full max-w-md p-4 bg-white">
                <h2 class="mb-5 text-2xl font-extrabold tracking-tight"><%= platform %></h2>
                <div class="flow-root">
                  <ul role="list" class="divide-y divide-gray-200">
                    <% store_versions.each do |store_version| %>
                      <li class="py-4">
                        <div class="flex flex-row justify-between gap-y-2">
                          <div>
                            <div class="text-sm text-base font-semibold truncate"><%= store_version.version %></div>
                            <div class="text-sm font-base truncate"><%= store_version.build_number %></div>
                            <p class="text-sm text-gray-500 mt-2 truncate">
                              <strong>Build created on</strong>&nbsp;<span><%= time_format store_version.built_at %></span>
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                              <strong>Submitted on</strong>&nbsp;<span class=""><%= time_format store_version.submitted_at %></span>
                            </p>
                            <p class="text-sm text-gray-500 truncate">
                              <strong>Started release on</strong>&nbsp;<span><%= time_format store_version.release_started_at %></span>
                            </p>
                          </div>

                          <% if staged_rollouts?(store_version) %>
                            <ol class="relative text-gray-500 border-l border-gray-200">
                              <% staged_rollouts(store_version) do |rollout, time| %>
                                <li class="mb-4 ml-6">
                                  <span class="absolute flex items-center justify-center w-4 h-4 bg-green-100 rounded-full -left-2 ring-4 ring-white"></span>
                                  <div class="flex flex-col w-20">
                                    <p class="text-xs font-semibold leading-tight"><%= rollout %>%</p>
                                    <p class="text-xs"><%= time_format(time, with_time: false) %></p>
                                  </div>
                                </li>
                              <% end %>
                            </ol>
                          <% end %>
                        </div>
                      </li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% component.with_tab do %>
        <div class="hidden p-4 bg-white rounded-lg" data-tabs-target="panel">
          <div class="flex justify-evenly gap-12 p-2">
            <% step_summary_by_platform.each do |platform, steps_summary| %>
              <div>
                <h2 class="mb-5 text-2xl font-extrabold tracking-tight"><%= platform %></h2>
                <ul role="list" class="space-y-4 text-gray-500">
                  <% steps_summary.each do |summary| %>
                    <li class="flex space-x-2 items-center">
                      <span class="leading-tight">
                        <%= summary.platform %> step <%= summary.name %> lasted <%= summary.duration_interval.inspect %>
                      </span>
                    </li>

                    <li class="flex space-x-2 items-center">
                      <span class="leading-tight">
                        <%= summary.builds_created_count %> build generated in total
                      </span>
                    </li>
                  <% end %>
                </ul>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>

      <% if pull_requests.present? %>
        <% component.with_tab do %>
          <div class="hidden p-4 bg-white rounded-lg" data-tabs-target="panel">
            <h2 class="mb-2 text-xl font-extrabold tracking-tight">Pull requests created during the release</h2>
            <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white" data-inactive-classes="text-gray-500">
              <%= render partial: "shared/live_release/pull_requests_thin", locals: { prs: pull_requests, title_size: 80 } %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <div class="flex flex-wrap justify-between items-center px-5 py-3 bg-indigo-50 border border-indigo-100 rounded-sm text-left">
      <div class="text-slate-800 font-semibold animate-pulse">
        We're preparing a release summary for you, please wait...
      </div>
    </div>
  <% end %>
</div>
