<div class="rounded-lg border-slate-200 border flex flex-col p-4">
  <div class="flex flex-row justify-between">
    <div><%= name %></div>
    <%= link_to_external external_url, title: "Monitoring Dashboard" do %>
      <div><%= image_tag("integrations/logo_#{provider.to_s}.png", width: 20, height: 20) %></div>
    <% end %>
  </div>
  <div class="grid grid-cols-2 divide-x mt-2 place-content-between">
    <% values.each do |key, val| %>
      <div class="flex flex-col py-2 first:px-0 px-3">
        <div class="text-xs text-gray-400 uppercase"><%= key %></div>
        <div class="flex items-center gap-x-1 text-xl <%= metric_color(val[:is_healthy]) %>" title="<%= metric_title(val) %>">
          <%= val[:value] %>
          <% if current_user.release_monitoring? && val[:is_healthy] == false %>
            <%= inline_svg "exclamation.svg", classname: "w-5 h-5 text-red-800" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
