<%= render StatCardComponent.new(name, size:, external_url:, external_url_title: "Go to dashboard") do |stat| %>
  <% stat.with_icon("integrations/logo_#{provider.to_s}.png", size: :md, rounded: false) if provider %>

  <div class="grid grid-cols-2 divide-x place-content-between">
    <% values.each do |key, val| %>
      <div class="flex flex-col py-1 first:px-0 px-3 gap-y-1">
        <div class="text-xs text-main-400 uppercase"><%= key %></div>
        <% if health_defined?(val) %>
          <%= render V2::TooltipComponent.new(rule_for(val), placement: "top") do |tooltip| %>
            <% tooltip.with_body do %>
              <div class="flex items-center gap-x-1 <%= text_size %> <%= metric_color(val[:is_healthy]) %>">
                <%= val[:value] %>
              </div>
            <% end %>
          <% end %>
        <% else %>
          <div class="flex items-center gap-x-1 <%= text_size %> text-main">
            <%= val[:value] %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
