<%= render StatCardComponent.new(name, external_url:, external_url_title: "Go to dashboard") do |stat| %>
  <% stat.with_icon("integrations/logo_#{provider.to_s}.png", size: :md, rounded: false) %>

  <div class="grid grid-cols-2 divide-x place-content-between">
    <% values.each do |key, val| %>
      <div class="flex flex-col py-1 first:px-0 px-3 gap-y-1">
        <div class="text-xs text-main-400 uppercase"><%= key %></div>
        <div class="flex items-center gap-x-1 <%= text_size %> <%= metric_color(val[:is_healthy]) %>" title="<%= metric_title(val) %>">
          <%= val[:value] %>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
