<% if enabled? %>
  <%= render V2::TableComponent.new(columns: ["kind", "channels", "status", ""]) do |table| %>
    <% display_settings.each do |setting| %>
      <% table.with_row do |row| %>
        <% row.with_cell do %>
          <div class="inline-flex items-center">
            <%= render V2::IconComponent.new(icon_for(setting), size: :md, classes: "mr-2") %>
            <%= setting.display_attr(:kind) %>
          </div>
        <% end %>

        <% row.with_cell do %>
          <% if setting.active? %>
            <div class="flex overflow-x-hidden hover:overflow-x-auto gap-x-3">
              <% setting.notification_channels&.each do |channel| %>
                <div class="inline-flex items-center">
                  <%= render V2::IconComponent.new("integrations/logo_#{setting.notification_provider}.png", size: :md, classes: "mr-1") %>
                  <%= channel["name"] %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% row.with_cell do %>
          <%= render V2::StatusIndicatorPillComponent.new(text: status_text(setting), status: status_type(setting)) %>
        <% end %>

        <% row.with_cell(wrap: true) do %>
          <%= render V2::ModalComponent.new(title: "Notification: #{setting.display_attr(:kind)}",
                                            subtitle: description_for(setting)) do |modal| %>
            <% button = modal.with_button(scheme: :light,
                                          type: :action,
                                          size: :xxs) %>
            <% button.with_icon("v2/pencil.svg") %>
            <% modal.with_body do %>
              <%= render V2::FormComponent.new(model: [app, train, setting],
                                               url: app_train_notification_setting_path(app, train, setting),
                                               method: :put) do |f| %>
                <% f.with_section(heading: "Select") do |section| %>
                  <% section.with_description do %>
                    <div>One or more channel names for this type of notification.</div>
                  <% end %>
                  <%= render V2::Form::SwitchComponent.new(form: section.F,
                                                           field_name: :active,
                                                           switch_id: "active-switch-#{setting.id}",
                                                           on_label: "Notifications enabled",
                                                           off_label: "Notifications disabled") do |switch| %>
                    <% switch.with_child do %>
                      <%= section.F.labeled_select :notification_channels,
                                                   "Channels",
                                                   options_for_select(
                                                     display_channels(setting.channels) { |chan| "#" + chan[:name] },
                                                     default_channels_for(setting)
                                                   ),
                                                   {},
                                                   { multiple: true, data: { controller: "input-select" } } %>
                    <% end %>
                  <% end %>

                  <%= render partial: "shared/notifications_refresh", locals: { app: app } %>
                <% end %>

                <% f.with_action do %>
                  <% f.F.authz_submit "Save", "v2/archive.svg", size: :xs %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <section class="my-4">
    <div class="px-5 py-3 bg-indigo-50 border border-indigo-100 rounded-sm text-left">
      <div class="text-slate-700 text-sm">To disable all notifications, go to
        <%= link_to "Train Settings", edit_app_train_path(train.app, train), class: "underline", data: { turbo: false } %>
      </div>
    </div>
  </section>
<% else %>
  <%= render V2::EmptyStateComponent.new(title: "Notifications are disabled",
                                         text: "Enable notifications for the app and the train to configure notification settings.",
                                         banner_image: "bell.svg",
                                         type: :subdued) %>
<% end %>
