<% if enabled? %>
  <%= render TableComponent.new(columns: ["kind", "channels", "status", ""]) do |table| %>
    <% display_settings.each do |setting| %>
      <% setting = notification_setting_component(setting) %>
      <% table.with_row do |row| %>
        <% row.with_cell do %>
          <div class="inline-flex items-center">
            <%= render IconComponent.new(setting.icon, size: :md, classes: "mr-2") %>
            <%= setting.display %>
          </div>
        <% end %>

        <% row.with_cell do %>
          <% if setting.active? %>
            <div class="flex overflow-x-hidden hover:overflow-x-auto gap-x-3">
              <% setting.notification_channels&.each do |channel| %>
                <div class="inline-flex items-center">
                  <%= render IconComponent.new("integrations/logo_#{setting.notification_provider}.png", size: :md, classes: "mr-1") %>
                  <%= channel["name"] %>
                </div>
              <% end %>
            </div>
          <% end %>
        <% end %>

        <% row.with_cell do %>
          <%= render setting.status_pill %>
        <% end %>

        <% row.with_cell(wrap: true) do %>
          <%= render ModalComponent.new(title: setting.modal_title, subtitle: setting.description) do |modal| %>
            <% button = modal.with_button(scheme: :light, type: :action, size: :xxs) %>
            <% button.with_icon("pencil.svg") %>
            <% modal.with_body do %>
              <%= tag.turbo_frame id: setting.edit_frame_id, src: setting.edit_path, loading: :lazy, class: "with-turbo-frame-loader", target: "_top" do %>
                <%= render LoadingIndicatorComponent.new(skeleton_only: true, turbo_frame: true) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <section class="my-4">
    <div class="px-5 py-3 bg-indigo-50 border border-indigo-100 rounded-sm text-left">
      <div class="text-slate-700 text-sm">To disable all notifications, go to
        <%= link_to "Train Settings", edit_app_train_path(train.app, train), class: "underline", data: { turbo: false } %>
      </div>
    </div>
  </section>
<% else %>
  <%= render EmptyStateComponent.new(title: "Notifications are disabled",
                                         text: "Enable notifications for the app and the train to configure notification settings.",
                                         banner_image: "bell.svg",
                                         type: :subdued) %>
<% end %>
