<div class="grid <%= grid_size %> gap-4 items-start">
  <% if cross_platform? %>
    <% platform_runs.each do |run| %>
      <div class="flex flex-col items-start item-gap-default">
        <span class="text-xl text-secondary-50/50 border-b border-main-300/30 py-1 justify-self-start pl-0.5 pr-1.5">
          <%= run.display_attr(:platform) %>
        </span>

        <% if @detail && @release.active? %>
          <% if run.concluded? %>
            <% if run.has_active_rollout_in_other_release? %>
              <div class="w-full">
                <%= render AlertComponent.new(title: "The #{run.display_attr(:platform)} release has been superseded by a newer release. No further changes can be made.", type: :warning, full_screen: false, dismissible: false) %>
              </div>
            <% else %>
              <div class="w-full">
                <%= render AlertComponent.new(title: "The #{run.display_attr(:platform)} rollout is complete, but critical fixes can still be applied if needed.", type: :success, full_screen: false, dismissible: false) %>
              </div>
            <% end %>
          <% elsif !run.active? %>
            <div class="w-full">
              <%= render AlertComponent.new(title: "The #{run.display_attr(:platform)} release is finished and will not accept new changes.", type: :info, full_screen: false, dismissible: false) %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>

  <%= content %>
</div>
