<%= render StatCardComponent.new(name, external_url: "/", external_url_title: "Show Progress") do |stat| %>
  <% stat.with_icon("integrations/logo_#{provider.to_s}.png", size: :md, rounded: false) %>

  <div class="flex flex-row justify-between items-end">
    <div class="<%= text_size %>"><%= current %>%</div>
    <div class="text-xs text-main-400"><%= subtitle %></div>
  </div>

  <%= render V2::ProgressBarComponent.new(percent: current, label: false) %>
<% end %>
