<% if release_data.present? %>
  <article class="mt-4">
    <div class="text-slate-500 text-md"><%= build_identifier %></div>
    <div class="grid grid-cols-2 gap-5 mt-4">
      <%= render ProgressCardComponent.new(name: "Staged Rollout",
                                           current: staged_rollout_percentage,
                                           subtitle: staged_rollout_text,
                                           provider: store_provider) %>
      <%= render ProgressCardComponent.new(name: "Adoption Rate",
                                           current: adoption_rate,
                                           subtitle: "Last 24 hours",
                                           provider: monitoring_provider) %>
      <%= render MetricCardComponent.new(name: "Stability",
                                         values: { "users" => { value: user_stability, is_healthy: false },
                                                   "sessions" => { value: session_stability, is_healthy: true } },
                                         provider: monitoring_provider,
                                         external_url: monitoring_provider_url) %>
      <%= render MetricCardComponent.new(name: "Errors",
                                         values: { "total" => { value: errors_count },
                                                   "new" => { value: new_errors_count } },
                                         provider: monitoring_provider,
                                         external_url: monitoring_provider_url) %>
      <% if adoption_chart_data.present? %>
        <div class="col-span-2"><%= render ChartComponent.new(adoption_chart_data, icon: "sparkles.svg") %></div>
      <% end %>
    </div>
    <% if helpers.current_user.release_monitoring? && events.present? %>
      <div class="text-slate-500 text-md mt-4">Health Trigger Events</div>
      <div class="mt-4 ml-2">
        <%= render TimelineComponent.new(events:) %>
      </div>
    <% end %>
  </article>
<% end %>
