<% if release_data.present? %>
  <article class="mt-4">
    <div class="text-slate-500 text-md"><%= build_identifier %></div>
    <div class="grid grid-cols-2 gap-5 mt-4">
      <%= render ProgressCardComponent.new(name: "Staged Rollout",
                                           current: staged_rollout_percentage,
                                           subtitle: staged_rollout_text,
                                           provider: store_provider) %>
      <%= render ProgressCardComponent.new(name: "Adoption Rate",
                                           current: adoption_rate,
                                           subtitle: "Last 24 hours",
                                           provider: monitoring_provider) %>
      <%= render MetricCardComponent.new(name: "Crash-free Rate",
                                         values: { "sessions" => session_stability, "users" => user_stability },
                                         provider: monitoring_provider,
                                         external_url: monitoring_provider_url) %>
      <%= render MetricCardComponent.new(name: "Errors",
                                         values: { "total" => errors_count, "new" => new_errors_count },
                                         provider: monitoring_provider,
                                         external_url: monitoring_provider_url) %>
    </div>
  </article>
<% end %>
