<div data-controller="search-form" data-search-form-query-value="<%= query_field %>">
  <div class="flex flex-col item-gap-default">
    <div class="flex flex-row justify-between">
      <div class="flex flex-row items-end">
        <%= text_field_tag search_name, search_value, {
              placeholder: search_placeholder.presence || "Search",
              class: "form-input inline-flex w-full",
              autocomplete: "off",
              autofocus: true,
              data: {search_form_target: "searchInput", action: "input->search-form#search"}
            } %>

        <%= tag.div "clear", class: "underline hover:cursor-pointer text-xs ml-2", data: {action: "click->search-form#clear"} %>
      </div>

      <div class="flex items-end">
        <%= notice %>
      </div>
    </div>

    <%= search_form %>

    <% frame = EnhancedTurboFrameComponent.new(turbo_frame, classes: "with-turbo-frame-loader") %>
    <% frame.with_loading_indicator %>
    <%= render frame do %>
      <%= content %>
    <% end %>
  </div>
</div>
