<div data-controller="search-form" data-search-form-query-value="<%= QUERY_FIELD %>">
  <%= text_field %>
  <%= clear_search %>

  <%= tag.turbo_frame id: FRAME do %>
    <%= content %>
  <% end %>
</div>
