<div data-controller="<%= data_controllers %>">
  <% if label? %>
    <label class="<%= EnhancedFormHelper::AuthzForm::LABEL_CLASSES %>" for=<%= id %>>
      <%= @label %>
    </label>
  <% end %>

  <div class="flex">
    <% if label? %>
      <input type="<%= type %>" id="<%= id %>" value="<%= value %>" data-clipboard-target="source" data-password-visibility-target="source" readonly class="truncate <%= input_styles %> !rounded-tr-none !rounded-br-none"/>
    <% else %>
      <div value="<%= value %>" data-clipboard-target="source" data-password-visibility-target="source" class="<%= input_styles %> !rounded-tr-none !rounded-br-none"><%= value %></div>
    <% end %>

    <div class="flex flex-row gap-2 items-center <%= actions_styles %>">
      <% if @password %>
        <%= render ButtonComponent.new(
          scheme: :naked_icon,
          html_options: { class: "cursor-pointer", data: { action: "password-visibility#toggle", password_visibility_target: "button" } },
          size: :none,
          authz: false,
          type: :action) do |b|
          b.with_icon("eye.svg", size: :md)
        end %>
      <% end %>

      <%= render ButtonComponent.new(
        scheme: :naked_icon,
        html_options: { class: "cursor-pointer", data: { action: "clipboard#copy", clipboard_target: "button" } },
        size: :none,
        authz: false,
        type: :action) do |b|
        b.with_icon("clipboard_copy.svg", size: :md)
        b.with_tooltip(clipboard_tooltip, placement: "right")
      end %>
    </div>
  </div>

  <div hidden>
    <%= render ButtonComponent.new(
      scheme: :naked_icon,
      html_options: { class: icon_styles, data: { password_visibility_target: "success" } },
      size: :none,
      authz: false,
      type: :action) do |b|
      b.with_icon("eye_off.svg", size: :md)
    end %>
  </div>

  <div hidden>
    <%= render ButtonComponent.new(
      scheme: :naked_icon,
      html_options: { class: icon_styles, data: { clipboard_target: "success" } },
      size: :none,
      authz: false,
      type: :action) do |b|
      b.with_icon("check.svg", size: :md)
    end %>
  </div>
</div>
