<article class="grid grid-cols-7 gap-x-1 py-6">
  <div class="justify-start col-span-4">
    <div class="mr-5 mb-2">
      <div class="flex items-center">
        <div class="text-3xl font-bold text-slate-800 mr-2"><%= current_stage_perc %></div>
        <div class="text-sm text-slate-400">of users</div>
      </div>
      <div class="text-sm text-slate-500 my-1"><%= badge %></div>
      <div class="text-sm text-slate-500 my-1"><%= stage_help %></div>
    </div>

    <div class="justify-start">
      <div class="grid grid-cols-1 gap-y-1 mt-1">
        <% actions.each do |action| %>
          <%= form_with(model: [release, step_run, deployment_run, staged_rollout], url: action[:form_url],
                        data: { turbo_confirm: action[:confirm] }, builder: ButtonHelper::AuthzForms) do |form| %>
            <% form.authz_submit action[:type], action[:name], class: "btn-xs" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="col-span-3 justify-self-end">
    <%= render StagedRollout::ConfigComponent.new(config:, current_stage:, disabled: fully_released?) %>
  </div>
</article>
