<% if editable %>
  <div class="p-1">
    <% if step.train.active_runs.none? %>
      <%= render V2::ModalComponent.new(title: "Edit step") do |modal| %>
        <% modal.with_button(scheme: :light, type: :action, size: :xxs, arrow: :none)
                .with_icon("edit.svg", size: :md) %>
        <% modal.with_body do %>
          <%= render V2::FormComponent.new(model: step, url: app_train_platform_step_path(step.app, step.train, step.release_platform, step), method: :patch) do |f| %>
            <%= render 'steps/form', form: f, step: step, release_platform: step.release_platform, ci_actions: step.ci_cd_provider.workflows, train: step.train %>

            <div class="mb-8">
              <div class="sm:flex sm:justify-between sm:items-center mt-8">
                <p class="font-bold text-xl">
                  <%= Deployment.display.pluralize %>
                </p>
              </div>

              <% if step.deployments.size > 1 %>
                <div class="text-sm mt-1">
                  Automatic distribution to all non-production distribution channels without any manual approval is
                  <mark><%= auto_deploy_status(step) %></mark>
                </div>
              <% end %>

              <div class="mt-4">
                <%= render partial: "shared/deployments", locals: { step: step, show_deployment_status: false, platform_run: nil, step_run: nil } %>
              </div>
            </div>

            <% f.with_action do %>
              <% f.F.authz_submit "Update", "v2/archive.svg" %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <div class="flex self-end">
        <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none" disabled="disabled">
          <%= inline_svg("edit.svg", classname: "opacity-80 w-4") %>
        </button>
      </div>
    <% end %>
  </div>
<% end %>
