<% url = train.new_record? ? app_trains_path(app) : app_train_path(app, train) %>

<%= form_with(model: [app, train],
              url: url,
              builder: ButtonHelper::AuthzForms) do |form| %>

  <div class="grid gap-5 md:grid-cols-2">
    <div data-controller="domain--branch-name-help"
         data-domain--branch-name-help-current-value="<%= train.display_name %>">
      <%= form.label :name, class: "block text-sm font-medium mb-1" %>
      <%= form.text_field :name,
                          class: "form-input w-full",
                          placeholder: "Enter train name...",
                          required: true,
                          data: { domain__branch_name_help_target: "input",
                                  action: "domain--branch-name-help#set" } %>
      <div class="text-sm mt-1">
        <p class="italic">
          <span data-domain--branch-name-help-target="helpTextTitle"></span>
          <span class="font-mono" data-domain--branch-name-help-target="helpTextVal"></span>
        </p>
      </div>

      <div>
        <%= form.label :description, class: "block text-sm font-medium mb-1" %>
        <%= form.text_area :description, class: "form-input w-full h-24",
                           placeholder: "Describe the purpose of your train..." %>
      </div>
    </div>

    <div>
      <%= form.label :major_version_seed, "Current Major Version", class: "inline-flex text-sm font-medium mb-1" %>
      <%= form.text_field :major_version_seed,
                          class: text_field_classes(is_disabled: false),
                          placeholder: "will only be bumped manually",
                          required: true,
                          data: { domain__version_name_help_target: "input",
                                  action: "domain--version-name-help#bump" } %>
      <%= form.label :minor_version_seed, "Current Minor Version", class: "inline-flex text-sm font-medium mb-1" %>
      <%= form.text_field :minor_version_seed,
                          class: text_field_classes(is_disabled: false),
                          placeholder: "bumped for every new release",
                          required: true,
                          data: { domain__version_name_help_target: "input",
                                  action: "domain--version-name-help#bump" } %>
      <%= form.label :patch_version_seed, "Current Point Version (optional)", class: "inline-flex text-sm font-medium mb-1" %>
      <%= form.text_field :patch_version_seed,
                          class: text_field_classes(is_disabled: false),
                          placeholder: "bumped only for hotfixes",
                          required: false,
                          data: { domain__version_name_help_target: "input",
                                  action: "domain--version-name-help#bump" } %>
    </div>
  </div>

  <div class="text-xl text-slate-600 font-medium mt-8 mb-2">Branching strategy</div>
  <div class="grid gap-x-5 md:grid-cols-2">
    <div data-controller="branching-selector">
      <%= form.label "Strategy", class: "block text-sm font-medium mb-1" %>
      <%= form.select :branching_strategy,
                      options_for_select(Releases::Train::BRANCHING_STRATEGIES.invert, train.branching_strategy),
                      { required: true, },
                      { class: text_field_classes(is_disabled: train.persisted?), data: { action: 'branching-selector#change' }, disabled: train.persisted? } %>
    </div>

    <div>
      <%= form.label :working_branch, class: "block text-sm font-medium mb-1" %>
      <%= form.text_field :working_branch, class: text_field_classes(is_disabled: train.persisted?), placeholder: "eg., master, main", disabled: train.persisted? %>
    </div>

    <div class="almost_trunk hidden"></div>

    <div><!-- this is required to maintain intended grid structure --></div>

    <div class="release_backmerge hidden">
      <div>
        <%= form.label :release_backmerge_branch, class: "block text-sm font-medium my-1" %>
        <%= form.text_field :release_backmerge_branch, class: text_field_classes(is_disabled: train.persisted?), placeholder: "eg., dev", disabled: train.persisted? %>
      </div>
    </div>

    <div class="parallel_working hidden">
      <div>
        <%= form.label :release_branch, class: "block text-sm font-medium my-1" %>
        <%= form.text_field :release_branch, class: text_field_classes(is_disabled: train.persisted?), placeholder: "eg., production", disabled: train.persisted? %>
      </div>
    </div>
  </div>

  <% unless train.persisted? %>
    <div class="text-sm mt-4">
      Refer to the <%= link_to_external "docs", "https://docs.tramline.app/branching-strategies", class: "underline" %> to learn more about our supported branching strategies.
    </div>
  <% end %>

  <div class="mt-10">
    <%= form.authz_submit :blue, train.persisted? ? "Update Train" : "Create Train" %>
  </div>
<% end %>

<% if train.steps.size > 0 && train.persisted? %>
  <div class="text-2xl font-bold mt-8 mb-4 pt-4 border-t border-dashed">Steps</div>
  <div class="w-1/2">
    <%= render partial: "shared/step_tree_viz", locals: { train: @train, editable: true } %>
  </div>
<% elsif train.persisted? %>
  <div class="text-2xl font-bold mt-8 mb-4 pt-4 border-t border-dashed">Steps</div>
  <div class="w-1/2">
    <%= render partial: "trains/step_creation", locals: { app: app, train: train } %>
  </div>
<% end %>
