<% url = train.new_record? ? app_trains_path(app) : app_train_path(app, train) %>

<%= form_with(model: [app, train],
              url: url,
              builder: ButtonHelper::AuthzForms) do |form| %>
  <div class="mb-8">
    <% if train.new_record? %>
      <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Create a new train 🚦</h1>
    <% else %>
      <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Settings: <%= train.name %></h1>
    <% end %>
  </div>

  <div class="border-t my-8"></div>

  <div class="grid gap-5 md:grid-cols-2">
    <div data-controller="domain--branch-name-help"
         data-domain--branch-name-help-current-value="<%= train.display_name %>">
      <%= form.label :name, class: "block text-sm font-medium mb-1" %>
      <%= form.text_field :name,
                          class: "form-input w-full",
                          placeholder: "Enter train name...",
                          required: true,
                          data: { domain__branch_name_help_target: "input",
                                  action: "domain--branch-name-help#set" } %>
      <div class="text-sm mt-1">
        <p class="italic">
          <span data-domain--branch-name-help-target="helpTextTitle"></span>
          <span class="font-mono" data-domain--branch-name-help-target="helpTextVal"></span>
        </p>
      </div>
    </div>

    <div>
      <%= form.label :description, class: "block text-sm font-medium mb-1" %>
      <%= form.text_area :description, class: "form-input w-full h-24",
                         placeholder: "Describe the purpose of your train..." %>
    </div>

    <div data-controller="domain--version-name-help"
         data-domain--version-name-help-disabled-value="<%= train.persisted? %>"
         data-domain--version-name-help-version-current-value="<%= train.version_current %>">
      <%= form.label :version_seeded_with, class: "block text-sm font-medium mb-1" %>
      <%= form.text_field :version_seeded_with,
                          class: text_field_classes(is_disabled: train.persisted?),
                          placeholder: "eg., 0.1.0",
                          required: true,
                          disabled: train.persisted?,
                          data: { domain__version_name_help_target: "input",
                                  action: "domain--version-name-help#bump" } %>
      <div class="text-sm mt-1">
        <p class="italic">
          <span data-domain--version-name-help-target="helpTextTitle"></span>&nbsp;
          <span class="font-mono" data-domain--version-name-help-target="helpTextVal"></span>
        </p>
        <p class="pt-2">
          Tramline increments the version name for every release build created, which guarantees that every build can be
          uniquely identified. We follow <a href="https://semver.org" class="underline">SemVer</a>.
        </p>
        <p class="pt-1">
          Every new release will increment the minor version.
          Every build generated during a release itself will increment the patch version. Once this is setup, teams do
          not need to worry about manually incrementing the version name for every release.
        </p>
      </div>
    </div>
  </div>

  <% if @app.sign_offs_enabled? %>
    <div class="text-xl text-slate-600 font-medium mt-8 mb-2">Sign-off groups</div>
    <div>
      <%= form.select :sign_off_group_ids,
                      options_for_select(app.sign_off_groups.map { |group| [group.name, group.id] }, train.sign_off_groups.pluck(:id)),
                      { required: true },
                      { class: "form-input w-1/2", multiple: true, id: "slim-select", data: { controller: "input-select" } } %>
    </div>
  <% end %>

  <div class="text-xl text-slate-600 font-medium mt-8 mb-2">Branching strategy</div>
  <div class="grid gap-x-5 md:grid-cols-2">
    <div data-controller="branching-selector">
      <%= form.label "Strategy", class: "block text-sm font-medium mb-1" %>
      <%= form.select :branching_strategy,
                      options_for_select(Releases::Train::BRANCHING_STRATEGIES.invert, train.branching_strategy),
                      { required: true, },
                      { class: text_field_classes(is_disabled: train.persisted?), data: { action: 'branching-selector#change' }, disabled: train.persisted? } %>
    </div>

    <div>
      <%= form.label :working_branch, class: "block text-sm font-medium mb-1" %>
      <%= form.text_field :working_branch, class: text_field_classes(is_disabled: train.persisted?), placeholder: "eg., master, main", disabled: train.persisted? %>
    </div>

    <div class="almost_trunk hidden"></div>

    <div><!-- this is required to maintain intended grid structure --></div>

    <div class="release_backmerge hidden">
      <div>
        <%= form.label :release_backmerge_branch, class: "block text-sm font-medium my-1" %>
        <%= form.text_field :release_backmerge_branch, class: text_field_classes(is_disabled: train.persisted?), placeholder: "eg., dev", disabled: train.persisted? %>
      </div>
    </div>

    <div class="parallel_working hidden">
      <div>
        <%= form.label :release_branch, class: "block text-sm font-medium my-1" %>
        <%= form.text_field :release_branch, class: text_field_classes(is_disabled: train.persisted?), placeholder: "eg., production", disabled: train.persisted? %>
      </div>
    </div>
  </div>

  <% unless train.persisted? %>
    <div class="mt-4">
      <span class="font-semibold">Almost Trunk</span> is the simplest strategy and the one that we recommend. For every
      release, we will create a new release branch from the HEAD of the working branch. Release-specific fixes should
      not be committed to the release branch directly. Instead, you should land the fixes on your working branch, and
      then cherry-pick them on to the release branch.
      <br/> <br/>
      <span class="font-semibold">Release with Backmerge</span> creates a new release branch from the HEAD of the
      working branch, for every release. Once the release is finalized, two things happen: 1/ the release branch is
      merged into the backmerge (production) branch, and 2/ the backmerge branch is "backmerged" into the working
      branch.
      <br/> <br/>
      <span class="font-semibold">Parallel Working and Release</span> does not create a new release branch for every
      release. Instead, at the start of a release, the working branch is merged into the release branch.
      Release-specific fixes land on the release branch directly. At the end of the release, the release branch is
      merged back into the working branch.
    </div>
  <% end %>

  <div class="mt-5">
    <%= form.authz_submit :blue, "Create Train" do %>
      <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
        <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"/>
      </svg>
    <% end %>
  </div>
<% end %>

<% if train.steps.size > 0 && train.persisted? %>
  <div class="text-2xl font-bold mt-8 mb-4 pt-4 border-t border-dashed">Steps</div>
  <ol class="relative border-l-4 border-gray-300 ml-3 mt-2">
    <% train.steps.order(:step_number).each do |step| %>
      <li class="mb-10 ml-6 last:mb-0">
        <div class="flex items-center">
          <span class="flex absolute -left-5 justify-center items-center w-9 h-6 bg-slate-200 rounded-full ring-8 ring-white"></span>

          <div class="pl-6">
            <% if train.active_run.blank? %>
              <%= authz_link_to :neutral, edit_step_path(step) do %>
                <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                  <path d="M11.7.3c-.4-.4-1-.4-1.4 0l-10 10c-.2.2-.3.4-.3.7v4c0 .6.4 1 1 1h4c.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4l-4-4zM4.6 14H2v-2.6l6-6L10.6 8l-6 6zM12 6.6L9.4 4 11 2.4 13.6 5 12 6.6z"></path>
                </svg>

                <span class="ml-2">
                  Edit step: <%= step.name %>
                </span>
              <% end %>
            <% else %>
              <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none" disabled="disabled">
                <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                  <path d="M11.7.3c-.4-.4-1-.4-1.4 0l-10 10c-.2.2-.3.4-.3.7v4c0 .6.4 1 1 1h4c.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4l-4-4zM4.6 14H2v-2.6l6-6L10.6 8l-6 6zM12 6.6L9.4 4 11 2.4 13.6 5 12 6.6z"></path>
                </svg>

                <span class="ml-2">
                  Edit step: <%= step.name %>
                </span>
              </button>
            <% end %>
          </div>
        </div>

        <div class="pl-6 pt-2">
          <%= render partial: "per_step_metadata", locals: { step: step } %>
        </div>
      </li>
    <% end %>

    <li class="mb-10 ml-6 last:mb-0">
      <div class="flex items-center mb-8">
        <span class="flex absolute -left-5 justify-center items-center w-9 h-6 bg-slate-200 rounded-full ring-8 ring-white"></span>

        <div class="pl-6">
          <% if train.active_run %>
            <button disabled="disabled" class="btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none">
              <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"></path>
              </svg>

              <span class="ml-2">Add another step</span>
            </button>
          <% else %>
            <%= authz_link_to :green, new_app_train_step_path(app, train) do %>
              <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
                <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"></path>
              </svg>

              <span class="ml-2">Add another step</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </li>
  </ol>
<% elsif train.persisted? %>
  <div class="text-2xl font-bold mt-8 mb-4 pt-4 border-t border-dashed">Steps</div>
  <%= authz_link_to :green, new_app_train_step_path(app, train) do %>
    <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
      <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"/>
    </svg>
    <span class="hidden xs:block ml-2">Add a new step</span>
  <% end %>
<% end %>
