<div class="flex flex-col space-y-4 text-sm">
  <%= render V2::FormComponent.new(model: [app, train, Release.new],
                                   method: :post,
                                   url: app_train_releases_path(app, train),
                                   free_form: false) do |f| %>
    <% f.with_section(heading: "Branch") do |section| %>
      <% section.with_description do %>
        <div>
          Hotfix releases are special releases that allow you to trigger any stage of your release pipeline,
          bypassing the defined order.
        </div>
      <% end %>

      <div>
        By default we will repurpose the release branch <strong><%= hotfix_from.release_branch %></strong> from the
        last
        successful release.
        You can override this setting below.
      </div>

      <%= render V2::Form::SwitchComponent.new(form: f.F,
                                               field_name: :new_hotfix_branch,
                                               on_label: "Hotfix branch will be cut from #{hotfix_from.tag_name}",
                                               off_label: "Create a new hotfix branch") %>
      <%= f.F.hidden_field :release_type, value: "hotfix" %>
    <% end %>

    <% if app.cross_platform? %>
      <% f.with_section(heading: "Platform") do |section| %>
        <% section.with_description do %>
          By default, the hotfix will be applied to both Android and iOS platforms.
        <% end %>

        <%= render V2::Form::SwitchComponent.new(form: section.F,
                                                 field_name: :platform_specific_hotfix,
                                                 on_label: "Applied to the selected platform",
                                                 off_label: "Applied to all platforms") do |switch| %>
          <% switch.with_child do %>
            <%= f.F.labeled_select :hotfix_platform,
                                   "Pick the platform to apply the hotfix",
                                   options_for_select(ReleasePlatform.allowed_platforms, "Android") %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% f.with_action do %>
      <%= f.F.authz_submit "Start", "zap.svg" %>
    <% end %>
  <% end %>
</div>
