<%= render Form::SwitchComponent.new(form:,
                                     field_name: :notifications_enabled,
                                     on_label: "Notifications enabled",
                                     off_label: "Notifications disabled") do |component| %>
  <% component.with_child do %>
    <div class="mb-2">
      <%= render Form::SwitchComponent.new(form:, field_name: :notifications_release_specific_channel_enabled,
                                           hide_child: false,
                                           on_label: "Send notifications to core and release specific channel(s)",
                                           off_label: "Send notifications core channel(s)") do |component1| %>

        <% component1.with_info_icon do %>
         <p>Core channel(s) consist of the default notification channel and any overrides configured in advanced settings.</p>
         <p>When release-specific channels are enabled, notifications can be sent to core channel(s) in addition to automatically created channels like <strong><%= release_specific_channel_pattern(@app) %></strong> for each release.</p>
        <% end %>
    <% end %>
    </div>

    <%= render partial: "shared/notifications_form",
               locals: {
                 form:,
                 channels: @notification_channels,
                 current: @current_notification_channel.to_json,
                 multiple: false,
                 field_name: :notification_channel,
                 field_title: "Default Notification Channel (select one)"
               } %>

    <div class="mt-4">
      <%= render Form::SwitchComponent.new(form:, field_name: :enable_changelog_linking_in_notifications,
                                           hide_child: false,
                                           on_label: "Link references in changelogs",
                                           off_label: "Do not link references in changelogs") do |component2| %>
        <% component2.with_info_icon do %>
         <p>When enabled, ticket IDs and pull request numbers in changelogs will be automatically converted to clickable links in notifications.</p>
         <p>This requires that your version control and project management integrations are configured.</p>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
