<div class="flex flex-col">
  <span class="text-slate-500"><%= simple_format step.description %></span>
  <span class="pt-1 flex items-center text-slate-500">
    <svg class="mr-2 icon icon-tabler icon-tabler-subtask" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <line x1="6" y1="9" x2="12" y2="9"/>
      <line x1="4" y1="5" x2="8" y2="5"/>
      <path d="M6 5v11a1 1 0 0 0 1 1h5"/>
      <rect x="12" y="7" width="8" height="4" rx="1"/>
      <rect x="12" y="15" width="8" height="4" rx="1"/>
    </svg>

    <span class="mr-8"><%= show_ci_cd_provider step %> • <%= show_ci_cd_channel step %></span>

    <svg class="mr-2 icon icon-tabler icon-tabler-package" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <polyline points="12 3 20 7.5 20 16.5 12 21 4 16.5 4 7.5 12 3"/>
      <line x1="12" y1="12" x2="20" y2="7.5"/>
      <line x1="12" y1="12" x2="12" y2="21"/>
      <line x1="12" y1="12" x2="4" y2="7.5"/>
      <line x1="16" y1="5.25" x2="8" y2="9.75"/>
    </svg>

    <% if step.external_deployment? %>
      <span>External (outside Tramline)</span>
    <% else %>
      <span><%= show_deployment_provider step %> • <%= show_deployment_channel step %></span>
    <% end %>
  </span>
</div>
