<div class="flex flex-col">
  <span class="text-slate-500"><%= simple_format step.description %></span>

  <span class="pt-1 flex items-center text-slate-500">
    <%= image_tag("workflow.svg", width: 16, class: "inline-flex mr-2") %>
    <span class="mr-8"><%= show_ci_cd_provider step %> • <%= show_ci_cd_channel step %></span>
  </span>

  <%= image_tag("arrow-down.svg", width: 16, class: "inline-flex mt-2 mb-2") %>

  <%= render partial: "shared/deployments", locals: { step: step } %>
</div>
