<article hidden data-branching-selector-target="schedule">
  <div class="text-xl text-slate-600 font-medium mt-2">Release Schedule (optional)</div>

  <% if @train.schedule_editable? %>
    <div class="text-sm mt-1 mb-6">
      Set a schedule for automatic kickoff of your release train. Leave blank for only manual control.
    </div>
    <section data-controller="domain--release-schedule-help toggle-switch"
             data-toggle-switch-on-label-value="Release Schedule enabled"
             data-toggle-switch-off-label-value="Release Schedule disabled">

      <div class="flex items-center">
        <div class="form-switch">
          <%= form.check_box :release_schedule_enabled,
                             { id: "release-schedule-switch",
                               class: "sr-only",
                               data: { action: "toggle-switch#change domain--release-schedule-help#change",
                                       domain__release_schedule_help_target: "checkbox",
                                       toggle_switch_target: "checkbox" } },
                             "true", "false" %>
          <label class="bg-slate-400" for="release-schedule-switch">
            <span class="bg-white shadow-sm" aria-hidden="true"></span>
            <span class="sr-only">Switch label</span>
          </label>
        </div>

        <div class="text-sm text-slate-600 ml-2" data-toggle-switch-target="output"></div>
      </div>

      <div data-domain--release-schedule-help-target="config" class="mt-4">
        <div class="grid gap-x-28 md:grid-cols-3">
          <div class="col-span-1">
            <%= form.label :kickoff_at, class: "block text-sm font-medium mb-1" %>
            <%= form.datetime_field :kickoff_at,
                                    class: "form-input",
                                    min: Date.current,
                                    data: { action: 'domain--release-schedule-help#change',
                                            domain__release_schedule_help_target: "kickoffDate" } %>
          </div>
          <div class="col-span-2">
            <%= form.label "Every", class: "block text-sm font-medium mb-1" %>
            <%= form.number_field :repeat_duration_value,
                                  class: "form-input w-1/4",
                                  step: 1,
                                  min: 1,
                                  default: nil,
                                  data: { action: 'domain--release-schedule-help#change',
                                          domain__release_schedule_help_target: "nextDateNumber" } %>
            <%= form.select :repeat_duration_unit,
                            options_for_select([%w[Day(s) days], %w[Week(s) weeks]], @train.repeat_duration_unit.presence || "days"),
                            { required: false },
                            { class: "form-input w-1/4",
                              data: { action: 'domain--release-schedule-help#change',
                                      domain__release_schedule_help_target: "nextDateUnit" } } %>
          </div>
          <div class="col-span-3 mt-2">
            <span class="text-sm italic mt-2 text-rose-700" data-domain--release-schedule-help-target="errOutput"></span>
          </div>
          <div class="col-span-3">
            <span class="block text-sm mt-2 mb-1" data-domain--release-schedule-help-target="output"></span>
          </div>
        </div>
      </div>
    </section>
  <% else %>
    <div class="text-sm mt-1 mb-6">
      Release Schedule cannot be edited once the train is activated.
    </div>

    <div class="text-sm font-medium mt-4"><%= release_schedule(@train) %></div>
  <% end %>
  <div class="border-t border-dashed border-slate-200 pb-8 mt-8"></div>
</article>
