<% if @train.schedule_editable? %>
  <section data-controller="domain--release-schedule-help">
    <%= render V2::Form::SwitchComponent.new(form:,
                                             field_name: :release_schedule_enabled,
                                             on_label: "Release Schedule enabled",
                                             off_label: "Release Schedule disabled",
                                             hide_child: !@train.release_schedule_enabled,
                                             switch_data: { action: "domain--release-schedule-help#change",
                                                            domain__release_schedule_help_target: "checkbox" }) do |component| %>

      <% component.with_child do %>
        <div class="grid gap-y-4 gap-x-2 md:grid-cols-3">
          <div class="col-span-1">
            <%= form.labeled_datetime_field :kickoff_at,
                                            "Kickoff at",
                                            { min: Date.current,
                                              data: { action: 'domain--release-schedule-help#change',
                                                      domain__release_schedule_help_target: "kickoffDate" } } %>
          </div>
          <div class="col-span-2">
            <%= form.label_only :repeat_duration, "Every" %>
            <div class="flex flex-row gap-x-2">
              <%= form.number_field_without_label :repeat_duration_value,
                                                  { step: 1,
                                                    min: 1,
                                                    default: nil,
                                                    data: { action: 'domain--release-schedule-help#change',
                                                            domain__release_schedule_help_target: "nextDateNumber" } } %>
              <%= form.select_without_label :repeat_duration_unit,
                                            options_for_select([%w[Day(s) days], %w[Week(s) weeks]], @train.repeat_duration_unit.presence || "days"),
                                            { required: false },
                                            { data: { action: 'domain--release-schedule-help#change',
                                                      domain__release_schedule_help_target: "nextDateUnit" } } %>
            </div>
          </div>
          <div class="col-span-3">
            <span class="text-sm text-rose-700" data-domain--release-schedule-help-target="errOutput"></span>
            <span class="text-sm" data-domain--release-schedule-help-target="output"></span>
          </div>
        </div>
      <% end %>
    <% end %>
  </section>
<% else %>
  <div class="text-sm mt-1 mb-6">
    Release Schedule cannot be edited once the train is activated.
  </div>

  <div class="text-sm font-medium mt-4"><%= release_schedule(@train) %></div>
<% end %>
