<%= render V2::Form::SwitchComponent.new(form:,
                                         field_name: :tag_releases,
                                         on_label: "Release Tag enabled",
                                         off_label: "Release Tag disabled",
                                         hide_child: @train.tag_releases?) do |component| %>
  <% component.with_child do %>
    <section data-controller="help-text">
      <div data-controller="domain--release-suffix-help"
           data-domain--release-suffix-help-version-value="<%= @train.version_current || @train.version_seeded_with || "1.0.0" %>"
           data-domain--release-suffix-help-version-suffix-current-value="<%= @train.tag_suffix %>"
           data-domain--release-suffix-help-prefix-value="v">
        <%= form.label :tag_suffix, class: "block text-sm font-medium mb-1" %>
        <%= form.text_field :tag_suffix,
                            class: "form-input w-full",
                            placeholder: "Eg: nightly",
                            autocomplete: "off",
                            data: { domain__release_suffix_help_target: "input",
                                    action: "domain--release-suffix-help#set" } %>
        <div class="text-sm mt-1">
          This is appended to the <strong>tag name</strong> of the release, as follows:&nbsp;
          <span class="font-mono" data-domain--release-suffix-help-target="helpText"></span>
        </div>
      </div>
    </section>
  <% end %>
<% end %>
