<% if !app.trains.any? || train_in_creation&.in_creation? %>
  <h3 class="text-xl font-semibold">Create your first release train...</h3>

  <div>
    <div class="pb-4">
      <% if train_in_creation&.in_creation? %>
        <p class="pb-2"><strong>Release trains</strong> also automatically trigger your CI/CD workflows and track the
          latest build artifacts that are generated.</p>
        <p class="pb-2">If you haven't set up any workflows yet, head over to
          the <%= link_to_external "docs", "https://docs.tramline.app/integrations/ci-cd", class: "underline" %> for
          assistance in creating Tramline-compatible workflows.</p>
        <p class="pb-2"><%= link_to_external "macige", "https://macige.tramline.app", class: "underline" %> — a workflow
          generator for mobile apps — can also help you get started.</p>
      <% else %>
        <p class="pb-2"><strong>Release trains</strong> represent the release cycle followed by your team when shipping
          apps.</p>
        <p class="pb-2">They offer various automations to your release cycle like creating branches, and creating
          releases on your VCS.</p>
        <p><%= link_to_external "Learn more about all the automations", "https://docs.tramline.app/branching-strategies", class: "underline" %>
          .</p>
      <% end %>
    </div>
  </div>

  <ol class="sm:flex w-full border-b pb-8">
    <% is_train_completed = setup_instructions[:train][:completed] %>
    <li class="relative w-8/12 mb-6 sm:mb-0 ">
      <div class="flex items-center">
        <div class="flex z-10 justify-center items-center w-10 h-10 <%= setup_instruction_color(is_train_completed) %> rounded-full ring-0 ring-white sm:ring-8 shrink-0">
          <% if is_train_completed %>
            <%= inline_svg("progress_check.svg", classname: "w-8 fill-current text-white") %>
          <% end %>
        </div>
      </div>

      <div class="mt-3 sm:pr-10">
        <h3 class="text-lg font-semibold text-gray-900 mb-2">Create a Release Train</h3>
        <% if is_train_completed %>
          <p class="text-base font-normal text-gray-500">This is complete!</p>
        <% else %>
          <%= authz_link_to :green, new_app_train_path(@app) do %>
            <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
            <span class="hidden xs:block ml-2">Create</span>
          <% end %>
        <% end %>
      </div>
    </li>

    <% if setup_instructions[:ios_review_step].present? %>
      <% is_ios_review_step_visible = setup_instructions[:ios_review_step][:visible] %>
      <% is_ios_review_step_completed = setup_instructions[:ios_review_step][:completed] %>
      <li class="relative w-full mb-6 sm:mb-0 <%= "opacity-30" unless is_ios_review_step_visible %>">
        <div class="flex items-center">
          <div class="flex z-10 justify-center items-center w-10 h-10 <%= setup_instruction_color(is_ios_review_step_completed) %> rounded-full ring-0 ring-white sm:ring-8 shrink-0">
            <% if is_ios_review_step_completed %>
              <%= inline_svg("progress_check.svg", classname: "w-8 fill-current text-white") %>
            <% end %>
          </div>
        </div>
        <div class="mt-3 sm:pr-10">
          <h3 class="text-lg font-semibold text-gray-900 mb-2">Create iOS Review Steps</h3>
          <% if is_ios_review_step_completed %>
            <p class="text-base font-normal text-gray-500">This is complete!</p>
          <% else %>
            <p class="text-base font-normal text-gray-500">Configure your iOS review / debug workflows</p>
            <% if train_in_creation %>
              <%= authz_link_to :blue, new_app_train_platform_step_path(app, train_in_creation, train_in_creation.ios_train, kind: Step.kinds[:review]), class: "mt-4" do %>
                <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
                <span class="hidden xs:block ml-2">Add a review step</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>

    <% if setup_instructions[:ios_release_step].present? %>
      <% is_ios_release_step_visible = setup_instructions[:ios_release_step][:visible] %>
      <% is_ios_release_step_completed = setup_instructions[:ios_release_step][:completed] %>
      <li class="relative w-full mb-6 sm:mb-0 <%= "opacity-30" unless is_ios_release_step_visible %>">
        <div class="flex items-center">
          <div class="flex z-10 justify-center items-center w-10 h-10 <%= setup_instruction_color(is_ios_release_step_completed) %> rounded-full ring-0 ring-white sm:ring-8 shrink-0">
            <% if is_ios_release_step_completed %>
              <%= inline_svg("progress_check.svg", classname: "w-8 fill-current text-white") %>
            <% end %>
          </div>
        </div>

        <div class="mt-3 sm:pr-10">
          <h3 class="text-lg font-semibold text-gray-900 mb-2">Setup iOS Release Step</h3>
          <% if is_ios_release_step_completed %>
            <p class="text-base font-normal text-gray-500">This is complete!</p>
          <% else %>
            <p class="text-base font-normal text-gray-500">Configure your iOS release candidate workflow</p>
            <% if train_in_creation %>
              <%= authz_link_to :blue, new_app_train_platform_step_path(app, train_in_creation, train_in_creation.ios_train, kind: Step.kinds[:release]), class: "mt-4" do %>
                <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
                <span class="hidden xs:block ml-2">Add a release step</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>

    <% if setup_instructions[:android_review_step].present? %>
      <% is_android_review_step_visible = setup_instructions[:android_review_step][:visible] %>
      <% is_android_review_step_completed = setup_instructions[:android_review_step][:completed] %>
      <li class="relative w-full mb-6 sm:mb-0 <%= "opacity-30" unless is_android_review_step_visible %>">
        <div class="flex items-center">
          <div class="flex z-10 justify-center items-center w-10 h-10 <%= setup_instruction_color(is_android_review_step_completed) %> rounded-full ring-0 ring-white sm:ring-8 shrink-0">
            <% if is_android_review_step_completed %>
              <%= inline_svg("progress_check.svg", classname: "w-8 fill-current text-white") %>
            <% end %>
          </div>
        </div>
        <div class="mt-3 sm:pr-10">
          <h3 class="text-lg font-semibold text-gray-900 mb-2">Create Android Review Steps</h3>
          <% if is_android_review_step_completed %>
            <p class="text-base font-normal text-gray-500">This is complete!</p>
          <% else %>
            <p class="text-base font-normal text-gray-500">Configure your Android review / debug workflows</p>
            <% if train_in_creation %>
              <%= authz_link_to :blue, new_app_train_platform_step_path(app, train_in_creation, train_in_creation.android_train, kind: Step.kinds[:review]), class: "mt-4" do %>
                <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
                <span class="hidden xs:block ml-2">Add a review step</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>

    <% if setup_instructions[:android_release_step].present? %>
      <% is_android_release_step_visible = setup_instructions[:android_release_step][:visible] %>
      <% is_android_release_step_completed = setup_instructions[:android_release_step][:completed] %>
      <li class="relative w-full mb-6 sm:mb-0 <%= "opacity-30" unless is_android_release_step_visible %>">
        <div class="flex items-center">
          <div class="flex z-10 justify-center items-center w-10 h-10 <%= setup_instruction_color(is_android_release_step_completed) %> rounded-full ring-0 ring-white sm:ring-8 shrink-0">
            <% if is_android_release_step_completed %>
              <%= inline_svg("progress_check.svg", classname: "w-8 fill-current text-white") %>
            <% end %>
          </div>
        </div>

        <div class="mt-3 sm:pr-10">
          <h3 class="text-lg font-semibold text-gray-900 mb-2">Setup Android Release Step</h3>
          <% if is_android_release_step_completed %>
            <p class="text-base font-normal text-gray-500">This is complete!</p>
          <% else %>
            <p class="text-base font-normal text-gray-500">Configure your Android release candidate workflow</p>
            <% if train_in_creation %>
              <%= authz_link_to :blue, new_app_train_platform_step_path(app, train_in_creation, train_in_creation.android_train, kind: Step.kinds[:release]), class: "mt-4" do %>
                <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
                <span class="hidden xs:block ml-2">Add a release step</span>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </li>
    <% end %>

  </ol>
<% end %>
