<% if app.guided_train_setup? %>
  <%= render SectionComponent.new(title: "Setup your first release 🚃", style: :titled) do %>
    <div class="flex flex-col gap-2 mb-8">
      <p>
        With <strong>Tramline</strong>, you can tune and automate your release to your
        liking. <%= link_to_external "Getting started with Tramline.", "https://docs.tramline.app/using-tramline", class: "underline" %>
      </p>
      <p>
        Tramline automatically triggers your CI/CD workflows and tracks the latest build
        artifacts that are generated.</p>
      <p>
        If you haven't set up any workflows yet, head over to
        the <%= link_to_external "docs", "https://docs.tramline.app/integrations/ci-cd", class: "underline" %> for
        assistance in creating Tramline-compatible workflows.</p>
      <p>
        <%= link_to_external "macige", "https://macige.tramline.app", class: "underline" %> — a workflow generator
        for mobile apps — can also help you get started.</p>
      <p>But first, let's setup your first release!</p>
    </div>

    <ol class="sm:flex w-full border-b pb-12">
      <li class="relative w-8/12 mb-6 sm:mb-0 ">
        <div class="flex items-center">
          <div class="flex z-10 justify-center items-center w-10 h-10 bg-blue-200 rounded-full ring-0 ring-white sm:ring-8 shrink-0"></div>
        </div>

        <div class="mt-3 sm:pr-10">
          <h3 class="text-lg font-semibold text-main-900 mb-2">Setup your release process</h3>
          <% button = ButtonComponent.new(scheme: :default, type: :link, size: :xs, options: new_app_train_path(app), label: "Setup", arrow: :none) %>
          <% button.with_icon("plus.svg") %>
          <%= render button %>
        </div>
      </li>

      <% if app.ios? || app.cross_platform? %>
        <li class="relative w-full mb-6 sm:mb-0 opacity-30">
          <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-10 h-10 bg-blue-200 rounded-full ring-0 ring-white sm:ring-8 shrink-0"></div>
          </div>

          <div class="mt-3 sm:pr-10">
            <h3 class="text-lg font-semibold text-main-900 mb-2">Setup iOS</h3>
            <p class="text-base font-normal text-secondary mb-2">Configure your iOS release flow</p>
          </div>
        </li>
      <% end %>

      <% if app.android? || app.cross_platform? %>
        <li class="relative w-full mb-6 sm:mb-0 opacity-30">
          <div class="flex items-center">
            <div class="flex z-10 justify-center items-center w-10 h-10 bg-blue-200 rounded-full ring-0 ring-white sm:ring-8 shrink-0"></div>
          </div>

          <div class="mt-3 sm:pr-10">
            <h3 class="text-lg font-semibold text-main-900 mb-2">Setup Android</h3>
            <p class="text-base font-normal text-secondary mb-2">Configure your Android release flow</p>
          </div>
        </li>
      <% end %>
    </ol>
  <% end %>
<% end %>
