<% breadcrumb :train, @train %>

<%= render partial: 'shared/errors', locals: { resource: @train } %>

<div class="sm:flex sm:justify-between sm:items-center pb-8 border-b border-slate-200">
  <div class="mb-4 sm:mb-0">
    <p class="text-2xl md:text-3xl text-slate-800 font-bold"><%= @train.name %> 🚦</p>
  </div>

  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
    <% if @train.activatable? %>
      <%= authz_button_to :green, "Activate train", activate_app_train_path(@app, @train), method: :patch,
                          data: { turbo_method: :patch, turbo_confirm: "This will start scheduling release kickoff(s). Are you sure?" } %>
    <% end %>

    <% if @train.deactivatable? %>
      <%= authz_button_to :red, "Deactivate train", deactivate_app_train_path(@app, @train), method: :patch,
                          data: { turbo_method: :patch, turbo_confirm: "This will cancel all the scheduled release kickoff(s). Are you sure?" } %>
    <% end %>

    <% if @train.ongoing_release %>
      <%= decorated_link_to :green, "Ongoing Release", ongoing_release_app_train_releases_path(@app, @train) %>
      <% if @train.upcoming_release %>
        <%= decorated_link_to :blue, "Upcoming Release", upcoming_release_app_train_releases_path(@app, @train) %>
      <% else %>
        <%= authz_button_to :blue, "Prepare next release #{@train.next_version}", app_train_releases_path(@app, @train) %>
        <%= authz_button_to :amber, "Prepare next major release #{@train.next_version(true)}", app_train_releases_path(@app, @train, has_major_bump: true) %>
      <% end %>
    <% elsif @train.manually_startable? %>
      <%= authz_button_to :blue, start_release_text(@train), app_train_releases_path(@app, @train) %>
      <%= authz_button_to :amber, start_release_text(@train, major: true), app_train_releases_path(@app, @train, has_major_bump: true) %>
    <% end %>

    <% if @train.releases.size > 0 %>
      <%= button_to "#", class: "btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none", disabled: true do %>
        <%= inline_svg("band_aid.svg", classname: "w-5 h-5 opacity-80") %>
        <span class="ml-2">Hotfix last release</span>
      <% end %>
    <% end %>

    <%= authz_link_to (@train.active_runs.exists? ? :disabled : :neutral), edit_app_train_path(@app, @train) do %>
      <%= inline_svg("edit.svg", classname: "w-4 h-4 fill-current text-slate-500 shrink-0") %>
      <span class="ml-2">Settings</span>
    <% end %>

    <% if @train.releases.blank? %>
      <%= authz_link_to :red, app_train_path(@app, @train), method: :delete,
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <span>Delete</span>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "shared/draft_mode_notice", locals: { app: @app } %>
<div class="grid md:grid-cols-2 gap-x-11 pb-5 mt-8">
  <section class="w-full">
    <!-- Train Summary -->
    <article class="mb-8">
      <h2 class="text-2xl font-bold mb-4">Summary</h2>
      <%= render MetaTableComponent.new do |mt| %>
        <% mt.with_description("Branching Strategy") do %>
          <%= @train.branching_strategy_name %>
        <% end %>

        <% if @train.description.present? %>
          <% mt.with_description("Description") do %>
            <%= @train.description %>
          <% end %>
        <% end %>

        <% if @train.working_branch.present? %>
          <% mt.with_description("Working Branch") do %>
            <%= @train.working_branch %>
          <% end %>
        <% end %>

        <% if @train.release_branch.present? %>
          <% mt.with_description("Release Branch") do %>
            <%= @train.release_branch %>
          <% end %>
        <% end %>

        <% if @train.release_backmerge_branch.present? %>
          <% mt.with_description("Release Backmerge Branch") do %>
            <%= @train.release_backmerge_branch %>
          <% end %>
        <% end %>

        <% mt.with_description("Code Repository") do %>
          <span class="underline">
            <%= link_to_external("#{@train.config.code_repository_name} ↗", @train.config.code_repo_url) %>
          </span>
        <% end %>

        <% mt.with_description("Release Schedule") do %>
          <%= release_schedule(@train) %>
        <% end %>

        <% mt.with_description("Notification Channel") do %>
          <% if @train.send_notifications? %>
            <div class="inline-flex align-text-top">
              <span class="pr-2"><%= image_tag("integrations/logo_#{@app.notification_provider}.png", width: 18) %></span>
              <%= @train.notification_channel_name %>
            </div>
          <% else %>
            None (notifications will not be sent)
          <% end %>
        <% end %>

        <% mt.with_description("Build Queue Config") do %>
          <%= build_queue_config(@train) %>
        <% end %>
      <% end %>
    </article>

    <!-- Steps Viz -->
    <% @train.release_platforms.each do |release_platform| %>
      <article class="mt-10">
        <h2 class="text-2xl font-bold mb-4"><%= steps_heading(release_platform) %></h2>

        <% if release_platform.steps.size > 0 %>
          <div class="flex flex-col">
            <%= render partial: "shared/step_tree_viz", locals: { train: @train, release_platform: release_platform, editable: false } %>
          </div>
        <% else %>
          <%= render partial: "trains/step_creation", locals: { app: @app, train: @train, release_platform: release_platform } %>
        <% end %>
      </article>
    <% end %>
  </section>

  <section>
    <!-- Schedule -->
    <% if @train.automatic? && @train.active? %>
      <%= render partial: "release_schedule", locals: { train: @train } %>
    <% end %>

    <!-- Steps -->
    <article>
      <% if @train.releases.size > 0 %>
        <%= render TableComponent.new(columns: ["•", "version", "release branch"]) do |table| %>
          <% table.with_heading do %>
            <h2 class="text-2xl font-bold">Releases</h2>
          <% end %>

          <% @train.releases.order(scheduled_at: :desc).take(10).each_with_index do |run, index| %>
            <% table.with_row do |row| %>
              <% row.with_cell do %>
                <%= @train.releases.size - index %>
              <% end %>

              <% row.with_cell do %>
                <%= link_to release_path(run.id) do %>
                  <span class="underline">
                    <% if run.completed_at %>
                      <code><%= run.release_version %></code>
                      <%= "released on #{run.completed_at.to_s(:short)}" %>
                    <% else %>
                      <code><%= version_in_progress(run.release_version) %></code>
                    <% end %>
                  </span>
                  <span class="ml-2 py-0.5"><%= release_status_badge(run.status) %></span>
                  <% if run.is_automatic? %>
                    <span class="ml-2 py-0.5"><%= status_badge("automatic", :neutral) %></span>
                  <% end %>
                  <% if run.upcoming? %>
                    <span class="ml-2 py-0.5"><%= status_badge("upcoming", :neutral) %></span>
                  <% end %>
                  <% if run.ongoing? %>
                    <span class="ml-2 py-0.5"><%= status_badge("ongoing", :routine) %></span>
                  <% end %>
                <% end %>
              <% end %>

              <% row.with_cell do %>
                <%= run.branch_name %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <h2 class="text-2xl font-bold mb-4">Releases</h2>
        <span class="text-sm text-slate-400">
        Start a new release to see it here.
      </span>
      <% end %>
    </article>
  </section>
</div>
