<% breadcrumb :train, @train %>

<%= render partial: 'shared/errors', locals: { resource: @train } %>

<div class="sm:flex sm:justify-between sm:items-center pb-8 border-b border-slate-200">
  <div class="mb-4 sm:mb-0">
    <p class="text-2xl md:text-3xl text-slate-800 font-bold"><%= @train.name %> 🚦</p>
  </div>

  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
    <% if @train.active_run %>
      <%= decorated_link_to :green, "Ongoing Release", live_release_app_train_releases_path(@app, @train) %>
    <% elsif @train.startable? %>
      <%= authz_button_to :blue, "Start new release", app_train_releases_path(@app, @train) %>
    <% end %>

    <% if @train.runs.size > 0 %>
      <%= button_to "#", class: "btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none", disabled: true do %>
        <%= inline_svg("band_aid.svg", classname: "w-5 h-5 opacity-80") %>
        <span class="ml-2">Hotfix last release</span>
      <% end %>
    <% end %>

    <%= authz_link_to :neutral, edit_app_train_path(@app, @train) do %>
      <%= inline_svg("edit.svg", classname: "w-4 h-4 fill-current text-slate-500 shrink-0") %>
      <span class="ml-2">Settings</span>
    <% end %>

    <% if @train.runs.blank? %>
      <%= authz_link_to :red, app_train_path(@app, @train), method: :delete,
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <span>Delete</span>
      <% end %>
    <% end %>
  </div>
</div>

<%= render partial: "shared/demo/release_schedule" %>

<div class="grid md:grid-cols-2 gap-x-11 pb-5 mt-8">
  <section class="w-full">
    <!-- Train Info -->
    <article>
      <%= render MetaTableComponent.new do |mt| %>
        <% mt.with_description("Branching Strategy") do %>
          <%= @train.branching_strategy_name %>
        <% end %>

        <% if @train.description.present? %>
          <% mt.with_description("Description") do %>
            <%= @train.description %>
          <% end %>
        <% end %>

        <% if @train.working_branch.present? %>
          <% mt.with_description("Working Branch") do %>
            <%= @train.working_branch %>
          <% end %>
        <% end %>

        <% if @train.release_branch.present? %>
          <% mt.with_description("Release Branch") do %>
            <%= @train.release_branch %>
          <% end %>
        <% end %>

        <% if @train.release_backmerge_branch.present? %>
          <% mt.with_description("Release Backmerge Branch") do %>
            <%= @train.release_backmerge_branch %>
          <% end %>
        <% end %>

        <% mt.with_description("Code Repository") do %>
          <span class="underline">
            <%= link_to_external("#{@train.config.code_repository_name} ↗", @train.config.code_repo_url) %>
          </span>
        <% end %>
      <% end %>
    </article>

    <!-- Steps -->
    <article class="w-full mt-10">
      <h2 class="text-2xl font-bold mb-4">Steps</h2>

      <% if @train.steps.size > 0 %>
        <div class="flex flex-col">
          <%= render partial: "shared/step_tree_viz", locals: { train: @train, editable: false } %>
        </div>
      <% else %>
        <%= render partial: "trains/step_creation", locals: { app: @app, train: @train } %>
      <% end %>
    </article>
  </section>

  <section>
    <!-- Releases -->
    <% if @train.runs.size > 0 %>
      <%= render TableComponent.new(columns: ["•", "version", "release branch"]) do |table| %>
        <% table.with_heading do %>
          <h2 class="text-2xl font-bold">Releases</h2>
        <% end %>
        <% @train.runs.order(scheduled_at: :desc).each_with_index do |run, index| %>
          <% table.with_row do |row| %>
            <% row.with_cell do %>
              <%= @train.runs.size - index %>
            <% end %>

            <% row.with_cell do %>
              <%= link_to release_path(run.id) do %>
                <span class="underline">
                  <% if run.completed_at %>
                    <code><%= run.release_version %></code>
                    <%= "released on #{run.completed_at.to_s(:short)}" %>
                  <% else %>
                    <code><%= version_in_progress(run.release_version) %></code>
                  <% end %>
                </span>

                <% if @train.active_run == run %>
                  <span class="ml-2 py-0.5"><%= status_badge("Ongoing", :success) %></span>
                <% end %>

                <% if run.stopped? %>
                  <span class="ml-2 py-0.5"><%= status_badge("Stopped", :failure) %></span>
                <% end %>
              <% end %>
            <% end %>

            <% row.with_cell do %>
              <%= run.branch_name %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <h2 class="text-2xl font-bold mb-4">Releases</h2>
      <span class="text-sm text-slate-400">
        Start a new release to see it here.
      </span>
    <% end %>
  </section>
</div>
