<% breadcrumb :train, @train %>

<%= render partial: 'shared/errors', locals: { resource: @train } %>

<div class="sm:flex sm:justify-between sm:items-center pb-8 border-b border-slate-200">
  <div class="mb-4 sm:mb-0">
    <p class="text-2xl md:text-3xl text-slate-800 font-bold"><%= @train.name %> 🚦</p>
  </div>

  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
    <% if @train.active_run %>
      <%= decorated_link_to :green, "Ongoing Release", live_release_app_train_releases_path(@app, @train) %>
    <% elsif @train.startable? %>
      <%= authz_button_to :blue, "Start new release", app_train_releases_path(@app, @train) %>
    <% end %>

    <% if @train.runs.size > 0 %>
      <%= button_to "#", class: "btn bg-indigo-500 hover:bg-indigo-600 text-white disabled:border-slate-200 disabled:bg-slate-100 disabled:text-slate-400 disabled:cursor-not-allowed shadow-none", disabled: true do %>
        <svg xmlns="http://www.w3.org/2000/svg" class="opacity-80" width="20" height="20" viewBox="0 0 24 24" stroke-width="2.2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <line x1="14" y1="12" x2="14" y2="12.01"/>
          <line x1="10" y1="12" x2="10" y2="12.01"/>
          <line x1="12" y1="10" x2="12" y2="10.01"/>
          <line x1="12" y1="14" x2="12" y2="14.01"/>
          <path d="M4.5 12.5l8 -8a4.94 4.94 0 0 1 7 7l-8 8a4.94 4.94 0 0 1 -7 -7"/>
        </svg>

        <span class="ml-2">Hotfix last release</span>
      <% end %>
    <% end %>

    <%= authz_link_to :neutral, edit_app_train_path(@app, @train) do %>
      <svg class="w-4 h-4 fill-current text-slate-500 shrink-0" viewBox="0 0 16 16">
        <path d="M11.7.3c-.4-.4-1-.4-1.4 0l-10 10c-.2.2-.3.4-.3.7v4c0 .6.4 1 1 1h4c.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4l-4-4zM4.6 14H2v-2.6l6-6L10.6 8l-6 6zM12 6.6L9.4 4 11 2.4 13.6 5 12 6.6z"></path>
      </svg>
      <span class="ml-2">Settings</span>
    <% end %>

    <% if @train.runs.blank? %>
      <%= authz_link_to :red, app_train_path(@app, @train), method: :delete,
                        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <span>Delete</span>
      <% end %>
    <% end %>
  </div>
</div>

<section class="mt-8">
  <div class="grid md:grid-cols-2 gap-y-4 mt-4">
    <div>
      <div class="font-bold text-slate-600 text-sm uppercase mb-1">Branching Strategy</div>
      <span><%= @train.branching_strategy_name %></span>
    </div>

    <% if @train.sign_off_groups.blank? %>
      <div>
        <!-- this is here to maintain the intended grid structure -->
      </div>
    <% else %>
      <div>
        <div class="font-bold text-slate-600 text-sm uppercase mb-1">Sign-off groups</div>
        <span><%= @train.sign_off_groups.map(&:name).join(", ") %></span>
      </div>
    <% end %>

    <% unless @train.description.blank? %>
      <div>
        <div class="font-bold text-slate-600 text-sm uppercase mb-1">Description</div>
        <span><%= simple_format @train.description %></span>
      </div>
    <% end %>
  </div>
</section>

<!--Steps-->
<h2 class="text-2xl font-bold mt-8 mb-4">Steps</h2>

<% if @train.steps.size > 0 %>
  <div class="flex flex-col">
    <%= render partial: "shared/step_tree_viz", locals: { train: @train, editable: false } %>
  </div>
<% else %>
  <%= render partial: "trains/step_creation", locals: { app: @app, train: @train } %>
<% end %>

<!--Releases-->
<h2 class="text-2xl font-bold mt-8 mb-4">Releases</h2>

<% releases_count = @train.runs.size %>

<% if releases_count > 0 %>
  <table class="table-auto w-full">
    <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
    <tr>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">•</div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">version</div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">release branch</div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">final deployment channel</div>
      </th>
    </tr>
    </thead>

    <tbody class="text-sm divide-y divide-slate-200">
    <% @train.runs.order(scheduled_at: :desc).each_with_index do |run, index| %>
      <tr>
        <td class="px-2 first:pl-5 py-3 whitespace-nowrap">
          <div>
            <%= releases_count - index %>
          </div>
        </td>

        <td class="px-2 py-3 whitespace-nowrap">
          <%= link_to release_path(run.id) do %>
        <span class="underline">
          <% if run.completed_at %>
            <%= "#{run.release_version} released on #{run.completed_at.to_s(:short)}" %>
          <% else %>
            <%= version_in_progress(run.release_version) %>
          <% end %>
        </span>
            <% if @train.active_run == run %>
            <span class="text-xs uppercase tracking-wider inline-flex font-medium bg-green-100 text-green-600 rounded-full text-center px-2 py-0.5 ml-2">
              Ongoing
            </span>
            <% end %>
          <% end %>
        </td>

        <td class="px-2 py-3 whitespace-nowrap">
          <div class="">
            <%= run.branch_name %>
          </div>
        </td>

        <td class="px-2 last:pr-5 py-3 whitespace-nowrap">
          <div>
            <%= @train.final_deployment_channel.display || "–" %>
          </div>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  <p class="text-sm">
    No releases yet.
  </p>
<% end %>

