<div class="border border-default rounded-lg p-3 bg-backgroundLight-50 dark:bg-backgroundDark-50">
  <div class="flex items-center justify-between">
    <div class="flex items-center gap-2">
      <%= image_tag("integrations/logo_#{provider_logo}.png", width: 20, height: 20) %>
      <span class="text-sm font-medium"><%= provider_name %></span>
    </div>

    <% if integration.present? %>
      <div class="flex items-center gap-2">
        <%= render BadgeComponent.new(text: "Connected", status: :success) %>
        <% if integration.providable_type == "GoogleFirebaseIntegration" && integration.providable.further_setup? %>
          <%= render ModalComponent.new(title: "Configure Firebase") do |modal| %>
            <% button = modal.with_button(scheme: :light, type: :action, size: :xxs) %>
            <% button.with_icon("cog.svg", size: :sm) %>
            <% modal.with_body do %>
              <%= tag.turbo_frame id: "build_channel_config",
                                  src: edit_app_build_channel_google_firebase_config_path(app, integrable_id: variant),
                                  loading: :lazy,
                                  class: "with-turbo-frame-loader" do %>
                <%= render LoadingIndicatorComponent.new(skeleton_only: true, turbo_frame: true) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
        <%= render ButtonComponent.new(
              scheme: :danger,
              options: app_app_variant_integration_path(app, variant, integration),
              type: :button,
              size: :xxs,
              html_options: {method: :delete, data: {turbo_confirm: "Are you sure you want to disconnect this integration?"}}
            ) do |b|
              b.with_icon("trash.svg", size: :sm)
            end %>
      </div>
    <% else %>
      <%= render ModalComponent.new(title: "Connect #{provider_name}") do |modal| %>
        <% button = modal.with_button(label: "Connect", scheme: :light, type: :action, size: :xxs, arrow: :none) %>
        <% button.with_icon("plus.svg", size: :sm) %>
        <% modal.with_body do %>
          <%= render partial: "app_variants/providers/#{provider_logo}",
                     locals: {app: app, variant: variant, provider_type: provider_type} %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  <% if integration.present? %>
    <div class="text-xs text-secondary mt-2">
      <%= integration.connection_data %>
    </div>
  <% end %>
</div>
