<% breadcrumb :sign_off_groups, @app %>

<div data-controller="nested-form">
  <div class="sm:flex sm:justify-between sm:items-center mb-8 border-b pb-8">
    <div class="mb-4 sm:mb-0">
      <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Sign-off groups 🤝</h1>
    </div>

    <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
      <%= decorated_button_to :green, "#", data: { action: "nested-form#addAssociation" } do %>
        <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
          <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"></path>
        </svg>

        <span class="ml-2">Add a new group</span>
      <% end %>
    </div>
  </div>

  <div class="overflow-x-auto">
    <table class="table-auto w-full">
      <!-- Table header -->
      <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
      <tr>
        <th class="first:pl-3 py-3 whitespace-nowrap">
          <div class="font-semibold text-left">Name</div>
        </th>
        <th class="py-3 whitespace-nowrap">
          <div class="font-semibold text-left">Members</div>
        </th>
        <th class="py-3 last:pr-5 whitespace-nowrap">
          <div class="font-semibold text-right">Delete?</div>
        </th>
      </tr>
      </thead>
    </table>
  </div>

  <%= form_with(model: @app,
                url: app_sign_off_groups_path(@app),
                builder: ButtonHelper::AuthzForms,
                method: :put) do |form| %>
    <template data-nested-form-target='template'>
      <%= form.fields_for :sign_off_groups, SignOffGroup.new, child_index: 'TEMPLATE_RECORD' do |g| %>
        <%= render 'sign_off_fields', form: g %>
      <% end %>
    </template>

    <% if @app.sign_off_groups.blank? %>
      <%= form.fields_for :sign_off_groups, SignOffGroup.new do |g| %>
        <%= render 'sign_off_fields', form: g %>
      <% end %>
    <% else %>
      <%= form.fields_for :sign_off_groups do |g| %>
        <%= render 'sign_off_fields', form: g %>
      <% end %>
    <% end %>

    <div data-nested-form-target="addItem"></div>

    <div class="mt-5">
      <%= form.authz_submit :blue, "Update" %>
    </div>
  <% end %>
</div>
