<div class="flex mb-8">
  <a href="https://tramline.app" target=_blank", rel="nofollow noopener">
    <%= inline_svg("tramline.svg") %>
  </a>
</div>

<div class="mb-6">
  <h1 class="text-3xl text-slate-800 font-bold mb-1"><%= heading %></h1>
  <% if subtitle_text.present? %>
    <span class="text-md text-slate-500"><%= subtitle_text %></span>
  <% end %>
</div>

<% if resource.present? %>
  <%= render partial: 'shared/errors' %>
<% end %>
<%= render partial: "shared/flash" %>
