<div class="flex flex-row gap-x-2 items-center">
  <div>
    <code><%= step_run.build_version %></code>
    • Build <code><%= step_run.build_number %></code>
    • Commit <code><%= step_run.commit.short_sha %></code>
  </div>
</div>

<% if step_run&.external_build %>
  <div data-controller="modal" class="flex">
    <%= link_to "#", { data: { action: "modal#open" } } do %>
      <div class="text-sm text-gray-500 mt-1">View Build Metadata</div>
    <% end %>

    <dialog data-modal-target="modal"
            class="p-0 backdrop:bg-gray-400 backdrop:bg-opacity-50 open:animate-fade-in">
      <div class="relative bg-white rounded-lg shadow">
        <div class="flex flex-col items-start rounded-t p-4">
          <div class="flex justify-between w-full items-center border-b py-4">
            <h3 class="text-xl font-semibold text-gray-900 inline-flex items-center">
              <%= inline_svg("info_icon.svg", classname: "w-6 h-6 fill-current mr-2") %>
              <%= "#{step_run.build_version} (#{step_run.build_number})" %>
            </h3>
            <button type="button" class="text-slate-400 hover:cursor-pointer hover:text-slate-500" data-action="modal#close">
              <%= inline_svg("close_icon.svg", classname: "w-4 h-4 fill-current") %>
              <span class="sr-only">Close modal</span>
            </button>
          </div>
        </div>

        <div class="p-6">
          <%= render partial: "shared/external_build_metadata", locals: { external_build: step_run.external_build } %>
        </div>
      </div>
    </dialog>
  </div>
<% end %>

<% if step_run.build_artifact.present? && with_artifact %>
  <div class="mt-1">
    <%= "Built " + ago_in_words(step_run.build_artifact.generated_at) %>
    • <%= "Uploaded to Tramline " + ago_in_words(step_run.build_artifact.uploaded_at) %>
  </div>
<% end %>
