<header class="sticky top-0 <%= dynamic_header_color %> border-b border-slate-200 z-30">
  <div class="w-full max-w-7xl mx-auto">
    <div class="flex items-center justify-between h-16">
      <!-- Header: Left side -->
      <div class="flex">
        <a class="block" href="/">
          <%= inline_svg("tramline.svg", classname: "inline-flex w-12") %>
        </a>
      </div>

      <!-- Header: Right side -->
      <div class="flex items-center space-x-3">
        <hr class="w-px h-6 bg-slate-200"/>
        <div class="relative inline-flex" data-controller="reveal" data-reveal-away-value="true">
          <button
            class="inline-flex justify-center items-center group"
            aria-haspopup="true"
            data-action="reveal#toggle">

            <div class="flex truncate">
              <span class="truncate mx-2 font-medium text-slate-500 group-hover:text-slate-800"><%= current_organization.name %></span>
              <%= inline_svg("caret_down.svg", classname: "w-3 h-3 shrink-0 ml-1 mt-1 fill-current text-slate-500 group-hover:text-slate-800") %>
            </div>
          </button>

          <div hidden
               data-reveal
               data-transition
               class="origin-top-right z-10 absolute top-full right-0 min-w-44 bg-white border border-slate-200 py-1.5 rounded shadow-lg mt-1">

            <div class="pt-0.5 pb-2 px-3 mb-1 border-b border-slate-200">
              <div class="font-medium text-slate-800"><%= current_user.preferred_name %></div>
              <div class="text-xs text-slate-500 italic"><%= current_user.email %></div>
            </div>

            <ul>
              <li>
                <%= link_to "Team",
                            accounts_organization_team_path(current_organization),
                            "data-turbo": false,
                            class: "font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" %>
              </li>
              <li>
                <%= link_to "Memberships",
                            accounts_organizations_path,
                            "data-turbo": false,
                            class: "font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" %>
              </li>
              <li>
                <%= link_to "Log out",
                            destroy_user_session_path,
                            "data-turbo": false,
                            class: "font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= yield :sticky_page_message %>
</header>
