<header class="sticky top-0 <%= dynamic_header_color %> border-b border-slate-200 z-30">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="flex items-center justify-between h-16 -mb-px">
      <!-- Header: Left side -->
      <div class="flex">
        <!-- Hamburger button -->
        <button class="text-slate-500 hover:text-slate-600 lg:hidden">
          <span class="sr-only">Open sidebar</span>
          <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <rect x="4" y="5" width="16" height="2"/>
            <rect x="4" y="11" width="16" height="2"/>
            <rect x="4" y="17" width="16" height="2"/>
          </svg>
        </button>
      </div>

      <!-- Header: Right side -->
      <div class="flex items-center space-x-3">
        <!-- Divider -->
        <hr class="w-px h-6 bg-slate-200"/>
        <!-- User button -->
        <div class="relative inline-flex" data-controller="visibility">
          <button
            class="inline-flex justify-center items-center group"
            aria-haspopup="true"
            data-action="visibility#toggle">

            <div class="flex truncate">
              <span class="truncate mx-2 font-medium text-slate-500 group-hover:text-slate-800"><%= current_organization.name %></span>
              <svg class="w-3 h-3 shrink-0 ml-1 mt-1 fill-current text-slate-500 group-hover:text-slate-800" viewBox="0 0 12 12">
                <path d="M5.9 11.4L.5 6l1.4-1.4 4 4 4-4L11.3 6z"/>
              </svg>
            </div>
          </button>

          <div
            class="origin-top-right z-10 absolute top-full right-0 min-w-44 bg-white border border-slate-200 py-1.5 rounded shadow-lg overflow-hidden mt-1 invisible"
            data-visibility-target="visible">
            <div class="pt-0.5 pb-2 px-3 mb-1 border-b border-slate-200">
              <div class="font-medium text-slate-800"><%= current_user.preferred_name %></div>
              <div class="text-xs text-slate-500 italic"><%= current_user.email %></div>
            </div>
            <ul>
              <li>
                <%= link_to "Team",
                            accounts_organization_team_path(current_organization),
                            "data-turbo": false,
                            class: "font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" %>
              </li>
              <li>
                <%= link_to "Memberships",
                            accounts_organizations_path,
                            "data-turbo": false,
                            class: "font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" %>
              </li>
              <li>
                <%= link_to "Log out",
                            destroy_user_session_path,
                            "data-turbo": false,
                            class: "font-medium text-sm text-indigo-500 hover:text-indigo-600 flex items-center py-1 px-3" %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= yield :locked_release %>
</header>
