<div>
  <!-- Sidebar -->
  <div
    id="sidebar"
    class="flex flex-col absolute z-40 left-0 top-0 lg:static lg:left-auto lg:top-auto lg:-translate-x-0 transform h-screen overflow-y-scroll lg:overflow-y-auto no-scrollbar w-64 lg:w-20 lg:!w-64 2xl:!w-64 shrink-0 bg-slate-800 p-4 transition-all duration-200 ease-in-out">

    <!-- Sidebar header -->
    <div class="flex justify-between mb-10 pr-3 sm:px-2">
      <!-- Logo -->
      <%= link_to root_path, class: "block" do %>
        <svg width="32" height="32" viewBox="0 0 32 32">
          <defs>
            <linearGradient x1="28.538%" y1="20.229%" x2="100%" y2="108.156%" id="logo-a">
              <stop stop-color="#A5B4FC" stop-opacity="0" offset="0%"/>
              <stop stop-color="#A5B4FC" offset="100%"/>
            </linearGradient>
            <linearGradient x1="88.638%" y1="29.267%" x2="22.42%" y2="100%" id="logo-b">
              <stop stop-color="#38BDF8" stop-opacity="0" offset="0%"/>
              <stop stop-color="#38BDF8" offset="100%"/>
            </linearGradient>
          </defs>
          <rect fill="#6366F1" width="32" height="32" rx="16"/>
          <path d="M18.277.16C26.035 1.267 32 7.938 32 16c0 8.837-7.163 16-16 16a15.937 15.937 0 01-10.426-3.863L18.277.161z" fill="#4F46E5"/>
          <path d="M7.404 2.503l18.339 26.19A15.93 15.93 0 0116 32C7.163 32 0 24.837 0 16 0 10.327 2.952 5.344 7.404 2.503z" fill="url(#logo-a)"/>
          <path d="M2.223 24.14L29.777 7.86A15.926 15.926 0 0132 16c0 8.837-7.163 16-16 16-5.864 0-10.991-3.154-13.777-7.86z" fill="url(#logo-b)"/>
        </svg>
      <% end %>
    </div>

    <!-- Links -->
    <div class="space-y-8">
      <!-- Pages group -->
      <div>
        <h3 class="text-xs uppercase text-slate-500 font-semibold pl-3">
          <span class="lg:block 2xl:block">Pages</span>
        </h3>

        <ul class="mt-3">
          <!-- Apps -->
          <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 <%= sidebar_active_link(apps_path, "bg-slate-900") %>">
            <%= link_to apps_path, class: "block text-slate-200 hover:text-white truncate transition duration-150 active:text-indigo-500" do %>
              <div class="flex items-center">
                <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                  <path class="fill-current text-slate-600 text-indigo-500" d="M0 20h24v2H0z"/>
                  <path class="fill-current text-slate-400 text-indigo-300" d="M4 18h2a1 1 0 001-1V8a1 1 0 00-1-1H4a1 1 0 00-1 1v9a1 1 0 001 1zM11 18h2a1 1 0 001-1V3a1 1 0 00-1-1h-2a1 1 0 00-1 1v14a1 1 0 001 1zM17 12v5a1 1 0 001 1h2a1 1 0 001-1v-5a1 1 0 00-1-1h-2a1 1 0 00-1 1z"/>
                </svg>
                <span class="text-sm font-medium ml-3 lg:opacity-0 lg:opacity-100 2xl:opacity-100 duration-200">Apps</span>
              </div>
            <% end %>

            <div class="lg:hidden lg:sidebar-expanded:block 2xl:block">
              <ul class="pl-9 mt-1">
                <% active_apps.each do |app| %>
                  <li class="mb-1 last:mb-0">
                    <%= link_to app_path(app), class: "block text-slate-400 hover:text-slate-200 transition duration-150 truncate" do %>
                      <span class="text-sm font-medium lg:opacity-0 lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200 <%= sidebar_active_link(app_path(app), "text-indigo-500") %>">
                        <%= app.name %>
                      </span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
