<!-- Sidebar -->
<div
  id="sidebar"
  class="flex flex-col absolute z-40 left-0 top-0 lg:static lg:left-auto lg:top-auto lg:-translate-x-0 transform h-screen overflow-y-scroll lg:overflow-y-auto no-scrollbar w-56 lg:w-16 lg:!w-56 2xl:!w-56 shrink-0 bg-slate-800 p-4 transition-all duration-200 ease-in-out">

  <!-- Sidebar header -->
  <div class="flex justify-between mb-8 mt-1 pr-3 sm:px-2">
    <!-- Logo -->
    <%= link_to root_path, class: "block" do %>
      <svg width="64pt" viewBox="0 0 128 128">
        <g fill="rgb(100 116 139)" fill-rule="evenodd">
          <path stroke-width="1.5" d="m18.59 101.25c-4.6836 0-4.6836 9.3711 0 9.3711 4.5352 0 4.5352-9.3711 0-9.3711zm0 7.1016c-1.6641 0-1.6641-4.9883 0-4.9883 1.6641 0 1.6641 4.9883 0 4.9883z"/>
          <path stroke-width="1.5" d="m118.93 22.062c0-12.844-24.785-13.449-34.004-7.707l-10.426 6.043-10.125-5.8945c-0.45312-0.30078-0.90625-0.15234-1.3594 0.30078l-4.2305 4.8359c-0.30078 0.30078-0.30078 0.75391-0.15234 1.207l3.0234 6.9531-7.1016 4.082-10.125-5.8945c-0.45312-0.30078-1.0586-0.15234-1.3594 0.30078l-4.2305 4.8359c-0.30078 0.30078-0.45312 0.75391-0.30078 1.0586l3.1719 7.1016-28.41 16.32c-2.7188 1.6641-4.3828 4.5352-4.3828 7.707 0 0.15234 0 43.223 0.15234 43.223 1.0586 11.938 22.367 12.242 31.434 8.0078 1.6641 6.3477 8.7656 1.5117 10.426-3.0234 4.082 3.4766 9.9727-3.625 9.6719-8.3125l33.852-19.645c1.8125 6.3477 8.918 1.207 10.426-3.0234 4.3828 3.7773 9.9727-4.082 9.6719-8.4609 2.7188-1.6641 4.3828-4.2305 4.3828-7.4062v-42.617zm-54.855-5.1367 8.3125 4.6836-4.082 2.2656-6.8008-3.9297 2.5703-3.0234zm6.5 8.3125 3.9297-2.2656 8.7656 4.9883 2.7188 6.1953zm16.172 11.938-2.8711 3.1719-19.043-11.031-0.30078-0.60547 3.7773-2.2656zm-24.934-14.508 4.3828 2.5703-2.5703 1.5117zm-17.68 5.7422 8.3125 4.6836-4.082 2.418-6.9531-4.082 2.7188-3.0234zm6.5 8.3125 3.9297-2.2656 8.6133 4.9883 2.7188 6.043zm16.172 11.789-2.8711 3.3242-19.191-11.031-0.30078-0.60547 3.9297-2.2656 18.438 10.578zm-24.934-14.355 4.3828 2.5703-2.7188 1.5117zm-27.352 23.426 28.109-16.172 0.30078 0.60547c0 0.30078 0.15234 0.45312 0.45312 0.45312l20.098 11.789c0.45312 0.15234 1.0586 0.15234 1.5117-0.30078l4.2305-4.8359c0.15234-0.30078 0.30078-0.75391 0.15234-1.207l-4.2305-9.6719c-0.15234-0.30078-0.30078-0.45313-0.45313-0.60547l-7.8594-4.5352 5.7422-3.3242c0.15234 0.45312 0.30078 1.0586 0.75391 1.3594l20.25 11.637c0.45312 0.30078 1.0586 0.15234 1.3594-0.30078l4.2305-4.8359c0.30078-0.30078 0.45312-0.75391 0.15234-1.0586l-4.2305-9.8242c0-0.30078-0.15234-0.45312-0.45312-0.60547l-7.8594-4.5352 9.2188-5.2891c7.8594-4.5352 30.828-5.4414 30.828 5.7422 0 2.2656-1.207 4.3828-3.3242 5.5898l-71.633 41.258c-7.8594 4.5352-30.676 5.4414-30.676-5.5898 0-2.418 1.207-4.5352 3.3242-5.7422zm28.562 13.297 71.48-41.258c0.90625-0.45312 1.6641-1.0586 2.2656-1.8125v3.3242c-0.30078 2.1172-1.5117 4.082-3.3242 5.1367l-71.633 41.258c-8.4609 4.8359-18.891 4.8359-27.352 0-3.625-2.1172-3.3242-4.9883-3.3242-8.4609 6.8008 7.707 23.273 6.6484 31.887 1.8125zm69.363-17.227-8.0078 4.5352v-14.207l8.0078-4.5352zm-21.609 12.391-18.133 10.426v-14.055l18.133-10.578zm-79.641 22.969v-11.336c1.5117 1.6641 4.082 2.8711 6.3477 3.7773v14.355c-2.8711-1.207-6.3477-3.1719-6.3477-6.8008zm8.4609-6.9531c7.4062 2.2656 16.773 1.5117 23.426-2.5703v14.055c-7.4062 4.3828-15.113 5.7422-23.426 3.0234zm25.539-3.9297 5.2891-3.0234v14.207l-5.2891 3.0234zm7.4062-4.2305 17.832-10.277v14.207l-17.832 10.277zm40.348-23.273 9.2188-5.2891v26.75l-9.2188 5.2891zm-81.453 57.125c-0.75391-2.2656-0.30078-10.578-0.30078-13.297 7.1016 7.8594 23.426 6.3477 31.887 1.6641v14.66c-4.9883 3.9297-28.258 7.4062-31.586-3.0234zm31.133 5.7422c2.1172-1.207 4.3828-2.418 6.5-3.7773-0.60547 3.625-6.043 8.3125-6.5 3.7773zm9.0664-5.1367 6.6484-3.9297c-0.60547 3.9297-6.1953 8.6133-6.6484 3.9297zm44.883-25.992 6.5-3.7773c-0.60547 4.2305-6.043 8.1602-6.5 3.7773zm9.0664-5.1367 6.6484-3.9297c-0.60547 4.2305-6.3477 8.7656-6.6484 3.9297zm11.184-13.148c0.15234 2.418-1.207 4.8359-3.3242 6.043l-68.309 39.293v-14.508l45.641-26.297v10.73c0 0.75391 0.90625 1.3594 1.6641 0.90625l11.336-6.6484c0.45312-0.15234 0.60547-0.45312 0.60547-0.90625v-11.938l10.125-5.8945c0.90625-0.45312 1.6641-1.0586 2.2656-1.8125v11.031zm0-16.32c-0.15234 1.8125-0.90625 3.3242-2.2656 4.5352v-14.055c0.90625-0.60547 1.5117-1.0586 2.2656-1.8125v11.336z"/>
        </g>
      </svg>
    <% end %>
  </div>

  <!-- Links -->
  <div class="space-y-8">
    <!-- Pages group -->
    <div>
      <ul class="mt-3">
        <!-- Apps -->
        <li class="px-3 py-2 rounded-sm mb-0.5 last:mb-0 <%= sidebar_active_resource('apps', "bg-slate-900") %>">
          <%= link_to apps_path, class: "block text-slate-200 hover:text-white truncate transition duration-150 active:text-indigo-500" do %>
            <div class="flex items-center">
              <svg class="shrink-0 h-6 w-6" viewBox="0 0 24 24">
                <path class="fill-current text-slate-600 text-indigo-500" d="M0 20h24v2H0z"/>
                <path class="fill-current text-slate-400 text-indigo-300" d="M4 18h2a1 1 0 001-1V8a1 1 0 00-1-1H4a1 1 0 00-1 1v9a1 1 0 001 1zM11 18h2a1 1 0 001-1V3a1 1 0 00-1-1h-2a1 1 0 00-1 1v14a1 1 0 001 1zM17 12v5a1 1 0 001 1h2a1 1 0 001-1v-5a1 1 0 00-1-1h-2a1 1 0 00-1 1z"/>
              </svg>
              <span class="text-sm font-medium ml-3 lg:opacity-0 lg:opacity-100 2xl:opacity-100 duration-200">Apps</span>
            </div>
          <% end %>

          <div class="lg:sidebar-expanded:block 2xl:block">
            <ul class="pl-9 mt-1">
              <% active_apps.each do |app| %>
                <li class="mb-1 last:mb-0">
                  <%= link_to app_path(app), class: "block text-slate-400 hover:text-slate-200 transition duration-150 truncate" do %>
                      <span class="text-sm font-medium lg:sidebar-expanded:opacity-100 2xl:opacity-100 duration-200 <%= sidebar_active_path(app_path(app), "text-indigo-500") %>">
                        <%= app.name %>
                      </span>
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="text-slate-600 text-xs bottom-4 absolute">
    <%= current_deploy[:ref] %> • <%= current_deploy[:ago] %><br/>
    Copyright 2022, Tramline Inc.
  </div>
</div>
