<ol class="mt-2">
  <!-- review steps -->
  <% release_platform.steps.review.includes(deployments: [:integration]).order(:step_number).each do |step| %>
    <li><%= render partial: "shared/per_step_metadata", locals: { editable: editable, step: step, step_run: nil, platform_run: nil } %></li>
    <%= render partial: "shared/step_tree_connector", locals: { color: step_color(step.kind) } %>
  <% end %>

  <!-- add review button -->
  <li><%= render partial: "trains/new_step_button", locals: { train:, release_platform:, kind: "review" } %></li>

  <!-- release step-->
  <% release_step = release_platform.steps.release.first %>
  <% if release_step %>
    <%= render partial: "shared/step_tree_connector", locals: { color: step_color("review") } %>
    <li><%= render partial: "shared/per_step_metadata", locals: { editable: editable, step: release_step, step_run: nil, platform_run: nil } %></li>
  <% end %>

  <!-- add release button -->
  <% unless release_platform.has_release_step? %>
    <%= render partial: "shared/step_tree_connector", locals: { color: "emerald" } %>
    <li><%= render partial: "trains/new_step_button", locals: { train:, release_platform:, kind: "release" } %></li>
  <% end %>
</ol>
