<div data-controller="alert">
  <% if alert? %>
    <div data-alert-target="alert"
         class="flex items-center w-full <%= padding %> <%= style %> <%= border_style %> text-sm justify-between"
         role="alert">
      <div class="flex mr-6 gap-x-1 items-start">
        <div class="flex justify-start gap-x-1 items-center">
          <%= render V2::IconComponent.new("v2/info.svg", size: :md) %>
          <span class="font-semibold"><%= type.to_s.humanize %>:</span>
        </div>
        <div class="overflow-hidden"><%= title %></div>
      </div>

      <% if dismissible %>
        <%= render V2::ButtonComponent.new(
          scheme: :naked_icon,
          type: :action,
          size: :none,
          authz: false,
          html_options: { class: "ms-auto inline-flex justify-center items-center", data: { action: "alert#close" } }) do |b|
          b.with_icon("close_icon.svg")
        end %>
      <% end %>
    </div>
  <% elsif banner? %>
    <div data-alert-target="alert"
         class="w-full <%= padding %> <%= style %> <%= border_style %> mb-4"
         role="alert">
      <div class="flex items-center">
        <%= render V2::IconComponent.new("v2/info.svg", size: :md, classes: "mr-2") %>
        <h3 class="heading-3 !text-inherit"><%= title %></h3>
      </div>

      <div class="text-sm">
        <%= content %>
      </div>

      <% if info? || dismissible %>
        <div class="flex mt-4 gap-x-2">
          <% if info? %>
            <%= render V2::ButtonComponent.new(
              scheme: :none,
              options: info[:link],
              type: :link_external,
              label: info[:label],
              size: :none,
              authz: false,
              html_options: { class: ACTION_BUTTON_STYLES }) do |b|
              b.with_icon("v2/eye.svg", size: :md, rounded: false)
            end %>
          <% end %>

          <% if dismissible %>
            <%= render V2::ButtonComponent.new(
              scheme: :none,
              type: :action,
              size: :none,
              authz: false,
              label: "Dismiss",
              html_options: { class: ACTION_BUTTON_STYLES,
                              data: { action: "alert#close" } }) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% elsif announcement? %>
    <div class="w-full <%= padding %> <%= style %> <%= border_style %>">
      <div class="flex items-center mb-2">
        <%= render V2::IconComponent.new("v2/megaphone.svg", size: :lg, classes: "mr-2") %>
        <h3 class="heading-3 !text-inherit"><%= title %></h3>
      </div>

      <div><%= content %></div>

      <% if announcement_buttons? || announcement_modals? %>
        <div class="flex mt-4 gap-x-2">
          <% announcement_buttons.each do |action| %>
            <%= render action %>
          <% end %>

          <% announcement_modals.each do |modal| %>
            <%= render modal %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
