<div data-controller="alert">
  <div data-alert-target="alert"
       class="inline-flex <%= size %> items-center p-4 mb-4 text-sm rounded-lg <%= style %>"
       role="alert">
    <%= render V2::IconComponent.new("v2/info.svg", size: :md, classes: "mr-2") %>

    <div class="mr-6">
      <span class="font-medium"><%= title %></span>
      <%= content %>
    </div>

    <%= render V2::ButtonComponent.new(
      scheme: :naked_icon,
      type: :action,
      size: :none,
      authz: false,
      html_options: { class: "ms-auto inline-flex justify-center items-center #{colors}", data: { action: "alert#close" } }) do |b|
      b.with_icon("close_icon.svg")
    end %>
  </div>
</div>
