<% if color.present? %>
  <span class="inline-flex items-center <%= badge_style %>" style="<%= background_style %>">
    <span class="w-2 h-2 me-2 rounded-full" style="<%= pill_style %>"></span>
    <span style="<%= text_style %>"><%= text %></span>
  </span>
<% else %>
  <span class="inline-flex items-center <%= badge_style %>">
    <span class="inline-flex">
      <% if pill? %><span class="me-2 w-2 h-2 rounded-full <%= pill %>"></span><% end %>
      <% if icon? %><span class="me-1 inline-flex"><%= icon %></span><% end %>
    </span>
    <% if link? %>
      <%= link %>
    <% else %>
      <%= text %>
    <% end %>
  </span>
<% end %>
