<% if @deployment_run %>
  <div class="flex items-center justify-between">
    <div class="flex items-center justify-stretch gap-x-2">
      <%= render V2::BadgeComponent.new do |badge| %>
        <% badge.with_icon(deployment_logo) %>
        <% badge.with_link(build_info, external_link) %>
      <% end %>

      <%= inline_svg("v2/connect_line.svg", classname: "w-5 h-5 inline-flex") %>

      <%= render V2::BadgeComponent.new do |badge| %>
        <% badge.with_icon(build_logo) %>
        <% badge.with_link(ci_info, ci_link) %>
      <% end %>

      <%= render V2::StatusIndicatorPillComponent.new(**status) %>
    </div>

    <%= render V2::TooltipComponent.new("Last activity on #{last_activity_at}", placement: "top") do |tooltip| %>
      <% tooltip.with_body do %>
        <div class="flex items-center">
          <%= inline_svg("v2/dotted_line.svg", classname: "w-4 h-4 inline-flex mx-2 text-main-500") %>
          <span class="text-main-500 font-normal text-sm"><%= build_deployed_at %></span>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
