<%= content_tag(:div, card_params) do %>
  <div class="flex flex-col">
    <div class="flex flex-row items-center justify-between <%= separator_style %>">
      <div class="flex items-center">
        <% if fold? && !emptiness %>
          <%= render V2::ButtonComponent.new(
            scheme: :naked_icon,
            type: :action,
            authz: false,
            html_options: fold_button_params,
            size: :none) do |b|
            b.with_icon("v2/unfold_vertical.svg", size: :sm)
            b.with_tooltip("Fold / unfold", placement: "top")
          end %>
        <% end %>

        <h5 class="flex heading-5-sc"><%= title %></h5>
      </div>

      <%= actions %>
    </div>

    <% if subtitle.present? %>
      <span class="text-xs font-normal text-secondary-50"><%= subtitle %></span>
    <% end %>
  </div>

  <% if emptiness %>
    <%= empty_state %>
  <% else %>
    <% if fold_target_params.blank? %>
      <%= content %>
    <% else %>
      <%= content_tag(:div, fold_target_params) do %>
        <%= content %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
