<div class="mb-1 flex justify-between">
  <div class="flex flex-row justify-between items-center">
    <div>
      <div class="flex items-center">
        <h1 class="text-2xl font-semibold text-neutral-800 dark:text-white">
          <span><%= title %></span>
        </h1>
        <div class="ml-2">
          <%= render V2::DropdownComponent.new(type: :switcher, arrow: :double) do |dropdown| %>
            <% dropdown.with_title_text do %>
              <span class="text-xs text-gray-500 dark:text-gray-400 font-medium">Switch</span>
            <% end %>

            <% dropdown.with_item_group do |group| %>
              <% group.with_item(link: { path: root_path }) do %>
                Synced Release Train
              <% end %>
              <% group.with_item(link: { path: root_path }) do %>
                iOS production Trainss
              <% end %>
              <% group.with_item(link: { path: root_path }) do %>
                fail trina
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
      <% if subtitle %>
        <span class="mt-1 text-sm"><%= subtitle %></span>
      <% end %>
    </div>
  </div>

  <div class="md:mt-0 flex flex-wrap gap-2 shrink-0">
    <% actions.each do |action| %>
      <%= action %>
    <% end %>
  </div>
</div>

<div class="-mx-2 flex flex-row flex-wrap mt-8 sm:space-x-2">
  <% sub_actions.each do |sub_action| %>
    <%= sub_action %>
  <% end %>
</div>

<section class="mt-4">
  <%= body %>
</section>
