<% if giant? %>
  <div class="flex justify-center mt-24">
    <div class="flex flex-col justify-start">
      <h1 class="text-xl font-semibold text-main dark:text-white"><%= title %></h1>
      <div class="mt-6 max-w-[200px] font-medium text-sm dark:text-main-300 text-main-400">
        <%= text %>
      </div>
      <%= content %>
    </div>
    <%= image_tag(banner_image, width: 400, alt: "emptiness", class: "rounded-sm") %>
  </div>
<% elsif subdued? %>
  <div class="text-center px-4">
    <%= render V2::IconComponent.new(banner_image, size: :xl_3) %>
    <h2 class="text-lg font-semibold text-main dark:text-white"><%= title %></h2>
    <div class="my-2 text-sm text-neutral-500">
      <%= text %>
    </div>
  </div>
<% end %>
