<%= form_with(**@params) do |form| %>
  <% set_form(form) %>
  <% if free_form? %>
    <%= content %>
    <div class="flex justify-end mt-6">
      <%#= action %>
    </div>
  <% else %>
    <div class="grid space-y-10">
      <% sections.each do |section| %>
        <%= section %>
      <% end %>

      <% if advanced_sections.any? %>
        <%= render V2::AccordionComponent.new(title: "Advanced Settings") do %>
          <section class="grid space-y-8 mt-10">
            <% advanced_sections.each do |adv_section| %>
              <%= adv_section %>
            <% end %>
          </section>
        <% end %>
      <% end %>

      <div class="grid grid-cols-3 items-start xl:space-x-20 p-2">
        <div class="col-span-1"></div>
        <div class="col-span-2 justify-start mt-2"><%= action %></div>
      </div>
    </div>
  <% end %>
<% end %>
