<header class="antialiased my-1">
  <nav class="bg-white px-5 lg:px-5 dark:bg-main-900">
    <div class="flex justify-between items-center">
      <div class="flex justify-start items-center">
        <a href="/" class="flex mr-6">
          <%= inline_svg("tramline.svg", classname: "inline-flex w-12") %>
        </a>
      </div>

      <div class="flex flex-wrap justify-between items-center py-3 px-4 pb-5 sm:pb-3 lg:px-6">
        <div class="flex items-center mb-2 sm:mb-0 gap-x-2">
          <%= render V2::ButtonComponent.new(scheme: :light,
                                             options: edit_accounts_organization_path(current_organization),
                                             type: :link,
                                             size: :xxs) do |b| %>
            <% b.with_tooltip("Organization Settings") %>
            <% b.with_icon("v2/building.svg", size: :md) %>
          <% end %>

          <%= render V2::DropdownComponent.new(authz: false) do |dropdown| %>
            <% button = dropdown.with_button(size: :xs) %>
            <% button.with_icon("art/org_default.png", size: :xxl) %>
            <% button.with_title_text do %>
              <div class="text-left">
                <div class="text-sm font-semibold leading-none text-main dark:text-white">
                  <%= current_organization.name %>
                </div>
              </div>
            <% end %>

            <% dropdown.with_item_group do |group| %>
              <% current_user.organizations.each do |organization| %>
                <% group.with_item(link: { path: switch_accounts_organization_path(organization) },
                                   selected: organization.id == current_organization.id) do %>
                  <div class="text-left">
                    <div class="font-medium leading-none mb-0.5 text-sm">
                      <%= organization.name %>
                    </div>

                    <div class="text-xs text-main-500 dark:text-main-400">
                      Created <%= time_format organization.created_at, with_year: true, with_time: false %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            <% end %>
          <% end %>

          <% if default_app %>
            <%= inline_svg("layer_separator.svg", classname: "w-3 h-3 text-main-500 dark:text-main-400") %>

            <%= render V2::DropdownComponent.new(authz: false) do |dropdown| %>
              <% button = dropdown.with_button(size: :xs) %>
              <% button.with_icon("art/cross_platform_default.png", size: :xxl, rounded: false) %>
              <% button.with_title_text do %>
                <div class="flex items-center justify-center gap-x-1 text-sm font-semibold leading-none text-main dark:text-white">
                  <%= render V2::IconComponent.new("v2/#{default_app.platform}.svg", size: :md) %>
                  <%= default_app.name %>
                  <span class="text-sm text-main-500 dark:text-main-400">
                      <%= default_app.bundle_identifier %>
                    </span>
                </div>
              <% end %>

              <% dropdown.with_item_group do |group| %>
                <% current_organization.apps.filter(&:persisted?).each do |app| %>
                  <% group.with_item(link: { path: app_path(app) }, selected: app.id == default_app.id) do %>
                    <div class="text-left">
                      <div class="font-medium leading-none mb-0.5 text-sm">
                        <%= app.name %>
                      </div>
                      <div class="text-xs text-main-500 dark:text-main-400">
                        <%= app.bundle_identifier %>
                      </div>
                      <div class="text-xs text-main-500 dark:text-main-400">
                        <%= app.display_attr(:platform) %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>


            <%= render V2::ButtonComponent.new(scheme: :light,
                                               options: edit_app_path(default_app),
                                               type: :link,
                                               size: :xxs) do |b| %>
              <% b.with_tooltip("App Settings") %>
              <% b.with_icon("v2/cog.svg", size: :md) %>
            <% end %>

            <%= render V2::ButtonComponent.new(scheme: :light,
                                               options: all_builds_app_path(default_app),
                                               type: :link,
                                               size: :xxs,
                                               authz: false) do |b| %>
              <% b.with_tooltip("All Builds") %>
              <% b.with_icon("v2/hard_hat.svg", size: :md) %>
            <% end %>

            <%= render V2::ModalComponent.new(title: "Store Status", size: :xs, authz: false) do |modal| %>
              <% button = modal.with_button(scheme: :light, type: :action, size: :xxs, arrow: :none) %>
              <% button.with_tooltip("Store Status") %>
              <% button.with_icon("v2/upload_cloud.svg", size: :md) %>
              <% modal.with_body do %>
                <%= render V2::ExternalAppComponent.new(app: default_app) %>
              <% end %>
            <% end %>

            <span class="mx-2 w-px h-5 bg-main-200 dark:bg-main-600"></span>

            <%= render V2::ModalComponent.new(title: "Add a new app", dismissable: false) do |modal| %>
              <% mb = modal.with_button(scheme: :light, type: :action, size: :xxs) %>
              <% mb.with_tooltip("Add a new app") %>
              <% mb.with_icon("plus.svg", size: :md) %>
              <% modal.with_body do %>
                <%= render partial: "apps/form", locals: { app: new_app } %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="flex justify-end items-center lg:order-2">
        <%= render V2::ButtonComponent.new(
          scheme: :naked_icon,
          options: "https://docs.tramline.app",
          type: :link_external,
          size: :none,
          authz: false) do |b|
          b.with_tooltip("Read the docs")
          b.with_icon("book.svg", rounded: false)
        end %>

        <span class="mx-4 w-px h-5 bg-main-200 dark:bg-main-600"></span>

        <%= render V2::DropdownComponent.new(authz: false) do |dropdown| %>
          <% dropdown.with_button(size: :none, html_options: { class: "flex" }, scheme: :avatar_icon)
                     .with_icon(user_avatar(user_full_name), raw_svg: true, size: :xl_3) %>
          <% dropdown.with_subtext do %>
            <div class="py-3 px-4">
              <div class="text-sm text-main-500 dark:text-main-400">
                <%= user_name %>
              </div>

              <div class="text-sm truncate font-semibold text-main-600 dark:text-main-400">
                <%= user_email %>
              </div>
            </div>
          <% end %>

          <% if current_organization.user_settings_enabled? %>
            <% dropdown.with_item_group(list_style: "text-main-500 dark:text-main-400") do |group| %>
              <% group.with_item(link: { path: edit_accounts_user_path, "data-turbo": false }) do %>
                Settings
              <% end %>
            <% end %>
          <% end %>

          <% dropdown.with_item_group(list_style: "text-main-500 dark:text-main-400") do |group| %>
            <% if billing? %>
              <% group.with_item(link: { path: billing_link, external: true }) do %>
                Go to billing ↗
              <% end %>
            <% end %>

            <% group.with_item(link: { path: "https://calendar.app.google/bs6wimzo316W3yKz9", external: true }) do %>
              Book a demo ↗
            <% end %>
          <% end %>

          <% dropdown.with_item_group(list_style: "text-main-500 dark:text-main-400") do |group| %>
            <% group.with_item(link: { path: destroy_user_session_path, "data-turbo": false }) do %>
              Sign out
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </nav>

  <%= sticky_message %>
</header>
