<div class="<%= bg_color %> border-default flex box-padding justify-items-stretch">
  <div class="space-x-4 flex">
    <% data_sets.each_with_index do |datum_set, i| %>
      <div class="space-y-2">
        <h1 class="heading-5 <%= datum_set.uppercase_title %>">
          <%= datum_set.title %>
        </h1>

        <div class="flex items-start space-x-0">
          <div class="flex flex-col">
            <% datum_set.lines.each do |line| %>
              <span class="text-main-500 font-normal text-sm">
                <%= line %>
              </span>
            <% end %>
          </div>
        </div>
      </div>

      <% unless last_set?(i) %>
        <div class="<%= separator %>"></div>
      <% end %>
    <% end %>
  </div>
</div>
