<div class="col-span-3 border-default box-padding bg-white dark:bg-backgroundDark">
  <div class="flex flex-col h-full space-y-3">
    <div class="grow">
      <header class="flex items-start space-x-2 align-top">
        <%= logo %>
        <h4 class="heading-4">
          <%= provider.display %>
        </h4>
      </header>
    </div>
    <footer>
      <div class="flex flex-col justify-start items-start space-y-5">
        <div class="text-xs text-slate-500">
          <% if connected? %>
            <%= connection_data -%>
          <% end %>
        </div>
        <% if connected? %>
          <div class="flex justify-between w-full items-baseline">
            <%= render V2::BadgeComponent.new(text: "Connected", status: :success) %>
            <% if ci_cd? %>
              <%= render V2::ButtonComponent.new(
                scheme: :danger,
                options: app_integration_path(@app, integration),
                type: :button,
                size: :xxs,
                turbo: false,
                disabled: !disconnectable?,
                html_options: { method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want disconnect the integration?" } }) do |b|
                b.with_icon("v2/trash.svg", size: :sm)
              end %>
            <% end %>
          </div>
        <% end %>
        <% if disconnected? %>
          <% if connectable? %>
            <div class="flex gap-4">
              <%= connectable_form_partial %>
              <% if @existing_github_integration && providable_type == 'GithubIntegration' %>
                <%= reusable_integration_form_partial(@existing_github_integration) %>
              <% end %>
              <% if @existing_bitbucket_integration && providable_type == 'BitbucketIntegration' %>
                <%= reusable_integration_form_partial(@existing_bitbucket_integration) %>
              <% end %>
            </div>
          <% end %>
          <% if creatable? %>
            <%= render V2::ModalComponent.new(title: creatable_modal_title) do |modal| %>
              <% modal.with_button(label: "Connect", scheme: :light, type: :action, size: :xxs, arrow: :none)
                      .with_icon("plus.svg", size: :md) %>
              <% modal.with_body do %>
                <%= creatable_form_partial %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </footer>
  </div>
</div>
