<div class="col-span-3 rounded-lg border border-slate-200 bg-white dark:bg-backgroundDark">
  <div class="flex flex-col h-full p-4 space-y-3">
    <div class="grow">
      <header class="flex items-start space-x-2 align-top">
        <%= logo %>
        <h1 class="heading-4">
          <%= provider.display %>
        </h1>
      </header>
    </div>

    <footer>
      <div class="flex flex-col justify-start items-start space-y-3">
        <div class="text-xs text-slate-500">
          <% if connected? %>
            <%= connection_data -%>
          <% end %>
        </div>

        <% if connected? %>
          <%= render V2::StatusIndicatorPillComponent.new(text: "Connected", status: :success) %>
        <% end %>

        <% if disconnected? %>
          <% if connectable? %>
            <%= connectable_form_partial %>
          <% end %>

          <% if creatable? %>
            <%= render V2::ModalComponent.new(title: creatable_modal_title) do |modal| %>
              <% modal.with_button(label: "Connect", scheme: :light, type: :action, size: :xxs, arrow: :none)
                      .with_icon("plus.svg", size: :md) %>
              <% modal.with_body do %>
                <%= creatable_form_partial %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </footer>
  </div>
</div>

