<%= content_tag(:div, reveal_data_attrs) do %>
  <%= button %>
  <dialog data-modal-target="modal"
          class="overflow-y-auto backdrop:bg-main-900/50 backdrop:dark:bg-main-900/80
          box-padding rounded-lg shadow
          dark:bg-main bg-white
          open:animate-fade-in
          w-full <%= max_width %>">
    <div class="flex flex-col mb-4 pb-2">
      <div class="flex justify-between items-center <%= default_separator %>">
        <h1 class="heading-2"><%= title %></h1>
        <%= render V2::ButtonComponent.new(
          scheme: :naked_icon,
          type: :action,
          size: :none,
          authz: false,
          html_options: { class: "ms-auto inline-flex justify-center items-center",
                          data: { action: "modal#close" } }) do |b|
          b.with_icon("close_icon.svg")
        end %>
      </div>
      <% if subtitle %>
        <div class="flex gap-x-2 items-center">
          <span class="text-sm"><%= subtitle %></span>
          <div class="flex-1 h-full w-full">
            <div class="h-px bg-main-200 dark:bg-main-600 w-full m-0"></div>
          </div>
        </div>
      <% end %>
    </div>
    <%= body %>
  </dialog>
<% end %>
