<%= content_tag(:div, reveal_data_attrs) do %>
  <%= button %>
  <div data-modal-reveal
       hidden
       aria-hidden="true">
    <div tabindex="-1"
         class="fixed inset-0 z-50 overflow-y-auto overflow-x-hidden flex items-center justify-center transform">
      <div class="relative w-full <%= max_width %> h-full md:h-auto">
        <div class="relative box-padding bg-white rounded-lg shadow dark:bg-main">
          <div class="flex flex-col mb-8 py-2">
            <div class="flex justify-between items-center <%= default_separator %>">
              <h1 class="heading-3">
                <%= title %>
              </h1>
              <%= render V2::ButtonComponent.new(
                scheme: :naked_icon,
                type: :action,
                size: :none,
                authz: false,
                html_options: { class: "ms-auto inline-flex justify-center items-center", data: { action: "reveal#hide" } }) do |b|
                b.with_icon("close_icon.svg")
              end %>
            </div>
            <% if subtitle %>
              <div class="flex gap-x-2 items-center">
                <span class="text-xs"><%= subtitle %></span>
                <div class="flex-1 h-full w-full">
                  <div class="h-px bg-main-200 dark:bg-main-600 w-full m-0"></div>
                </div>
              </div>
            <% end %>
          </div>
          <%= body %>
        </div>
      </div>
    </div>
    <div class="bg-main-900/50 dark:bg-main-900/80 fixed inset-0 z-40"></div>
  </div>
<% end %>
