<%= render V2::SectionComponent.new(style: :titled,
                                    title: "#{release_platform.display_attr(:platform)}",
                                    subtitle: "Configure key health metrics for monitoring the status of releases as they are rolled out") do |section| %>
  <% section.with_sidenote do %>
    <%= render V2::ModalComponent.new(title: "Add a new rule", dismissable: false) do |modal| %>
      <% modal.with_button(label: "Add", scheme: :light, type: :action, size: :xxs, arrow: :none)
              .with_icon("v2/plus.svg", size: :md) %>
      <% modal.with_body do %>
        <%= render partial: "trains/rule_form", locals: { app:, train:, release_platform:, rule: release_platform.release_health_rules.new } %>
      <% end %>
    <% end %>
  <% end %>

  <% if empty? %>
    <%= render V2::EmptyStateComponent.new(title: "No rules configured",
                                           text: "Add rules to monitor the health of releases on this platform",
                                           banner_image: "v2/list_checks.svg",
                                           type: :subdued) %>
  <% else %>
    <div class="flex flex-wrap flex-row gap-4 items-start">
      <% release_platform.release_health_rules.each do |rule| %>
        <%= render V2::ReleaseHealthRuleCardComponent.new(rule:) %>
      <% end %>
    </div>
  <% end %>
<% end %>
