<% if release.present? %>
  <%= render V2::SectionComponent.new(style: :boxed) do %>
    <div class="<%= striped_header %> -mx-2">
      <div class="flex items-center justify-between border-b px-3 py-2">
        <div>
          <div class="flex items-center space-x-3 rtl:space-x-reverse ">
            <h1 class="text-xl font-semibold text-neutral-800 dark:text-white tracking-wide">
              <%= release.release_version %>
            </h1>
            <%= render V2::StatusIndicatorPillComponent.new(text: status.first, status: status.second) %>
            <% if hotfix_badge %>
              <%= render V2::BadgeComponent.new(hotfix_badge[:text]) do |badge| %>
                <% badge.with_icon(hotfix_badge[:icon]) %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div>
          <%= render V2::ButtonComponent.new(
            scheme: :supporting,
            label: "Go to release",
            options: release_path(release.id),
            size: :sm,
            html_options: { class: "-mr-2" },
            authz: false,
            type: :link) do |b|
            b.with_icon("v2/arrow_right.svg")
          end %>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-start mt-2">
      <div class="flex justify-start">
        <div class="mt-2 flex gap-y-1 gap-x-2">
          <%= render V2::HorizontalDataSetComponent.new(separator: :solid, bg_color: true) do |component| %>
            <% component.with_data_set(title: "Started", lines: [start_time]).with_icon("v2/clock.svg") %>
            <% component.with_data_set(title: "Released", lines: [end_time]).with_icon("v2/zap.svg") %>
            <% component.with_data_set(title: "Duration", lines: [duration]).with_icon("v2/coffee.svg") %>
          <% end %>
        </div>
      </div>

      <div class="flex flex-row justify-end space-x-1">
        <% if release_branch.present? %>
          <%= render V2::ButtonComponent.new(label: release_branch,
                                             scheme: :link,
                                             type: :link_external,
                                             options: release.branch_url,
                                             authz: false,
                                             size: :xxs,
                                             arrow: :none) do |b|
            b.with_icon(vcs_icon, size: :sm)
          end %>
        <% end %>
        <% if release_tag.present? %>
          <%= render V2::ButtonComponent.new(label: release_tag,
                                             scheme: :link,
                                             type: :link_external,
                                             options: release.tag_url,
                                             authz: false,
                                             size: :xxs,
                                             arrow: :none) do |b|
            b.with_icon(vcs_icon, size: :sm)
          end %>
        <% end %>
      </div>
    </div>

    <div class="grid grid-cols-2 justify-between mt-8 gap-x-2">
      <% release.release_platform_runs.each do |run| %>
        <div class="flex flex-col gap-y-2">
          <% if run.last_successful_deployment_run %>
            <%= render V2::BuildInfoComponent.new(run.last_successful_deployment_run&.first) %>
          <% end %>
          <%= render V2::HorizontalDataSetComponent.new do |component| %>
            <% component.with_data_set(title: "Time in review phase", lines: ["about 7 hours"]).with_icon("v2/clock.svg") %>
            <% component.with_data_set(title: "Time in release phase", lines: ["about 7 hours"]).with_icon("v2/clock.svg") %>
            <% component.with_data_set(title: "RCs GENERATED", uppercase_title: false, lines: ["about 7 hours"]).with_icon("v2/archive.svg") %>
          <% end %>

          <% if release.finished? %>
            <%= render V2::ReleaseMonitoringComponent.new(
              deployment_run: run.store_releases.last,
              metrics: [:stability, :adoption_rate],
              show_bundle_id: false) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
