<div class="grid <%= grid_cols %> item-gap-default text-xs">
  <% if :staged_rollout.in? metrics %>
    <% if store_rollout.nil? %>
      <%= render StatCardComponent.new("Staged Rollout",
                                       type: :empty,
                                       empty_stat_help_text: "This data loads up when the staged/phased rollout begins.") %>
    <% else %>
      <%= render ProgressCardComponent.new(name: "Staged Rollout",
                                           current: last_rollout_percentage,
                                           subtitle: staged_rollout_text,
                                           provider: provider,
                                           size:,
                                           external_url: store_link) %>
    <% end %>
  <% end %>

  <% if :adoption_rate.in? metrics %>
    <% if empty_component? %>
      <%= render StatCardComponent.new("Adoption Rate",
                                       type: :empty,
                                       empty_stat_help_text: "This data gets pulled from your monitoring integration.") %>
    <% else %>
      <%= render ProgressCardComponent.new(name: "Adoption Rate",
                                           current: adoption_rate,
                                           subtitle: "Last 24 hours",
                                           provider: monitoring_provider,
                                           size:,
                                           external_url: monitoring_provider_url) %>
    <% end %>
  <% end %>

  <% if :stability.in? metrics %>
    <% if empty_component? %>
      <%= render StatCardComponent.new("Stability",
                                       type: :empty,
                                       empty_stat_help_text: "This data gets pulled from your monitoring integration.") %>
    <% else %>
      <%= render MetricCardComponent.new(name: "Stability",
                                         values: { "users" => user_stability, "sessions" => session_stability },
                                         provider: monitoring_provider,
                                         size:,
                                         external_url: monitoring_provider_url) %>
    <% end %>
  <% end %>

  <% if :errors.in? metrics %>
    <% if empty_component? %>
      <%= render StatCardComponent.new("Errors",
                                       type: :empty,
                                       empty_stat_help_text: "This data gets pulled from your monitoring integration.") %>
    <% else %>
      <%= render MetricCardComponent.new(name: "Errors",
                                         values: { "total" => errors_count, "new" => new_errors_count },
                                         provider: monitoring_provider,
                                         size:,
                                         external_url: monitoring_provider_url) %>
    <% end %>
  <% end %>

  <% if :adoption_chart.in? metrics %>
    <% if adoption_chart_data.present? %>
      <div class="<%= full_span %>"><%= render ChartComponent.new(adoption_chart_data) %></div>
    <% end %>
  <% end %>
</div>
