<% if release.present? %>
  <%= render V2::SectionComponent.new(style: :boxed) do %>
    <div class="<%= striped_header %> rounded -mx-2">
      <div class="flex items-center justify-between border-default-b px-3 py-2">
        <div class="flex items-center space-x-3 rtl:space-x-reverse">
          <% if release_version_drift? %>
            <div class="flex items-center space-x-1">
              <%= render V2::IconComponent.new("v2/android.svg", size: :lg) %>
              <%= release_version(android_release_version) %>
            </div>

            <div class="flex items-center">
              <%= render V2::IconComponent.new("v2/plus_fat.svg", size: :lg) %>
            </div>

            <div class="flex items-center space-x-1">
              <%= render V2::IconComponent.new("v2/ios.svg", size: :lg) %>
              <%= release_version(ios_release_version) %>
            </div>
          <% else %>
            <%= release_version(release.release_version) %>
          <% end %>

          <%= render V2::BadgeComponent.new(text: status.first, status: status.second) %>
          <% if show_release_unhealthy? %>
            <%= render V2::BadgeComponent.new(text: "Release is unhealthy", status: :failure) %>
          <% end %>
          <%= render(hotfix_badge) unless hotfix_badge.nil? %>
          <%= render(scheduled_badge) if automatic? %>
        </div>

        <div>
          <%= render V2::ButtonComponent.new(
            scheme: :supporting,
            label: "Go to release",
            options: release_path(release),
            size: :sm,
            html_options: { class: "-mr-2" },
            authz: false,
            type: :link) do |b|
            b.with_icon("v2/arrow_right.svg")
          end %>
        </div>
      </div>
    </div>

    <div class="flex justify-between items-start mt-2 bottom-separator-space-default">
      <div class="flex justify-start">
        <div class="mt-2 flex gap-y-1 gap-x-2">
          <%= render V2::HorizontalDataSetComponent.new(separator: :solid, bg_color: true) do |component| %>
            <% component.with_data_set(title: "Started").with_content(start_time) %>
            <% component.with_data_set(title: "Released").with_content(end_time) %>
            <% component.with_data_set(title: "Duration").with_content(duration) %>
            <% component.with_data_set(title: "Stability changes").with_content(commit_count) %>
            <% if current_user.reldex_enabled? && release_summary&.fetch(:reldex, nil) %>
              <% component.with_data_set(title: "Reldex") do %>
                <%= render V2::Reldex::StatusComponent.new(release:, reldex_score: release_summary[:reldex]) %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="flex flex-row justify-end space-x-1">
        <% if release_branch.present? %>
          <%= render V2::ButtonComponent.new(label: release_branch,
                                             scheme: :link,
                                             type: :link_external,
                                             options: release.branch_url,
                                             authz: false,
                                             size: :xxs,
                                             arrow: :none) do |b|
            b.with_icon(vcs_icon, size: :sm)
          end %>
        <% end %>
        <% if tag_name.present? %>
          <%= render V2::ButtonComponent.new(label: tag_name,
                                             scheme: :link,
                                             type: :link_external,
                                             options: release.tag_url,
                                             authz: false,
                                             size: :xxs,
                                             arrow: :none) do |b|
            b.with_icon(vcs_icon, size: :sm)
          end %>
        <% end %>
      </div>
    </div>

    <%= render V2::PlatformOverviewComponent.new(release, occupy: false) %>
  <% end %>
<% end %>
