<%= render V2::SectionComponent.new(style: :titled, title: "Schedule", subtitle: release_schedule(train)) do %>
  <div class="grid grid-cols-5 bg-main-500/80 divide-x divide-main-200 text-center py-2 rounded-t-lg">
      <div class="pl-0.5 text-xs uppercase tracking-wider font-medium text-white dark:text-main-400">Past</div>
      <div class="pl-0.5 text-xs uppercase tracking-wider font-medium text-white dark:text-main-400">Previous</div>
      <div class="pl-0.5 text-xs uppercase tracking-wider font-medium text-white dark:text-main-400">Current</div>
      <div class="pl-0.5 text-xs uppercase tracking-wider font-medium text-white dark:text-main-400">Next</div>
      <div class="pl-0.5 text-xs uppercase tracking-wider font-medium text-white dark:text-main-400">Future</div>
  </div>

  <div class="grid grid-cols-5 border border-main-200 divide-x divide-main-200 rounded-b-lg">
    <% if past_releases.empty? %>
      <%= render partial: "scheduled_release/show", locals: {
        title: nil,
        header: "There are no past releases",
        empty_icon: "v2/fast_forward.svg",
        box_classes: nil,
        status: inactive_status,
        footer: nil,
      } %>
      <%= render partial: "scheduled_release/show", locals: {
        title: nil,
        header: "There are no past releases",
        empty_icon: "v2/fast_forward.svg",
        box_classes: nil,
        status: inactive_status,
        footer: nil,
      } %>
    <% else %>
      <% if past_releases[0] %>
        <%= render partial: "scheduled_release/show", locals: {
          header: past_text(past_releases[0]),
          title: past_title(past_releases[0]),
          status: scheduled_release_status(past_releases[0]),
          box_classes: nil,
          empty_icon: "v2/fast_forward.svg",
          footer: time_format(past_releases[0].scheduled_at, only_day: true)
        } %>
      <% end %>
      <% if past_releases[1] %>
        <%= render partial: "scheduled_release/show", locals: {
          header: past_text(past_releases[1]),
          title: past_title(past_releases[1]),
          status: scheduled_release_status(past_releases[1]),
          box_classes: nil,
          empty_icon: "v2/fast_forward.svg",
          footer: time_format(past_releases[1].scheduled_at, only_day: true)
        } %>
      <% else %>
        <%= render partial: "scheduled_release/show", locals: {
          title: nil,
          header: "There are no past releases",
          empty_icon: "v2/fast_forward.svg",
          box_classes: nil,
          status: inactive_status,
          footer: nil,
        } %>
      <% end %>
    <% end %>

    <% if ongoing_release.present? %>
      <%= render partial: "scheduled_release/show", locals: {
        header: ongoing_text,
        title: ongoing_release.release_version,
        status: release_status(ongoing_release),
        box_classes: "bg-diagonal-stripes-soft-blue",
        empty_icon: "v2/coffee.svg",
        footer: time_format(ongoing_release.scheduled_at, only_day: true)
      } %>
    <% else %>
      <%= render partial: "scheduled_release/show", locals: {
        header: ongoing_text,
        title: nil,
        status: nil,
        box_classes: nil,
        empty_icon: "v2/coffee.svg",
        footer: time_format(Time.current, only_day: true)
      } %>
    <% end %>

    <% if future_release.present? %>
      <%= render partial: "scheduled_release/show", locals: {
        header: time_text(future_release),
        title: train.next_version,
        empty_icon: "v2/calendar.svg",
        status: scheduled_release_status(future_release),
        box_classes: nil,
        footer: time_format(future_release.scheduled_at, only_day: true)
      } %>
      <%= render partial: "scheduled_release/show", locals: {
        header: time_text(future_release),
        title: train.next_to_next_version,
        empty_icon: "v2/calendar.svg",
        status: scheduled_release_status(future_release),
        box_classes: "opacity-50",
        footer: time_format(next_to_next_run_at, only_day: true)
      } %>
    <% else %>
      <%= render partial: "scheduled_release/show", locals: {
        title: nil,
        header: "There are no scheduled releases",
        empty_icon: "v2/calendar.svg",
        box_classes: nil,
        status: inactive_status,
        footer: nil,
      } %>
      <%= render partial: "scheduled_release/show", locals: {
        title: nil,
        header: "There are no scheduled releases",
        empty_icon: "v2/calendar.svg",
        box_classes: nil,
        status: inactive_status,
        footer: nil,
      } %>
    <% end %>
  </div>
<% end %>
