<div data-controller="clipboard">
  <div class="<%= input_styles %> flex items-center justify-between">
    <div id="<%= id %>" value="<%= value %>" data-clipboard-target="source"><%= value %></div>
    <%= render V2::ButtonComponent.new(
      scheme: :naked_icon,
      html_options: { class: "cursor-pointer", data: { action: "clipboard#copy", clipboard_target: "button" } },
      size: :none,
      authz: false,
      type: :action) do |b|
      b.with_icon("v2/clipboard_copy.svg", size: :md)
      b.with_tooltip(clipboard_tooltip, placement: "right")
    end %>
  </div>

  <div hidden>
    <%= render V2::ButtonComponent.new(
      scheme: :naked_icon,
      html_options: { class: icon_styles, data: { clipboard_target: "success" } },
      size: :none,
      authz: false,
      type: :action) do |b|
      b.with_icon("v2/check.svg", size: :md)
    end %>
  </div>
</div>
