<% if color.present? %>
  <span class="inline-flex items-center text-xs font-medium px-2.5 py-0.5 rounded-md tracking-wideish border" style="<%= background_style %>">
    <span class="w-2 h-2 me-2 rounded-full" style="<%= pill_style %>"></span>
    <span style="<%= text_style %>"><%= text %></span>
  </span>
<% else %>
  <span class="<%= badge_style %>">
    <% if pill? %><span class="w-2 h-2 me-2 rounded-full <%= pill %>"></span><% end %>
    <%= text %>
  </span>
<% end %>
