<div class="relative overflow-x-auto mb-8">
  <table class="w-full table-auto <%= text_size %> text-left rtl:text-right text-main-500 dark:text-main-400 p-5">
    <% if rows.present? %>
      <thead class="heading-5 uppercase border-default-b">
      <tr>
        <% columns.each do |column| %>
          <th scope="col" class="<%= padding_x %> <%= padding_b %> pt-1.5">
            <%= column %>
          </th>
        <% end %>
      </tr>
      </thead>

      <tbody>
      <% rows.each do |row| %>
        <%= row %>
      <% end %>
      </tbody>
    <% end %>
  </table>
</div>
