<div class="inline-flex"
     data-controller="popup"
     data-popup-target-selector-value="[data-tooltip-popup]"
     data-popup-away-value="true"
     data-popup-offset-value="<%= offset %>"
     data-popup-placement-value="<%= placement %>">
  <div class="w-full <%= "cursor-help" if cursor %>" data-action="mouseover->popup#show mouseleave->popup#hide" data-popup-target="element">
    <%= body %>
    <% if simple? %>
      <div class="<%= TOOLTIP_CLASSES %>" role="tooltip" hidden data-tooltip-popup="true">
        <div class="tooltip-arrow" data-popup-target="popupArrow"></div>
        <%= text %>
      </div>
    <% elsif detailed? %>
      <div class="<%= DETAILED_TOOLTIP_CLASSES %>" role="tooltip" hidden data-tooltip-popup="true">
        <div class="tooltip-arrow bg-main-300" data-popup-target="popupArrow"></div>
        <%= detailed_text %>
      </div>
    <% end %>
  </div>
</div>
