<div class="inline-flex items-center box-padding-sm border-default-md gap-x-1.5 <%= grade_bg_color %>">
  <div class="heading-5 <%= grade_color %> uppercase flex gap-x-1.5">
    <div><%= final_score %></div>
    <div class="border-l border-main-300 dark:border-main-600 pl-1.5"><%= grade %></div>
  </div>
  <%= render V2::ModalComponent.new(title: "Reldex for #{release_version}",
                                    size: :sm,
                                    type: :drawer,
                                    authz: false) do |modal| %>
    <% button = modal.with_button(scheme: :naked_icon, type: :action, size: :none) %>
    <% button.with_icon("info_full.svg", size: :base) %>
    <% button.with_tooltip("Open release score details", placement: "top") %>
    <% modal.with_body do %>
      <div class="flex items-center gap-x-2">
        <div class="text-lg border-default box-padding-sm">
          <math>
            <mrow>
              <mi><%= final_score %></mi>
              <mo>/</mo>
              <mn>1.00</mn>
            </mrow>
          </math>
        </div>
        <div class="font-medium text-lg tracking-wide uppercase box-padding-sm border-default-md <%= grade_color %> <%= grade_bg_color %>">
          <%= grade %>
        </div>
      </div>

      <%= render V2::SectionComponent.new(style: :titled, title: "Reldex tolerance", size: :compact) do %>
        <%= render V2::Reldex::CalculationTableComponent.new(tolerable_min:, tolerable_max:) %>
      <% end %>

      <%= render V2::SectionComponent.new(style: :titled, title: "Score breakdown", size: :compact) do %>
        <%= render V2::TableComponent.new(columns: ["", "value", "score"], size: :compact) do |table| %>
          <% components.each do |component| %>
            <% table.with_row do |row| %>
              <% row.with_cell do %>
                <%= component.release_index_component.name.humanize %>
              <% end %>
              <% row.with_cell(style: component_grade_color(component)) do %>
                <%= component_raw_value(component) %>
              <% end %>
              <% row.with_cell do %>
                <%= component.value %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>

      <div class="text-secondary text-xs font-normal flex flex-col gap-2 whitespace-normal">
        <%= render partial: "release_indices/computation" %>
      </div>
    <% end %>
  <% end %>
</div>
