<div class="flex flex-col item-gap-default">
  <%= render partial: "shared/play_store_review_rejected", locals: {show: show_blocked_message?,
                                                                    build:,
                                                                    actionable: false} %>
  <% if pre_prod_release.new_commit_available? %>
    <%= render V2::AlertComponent.new(kind: :announcement, type: :announce, title: "New changes on the release branch") do |ann| %>
      <% ann.with_announcement_button(**new_pre_prod_release_options) %>
      <div class="flex flex-col gap-2">
        <%= render V2::CommitComponent.new(commit: latest_commit, detailed: false) %>
        <span class="text-sm">You can continue with your existing build, or replace it with this new change.</span>
      </div>
    <% end %>
  <% end %>

  <%= render V2::CardComponent.new(title: "Current Build") do |card| %>
    <% if build.present? %>
      <% card.with_action do %>
        <%= render partial: "shared/changes_since_last_modal",
                   locals: {title: "Changes since last build",
                            button_scheme: :supporting,
                            subtitle: nil,
                            changes_path: changes_since_previous_pre_prod_release_path(pre_prod_release),
                            parent_release: pre_prod_release} %>
      <% end %>
    <% end %>

    <% if triggerable? %>
      <% card.with_action do %>
        <%= render V2::ButtonComponent.new(label: "Create build",
                                           scheme: :default,
                                           options: trigger_workflow_run_path(workflow_run),
                                           size: :xxs,
                                           html_options: html_opts(:patch, "Are you sure you want to create a new build?")) %>
      <% end %>
    <% end %>

    <% if retriggerable? %>
      <% card.with_action do %>
        <%= render V2::ButtonComponent.new(label: "Retrigger build",
                                           scheme: :default,
                                           options: retry_workflow_run_path(workflow_run),
                                           size: :xxs,
                                           html_options: html_opts(:patch, "Are you sure you want to retrigger the build?")) %>

      <% end %>
    <% end %>

    <% if workflow_run.failed? %>
      <% card.with_action do %>
        <%= render V2::ButtonComponent.new(label: "Re-fetch build status",
                                           scheme: :light,
                                           options: fetch_status_workflow_run_path(workflow_run),
                                           size: :xxs,
                                           html_options: html_opts(:patch, "Are you sure you want to re-fetch the build status?")) %>

      <% end %>
    <% end %>

    <div class="flex flex-col section-gap-default">
      <div class="flex flex-col item-gap-default">
        <div class="self-start">
          <%= render V2::BadgeComponent.new(**status) %>
        </div>

        <% if build.present? %>
          <%= render V2::LiveRelease::BuildComponent.new(build) %>
        <% end %>
      </div>

      <div class="flex flex-col item-gap-default">
        <% store_submissions.each do |submission| %>
          <%= render V2::LiveRelease::PreProdRelease::SubmissionComponent.new(submission) %>
        <% end %>

        <% UnreifiedStoreSubmissionPresenter.build(conf, pre_prod_release, build).each do |submission| %>
          <%= render V2::LiveRelease::PreProdRelease::SubmissionComponent.new(submission, inactive: true) %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
