<div class="flex flex-col item-gap-default">
  <%= render partial: "shared/play_store_review_rejected", locals: { show: show_blocked_message?,
                                                                     build:,
                                                                     actionable: false } %>
  <% if pre_prod_release.new_build_available? %>
    <%= render V2::AlertComponent.new(kind: :announcement, type: :announce, title: "New Internal Build is available") do |ann| %>
      <% ann.with_announcement_button(label: "Start Beta release",
                                      scheme: :default,
                                      type: :button,
                                      options: run_pre_prod_beta_path(release_platform_run),
                                      size: :xxs,
                                      turbo: false,
                                      html_options: html_opts(:post, "Are you sure?", params: { pre_prod_release: rc_params })) %>
      <div class="flex flex-col gap-2">
        <%= render V2::LiveRelease::BuildComponent.new(
          latest_internal_release.build,
          show_metadata: false,
          show_ci: true,
          show_activity: false,
          show_commit: false) %>
        <span class="text-sm">Please start the beta release for the new build.</span>
      </div>
    <% end %>
  <% end %>

  <% if pre_prod_release.new_commit_available? %>
    <%= render V2::AlertComponent.new(kind: :announcement, type: :announce, title: "New changes on the release branch") do |ann| %>
      <% ann.with_announcement_button(label: "Create Release Candidate",
                                      scheme: :default,
                                      type: :button,
                                      options: run_pre_prod_beta_path(release_platform_run),
                                      size: :xxs,
                                      turbo: false,
                                      html_options: html_opts(:post, "Are you sure you want to start the beta release?", params: { pre_prod_release: rc_params })) %>
      <div class="flex flex-col gap-2">
        <%= render V2::CommitComponent.new(commit: latest_commit, detailed: false) %>
        <span class="text-sm">You can continue to release your existing Release Candidate, or replace it with the new change.</span>
      </div>
    <% end %>
  <% end %>

  <%= render V2::CardComponent.new(title: "Current Build") do |card| %>
    <% if build.present? %>
      <% card.with_action do %>
        <%= render partial: "shared/changes_since_last_modal",
                   locals: { title: "Changes since last build",
                             button_scheme: :supporting,
                             subtitle: nil,
                             changes_path: changes_since_previous_pre_prod_release_path(pre_prod_release),
                             parent_release: pre_prod_release } %>
      <% end %>
    <% end %>

    <% if triggerable? %>
      <% card.with_action do %>
        <%= render V2::ButtonComponent.new(label: "Create build",
                                           scheme: :default,
                                           options: trigger_workflow_run_path(workflow_run),
                                           size: :xxs,
                                           html_options: html_opts(:patch, "Are you sure?")) %>
      <% end %>
    <% end %>

    <% if retriggerable? %>
      <% card.with_action do %>

        <%= render V2::ButtonComponent.new(label: "Retrigger build",
                                           scheme: :default,
                                           options: retry_workflow_run_path(workflow_run),
                                           size: :xxs,
                                           html_options: html_opts(:patch, "Are you sure?")) %>
      <% end %>
    <% end %>

    <div class="flex flex-col section-gap-default">
      <div class="flex flex-col item-gap-default">
        <div class="self-start">
          <%= render V2::BadgeComponent.new(**status) %>
        </div>

        <% if build.present? %>
          <%= render V2::LiveRelease::BuildComponent.new(build) %>
        <% end %>
      </div>

      <% if store_submissions.exists? %>
        <div class="flex flex-col item-gap-default">
          <% store_submissions.each do |submission| %>
            <%= render V2::LiveRelease::PreProdRelease::SubmissionComponent.new(submission) %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
