<%= render V2::AccordionComponent.new(push_down: false, acts_as_list: true) do |accordion| %>
  <% accordion.with_title_section do %>
    <div class="flex text-sm items-center justify-between">
      <div class="flex gap-2">
        <%= render V2::LiveRelease::BuildComponent.new(
          pre_prod_release.build,
          show_metadata: false,
          show_ci: false,
          show_activity: false,
          show_commit: false) %>

        <%= render V2::BadgeComponent.new(text: pre_prod_release.status.humanize, status: :neutral) %>
      </div>

      <div class="flex items-center">
        <%= inline_svg("v2/dotted_line.svg", classname: "w-4 h-4 inline-flex mx-2 text-secondary") %>
        <span class="text-secondary font-normal"><%= ago_in_words(pre_prod_release.updated_at) %></span>
      </div>
    </div>
  <% end %>

  <div class="flex flex-col gap-3">
    <div class="flex flex-row items-center justify-between">
      <div class="flex items-center gap-1.5 text-center text-secondary">
        <%= render V2::LiveRelease::BuildComponent.new(
          pre_prod_release.build,
          show_number: false,
          show_metadata: false,
          show_ci: true,
          show_activity: false,
          show_commit: false) %>

        <%= render V2::IconComponent.new("v2/connect_line.svg", size: :xl) %>

        <% if store_submissions.none? %>
          <%= render V2::IconComponent.new("v2/circle_slash.svg", size: :md) %>
        <% end %>

        <div class="flex items-center gap-1">
          <% store_submissions.each_with_index do |submission, idx| %>
            <% if idx > 0 %>
              <%= render V2::IconComponent.new("v2/slash.svg", size: :md) %>
            <% end %>

            <%= render V2::BadgeComponent.new(text: submission.submission_channel.name, kind: :badge) do |badge| %>
              <% badge.with_icon("integrations/logo_#{submission.provider}.png") %>
            <% end %>
          <% end %>
        </div>
      </div>

      <%= render partial: "shared/changes_since_last_modal",
                 locals: { title: "Changes since last build",
                           button_scheme: :naked_icon,
                           subtitle: nil,
                           changes_path: changes_since_previous_pre_prod_release_path(pre_prod_release),
                           parent_release: pre_prod_release } %>
    </div>

    <%= render V2::LiveRelease::BuildComponent.new(
      pre_prod_release.build,
      show_number: false,
      show_metadata: true,
      show_ci: false,
      show_activity: false,
      show_commit: false) %>
  </div>
<% end %>
