<%= render V2::CardComponent.new(title:, separator: false, custom_box_style:) do |card| %>
  <% if active? %>
    <% card.with_action do %>
      <% if submission.triggerable? %>
        <%= render V2::ButtonComponent.new(label: "Send to #{submission.display}",
                                           scheme: :default,
                                           type: :button,
                                           options: trigger_store_submission_path(submission),
                                           html_options: html_opts(:patch, "Are you sure you want to send this submission to #{submission.display}?"),
                                           size: :xxs) do |b| %>
          <% b.with_icon(submission_logo_bw, size: :md) %>
        <% end %>
      <% end %>
      <% if submission.retryable? %>
        <%= render V2::ButtonComponent.new(label: "Retry sending to #{submission.display}",
                                           scheme: :default,
                                           type: :button,
                                           options: retry_store_submission_path(submission),
                                           html_options: html_opts(:patch, "Are you sure you want to retry the submission to #{submission.display}?"),
                                           size: :xxs) do |b| %>
          <% b.with_icon(submission_logo_bw, size: :md) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>

  <div class="flex flex-col gap-2">
    <div class="flex justify-between items-center">
      <div class="flex items-center gap-2">
        <%= render V2::IconComponent.new(submission_logo, size: :xl) %>
        <%= render V2::BadgeComponent.new(text: submission.submission_channel.name, kind: :badge) %>
        <%= render V2::BadgeComponent.new(**status) %>
      </div>

      <% if active? %>
        <%= render partial: "shared/show_time_ago",
                   locals: {tooltip_text: last_activity_tooltip, tooltip_placement: "bottom", last_activity_at:} %>
      <% end %>
    </div>

    <%= render partial: "shared/play_store_review_rejected", locals: {show: submission.failed_with_action_required?,
                                                                      build:,
                                                                      actionable: true,
                                                                      channel_name: submission.submission_channel.name} %>

    <%= render V2::SectionComponent.new(title: "External info", style: :titled, size: :micro) do %>
      <div class="flex">
        <%= render V2::HorizontalDataSetComponent.new do |component| %>
          <% component.with_data_set(title: "Status").with_content(external_status) %>
          <% component.with_data_set(title: "Tester groups").with_content(submission.submission_channel.name.truncate(50)) %>
          <% if active? %>
            <% component.with_data_set(title: "Dashboard") do %>
              <%= render V2::ButtonComponent.new(scheme: :naked_icon,
                                                 type: :link_external,
                                                 options: submission.store_link,
                                                 html_options: {class: "text-xs"},
                                                 authz: false,
                                                 size: :none) do |b| %>
                <% b.with_icon("v2/external_link.svg", size: :md) %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
