<% release_platform = @release_platform_run.release_platform %>

<%= render PageComponent.new(breadcrumb: breadcrumb(:release, @release), title: "Edit #{release_platform.display_attr(:platform)} Metadata") do %>
  <% content_for :error_resource do %>
    <%= render V2::ErrorComponent.new(@release_metadata) %>
  <% end %>

  <%= form_with(model: @release_metadata,
                url: release_release_platform_release_metadatum_path(@release, release_platform),
                builder: ButtonHelper::AuthzForms,
                method: :patch) do |form| %>

    <div class="mt-4">
      <%= render "shared/note_box",
                 message: "During the production deployment of a release, the release metadata is uploaded to the store." %>
    </div>

    <div class="mt-4">
      <%= form.label :release_notes, class: "block text-sm font-medium mb-1" %>
      <%= form.text_area :release_notes, class: "form-input w-full", value: @release_metadata.release_notes %>
    </div>

    <% unless release_platform.android? %>
      <div class="mt-4">
        <%= form.label :promo_text, class: "block text-sm font-medium mb-1" %>
        <%= form.text_area :promo_text, class: "form-input w-full", value: @release_metadata.promo_text %>
      </div>
    <% end %>

    <div class="mt-5">
      <%= form.authz_submit :blue, "Update" %>
    </div>
  <% end %>
<% end %>
