<% release_platform = @release_platform_run.release_platform %>

<%= render V2::ContainerComponent.new(title: "Edit #{release_platform.display_attr(:platform)} Metadata") do |container| %>
  <% container.with_back_button(to: "the release", path: release_path(@release)) %>
  <% container.with_body do %>
    <% content_for :error_resource do %>
      <%= render V2::ErrorComponent.new(@release_metadata) %>
    <% end %>

    <%= render V2::FormComponent.new(model: @release_metadata,
                                     url: release_release_platform_release_metadatum_path(@release, release_platform),
                                     method: :patch) do |f| %>
      <% f.with_section(heading: "Release Notes") do |section| %>
        <% section.with_description do %>
          During the production deployment of a release, the release metadata is uploaded to the store.
        <% end %>

        <div><%= section.F.labeled_textarea :release_notes, "What's new?" %></div>
      <% end %>


      <% unless release_platform.android? %>
        <% f.with_section(heading: "Promotional Text") do |section| %>
          <% section.with_description do %>
            Promotional text lets you inform your App Store visitors of any current app features.
          <% end %>

          <div><%= section.F.labeled_textarea :promo_text, "Promo Text" %></div>
        <% end %>

      <% end %>

      <% f.with_action do %>
        <%= f.F.authz_submit "Save", "v2/archive.svg", size: :xs %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
