<%= render EnhancedTurboFrameComponent.new(@setting.edit_frame_id) do %>
  <%= render FormComponent.new(@setting.edit_form_params) do |f| %>
    <% f.with_section(heading: "Select") do |section| %>
      <% section.with_description do %>
        <p>One or more channel names for this type of notification.</p>
        <%= render partial: "shared/notifications_refresh", locals: {app: @app} %>
        <% if @setting.needs_invite? %>
          <div class="text-secondary mt-1">
            To allow file uploads in channels, invite <strong>@Tramline</strong> into your channels.
          </div>
        <% end %>
      <% end %>

      <%= render Form::SwitchComponent.new(form: section.F,
                                           field_name: :active,
                                           switch_id: "active-switch-#{@setting.id}",
                                           on_label: "Default notifications enabled",
                                           off_label: "Default notifications disabled") do |switch| %>
        <% switch.with_child do %>
          <div class="flex flex-col gap-1">
            <div>
              <%= section.F.labeled_select :notification_channels,
                                           "Channels",
                                           @setting.channel_select_options,
                                           {},
                                           {multiple: true, data: {controller: "input-select"}} %>
            </div>
          </div>
        <% end %>
      <% end %>

      <% if @setting.release_specific_channel_allowed? && @train.notifications_release_specific_channel_enabled? %>
        <%= render Form::SwitchComponent.new(form: section.F,
                                             field_name: :release_specific_enabled,
                                             switch_id: "release-specific-enabled-#{@setting.id}",
                                             on_label: "Release-specific channel enabled",
                                             off_label: "Release-specific channel disabled") do |switch| %>
          <% switch.with_info_icon do %>
            <span class="text-secondary">
              Channel like <%= release_specific_channel_pattern(@setting.app) %> will be created for each release
            </span>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% f.with_action do %>
      <% f.F.authz_submit "Save", "archive.svg", size: :xs %>
    <% end %>
  <% end %>
<% end %>
