<%= render EnhancedTurboFrameComponent.new(@setting.edit_frame_id) do %>
  <%= render FormComponent.new(@setting.edit_form_params) do |f| %>
    <% f.with_section(heading: "Select") do |section| %>
      <% section.with_description do %>
        <div>One or more channel names for this type of notification.</div>
      <% end %>

      <%= render Form::SwitchComponent.new(form: section.F,
                                           field_name: :active,
                                           switch_id: "active-switch-#{@setting.id}",
                                           on_label: "Notifications enabled",
                                           off_label: "Notifications disabled") do |switch| %>
          <% switch.with_child do %>
            <%= section.F.labeled_select :notification_channels,
                                         "Channels",
                                         @setting.channel_select_options,
                                         {},
                                         {multiple: true, data: {controller: "input-select"}} %>
          <% end %>

          <% if @setting.needs_invite? %>
            <span class="text-secondary">To allow file uploads in channels, invite <strong>@Tramline</strong> into your channels.</span>
          <% end %>
          <%= render partial: "shared/notifications_refresh", locals: {app: @app} %>
      <% end %>
    <% end %>

    <% if @setting.release_specific_channel_allowed? %>
      <% f.with_section(heading: "Release Specific") do |section| %>
        <% section.with_description do %>
          <div>Enable to receive notifications in release specific channels</div>
        <% end %>

        <% if @train.notifications_release_specific_channel_enabled? %>
          <%= render Form::SwitchComponent.new(form: section.F,
                                               field_name: :release_specific_enabled,
                                               switch_id: "release-specific-enabled-#{@setting.id}",
                                               on_label: "Notifications enabled",
                                               off_label: "Notifications disabled") do |switch| %>
            <% switch.with_child do %>
              <%= section.F.label_only :release_specific_enabled,
                                       "Channel like #{release_specific_channel_pattern(@setting.app)} will be created for each release" %>
            <% end %>
          <% end %>
        <% else %>
          <span class="text-secondary">Notifications to release specific channels must be enabled in train settings first to configure this.</span>
        <% end %>
      <% end %>
    <% end %>

    <% f.with_action do %>
      <% f.F.authz_submit "Save", "archive.svg", size: :xs %>
    <% end %>
  <% end %>
<% end %>
