<%= render V2::EnhancedTurboFrameComponent.new(@setting.edit_frame_id) do %>
  <%= render V2::FormComponent.new(@setting.edit_form_params) do |f| %>
    <% f.with_section(heading: "Select") do |section| %>
      <% section.with_description do %>
        <div>One or more channel names for this type of notification.</div>
      <% end %>

      <%= render V2::Form::SwitchComponent.new(form: section.F,
                                               field_name: :active,
                                               switch_id: "active-switch-#{@setting.id}",
                                               on_label: "Notifications enabled",
                                               off_label: "Notifications disabled") do |switch| %>
        <% switch.with_child do %>
          <%= section.F.labeled_select :notification_channels,
                                       "Channels",
                                       @setting.channel_select_options,
                                       {},
                                       { multiple: true, data: { controller: "input-select" } } %>
        <% end %>
      <% end %>

      <% if @setting.needs_invite? %>
        <span class="text-secondary">To allow file uploads in channels, invite <strong>@Tramline</strong> into your channels.</span>
      <% end %>
      <%= render partial: "shared/notifications_refresh", locals: { app: @app } %>
    <% end %>

    <% f.with_action do %>
      <% f.F.authz_submit "Save", "archive.svg", size: :xs %>
    <% end %>
  <% end %>
<% end %>
