<section>
  <div class="flex">
    <h2 class="font-bold text-2xl">Commits after release kick-off</h2>
  </div>

  <% commits_count = release.commits.size %>

  <table class="table-auto w-full mt-6">
    <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
    <tr>
      <th class="px-2 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">commits</div>
      </th>

      <th class="py-3 whitespace-nowrap"><!-- build details accordion --></th>
    </tr>
    </thead>

    <% release.commits.order(created_at: :desc).includes(step_runs: :step).each_with_index do |commit, index| %>
      <% is_stale_commit = commit.stale? %>
      <tbody class="text-sm border-b last:border-b-0" data-controller="reveal" data-reveal-toggle-keys-value="b">

      <!-- commit details -->
      <tr>
        <td class="py-4 whitespace-nowrap">
          <%
            if is_stale_commit
              link_text_class = "text-slate-400"
              number_text_class = "bg-slate-100 text-slate-400"
            else
              link_text_class = "font-medium"
              number_text_class = "bg-slate-200 text-slate-600"
            end
          %>

          <%= link_to_external commit.message.truncate(50), commit.url, class: "underline #{link_text_class}" %>
          <span class="text-xs uppercase tracking-wide inline-flex font-medium <%= number_text_class %> rounded-full text-center px-2 py-0.5">
            #<%= commits_count - index %>
          </span>

          <div class="text-slate-500">
            <code><%= commit.short_sha %></code> • <%= ago_in_words commit.timestamp %>
          </div>
        </td>
        <td class="align-text-top pt-4 whitespace-nowrap w-px">
          <button
            class="text-slate-400 hover:text-slate-500 transform"
            data-action="reveal#toggle">

            <div class="flex truncate">
              <span class="truncate mx-2 font-medium text-slate-500 group-hover:text-slate-800 underline">Details</span>
              <%= inline_svg("caret_down.svg", classname: "w-3 h-3 shrink-0 ml-1 mt-1 fill-current text-slate-500 group-hover:text-slate-800 rotate-0") %>
            </div>
          </button>
        </td>
      </tr>

      <!-- indented commit body -->
      <tr data-reveal <%= "hidden" if is_stale_commit %>>
        <td colspan="2" class="pb-4 whitespace-nowrap">

          <% if is_stale_commit %>
            <span class="font-medium mb-2">This commit has been replaced by a newer commit.</span>
          <% end %>
          <div class="grid grid-cols-2 gap-y-1 ml-4 gap-x-4">
            <% release.release_platform_runs.each do |run| %>
              <% if run.on_track? %>
                <% if commit.step_runs_for(run).blank? && !is_stale_commit %>
                  <%= form_with(model: commit, url: apply_release_commit_path(@release, commit.id), method: :post, builder: ButtonHelper::AuthzForms) do |form| %>
                    <%= form.hidden_field :platform, value: run.platform %>
                    <%= form.authz_submit :blue, "Apply commit to #{run.platform}" %>
                  <% end %>
                <% else %>
                  <div>
                    <% commit.step_runs_for(run).each_with_index do |step_run| %>
                      <div class="border-dashed border-t border-slate-700 last:border-t-0 mb-2"></div>

                      <div class="pt-2 <%= "opacity-50" if is_stale_commit %>">
                        <div class="mb-2 font-medium text-base">
                          <%= step_run.step.name %>
                          <%= dev_show { step_run.id.strip } %>
                        </div>
                        <!-- per step info -->
                        <div>
                          <!-- ci link -->
                          <div class="mb-2">
                            <% if step_run.ci_link.present? %>
                              <%= link_to_external "CI workflow run ↗", step_run.ci_link, class: "underline" %>
                            <% else %>
                              CI workflow running
                            <% end %>

                            <span class="ml-1"><%= build_status_badge(step_run) %></span>
                            <% if step_run.fetching_build? %>
                              <%= status_badge("Waiting for build", %w[bg-green-500 text-white], pulse: true) %>
                            <% end %>
                          </div>

                          <!-- download build -->
                          <% if step_run.build_artifact_available? %>
                            <div class="mb-2">
                              <%= link_to_external "Download build ↗", step_run.download_url, class: "underline" %>

                              <div class="text-slate-500">
                                <%= render partial: "shared/build_details", locals: { step_run:, with_artifact: true } %>
                              </div>
                            </div>
                          <% end %>

                          <!-- distributions -->
                          <% if step_run.deployment_runs.exists? %>
                            <div class="mb-2">
                              <%= Deployment.display.pluralize %>
                              <div class="mt-2">
                                <% step_run.deployment_runs.each do |deployment_run| %>
                                  <% deployment = deployment_run.deployment %>
                                  <div class="mb-1">
                                    <div class="mr-1 inline">
                                      <%= render partial: "shared/deployment", locals: { deployment: deployment } %>
                                    </div>

                                    <%= deployment_run_status_badge(deployment_run) %>

                                    <% if deployment_run.released? && deployment_run.rollout_percentage %>
                                      <div class="text-xs ml-6 mt-1">
                                        <span>Released to <%= number_to_percentage deployment_run.rollout_percentage %>
                                          of the users</span>
                                        <div class="border-slate-200 w-1/2">
                                          <div class="relative w-full h-2 bg-slate-300">
                                            <div class="absolute inset-0 bg-emerald-500" aria-hidden="true" style="width: <%= deployment_run.rollout_percentage %>%"></div>
                                          </div>
                                        </div>
                                      </div>
                                    <% end %>

                                    <%= render partial: "shared/live_release/external_release", locals: { deployment_run: } %>
                                  </div>
                                <% end %>
                              </div>
                            </div>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              <% else %>
                <div class="mt-4">
                  <%= render "shared/note_box",
                             message: "This release was completed and is now locked." %>
                </div>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
</section>
