<section>
  <% commits = build_queue.commits.sequential %>
  <% commits_count = commits.size %>
  <div class="flex flex-col w-full">
    <div>
      <h2 class="text-2xl text-slate-800 font-bold">Build Queue</h2>
      <span class="text-sm text-slate-400">
        <%= commits_count %>&nbsp;commit(s) in the queue.
        These will be applied in <%= time_in_words(build_queue.scheduled_at) %> or after <%= build_queue.build_queue_size %> commits.
      </span>
    </div>
    <% if commits.present? %>
      <div class="text-left mt-2 mb-2">
        <% if release.committable? %>
          <%= authz_button_to :blue, "Apply commits", apply_release_build_queue_path(release, build_queue), class: "btn-xs", data: { turbo_confirm: "This will trigger steps for the HEAD of the queue, are you sure?" } %>
        <% else %>
          <%= authz_button_to :disabled, "Apply commits", apply_release_build_queue_path(release, build_queue), class: "btn-xs" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <% if commits.present? %>
    <table class="table-auto w-full">
      <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
      <tr>
        <th class="px-2 py-3 whitespace-nowrap">
          <div class="font-semibold text-left">commits</div>
        </th>
      </tr>
      </thead>
      <tbody class="text-sm border-b last:border-b-0">
      <% commits.each_with_index do |commit, index| %>
        <tr>
          <td class="py-4 whitespace-nowrap flex flex-row justify-between items-center">
            <div>
              <%= link_to_external commit.message.truncate(65), commit.url, class: "underline font-medium" %>
              <span class="text-xs uppercase tracking-wide inline-flex font-medium bg-slate-200 text-slate-600 rounded-full text-center px-2 py-0.5">#<%= commits_count - index %></span>

              <div class="text-slate-500 text-xs mt-1">
                <%= formatted_commit_info(commit) %>
              </div>
            </div>

            <%= render partial: "shared/live_release/commit_backmerge_status", locals: {commit: commit} %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% end %>
</section>
