<section data-controller="reveal">
  <div class="mb-4">
    <%= render partial: "shared/live_release/section_title", locals: {heading: "Commits since last release", subheading: nil} %>
  </div>

  <% commits = release.release_changelog&.normalized_commits %>
  <% commits_count = commits&.size %>

  <div class="mb-2 text-slate-500 text-sm">
    <% if release.release_changelog.present? %>
      <span>Diff from <code><%= release.release_changelog.from_ref %></code></span>
    <% else %>
      <span>No data found</span>
    <% end %>
  </div>

  <% if commits.present? %>
    <div class="bg-slate-50 border-t border-b border-slate-200 mt-4">
      <%= toggle_for(false) do %>
        <div class="text-xs font-semibold uppercase text-slate-500 group-hover:text-slate-800 mr-1">
          <%= commits_count %> commits
        </div>
      <% end %>
    </div>
    <div class="max-h-80 overflow-y-scroll overflow-x-hidden">
      <table class="w-full">
        <tbody data-reveal class="text-sm border-b last:border-b-0" data-controller="reveal">
        <% commits.each_with_index do |commit, index| %>
          <tr>
            <td class="py-4 whitespace-nowrap text-slate-500">
              <div class="flex flex-row items-start">
                <div class="text-xs uppercase tracking-wide font-medium rounded-full text-center px-2 py-0.5 mr-2 bg-slate-100">
                  #<%= commits_count - index %>
                </div>
                <div class="flex flex-col">
                  <div>
                    <%= link_to_external commit.truncated_message, commit.url, class: "underline font-medium text-black" %>
                  </div>
                  <div class="mt-1">
                    <%= formatted_commit_info(commit) %>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>
