<section data-controller="reveal">
  <div class="mb-4">
    <span class="font-bold text-2xl">Commits since last release</span>
  </div>

  <% commits = release.release_changelog&.normalized_commits %>
  <% commits_count = commits&.size %>

  <div class="mb-2 text-slate-500 text-sm">
    <% if release.release_changelog.present? %>
      <span>Diff from <code><%= release.release_changelog.from_ref %></code></span>
    <% else %>
      <span>No data found</span>
    <% end %>
  </div>

  <% if commits.present? %>
    <div class="group text-slate-500 bg-slate-50 border-t border-b border-slate-200 mt-4">
      <button class="px-2 py-3 transform flex" data-action="reveal#toggle">
        <div class="text-xs font-semibold uppercase group-hover:text-slate-700">
          <span class="font-bold"><%= commits_count %></span>&nbsp;commits
        </div>
        <%= inline_svg("caret.svg", classname: "w-3 h-3 shrink-0 ml-1 mt-0.5 fill-current group-hover:text-slate-700 rotate-0") %>
      </button>
    </div>
    <div class="max-h-80 overflow-y-scroll overflow-x-hidden">
      <table class="w-full">
        <tbody data-reveal class="text-sm border-b last:border-b-0" data-controller="reveal">
        <% commits.each_with_index do |commit, index| %>
          <tr>
            <td class="py-4 whitespace-nowrap text-slate-500">
              <div class="flex flex-row items-start">
                <div class="text-xs uppercase tracking-wide font-medium rounded-full text-center px-2 py-0.5 mr-2 bg-slate-100">
                  #<%= commits_count - index %>
                </div>
                <div class="flex flex-col">
                  <div>
                    <%= link_to_external commit.truncated_message, commit.url, class: "underline font-medium text-black" %>
                  </div>
                  <div class="mt-1">
                    <%= formatted_commit_info(commit) %>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</section>
