<% if step_run.present? %>
  <% if step_run.manually_startable_deployment?(deployment) %>
    <%= authz_button_to :blue,
                        "Start this deployment",
                        start_release_step_run_deployment_path(platform_run, step_run, deployment),
                        { class: 'mt-2 btn-xs' } %>
  <% end %>

  <% deployment_run = step_run.last_run_for(deployment) %>

  <% if deployment_run.present? %>
    <span class="ml-1"><%= deployment_run_status_badge(deployment_run) %></span>

    <% if deployment_run.reviewable? %>
      <%= authz_button_to :blue,
                          "Submit for review",
                          submit_for_review_deployment_run_path(deployment_run),
                          { method: :patch, class: 'mt-2 btn-xs' } %>
    <% end %>

    <% if deployment_run.releasable? %>
      <%= authz_button_to :blue,
                          "Start release",
                          start_release_deployment_run_path(deployment_run),
                          { method: :patch, class: 'mt-2 btn-xs' } %>
    <% end %>

    <% if deployment_run.failed_prepare_release? %>
      <%= authz_button_to :blue,
                          "Replace inflight release",
                          prepare_release_deployment_run_path(deployment_run),
                          { method: :patch,
                            class: 'mt-2 btn-xs',
                            params: { deployment_run: { force: true } },
                            data: { turbo_confirm: "This will over-write the current inflight release submission, are you sure?" } } %>
    <% end %>

    <% if deployment_run.staged_rollout.present? %>
      <div class="ml-0 mt-4 pb-1 border-t border-dashed">
        <%= render StagedRolloutComponent.new(deployment_run.staged_rollout) %>
      </div>
    <% end %>
  <% end %>

  <%= render partial: "shared/demo/release_approvals", locals: { step_run: step_run, deployment: deployment, deployment_run: deployment_run } %>
<% end %>
