<section>
  <span class="font-bold text-2xl">Finalize</span>
  <span class="text-xl text-slate-400 ml-4">pending</span>

  <% if release.post_release_started? %>
    <div class="text-center px-4 mb-6">
      <div class="inline-flex items-center justify-center w-16 h-16 rounded-full bg-gradient-to-t from-slate-200 to-slate-100 mb-4 animate-pulse">
        <%= image_tag("cube.svg", class: "glowing cube", width: 20) %>
      </div>
      <h2 class="text-2xl text-slate-400 mb-6">Finishing up, give us a few!</h2>
      <%= decorated_button_tag :blue, "Refresh", onclick: "window.location.reload();" %>
    </div>
  <% end %>

  <% if release.post_release_failed? %>
    <% if open_ongoing_prs.present? %>
      <div class="mt-2"><%= render "shared/note_box", type: :error, message: "We can't finalize this release, please merge/close the release change PRs and try finalizing again." %></div>
      <div class="mt-6">
        <div class="text-sm font-semibold text-slate-800 mb-1">Pull Requests</div>
      </div>
      <%= render partial: "shared/live_release/pull_requests_thin", locals: { prs: open_ongoing_prs, title_size: 80 } %>
      <div class="mt-6"><%= authz_button_to :blue, "Retry finalize", post_release_release_path(release), params: { release: { force_finalize: false } }, class: "btn-sm" %></div>
    <% elsif post_release_prs.open.present? %>
      <div class="mt-2"><%= render "shared/note_box", type: :error, message: "We couldn't fully finalize this release, please fix any merge conflicts and/or protection rules applied for your branches and try finalizing again." %></div>
      <div class="mt-6">
        <div class="text-sm font-semibold text-slate-800 mb-1">Pull Requests</div>
      </div>
      <%= render partial: "shared/live_release/pull_requests", locals: { prs: post_release_prs.open } %>
      <div class="mt-6"><%= authz_button_to :blue, "Retry finalize", post_release_release_path(release), params: { release: { force_finalize: false } }, class: "btn-sm" %></div>
    <% else %>
      <% if release.unmerged_commits.exists? %>
        <div class="mt-6">
          <div class="text-sm font-semibold text-slate-800 mb-1">Unmerged Commits</div>
        </div>
        <span class="text-sm text-slate-500">
          You have <%= release.unmerged_commits.size %> commit(s) that were not automatically merged by Tramline.<br>
          You can see the current diff between the branches <%= link_to_external "here", release.compare_url, class: "underline" %>
          .<br>
          Please ensure that those changes have been manually merged back on <code><%= release.train.working_branch %></code> before completing the finalize phase.
        </span>
      <% end %>

      <div class="mt-6"><%= authz_button_to :blue, "Complete finalize phase", post_release_release_path(release), params: { release: { force_finalize: true } }, class: "btn-sm" %></div>

      <%= render partial: "shared/live_release/pull_requests", locals: { prs: post_release_prs } %>
    <% end %>
  <% end %>
</section>
