<section>
  <div class="mb-6">
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Kick-off", subheading: "#{time_ago_in_words(release.created_at)} ago" } %>
  </div>

  <%= render MetaTableComponent.new do |mt| %>
    <% mt.with_description("Branching Strategy") do %>
      <%= release_train.branching_strategy_name %>
    <% end %>

    <% mt.with_description("Release Branch") do %>
      <span class="underline"><%= link_to_external "#{release.branch_name} ↗", release.branch_url %></span>
    <% end %>

    <% if release.hotfix? %>
      <% mt.with_description("Release Type") do %>
        <%= release.display_attr(:release_type) %>
        <%= hotfixed_from(release) %>
      <% end %>
    <% end %>

    <% mt.with_description("Backmerge Config") do %>
      <%== backmerge_text(release.train) %>
    <% end %>
  <% end %>
</section>
