<%= link_to(pr.url, target: "_blank", rel: "nofollow") do %>
  <div class="mt-2 rounded-md bg-white rounded-sm border border-slate-200 p-3">
    <div class="flex flex-row justify-between items-center">
      <div class="flex flex-row gap-x-2">
        <%= image_tag("integrations/logo_#{pr.source}.png", width: 22, class: "inline-flex") %>
        <h2 class="font-medium text-sm text-slate-800">
          <%= pr.title.truncate(title_size) %>
        </h2>
      </div>

      <div class="flex flex-row gap-x-2 items-center">
        <span class="font-normal text-xs">#<%= pr.number %></span>
        <%= pull_request_badge(pr) %>
      </div>
    </div>

    <div class="mt-1 flex flex-col gap-y-2">
      <div class="text-xs text-slate-500 flex gap-x-2">
        <div class="font-mono">
          <% if pr.base_ref == pr.head_ref %>
            <%= short_sha(pr.head_ref) %>
          <% else %>
            <%= pr.base_ref %> ← <%= pr.head_ref %>
          <% end %>
        </div>

        <% if pr.commit.present? %>
          <%= " • " %>
          <%= pr.commit.author_name || pr.commit.author_login %>
        <% end %>
      </div>

      <div>
        <% pr.labels&.each do |label| %>
          <%= status_badge(label["name"], :neutral) %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
