<div class="grid grid-cols-1 gap-3 mt-3">
  <% prs.each do |pr| %>
    <div class="mt-2 rounded-md bg-white rounded-sm border border-slate-200 p-4">
      <div class="flex flex-row justify-between items-center">
        <div class="flex flex-row gap-x-2">
          <%= image_tag("integrations/logo_#{pr.source}.png", width: 22, class: "inline-flex") %>
          <h2 class="font-medium text-sm text-slate-800">
            <%= pr.title.truncate(40) %>
            <span class="ml-1 underline">(#<%= link_to_external pr.number, pr.url %>)</span>
          </h2>
        </div>

        <div class="flex flex-row gap-x-2 items-center">
          <code class="text-xs">
            <% if pr.base_ref == pr.head_ref %>
              <%= short_sha(pr.head_ref) %>
            <% else %>
              <%= pr.head_ref %>
            <% end %>
          </code>

          <%= pull_request_badge(pr) %>
        </div>
      </div>
    </div>
  <% end %>
</div>
