<% release_metadata = release_platform_run.release_metadata %>
<% release_platform = release_platform_run.release_platform %>
<% release = release_platform_run.release %>

<section>
  <div class="flex justify-between items-center mb-4">
    <%= render partial: "shared/live_release/section_title", locals: {heading: "#{release_platform.platform} Metadata", subheading: nil} %>
    <%= authz_link_to (release_platform_run.metadata_editable? ? :neutral : :disabled),
                      "Edit",
                      edit_release_release_platform_release_metadatum_path(release, release_platform) %>
  </div>

  <%= render MetaTableComponent.new do |mt| %>
    <% mt.with_description("Release Notes") do %>
      <%= safe_simple_format release_metadata.release_notes %>
    <% end %>

    <% unless release_platform.android? %>
      <% mt.with_description("Promotional Text") do %>
        <%= safe_simple_format release_metadata.promo_text %>
      <% end %>
    <% end %>
  <% end %>
</section>
