<section>
  <div>
    <span class="font-bold text-xl"><%= platform %> – <%= release.release_version %></span>
  </div>

  <% if release.patch_fix? %>
    <div class="flex flex-col bg-slate-800 text-white rounded-sm py-5 my-5 text-center pr-8">
      <div class="uppercase tracking-wide text-2xl drop-shadow-md">
        <%= inline_svg("band_aid.svg", classname: "w-10 opacity-80 inline-flex align-bottom") %>
        <span class="align-baseline pl-2">release is now in <span class="underline">patch</span> mode</span>
      </div>
    </div>
  <% end %>

  <% if release.finished? || release.stopped? %>
    <section class="my-4">
      <div class="flex flex-wrap justify-between items-center px-5 py-3 bg-indigo-50 border border-indigo-100 rounded-sm text-left">
        <div class="text-slate-800 font-semibold">This release was <%= release.display_attr(:status) %> and is now
          locked.
        </div>
        <% if release.tag_name.present? %>
          <%= link_to_external release.tag_name, release.tag_url, class: "underline text-slate-500" %>
        <% end %>
      </div>
    </section>
  <% end %>

  <div class="flex flex-col mt-2">
    <ol class="mt-2">
      <% steps.each do |step| %>
        <% step_run = release.last_run_for(step) %>

        <li>
          <div class="flex items-center">
            <% if release.manually_startable_step?(step) %>
              <%= authz_button_to :blue,
                                  "Move to this step",
                                  start_release_step_run_path(release, step),
                                  { class: "btn-xs mb-2" } %>
            <% end %>

            <% if release.step_start_blocked?(step) %>
              <div class="flex flex-col mb-1">
                <%= authz_button_to :disabled,
                                    "Move to this step",
                                    start_release_step_run_path(release, step),
                                    { class: "btn-xs mb-1" } %>
                <div class="text-sm font-normal text-gray-500 bg-gray-50 p-2 rounded-sm border border-gray-200">
                  You cannot start this release step until the <%= blocked_step_release_link(release.release) %> is
                  finished.
                </div>
              </div>
            <% end %>

            <% if step_run&.may_retry_ci? && release.on_track? %>
              <%= authz_button_to :blue,
                                  "Retry CI Workflow",
                                  retry_ci_workflow_release_step_run_path(release, step_run),
                                  method: :patch,
                                  data: { turbo_method: :patch,
                                          turbo_confirm: "This will re-run the CI workflow. Are you sure?" },
                                  class: "btn-xs mb-2" %>
            <% end %>

            <% if step_run&.failed_with_action_required? && release.on_track? %>
              <div class="flex flex-col gap-y-2">
                <%= render "shared/note_box", type: :error, message: "Due to a previous rejection, new changes cannot be submitted to the store from Tramline. Please submit the current build (#{step_run.build_number}) for review manually from the Google Play Console by creating a release in a public track (eg. Closed testing, Open testing). Once that is done, you can sync the store status with Tramline and move forward with the release train." %>
                <%= authz_button_to :blue,
                                    "Sync store status",
                                    sync_store_status_release_step_run_path(release, step_run),
                                    method: :patch,
                                    data: { turbo_method: :patch,
                                            turbo_confirm: "Please ensure that you have manually submitted the build for review by creating a release in at least one public (alpha, beta, production) channel. Continue?" },
                                    class: "btn-xs mb-2" %>
              </div>
            <% end %>
          </div>

          <div>
            <%= render partial: "shared/per_step_metadata",
                       locals: { editable: false, platform_run: release, step: step, step_run: step_run } %>
          </div>
        </li>

        <%= render partial: "shared/step_tree_connector", locals: { color: step_color(step.kind) } %>
      <% end %>
    </ol>
  </div>

  <% if release.production_release_happened? %>
    <article data-controller="reveal">
      <div class="flex flex-row justify-between items-center">
        <div class="font-bold text-xl mt-8">Release Health</div>
        <%= toggle_for(true) %>
      </div>
      <div data-reveal hidden>
        <% release.store_releases.each do |store_release| %>
          <%= render ReleaseMonitoringComponent.new(deployment_run: store_release) %>
        <% end %>
      </div>
    </article>
  <% end %>

  <% if release.external_builds.size > 1 %>
    <article data-controller="reveal">
      <div class="flex flex-row justify-between items-center">
        <div class="font-bold text-xl mt-8">
          Build Health
        </div>
        <%= toggle_for(true) %>
      </div>
      <div data-reveal hidden>
        <% release.steps.each do |step| %>
          <%= render BuildHealthComponent.new(step:, release_platform_run: release) %>
        <% end %>
      </div>
    </article>
  <% end %>
</section>
