<section>
  <div>
    <span class="font-bold text-xl"><%= platform %> – <%= release.release_version %></span>
  </div>

  <% if release.hotfix? %>
    <div class="flex flex-col bg-slate-800 text-white rounded-sm py-5 my-5 text-center pr-8">
      <div class="uppercase tracking-wide text-2xl drop-shadow-md">
        <%= inline_svg("band_aid.svg", classname: "w-10 opacity-80 inline-flex align-bottom") %>
        <span class="align-baseline pl-2">release is now in <span class="underline">hotfix</span> mode</span>
      </div>
    </div>
  <% end %>

  <% if release.finished? %>
    <section class="my-4">
      <div class="flex flex-wrap justify-between items-center px-5 py-3 bg-indigo-50 border border-indigo-100 rounded-sm text-left">
        <div class="text-slate-800 font-semibold">This release was completed and is now locked.</div>
        <%= link_to_external release.tag_name, release.tag_url, class: "underline text-slate-500" %>
      </div>
    </section>
  <% end %>

  <div class="flex flex-col mt-2">
    <ol class="mt-2">
      <% steps.each do |step| %>
        <% step_run = release.last_run_for(step) %>

        <li>
          <div class="flex items-center">
            <% if release.on_track? && release.startable_step?(step) %>
              <%= authz_button_to :blue,
                                  "Move to this step",
                                  start_release_step_run_path(release, step),
                                  { class: "btn-xs mb-2" } %>
            <% end %>
          </div>

          <div>
            <%= render partial: "shared/per_step_metadata",
                       locals: { editable: false, release: release, step: step, step_run: step_run } %>
          </div>
        </li>

        <%= render partial: "shared/step_tree_connector", locals: { color: step_color(step.kind) } %>
      <% end %>
    </ol>
  </div>
</section>
