<% if current_organization.team_analysis_enabled? && current_organization.teams.any? %>
  <section>
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Team Analysis", subheading: nil } %>
    <div class="mt-6">
      <%= render ChartComponent.new({ data: commits.count_by_team(current_organization).reject { |_, value| value.zero? },
                                      colors: current_organization.team_colors,
                                      type: "polar-area",
                                      value_format: "number",
                                      name: "team.build_stability",
                                      show_x_axis: false,
                                      show_y_axis: false }) %>
    </div>
  </section>
<% end %>

<% if pull_requests.open.exists? %>
  <section>
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Ongoing Work", subheading: nil } %>

    <div class="w-full mt-6" data-controller="reveal" data-reveal-toggle-keys-value="p">
      <div class="flex flex-row gap-x-2 mb-4 text-sm">
        <%= decorated_link_to :neutral, "View all (#{pull_requests.size}) on #{@release.vcs_provider.display} ↗", @release.pull_requests_url, { target: "_blank", rel: "nofollow noopener" } %>
        <% if pull_requests.open.exists? %>
          <%= decorated_link_to :neutral, "View open (#{pull_requests.open.size}) on #{@release.vcs_provider.display} ↗", @release.pull_requests_url(true), { target: "_blank", rel: "nofollow noopener" } %>
        <% end %>
      </div>


      <div class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
        <%= toggle_for(false, full_width: true) do %>
          <div class="text-xs font-semibold uppercase text-slate-500 group-hover:text-slate-800 mr-1">
            open pull requests (<%= pull_requests.open.size %>)
          </div>
        <% end %>
      </div>

      <div data-reveal class="col-span-2">
        <div class="max-h-96 overflow-y-hidden hover:overflow-y-auto grid grid-cols-1 gap-3 mt-3">
          <% @mid_release_prs.open.each do |pr| %>
            <%= render partial: "shared/live_release/pull_request_thin", locals: { pr:, title_size: 65 } %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
<% end %>
