<% if current_organization.teams.any? %>
  <section>
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Team Analysis", subheading: nil } %>
    <div class="mt-6">
      <%= render ChartComponent.new({ data: commits.count_by_team,
                                      type: "polar-area",
                                      value_format: "number",
                                      name: "Team Contribution",
                                      title: "Team Contributions",
                                      scope: "number of commits to the release",
                                      help_text: "",
                                      show_x_axis: false,
                                      show_y_axis: false }, icon: "pie_chart.svg") %>
    </div>
  </section>
<% end %>

<% if pull_requests.exists? %>
  <section>
    <%= render partial: "shared/live_release/section_title", locals: { heading: "Ongoing Work", subheading: nil } %>

    <div class="w-full mt-6" data-controller="reveal" data-reveal-toggle-keys-value="p">
      <div class="flex flex-row gap-x-2 mb-4 text-sm">
        <%= decorated_link_to :neutral, "View all (#{pull_requests.size}) on #{@release.vcs_provider.display} ↗", @release.pull_requests_url, { target: "_blank", rel: "nofollow noopener" } %>
        <% if pull_requests.open.exists? %>
          <%= decorated_link_to :neutral, "View open (#{pull_requests.open.size}) on #{@release.vcs_provider.display} ↗", @release.pull_requests_url(true), { target: "_blank", rel: "nofollow noopener" } %>
        <% end %>
      </div>

      <% if pull_requests.open.exists? %>
        <div class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
          <%= toggle_for(false, full_width: true) do %>
            <div class="text-xs font-semibold uppercase text-slate-500 group-hover:text-slate-800 mr-1">
              open pull requests (<%= pull_requests.open.size %>)
            </div>
          <% end %>
        </div>

        <div data-reveal class="col-span-2">
          <div class="max-h-96 overflow-y-hidden hover:overflow-y-auto grid grid-cols-1 gap-3 mt-3">
            <% @mid_release_prs.open.each do |pr| %>
              <%= render partial: "shared/live_release/pull_request_thin", locals: { pr:, title_size: 68 } %>
            <% end %>
          </div>
        </div>
      <% else %>
        <p class="uppercase text-xs">No open PRs</p>
      <% end %>
    </div>
  </section>
<% end %>
