<section class="max-h-96 overflow-y-scroll overflow-x-hidden" data-controller="reveal" data-reveal-toggle-keys-value="b">
  <span class="font-bold text-2xl">Commits since last release</span>

  <% if release.previous_release.present? %>
    <table class="w-full mt-4 h-full">
      <thead class="group text-slate-500 bg-slate-50 border-t border-b border-slate-200">
      <tr>
        <th>
          <button class="px-2 py-3 transform flex" data-action="reveal#toggle">
            <div class="text-xs font-semibold uppercase group-hover:text-slate-700">commits
              – <%= release.fetch_commit_log.size %></div>
            <%= inline_svg("caret_down.svg", classname: "w-3 h-3 shrink-0 ml-1 mt-0.5 fill-current group-hover:text-slate-700 rotate-0") %>
          </button>
        </th>
      </tr>
      </thead>

      <tbody data-reveal class="text-sm border-b last:border-b-0" data-controller="reveal" data-reveal-toggle-keys-value="b">
      <% release.fetch_commit_log.each_with_index do |commit, index| %>

        <tr>
          <td class="py-4 whitespace-nowrap text-slate-500">
            <div class="flex flex-row">
              <div class="text-xs uppercase tracking-wide font-medium rounded-full text-center px-2 py-0.5">
                #<%= index + 1 %>
              </div>
              <div class="flex flex-col">
                <div>
                  <code><%= short_sha(commit[:sha]) %></code>
                  <%= link_to_external commit[:message].truncate(80), commit[:url], class: "underline font-medium" %>
                </div>
                <div class="mt-1">
                  <%= link_to_external (commit[:author_login] || commit[:author_name]), (commit[:author_url] || "mailto:#{commit[:author_email]}"), class: "underline" %>
                  committed <%= ago_in_words commit[:author_timestamp] %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="text-xs font-semibold uppercase px-2 py-3 text-slate-500 bg-slate-50 border-t border-b border-slate-200 w-full mt-4 h-full">
      No previous release found to compare
    </div>
  <% end %>
</section>
