<% if step_run.present? %>
  <% if step_run.manually_startable_deployment?(deployment) %>
    <%= authz_button_to :blue,
                        "Start this deployment",
                        start_release_step_run_deployment_path(release, step_run, deployment),
                        { class: 'mt-2 btn-xs' } %>
  <% end %>

  <% deployment_run = step_run.last_run_for(deployment) %>

  <% if deployment_run.present? %>
    <span class="ml-2"><%= deployment_run_status_badge(deployment_run) %></span>
    <span>staged? –> <%= deployment.staged_rollout? %></span>
  <% end %>

  <div class="ml-0 mt-2">
    <% if deployment_run&.rolloutable? %>
      <% staged_rollout = deployment_run.staged_rollout %>
      <table class="table-auto w-1/2 mb-2">
        <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
        <tr>
          <th>Stage</th>
          <th>Percentage</th>
          <th>Done?</th>
        </tr>
        </thead>
        <tbody>
        <% staged_rollout.config.each_with_index do |stage, idx| %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= stage %></td>
            <td><%= staged_rollout.reached?(idx) ? "yep" : "nope" %></td>
          </tr>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= form_with(model: [release, step_run, deployment_run, staged_rollout],
                    url: increase_deployment_run_staged_rollout_path(deployment_run),
                    data: { turbo_confirm: "You are about to release this build to a store channel.\n\nAre you sure?" },
                    builder: ButtonHelper::AuthzForms) do |form| %>

        <% unless staged_rollout.finished? %>
          <% if staged_rollout.current_stage %>
            <%= form.authz_submit :blue, "Increase Rollout", class: "btn-xs" %>
          <% else %>
            <%= form.authz_submit :blue, "Start Rollout", class: "btn-xs" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
