<% if step_run.present? %>
  <% if step_run.manually_startable_deployment?(deployment) %>
    <%= authz_button_to :blue,
                        "Start this deployment",
                        start_release_step_run_deployment_path(release, step_run, deployment),
                        { class: 'mt-2 btn-xs' } %>
  <% end %>

  <% deployment_run = step_run.last_run_for(deployment) %>

  <% if deployment_run.present? %>
    <span class="ml-2"><%= deployment_run_status_badge(deployment_run) %></span>
  <% end %>

  <div class="ml-0 mt-2">
    <% if deployment_run&.non_rolloutable? %>
      <%= form_with(model: [release, step_run, deployment_run],
                    url: promote_deployment_run_path(deployment_run),
                    builder: ButtonHelper::AuthzForms) do |form| %>
        <%= form.number_field :initial_rollout_percentage, value: "100", hidden: true %>
        <%= form.authz_submit :blue, "Release Fully", class: "btn-xs" %>
      <% end %>
    <% end %>

    <% if deployment_run&.rolloutable? %>
      <table class="table-auto w-1/2 mb-2">
        <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
        <tr>
          <th>Stage</th>
          <th>Percentage</th>
          <th>Done?</th>
        </tr>
        </thead>
        <tbody>
        <% deployment.staged_rollout.each_with_index do |stage, idx| %>
          <% reached = (deployment_run.initial_rollout_percentage && stage <= deployment_run.initial_rollout_percentage) %>

          <tr>
            <td><%= idx + 1 %></td>
            <td><%= stage %></td>
            <td><%= reached ? "yep" : "nope" %></td>
          </tr>
          </tr>
        <% end %>
        </tbody>
      </table>

      <%= form_with(model: [release, step_run, deployment_run],
                    url: rollout_deployment_run_path(deployment_run),
                    data: { turbo_confirm: "You are about to release this build to a store channel.\n\nAre you sure?" },
                    builder: ButtonHelper::AuthzForms) do |form| %>

        <% if deployment_run.next_rollout_percentage %>
          <% if deployment_run.previously_rolled_out? %>
            <%= form.authz_submit :blue, "Increase Rollout", class: "btn-xs" %>
          <% else %>
            <%= form.authz_submit :blue, "Start Rollout", class: "btn-xs" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
