<% if step_run.present? %>
  <% if step_run.manually_startable_deployment?(deployment) %>
    <%= authz_button_to :blue,
                        "Start this deployment",
                        start_release_step_run_deployment_path(release, step_run, deployment),
                        { class: 'mt-2 btn-xs' } %>
  <% end %>

  <% deployment_run = step_run.last_run_for(deployment) %>

  <% if deployment_run.present? %>
    <span class="ml-2"><%= deployment_run_status_badge(deployment_run) %></span>
  <% end %>

  <% if deployment_run&.promotable? %>
    <div class="ml-0 mt-2">
      <%= form_with(model: [release, step_run, deployment_run],
                    url: promote_deployment_run_path(deployment_run),
                    data: { turbo_confirm: "You are about to release this build to a store channel.\n\nAre you sure?" },
                    builder: ButtonHelper::AuthzForms) do |form| %>
        <% if deployment_run.previously_rolled_out? %>
          <%= form.number_field :initial_rollout_percentage,
                                value: deployment_run.previous_rollout,
                                hidden: true %>
          <%= form.authz_submit :blue,
                                "Release at #{number_to_percentage deployment_run.previous_rollout}",
                                class: "btn-xs" %>
        <% elsif deployment_run.rolloutable? %>
          <div class="mt-4">
            <%= form.number_field :initial_rollout_percentage,
                                  class: "form-input w-72 mb-3",
                                  placeholder: "Initial Staged Rollout Percentage",
                                  step: ".001",
                                  min: 0,
                                  max: 100,
                                  required: true %>
            <%= form.authz_submit :blue, "Release" %>
          </div>
        <% else %>
          <%= form.number_field :initial_rollout_percentage, value: "100", hidden: true %>
          <%= form.authz_submit :blue, "Release at 100%", class: "btn-xs" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
