<section class="border-t border-dashed border-slate-200 pt-8 mt-8">
  <div class="flex">
    <h2 class="font-bold text-2xl">Finalize</h2>
    <% unless release.signed? %>
      <span class="text-2xl text-slate-400 ml-4">pending</span>
    <% end %>
  </div>

  <% if release.post_release? %>
    <div class="text-center px-4 mb-6">
      <div class="inline-flex items-center justify-center w-16 h-16 rounded-full bg-gradient-to-t from-slate-200 to-slate-100 mb-4 animate-pulse">
        <svg class="w-5 h-6 fill-current" viewBox="0 0 20 24">
          <path class="text-slate-500" d="M10 10.562l9-5-8.514-4.73a1 1 0 00-.972 0L1 5.562l9 5z"/>
          <path class="text-slate-300" d="M9 12.294l-9-5v10.412a1 1 0 00.514.874L9 23.294v-11z"/>
          <path class="text-slate-400" d="M11 12.294v11l8.486-4.714a1 1 0 00.514-.874V7.295l-9 4.999z"/>
        </svg>
      </div>

      <h2 class="text-2xl text-slate-400 mb-6">Finishing up, give us a few!</h2>
      <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white" onClick="window.location.reload();">
        <span>Refresh</span>
      </button>
    </div>
  <% end %>

  <% if release.finished? && release.completed_at.present? %>
    <div class="mt-4 bg-slate-50 border border-slate-200 ">
      <div class="py-8 px-8 lg:px-8">
        <div class="max-w-sm mx-auto lg:max-w-none">
          <div class="text-slate-800 font-bold text-center mb-6 animate-bounce">
            ↯ Great work team! This release is complete! ↯
          </div>

          <div class="mt-8">
            <div class="mt-6 text-sm font-semibold text-slate-800 mb-1">Release Summary</div>
            <ul class="mt-3">
              <li class="flex items-center justify-between py-3 border-b border-slate-200">
                <div class="text-sm">Total Run Time</div>
                <div class="text-sm font-medium text-slate-800 ml-2">
                  <%= finalize_phase_metadata(release).dig(:total_run_time) %>
                </div>
              </li>

              <li class="flex items-center justify-between py-3 border-b border-slate-200">
                <div class="text-sm">Release Tag</div>
                <div class="flex items-center whitespace-nowrap">
                  <%= image_tag("git_tag.svg", width: 20, class: "inline-flex mr-2") %>
                  <div class="text-sm font-mono text-slate-800">
                    <%= link_to_external finalize_phase_metadata(release).dig(:release_tag),
                                         finalize_phase_metadata(release).dig(:release_tag_url) %>
                  </div>
                </div>
              </li>

              <% if release.last_good_step_run&.deployment_runs.last.initial_rollout_percentage.present? %>
                <li class="flex items-center justify-between py-3 border-b border-slate-200">
                  <div class="text-sm">Initial Roll-out Percentage</div>
                  <div class="flex items-center whitespace-nowrap">
                    <%= number_to_percentage(release.last_good_step_run&.deployment_runs.last.initial_rollout_percentage) %>
                    (<%= link_to_external "Increase on Play Store", "https://play.google.com/console/u/0/developers", class: "underline" %>
                    )
                  </div>
                </li>
              <% end %>

              <% unless finalize_phase_metadata(release).dig(:final_artifact_url).nil? %>
                <li class="flex items-center justify-between py-3 border-b border-slate-200">
                  <div class="text-sm">Final Release Build</div>
                  <div class="flex items-center whitespace-nowrap">
                    <%= image_tag("link.svg", width: 20, class: "inline-flex mr-2") %>
                    <div class="text-sm font-mono text-slate-800">
                      <%= link_to_external "Download Artifact", finalize_phase_metadata(release).dig(:final_artifact_url) %>
                    </div>
                  </div>
                </li>
              <% end %>

              <li class="flex items-center justify-between py-3">
                <div class="text-sm">Store Link</div>
                <div class="flex items-center whitespace-nowrap">
                  <div class="text-sm font-mono text-slate-800">
                    <%= link_to_external image_tag("link_external.svg", width: 20, class: "inline-flex mr-2"),
                                         finalize_phase_metadata(release).dig(:store_url) %>
                  </div>
                </div>
              </li>
            </ul>

            <% if post_release_prs&.exists? %>
              <div class="mt-6">
                <div class="text-sm font-semibold text-slate-800 mb-1">Pull Requests</div>
              </div>

              <div class="grid grid-cols-4 gap-5 mt-3">
                <% post_release_prs.each do |pr| %>
                  <div class="mt-2 bg-white rounded-sm border border-slate-200 p-4">
                    <%= image_tag("integrations/logo_#{pr.source}.png", width: 40, class: "mb-4") %>

                    <div class="h-full">
                      <h2 class="font-semibold text-slate-800">
                        <%= pr.title %>
                        <span class="ml-1 underline">(#<%= link_to_external pr.number, pr.url %>)</span>
                      </h2>

                      <div class="mt-2">
                        <%= image_tag("git_pull_request.svg", width: 20, class: "inline-flex") %>

                        <div class="text-xs inline-flex font-medium <%= pull_request_badge(pr) %> rounded-full text-center px-2.5 py-1">
                          <%= pr.state.titleize %>
                        </div>
                      </div>

                      <div class="font-mono text-xs mt-2">
                        <%= pr.base_ref %> ← <%= pr.head_ref %>
                      </div>

                      <% if pr.closed_at.nil? %>
                        <div class="text-sm mt-2">Opened at – <%= pr.opened_at.to_s(:short) %></div>
                      <% else %>
                        <div class="text-sm mt-2">Closed at – <%= pr.closed_at.to_s(:short) %></div>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</section>
