<div class="flex flex-col">
  <span class="text-slate-500"><%= simple_format step.description %></span>

  <span class="pt-1 flex items-center">
    <%= image_tag("workflow.svg", width: 16, class: "inline-flex mr-2") %>

    <span class="mr-2 text-slate-500"><%= show_ci_cd_provider step %> • <%= show_ci_cd_channel step %></span>

    <% if step_run&.build_version %>
      <%= image_tag("arrow-right.svg", width: 16, class: "inline-flex mr-2") %>

      <div class="flex items-center">
        <span class="mr-2 text-lg"><%= step_run.build_version %></span>
        <span class="text-xs uppercase tracking-wide inline-flex font-medium bg-indigo-100 text-indigo-600 rounded-full text-center px-2 py-0.5">
          Latest build
        </span>
      </div>
    <% end %>
  </span>

  <%= image_tag("arrow-down.svg", width: 16, class: "inline-flex mt-2 mb-2") %>

  <% step.deployments.each do |deployment| %>

    <div class="pt-1 flex items-center text-slate-500">
      <span class="mr-2 font-mono">
        <%= deployment.deployment_number %>
        <%= image_tag("arrow-right.svg", width: 16, class: "inline-flex") %>
      </span>

      <%= image_tag("package.svg", width: 16, class: "inline-flex mr-2") %>
      <span><%= show_deployment_provider deployment %> • <%= show_deployment_channel deployment %></span>
    </div>

    <% if deployment.startable? %>
      Start this deployment!
    <% end %>

    <% if step_run.present? %>
      <% deployment_run = step_run.last_run_for(deployment) %>

      <%= deployment_run&.status %>

      <% if deployment_run&.promotable? %>
        <div class="pr-9">
          <%= form_with(model: [@release, step_run], url: promote_release_step_run_path(@release, step_run)) do |form| %>
            <% if deployment_run.rolloutable? %>
              <%= form.number_field :initial_rollout_percentage, class: "form-input w-72 mb-3", placeholder: "Initial Staged Rollout Percentage", step: ".001", min: 0, max: 100, required: true %>
            <% else %>
              <%= form.number_field :initial_rollout_percentage, value: "100", hidden: true %>
            <% end %>

            <%= form.submit 'Promote', class: "btn bg-indigo-500 hover:bg-indigo-600 text-white" %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
