<div class="grid grid-cols-2 gap-3 mt-3">
  <% prs.each do |pr| %>
    <div class="mt-2 rounded-md bg-white rounded-sm border border-slate-200 p-4">
      <%= image_tag("integrations/logo_#{pr.source}.png", width: 40, class: "mb-4") %>

      <div class="h-full">
        <h2 class="font-semibold text-slate-800">
          <%= pr.title %><span class="ml-1 underline">(#<%= link_to_external pr.number, pr.url %>)</span>
        </h2>

        <div class="mt-2">
          <%= image_tag("git_pull_request.svg", width: 20, class: "inline-flex") %>

          <div class="text-xs inline-flex font-medium <%= pull_request_badge(pr) %> rounded-full text-center px-2.5 py-1">
            <%= pr.state.titleize %>
          </div>
        </div>

        <div class="font-mono text-xs mt-2">
          <%= pr.base_ref %> ← <%= pr.head_ref %>
        </div>

        <% if pr.closed_at.nil? %>
          <div class="text-sm mt-2">Opened at – <%= pr.opened_at.to_s(:short) %></div>
        <% else %>
          <div class="text-sm mt-2">Closed at – <%= pr.closed_at.to_s(:short) %></div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
