<section>
  <div>
    <span class="font-bold text-2xl">Stability</span>
    <span class="text-xl text-slate-400 ml-4"><%= time_ago_in_words(release.updated_at) %> ago</span>
  </div>

  <div class="mt-4">
    <%= render "shared/note_box",
               message: "When a new commit lands, all steps are re-run until the last running step.
               This ensures that previous stakeholders are kept up-to-date." %>
  </div>

  <div class="mt-2">
    <%= render "shared/note_box",
               message: "If your release is stuck in some unrecoverable state, just land another commit to kick things off again." %>
  </div>

  <p class="font-bold text-2xl mt-8 mb-2">Latest builds</p>

  <div class="flex flex-col mt-2">
    <ol class="mt-2">
      <% steps.each do |step| %>
        <% step_run = release.last_run_for(step) %>

        <li>
          <div class="flex items-center">
            <% if release.on_track? && release.startable_step?(step) %>
              <%= authz_button_to :blue,
                                  "Move to this step",
                                  start_release_step_run_path(release, step),
                                  { class: "btn-xs mb-2" } %>
            <% end %>
          </div>

          <div>
            <%= render partial: "shared/per_step_metadata",
                       locals: { editable: false, release: release, step: step, step_run: step_run } %>

            <%= render partial: "releases/live_release/step_sign_offs",
                       locals: { release: release, release_train: release_train, step: step, step_run: step_run } %>
          </div>
        </li>

        <%= render partial: "shared/step_tree_connector", locals: { color: step_color(step.kind) } %>
      <% end %>
    </ol>

    <% if release.start_finalize? %>
      <div class="mt-8">
        <%= authz_button_to :blue, "Finish this release", post_release_release_path(release), class: "btn-sm" %>
      </div>
    <% end %>
  </div>
</section>
