<section>
  <div class="flex">
    <h2 class="font-bold text-2xl">Stability</h2>
    <span class="text-xl text-slate-400 ml-4"><%= time_ago_in_words(release.updated_at) %> ago</span>
  </div>

  <div class="mt-5">
    <%= render "shared/note_box", message: "When a new commit lands, all steps are re-run until the last running step. This ensures that previous stakeholders are kept up-to-date." %>
  </div>

  <div class="mt-2">
    <%= render "shared/note_box", message: "If your release is stuck in some unrecoverable state, just land another commit to kick things off again." %>
  </div>

  <p class="font-bold text-2xl mt-8 mb-2">Latest build</p>

  <div class="flex flex-col mt-3">
    <ol class="relative border-l-4 border-gray-300 ml-3 mt-2">
      <% release_train.steps.order(:step_number).includes(:train, :runs).each do |step| %>
        <% step_run = release.last_run_for(step) %>

        <li class="mb-10 ml-6 last:mb-0">
          <div class="flex items-center">
            <% if step_run&.in_progress? %>
              <%= render partial: "releases/live_release/in_progress_circle" %>
            <% elsif step_run&.done? %>
              <%= render partial: "releases/live_release/done_circle" %>
            <% else %>
              <%= render partial: "releases/live_release/future_circle" %>
            <% end %>

            <p class="text-lg font-bold text-slate-800 pl-6"><%= step.name %></p>

            <% if release.on_track? && release.startable_step?(step) %>
              <%= button_to "Move to this step", start_release_step_run_path(release, step), { class: 'btn-xs ml-2 bg-indigo-500 hover:bg-indigo-600 text-white' } %>
            <% end %>
          </div>

          <div class="pl-6">
            <%= render partial: "releases/live_release/per_step_metadata", locals: { release: release, step: step, step_run: step_run } %>
            <%= render partial: "releases/live_release/step_sign_offs", locals: { release: release, release_train: release_train, step: step, step_run: step_run } %>
          </div>
        </li>
      <% end %>
    </ol>

    <% if release.finalizable? %>
      <div class="mt-9">
        <%= button_to "Finish this release", post_release_release_path(release), class: 'btn-sm bg-indigo-500 hover:bg-indigo-600 text-white' %>
      </div>
    <% end %>
  </div>
</section>
