<% if @release.finished? || @release.stopped? %>
  <% content_for :sticky_page_message do %>
    <%= render partial: "shared/sticky_topbar_message",
               locals: { msg: "This release was completed and is now completed." } %>
  <% end %>
<% end %>

<% breadcrumb :release_group, @release %>

<div class="sm:flex sm:justify-between sm:items-center pb-8 border-b border-slate-200">
  <!-- Left: Title -->
  <div class="mb-4 sm:mb-0">
    <h2 class="text-2xl md:text-3xl text-slate-800 font-bold">
      <%= @release.release_version %>
    </h2>
  </div>

  <!-- Right: Actions -->
  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
    <%= decorated_link_to :neutral, "Event Timeline", timeline_release_group_path(@release) %>

    <% if @release.stoppable? %>
      <%= authz_button_to :red, "Stop release", release_group_path(@release.id), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
  </div>
</div>

<div class="grid grid-cols-2 gap-6 mt-8">
  <div>
    <%= render partial: "releases/live_release/kick_off", locals: { release: @release, release_train: @train_group } %>

    <% if @release.pre_release_prs? %>
      <%= render partial: "releases/live_release/separator", locals: { margin_only: true } %>
      <%= render partial: "shared/demo/live_release/pre_release_prs", locals: { pre_release_prs: @pre_release_prs } %>
    <% end %>

    <%= render partial: "releases/live_release/separator", locals: { margin_only: true } %>

    <% if @release.release_metadata.present? %>
      <%= render partial: "shared/demo/live_release/release_metadata",
                 locals: { release: @release, is_android: false, edit_path: edit_release_group_release_metadatum_path(@release) } %>
    <% end %>
  </div>

  <div>
    <%= render partial: "shared/demo/live_release/commit_log", locals: { release: @release } %>
  </div>
</div>

<%= render partial: "releases/live_release/separator" %>

<% if @release.hotfix? %>
  <div class="flex flex-col bg-slate-800 text-white rounded-sm py-5 mb-5 text-center pr-8">
    <div class="uppercase tracking-wide text-2xl drop-shadow-md">
      <%= inline_svg("band_aid.svg", classname: "w-10 opacity-80 inline-flex align-bottom") %>
      <span class="align-baseline pl-2">release is now in <span class="underline">hotfix</span> mode</span>
    </div>
  </div>
<% end %>

<div class="mt-8">
  <span class="font-bold text-2xl">Build stability</span>
  <span class="text-xl text-slate-400 ml-4"><%= time_ago_in_words(@release.updated_at) %> ago</span>
</div>

<div class="grid grid-cols-2 gap-6 mt-8">
  <%= render partial: "shared/demo/live_release/stability", locals: { platform: "Android release", release: @release.android_run, steps: @android_steps, release_train: @android_train } %>
  <%= render partial: "shared/demo/live_release/stability", locals: { platform: "iOS release", release: @release.ios_run, steps: @ios_steps, release_train: @ios_train } %>
</div>

<%= render partial: "releases/live_release/separator" %>

<div class="grid grid-cols-2 gap-6 mt-8">
  <%= render partial: "shared/demo/live_release/builds", locals: { release: @release.android_run } %>
  <%= render partial: "shared/demo/live_release/builds", locals: { release: @release.ios_run } %>
</div>

<%= render partial: "releases/live_release/separator" %>

<div class="grid grid-cols-2 gap-6 mt-8">
  <div>
    <span class="font-bold text-2xl">Android Release Events</span>
    <%= render partial: "shared/event_timeline", locals: { events: @android_events, short_width: true } %>
    <span class="text-sm text-slate-400">Showing the last 10 events, <%= link_to "view all", timeline_release_group_path(@release), class: "underline" %></span>
  </div>

  <div>
    <span class="font-bold text-2xl">iOS Release Events</span>
    <%= render partial: "shared/event_timeline", locals: { events: @ios_events, short_width: true } %>
    <span class="text-sm text-slate-400">Showing the last 10 events, <%= link_to "view all", timeline_release_group_path(@release), class: "underline" %></span>
  </div>
</div>

<%= render partial: "releases/live_release/separator" %>

<div class="mt-8">
  <%= render partial: "shared/demo/live_release/finalize", locals: { release: @release, post_release_prs: @post_release_prs } %>
</div>
