<% unless @app.integrations.exists? %>
  <p>Go to the
    <%= link_to "installations page", new_accounts_organization_app_integration_path(current_organization, @app) %>
    to create an integration for this app.
  </p>
<% end %>

<% if @app.integrations_are_ready? %>
  <% unless @app.trains.exists? %>
    <p>Go to the
      <%= link_to "release train page", new_accounts_organization_app_releases_train_path(current_organization, @app) %>
      to create a new release train for this app.
    </p>
  <% end %>
<% else %>
  <p>
    Complete your integrations down below before adding a new step.
  </p>
<% end %>

<% if @app.trains.exists? %>
  <h2><%= @app.name %></h2>
  <h3>Trains</h3>
  <p>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Version from</th>
      <th>Version suffix</th>
      <th>Started</th>
      <th>Repeats</th>
    </tr>
    </thead>
    <% @app.trains.each do |train| %>
      <tbody>
      <tr>
        <td>
          <%= link_to train.name, accounts_organization_app_releases_train_path(current_organization, @app, train) %>
        <td>
          <%= train.description %>
        </td>
        <td>
          <%= train.version_seeded_with %>
        </td>
        <td>
          <%= train.version_suffix %>
        </td>
        <td>
          <%= train.kickoff_at.strftime("%b %e, %l:%M %p") %>
        </td>
        <td>
          <%= ActiveSupport::Duration.parse(Duration.new(train.repeat_duration).iso8601).inspect %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
  </p>

  <p>
    <%= link_to "Create another release train",
                new_accounts_organization_app_releases_train_path(current_organization, @app) %>
  </p>

  <hr/>
<% end %>

<% if @app.integrations.exists? %>
  <h3>Integrations</h3>
  <p>
  <table>
    <thead>
    <tr>
      <th>Category</th>
      <th>Provider</th>
      <th>Connected</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @integrations.each do |integration| %>
      <tr>
        <td><%= integration.category.titleize %></td>
        <td><%= integration.provider&.titleize %></td>
        <td>
          <% unless integration.fully_connected? %>
            ❌
          <% else %>
            ✅
          <% end %>
        </td>
        <td>
          <% if integration.fully_connected? %>
            <%= link_to "Show",
                        accounts_organization_app_integration_path(current_organization, @app, integration) %>
          <% elsif integration.partially_connected? %>
            <%= link_to "Complete Integration",
                        edit_accounts_organization_app_integration_path(current_organization, @app, integration) %>
          <% else %>
            Disconnected
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </p>

  <%= link_to "Add another integration", new_accounts_organization_app_integration_path(current_organization, @app) %>
<% end %>

