<% unless @app.integrations.exists? %>
  <p>Go to the
    <%= link_to "integrations page", new_accounts_organization_app_integration_path(current_organization, @app) %>
    to create an integration for this app.
  </p>
<% else %>
  <h2><%= @app.name %></h2>
  <table>
    <thead>
    <tr>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <tr>
      <td><%= link_to "Edit working branch", edit_accounts_organization_app_path(current_organization, @app) %></td>
    </tr>
    </tbody>
  </table>

  <h3>Integrations</h3>
  <table>
    <thead>
    <tr>
      <th>Category</th>
      <th>Provider</th>
      <th>Connected</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @app.integrations.each do |integration| %>
      <tr>
        <td><%= integration.category.titleize %></td>
        <td><%= integration.provider.titleize %></td>
        <td>✅</td>
        <td><%= link_to "Edit", edit_accounts_organization_app_integration_path(current_organization, @app, @version_control_integration) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </div>

  <% if @version_control_integration.active_repo.present? %>
    <h3>Releases</h3>
    <%= form_with(url: create_release_branch_accounts_organization_app_path(current_organization, @app), method: :post) do |form| %>
      <div class="field is-grouped">
        <div class="control">
          <%= form.submit 'Create Random Release Branch', class: "button is-link" %>
        </div>
      </div>
    <% end %>

    <hr/>

    <%= form_with(url: create_pull_request_accounts_organization_app_path(current_organization, @app), method: :post) do |form| %>
      <% flash.each do |name, msgs| %>
        <% if name.eql?("custom_errors") %>
          <blockquote>
            <p><strong>Errors</strong></p>
            <table>
              <thead>
              <tr>
                <th>Resource</th>
                <th>Field</th>
                <th>Error Code</th>
              </tr>
              </thead>
              <tbody>

              <% JSON.parse(msgs).each do |msg| %>
                <tr>
                  <td><%= msg["resource"] %></td>
                  <td><%= msg["field"] %></td>
                  <td><%= msg["code"] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </blockquote>
        <% end %>
      <% end %>

      <div class="field">
        <div class="control">
          <%= form.text_field :pr_head, class: "input", placeholder: "Branch with your changes", required: true %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit 'Create Pull Request', class: "button is-link" %>
        </div>
      </div>
    <% end %>
  <% else %>
    Please set the <%= link_to "active repo", edit_accounts_organization_app_integration_path(current_organization, @app, @version_control_integration) %> in your VCS integration.
  <% end %>
<% end %>