<% unless @app.integrations.exists? %>
  <p>
    Go to the
    <%= link_to "installations page",
                new_accounts_organization_app_integration_path(current_organization, @app) %>
    to create an integration for this app.
  </p>
<% end %>

<% if @app.integrations_are_ready? %>
  <% unless @app.trains.exists? %>
    <p>Go to the
      <%= link_to "release train page",
                  new_accounts_organization_app_releases_train_path(current_organization, @app) %>
      to create a new release train for this app.
    </p>
  <% end %>
<% else %>
  <p>
    Complete your integrations down below before adding a new step.
  </p>
<% end %>

<% if @app.trains.exists? %>
  <h2><%= @app.name %></h2>

  <div class="col-span-full bg-white shadow-lg rounded-sm border border-slate-200">
    <h3>Trains</h3>
    <table>
      <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Version from</th>
        <th>Version suffix</th>
        <th>Started</th>
        <th>Repeats</th>
      </tr>
      </thead>
      <% @app.trains.each do |train| %>
        <tbody>
        <tr>
          <td>
            <%= link_to train.name, accounts_organization_app_releases_train_path(current_organization, @app, train) %>
          <td>
            <%= train.description %>
          </td>
          <td>
            <%= train.version_seeded_with %>
          </td>
          <td>
            <%= train.version_suffix %>
          </td>
          <td>
            <%= train.kickoff_at.strftime("%b %e, %l:%M %p") %>
          </td>
          <td>
            <%= ActiveSupport::Duration.parse(Duration.new(train.repeat_duration).iso8601).inspect %>
          </td>
        </tr>
        </tbody>
      <% end %>
    </table>
    <p>
      <%= link_to "Create another release train",
                  new_accounts_organization_app_releases_train_path(current_organization, @app) %>
    </p>
  </div>

  <hr/>
<% end %>
