<% unless @app.integrations.exists? %>
  <p>Go to the
    <%= link_to "integrations page", new_accounts_organization_app_integration_path(current_organization, @app) %>
    to create an integration for this app.
  </p>
<% end %>

<% if @app.trains.exists? %>
  <h2><%= @app.name %></h2>
  <h3>Trains</h3>
  <p>
  <table>
    <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Branch</th>
      <th>Version from</th>
      <th>Version suffix</th>
      <th>Started</th>
      <th>Repeats</th>
    </tr>
    </thead>
    <% @app.trains.each do |train| %>
      <tbody>
      <tr>
        <td>
          <%= link_to train.name, accounts_organization_app_releases_train_path(current_organization, @app, train) %>
        <td>
          <%= train.description %></td>
        <td>
          <%= train.working_branch %></td>
        <td>
          <%= train.version_seeded_with %></td>
        <td>
          <%= train.version_suffix %></td>
        <td>
          <%= train.kickoff_at.strftime("%b %e, %l:%M %p") %></td>
        <td>
          <%= ActiveSupport::Duration.parse(Duration.new(train.repeat_duration).iso8601).inspect %>
        </td>
      </tr>
      </tbody>
    <% end %>
  </table>
  </p>
<% end %>

<p>
  <%= link_to "Create a release train", new_accounts_organization_app_releases_train_path(current_organization, @app) %>
</p>

<hr/>

<% if @app.integrations.exists? %>
  <h3>Integrations</h3>
  <p>
  <table>
    <thead>
    <tr>
      <th>Category</th>
      <th>Provider</th>
      <th>Connected</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>

    <% @app.integrations.each do |integration| %>
      <tr>
        <td><%= integration.category.titleize %></td>
        <td><%= integration.provider.titleize %></td>
        <td>✅</td>
        <td><%= link_to "Edit", edit_accounts_organization_app_integration_path(current_organization, @app, @version_control_integration) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
  </p>
<% end %>

<hr/>

<% if @version_control_integration.active_repo.present? %>
  <h3>Releases</h3>

  <p>
    <%= form_with(url: create_release_branch_accounts_organization_app_path(current_organization, @app), method: :post) do |form| %>
    <fieldset>
      <legend>Branches</legend>
      <div class="field is-grouped">
        <div class="control">
          <%= form.submit 'Create Random Release Branch', class: "button is-link" %>
        </div>
      </div>
    </fieldset>
  <% end %>
  </p>

  <%= form_with(url: create_pull_request_accounts_organization_app_path(current_organization, @app), method: :post) do |form| %>
    <fieldset>
      <legend>PRs</legend>
      <% flash.each do |name, msgs| %>
        <% if name.eql?("custom_errors") %>
          <blockquote>
            <p><strong>Errors</strong></p>
            <table>
              <thead>
              <tr>
                <th>Resource</th>
                <th>Field</th>
                <th>Error Code</th>
              </tr>
              </thead>
              <tbody>

              <% JSON.parse(msgs).each do |msg| %>
                <tr>
                  <td><%= msg["resource"] %></td>
                  <td><%= msg["field"] %></td>
                  <td><%= msg["code"] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </blockquote>
        <% end %>
      <% end %>

      <div class="field">
        <div class="control">
          <%= form.text_field :pr_head, class: "input", placeholder: "Branch with your changes", required: true %>
        </div>
      </div>

      <div class="field is-grouped">
        <div class="control">
          <%= form.submit 'Create Pull Request', class: "button is-link" %>
        </div>
      </div>

      <code>Make sure you actually have some changes in the branch against your working branch.</code>
    </fieldset>
  <% end %>
<% else %>
  <p>
    Please set
    the <%= link_to "active repo", edit_accounts_organization_app_integration_path(current_organization, @app, @version_control_integration) %>
    in your VCS integration.
  </p>
<% end %>
