<div class="container mx-auto my-8 max-w-6xl">
  <h1 class="text-3xl font-bold mb-8">Set Up Your Release Process</h1>
  <turbo-frame id="onboarding-wizard">
    <div class="flex flex-col">
      <div class="flex flex-col md:flex-row gap-6">
        <!-- Left sidebar with vertical stepper -->
        <div class="w-full md:w-1/4">
          <ol class="relative border-l border-gray-200 dark:border-gray-700">
            <% steps.each_with_index do |step, index| %>
              <%= render Onboarding::StepComponent.new(title: STEPS[step][:title], index: index + 1, description: STEPS[step][:description], active: current_step?(step), completed: step_completed?(step)) %>
            <% end %>
          </ol>
        </div>

        <!-- Right content area -->
        <div class="w-full md:w-3/4">
          <div class="bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 rounded-lg">
              <%= content %>
            </div>
          </div>

          <!-- Navigation buttons -->
          <div class="<%= navigation_button_classes %>">
            <% if show_back_button? %>
              <%= link_to "Back", helpers.wizard_path(previous_step), data: {turbo_action: :advance}, class: back_button_classes %>
            <% end %>
            <% if show_next_button? %>
              <%= link_to "Next Step", helpers.wizard_path(next_step), data: {turbo_action: :advance}, class: next_button_classes %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </turbo-frame>
</div>
