<%= render V2::SimpleTabComponent.new(groups: ["Configure Android", "Configure iOS"]) do |component| %>
  <% [selected_config, other_config].compact.each do |platform_config| %>
    <% component.with_tab do %>
      <%= render V2::FormComponent.new(model: [app, train, platform_config.release_platform, platform_config],
                                       url: app_train_platform_config_path(app, train, platform_config.release_platform, platform_config)) do |f| %>
        <% f.with_section(heading: "Configure CI Workflows") do |section| %>
          <% section.with_description do %>
            You must have at least the RC workflow defined. The internal workflow is optional. The CI workflows should generate a valid build artifact (aab/apk/ipa).
          <% end %>

          <% section.F.fields_for :release_candidate_workflow do |rc_fields| %>
            <div>
              <%= rc_fields.hidden_field :id %>
              <%= rc_fields.labeled_select :identifier, "Release Candidate workflow",
                                           options_for_select(ci_actions.map { |c| [c[:name], c[:id]] }, platform_config.release_candidate_workflow.identifier),
                                           { required: true },
                                           data: { controller: "input-select" } %>
              <div class="text-sm mt-1">
                The RC workflow is used to generate the release candidate builds for the store.
              </div>
            </div>
          <% end %>

          <% section.F.fields_for :internal_workflow do |internal_fields| %>
            <div>
              <%= internal_fields.hidden_field :id %>
              <%= internal_fields.labeled_select :identifier, "Internal build workflow",
                                                 options_for_select(ci_actions.map { |c| [c[:name], c[:id]] }.unshift(["None", nil]), platform_config.internal_workflow&.identifier),
                                                 { required: false },
                                                 data: { controller: "input-select" } %>
              <div class="text-sm mt-1">
                If you have a different workflow to generate the internal build, you can configure it here.
              </div>
            </div>
          <% end %>
        <% end %>


        <% f.with_section(heading: "Configure Internal Release Step") do |section| %>
          <%= render V2::Form::SwitchComponent.new(form: section.F,
                                                   field_name: :internal_release_enabled,
                                                   on_label: "Send to testing channels",
                                                   off_label: "Do not send to testing channels") do |component| %>
            <% component.with_child do %>
              <%= render "pre_prod_release_form", section:, kind: :internal, submission_types:, platform: platform_config.release_platform %>
            <% end %>
          <% end %>
        <% end %>

        <% f.with_section(heading: "Configure Beta Release Step") do |section| %>
          <%= render V2::Form::SwitchComponent.new(form: section.F,
                                                   field_name: :beta_release_enabled,
                                                   on_label: "Send to beta channels",
                                                   off_label: "Do not send to beta channels") do |component| %>
            <% component.with_child do %>
              <%= render "pre_prod_release_form", section:, kind: :beta, submission_types:, platform: platform_config.release_platform %>
            <% end %>
          <% end %>
        <% end %>

        <% f.with_section(heading: "Configure Production Release Step") do |section| %>
          <% section.with_description do %>
            Configure the production release step for the release train.
          <% end %>

          <%= render V2::Form::SwitchComponent.new(form: section.F,
                                                   field_name: :production_release_enabled,
                                                   on_label: "Send to production channel",
                                                   off_label: "Do not send to production channel") do |component| %>
            <% section.F.fields_for :production_release, section.F.object.production_release do |prod_fields| %>
              <%= prod_fields.hidden_field :id %>
              <% component.with_child do %>
                <% prod_fields.fields_for :submissions, prod_fields.object.submissions.first do |sub_fields| %>
                  <%= render V2::Form::SwitchComponent.new(form: sub_fields,
                                                           field_name: :rollout_enabled,
                                                           on_label: "Staged Rollout enabled",
                                                           off_label: "Staged Rollout disabled") do |rollout| %>
                    <% rollout.with_child do %>
                      <div data-controller="domain--staged-rollout-help">
                        <% if platform_config.release_platform.ios? %>
                          <span class="text-xs text-slate-400">Phased release in App Store goes from 1%, 2%, 5%, 10%, 20%, 50% to 100% over 7 days</span>
                        <% else %>
                          <%= sub_fields.labeled_text_field :rollout_stages,
                                                            "Rollout stages",
                                                            { placeholder: "1, 2, 5, 10, 20, 50, 100",
                                                              data: { domain__staged_rollout_help_target: "input",
                                                                      action: "domain--staged-rollout-help#validateString" } } %>
                        <% end %>
                        <div class="text-sm text-slate-600 italic mt-2">
                          <span data-domain--staged-rollout-help-target="helpErrorText helpSuccessText"></span>
                        </div>
                      </div>
                    <% end %>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% f.with_action do %>
          <%= f.F.authz_submit "Save", "v2/archive.svg" %>
        <% end %>
      <% end %>
      <div class="mt-8">
        <span class="text-sm font-bold"><%= platform_config.platform %></span>
        <textarea class="w-full h-96" disabled="disabled"><%= JSON.pretty_generate(platform_config.as_json) %></textarea>
      </div>
    <% end %>
  <% end %>
<% end %>
