<%# locals: (app:, train:, platform:, platform_config:, platform_name:, platform_label:, ci_actions:, submission_types:) %>

<%= render V2::FormComponent.new(model: [app, train, platform, platform_config],
                                 url: app_train_platform_submission_config_path(app, train, platform_name)) do |f| %>
  <% f.with_section(heading: "Configure RC (Release Candidate) Workflow") do |section| %>
    <% section.with_description do %>
      You must have at least an RC workflow defined. The CI workflows should generate a valid build artifact (aab/apk/ipa).
    <% end %>

    <% section.F.fields_for :release_candidate_workflow, section.F.object.release_candidate_workflow do |rc_fields| %>
      <div class="flex flex-col gap-4">
        <div>
          <%= rc_fields.hidden_field :id, value: rc_fields.object.id %>
          <%= rc_fields.labeled_select :identifier, "Release Candidate workflow",
                                       options_for_select(ci_actions.map { |c| [c[:name], c[:id]] }, platform_config.release_candidate_workflow.identifier),
                                       {required: true},
                                       data: {controller: "input-select"} %>

          <div class="text-xs text-secondary mt-1">
            Please select the workflow that generates builds for <%= platform_label %> release candidates.
          </div>
        </div>

        <div class="flex flex-col gap-0.5">
          <%= render partial: "build_name_pattern_info" %>
          <div><%= rc_fields.labeled_text_field :artifact_name_pattern, "Build artifact name (optional)", placeholder: "Eg., build-abc.apk" %></div>
        </div>

        <div class="flex flex-col gap-0.5">
          <div class="grid grid-cols-2 gap-4">
            <div data-controller="nested-form-ext"
                 data-nested-form-ext-list-position-outlet="#release_candidate_workflow_additional_parameters"
                 class="grid gap-2 pt-3">
              <div>
                <%= render V2::ButtonComponent.new(
                  scheme: :light,
                  type: :action,
                  size: :xs,
                  label: "Add a new parameter",
                  html_options: { data: { action: "nested-form-ext#add" } },
                  arrow: :none) do |b|
                  b.with_icon("plus.svg", rounded: false)
                end %>
              </div>
              <ul data-controller="sortable-list-ext list-position"
                  data-sortable-list-ext-handle-value=".handle"
                  data-sortable-list-ext-list-position-outlet="#release_candidate_workflow_parameters"
                  data-list-position-initial-value=1
                  class="flex flex-col item-gap-default"
                  id="release_candidate_workflow_parameters">
                <% rc_fields.object.parameters.each_with_index do |parameter, _index| %>
                  <% rc_fields.fields_for :parameters, parameter do |parameter_form| %>
                    <li class="nested-form-wrapper" data-new-record="false">
                      <%= parameter_form.labeled_text_field :name, "Parameter name", placeholder: "Parameter name" %>
                      <%= parameter_form.labeled_text_field :value, "Parameter value", placeholder: "Parameter value" %>
                    </li>
                  <% end %>
                <% end %>

                <template data-nested-form-ext-target="template">
                  <li class="nested-form-wrapper" data-new-record="true">
                    <% rc_fields.fields_for :parameters, rc_fields.object.parameters.build, child_index: "NEW_RECORD" do |parameter_form| %>
                      <%= parameter_form.labeled_text_field :name, "Parameter name", placeholder: "Parameter name" %>
                      <%= parameter_form.labeled_text_field :value, "Parameter value", placeholder: "Parameter value" %>
                    <% end %>
                  </li>
                </template>

                <div data-nested-form-ext-target="target"></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% f.with_section(heading: "Configure Production Release") do |section| %>
    <% section.with_description do %>
      Configuring production releases will enable the ability to send builds to the Production track on the stores (App Store, Play Store, etc.).
    <% end %>

    <% if platform.production_ready? %>
      <%= render V2::Form::SwitchComponent.new(form: section.F,
                                               field_name: :production_release_enabled,
                                               on_label: "Production release is enabled",
                                               off_label: "Disabled") do |component| %>
        <% section.F.fields_for :production_release, section.F.object.production_release || section.F.object.build_production_release do |prod_fields| %>
          <% component.with_child do %>
            <%= prod_fields.hidden_field :id, value: prod_fields.object.id %>
            <% prod_fields.fields_for :submissions, prod_fields.object.submissions.first || prod_fields.object.submissions.build(submission_type: platform.production_submission_type, auto_promote: false) do |sub_fields| %>
              <%= sub_fields.hidden_field :submission_type, value: sub_fields.object.submission_type %>
              <%= sub_fields.hidden_field :id, value: sub_fields.object.id %>
              <%= render V2::Form::SwitchComponent.new(form: sub_fields,
                                                       field_name: :rollout_enabled,
                                                       on_label: t("store_rollouts.switcher.#{platform_name}.enable"),
                                                       off_label: t("store_rollouts.switcher.#{platform_name}.disable")) do |rollout| %>

                <% if platform.android? %>
                  <% rollout.with_info_icon do %>
                    Here you set a standard template for the common progression of your rollout percentages. When you start a production release, you will always move through these.
                  <% end %>
                <% else %>
                  <% rollout.with_info_icon do %>
                    Phased release on the App Store automatically progresses by 1%, 2%, 5%, 10%, 20%, 50% to 100% over 7 days.
                  <% end %>
                <% end %>

                <% if platform.android? %>
                  <% rollout.with_child do %>
                    <div class="flex flex-col gap-6">
                      <div data-controller="domain--staged-rollout-help">
                        <%= sub_fields.labeled_text_field :rollout_stages,
                                                          "Rollout sequence",
                                                          {value: sub_fields.object.rollout_stages.join(", "),
                                                           placeholder: "1, 2, 5, 10, 20, 50, 100",
                                                           data: {domain__staged_rollout_help_target: "input",
                                                                  action: "domain--staged-rollout-help#validateString"}} %>

                        <div class="text-xs text-secondary mt-2">
                          <span data-domain--staged-rollout-help-target="helpSuccessText"></span>
                          <span data-domain--staged-rollout-help-target="helpErrorText" class="text-red-600"></span>
                        </div>
                      </div>

                      <%= render V2::Form::SwitchComponent.new(form: sub_fields,
                                                               field_name: :finish_rollout_in_next_release,
                                                               on_label: "Cascading rollouts are enabled",
                                                               off_label: "Cascading rollouts are disabled") do |c| %>
                        <% c.with_info_icon do %>
                          Cascading rollouts allow you to ensure that your previous rollout is fully completed before you start the rollouts for the current release.
                          This is useful when you want to keep the last rollout stage to be less than 100% (like 99.9%) so that you get an opportunity to halt it before the next one starts.
                        <% end %>
                      <% end %>
                    </div>
                  <% end %>
                <% end %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      <div class="text-xs text-secondary">
        Production releases are not available for this platform. You need to configure a store integration first.
      </div>
    <% end %>
  <% end %>

  <% f.with_section(heading: "Configure Beta Testing Tracks") do |section| %>
    <%= render V2::Form::SwitchComponent.new(form: section.F,
                                             field_name: :beta_release_submissions_enabled,
                                             on_label: "Beta testing tracks are enabled",
                                             off_label: "Disabled") do |component| %>

      <% component.with_info_icon do %>
        The submissions have an explicit order. You can drag them around to reorder them.
      <% end %>

      <% section.with_description do %>
        Release Candidate builds generated from the RC workflow will be sent to the configured beta testing tracks.
      <% end %>

      <% component.with_child do %>
        <%= render "pre_prod_release_form", section:, kind: :beta, submission_types:, platform: %>
      <% end %>
    <% end %>
  <% end %>

  <% f.with_section(heading: "Setup Internal Testing") do |section| %>
    <% section.with_description do %>
      If you have an internal testing process that generates non-production builds and sends them to testing channels, you can configure it here.
    <% end %>

    <%= render V2::Form::SwitchComponent.new(form: section.F,
                                             field_name: :internal_release_enabled,
                                             on_label: "Internal testing is enabled",
                                             off_label: "No internal testing setup") do |component| %>

      <% component.with_info_icon do %>
        Tramline requires both an internal workflow and the relevant submissions to be configured together if you enable Internal Testing.
      <% end %>

      <% component.with_child do %>
        <div class="flex flex-col gap-4">
          <% section.F.fields_for :internal_workflow, section.F.object.internal_workflow || Config::Workflow.new(kind: "internal") do |internal_fields| %>
            <div>
              <%= internal_fields.hidden_field :id, value: internal_fields.object.id %>
              <%= internal_fields.labeled_select :identifier, "Internal build workflow",
                                                 options_for_select(ci_actions.map { |c| [c[:name], c[:id]] }, platform_config.internal_workflow&.identifier),
                                                 {required: false},
                                                 data: {controller: "input-select"} %>

              <div class="text-xs text-secondary mt-1">Select a workflow that generates internal / non-production
                builds.
              </div>
            </div>

            <div class="flex flex-col gap-0.5">
              <%= render partial: "build_name_pattern_info" %>
              <div><%= internal_fields.labeled_text_field :artifact_name_pattern, "Build artifact name (optional)", placeholder: "Eg., build-abc.apk" %></div>
            </div>
          <% end %>

          <%= render "pre_prod_release_form", section:, kind: :internal, submission_types:, platform: %>
        </div>

      <% end %>
    <% end %>
  <% end %>

  <% f.with_action do %>
    <%= f.F.authz_submit "Save", "v2/archive.svg" %>
  <% end %>
<% end %>
