<div class="grid grid-cols-12 item-gap-default items-center">
  <%= parameter_form.hidden_field :id %>
  <%= parameter_form.hidden_field :_destroy %>
  <div class="col-span-5"><%= parameter_form.text_field_without_label :name, "Parameter name" %></div>
  <div class="col-span-5"><%= parameter_form.text_field_without_label :value, "Parameter value" %></div>
  <div class="col-span-2">
    <%= render ButtonComponent.new(
          scheme: :naked_icon,
          type: :action,
          size: :none,
          html_options: {data: {action: "nested-form-ext#remove"}}
        ) do |b|
          b.with_icon("trash.svg", size: :md)
        end %>
  </div>
</div>
