<div class="flex flex-row item-gap-default items-center w-full box-padding-md border border-dashed border-main-200 dark:border-main-600 rounded-lg"
     data-controller="nested-select"
     data-nested-select-selected-nested-option-value="<%= form.object.submission_external&.identifier %>"
     data-nested-select-options-value="<%= submission_types.to_json %>"
     data-nested-select-option-key-value="type"
     data-nested-select-nested-option-key-value="channels">

  <div class="flex justify-start">
    <%= render V2::IconComponent.new("grip.svg", size: :lg, classes: "handle cursor-grabbing") %>
  </div>

  <div class="flex flex-row flex-grow item-gap-default">
    <%= form.select_without_label :submission_type,
                                  options_for_select(submission_types.pluck(:type).map { |t| [t.display, t.to_s]}, form.object.submission_type),
                                  {},
                                  {data: {nested_select_target: "primary", action: "nested-select#updateNestedOptions"}} %>

    <% form.fields_for :submission_external, form.object.submission_external || Config::SubmissionExternal.new do |s| %>
      <%= s.hidden_field :id, value: s.object.id %>
      <%= s.select_without_label :identifier,
                                 {},
                                 {},
                                 {data: {nested_select_target: "nested", controller: "input-select"}} %>
    <% end %>
  </div>

  <div class="flex item-gap-default justify-end">
    <%= render V2::ButtonComponent.new(
      scheme: :naked_icon,
      type: :action,
      size: :none,
      html_options: {data: {action: "nested-form-ext#remove"}}) do |b|
      b.with_icon("v2/trash.svg", size: :md)
    end %>

    <%= render V2::Form::SwitchComponent.new(form: form, field_name: :auto_promote, on_label: "Auto-submit on", off_label: "Auto-submit off") %>
  </div>
</div>
