<div class="container mx-auto my-8 max-w-6xl">
  <h1 class="text-3xl font-bold mb-8">Set Up Your Release Process</h1>
  <turbo-frame id="onboarding-wizard">
    <%= render Onboarding::WizardComponent.new(current_step: current_step_config[:key]) do |wizard| %>
      <% steps.each do |step| %>
        <% wizard.with_step(
             key: step[:key],
             title: step[:title],
             index: step[:index],
             description: step[:description],
             active: step[:key] == @current_step,
             completed: @onboarding_state.step_completed?(step[:key])
           ) %>
      <% end %>
      <% wizard.with_active_step do %>
        <%= content %>
      <% end %>
      <% wizard.with_navigation_buttons do %>
        <div class="<%= navigation_button_classes %>">
          <% if show_back_button? %>
            <%= helpers.link_to "Back", helpers.wizard_path(previous_step), data: {turbo_action: :advance}, class: back_button_classes %>
          <% end %>
          <% if show_next_button? %>
            <%= helpers.link_to "Next Step", helpers.wizard_path(next_step), data: {turbo_action: :advance}, class: next_button_classes %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </turbo-frame>
</div>
