<%= render V2::AccordionComponent.new(push_down: false, acts_as_list: true) do |accordion| %>
  <% accordion.with_title_section do %>
    <div class="flex text-sm items-center justify-between">
      <div class="flex gap-2">
        <%= render V2::LiveRelease::BuildComponent.new(
          store_rollout.build,
          show_metadata: false,
          show_ci: false,
          show_activity: false,
          show_compact_metadata: true,
          show_commit: false) %>

        <%= render V2::BadgeComponent.new(text: "Superseded", status: :neutral) %>
      </div>

      <div class="flex items-center">
        <%= render V2::IconComponent.new("dotted_line.svg", size: :md, classes: "mx-2 text-secondary") %>
        <span class="text-secondary font-normal"><%= ago_in_words(store_rollout.updated_at) %></span>
      </div>
    </div>
  <% end %>

  <div class="flex flex-row items-center justify-between">
    <div class="flex itens-center gap-2">
      <div class="flex items-baseline gap-1 flex">
        <%= render V2::IconComponent.new("integrations/logo_#{provider}.png", size: :md) %>
        <div class="text-lg font-bold"><%= last_rollout_percentage %>%</div>
        <div class="text-sm text-secondary-50">of users</div>
        <div class="text-sm text-secondary-50">(<%= stage_help %>)</div>
      </div>
    </div>
    <%= render V2::ModalComponent.new(title: "Rollout timeline",
                                      size: :xs,
                                      type: :drawer,
                                      authz: false) do |modal| %>
      <% button = modal.with_button(scheme: :naked_icon,
                                    size: :xxs,
                                    type: :action) %>
      <% button.with_icon("activity.svg", size: :base) %>
      <% button.with_tooltip("See recent rollout activity", placement: "top") %>
      <% modal.with_body do %>
        <div class="pl-3"><%= render TimelineComponent.new(events:) %></div>
      <% end %>
    <% end %>
  </div>
<% end %>
