<%= render V2::AccordionComponent.new(push_down: false, acts_as_list: true) do |accordion| %>
  <% accordion.with_title_section do %>
    <div class="flex text-sm items-center justify-between">
      <div class="flex gap-2">
        <%= render V2::LiveRelease::BuildComponent.new(
          submission.build,
          show_metadata: false,
          show_ci: false,
          show_activity: false,
          show_commit: false,
          show_compact_metadata: true) %>

        <%= render V2::BadgeComponent.new(text: "Superseded", status: :neutral) %>
      </div>

      <div class="flex items-center">
        <%= render V2::IconComponent.new("dotted_line.svg", size: :md, classes: "mx-2 text-secondary") %>
        <span class="text-secondary font-normal"><%= ago_in_words(submission.updated_at) %></span>
      </div>
    </div>
  <% end %>

  <div class="flex flex-row items-center justify-between">
    <div class="flex items-center gap-1.5 text-center text-secondary">
      <%= render V2::IconComponent.new("integrations/logo_#{provider}.png", size: :xl) %>
      <%= render V2::BadgeComponent.new(**status) %>
    </div>

    <div class="flex items-center gap-1.5 text-center">
      <%= render V2::BadgeComponent.new(text: store_status, status: :neutral) %>
      <%= render V2::ButtonComponent.new(label: "Store dashboard ↗",
                                         scheme: :link,
                                         type: :link_external,
                                         options: external_link,
                                         html_options: { class: "text-sm" },
                                         authz: false,
                                         size: :none) do |b|
        b.with_icon(store_icon, size: :md)
      end %>
    </div>
  </div>
<% end %>
