<% content_for :error_resource do %>
  <%= render V2::ErrorComponent.new(submission) %>
<% end %>

<div class="flex flex-col item-gap-default">
  <% if @new_submission_prompt %>
    <%= render V2::AlertComponent.new(size: :md, kind: :announcement, type: :announce, title: "New RC Build is available") do |ann| %>
      <% modal = ann.with_announcement_modal(title: "Available builds", subtitle: "Choose a build to send for submission to the store") %>
      <% modal.with_button(label: "Start a new submission", scheme: :light, type: :action, size: :xxs) %>
      <% modal.with_body do %>
        <% render V2::FormComponent.new(model: [release, release_platform_run, release_platform_run.production_releases.new],
                                        scope: :production_release,
                                        url: run_production_path(release_platform_run),
                                        free_form: true) do |form| %>
          <%= form.F.labeled_select :build_id, "Select a build", build_opts %>
          <% form.with_action do %>
            <%= form.F.authz_submit "Create submission", "v2/mail.svg" %>
          <% end %>
        <% end %>
      <% end %>

      <div class="flex flex-col gap-2">
        <%= render V2::LiveRelease::BuildComponent.new(
          newer_builds.first,
          show_number: true,
          show_metadata: false,
          show_ci: false,
          show_activity: false,
          show_commit: false) %>

        <span class="text-sm">
          You can start a fresh submission from the newly prepared release candidate.
        </span>
      </div>
    <% end %>
  <% end %>

  <% if @cancel_prompt %>
    <%= render V2::AlertComponent.new(
      type: :info,
      title: "A new build #{newer_builds.first.display_name} is available. Cancel submission and change the build.",
      dismissible: true) %>
  <% end %>

  <% if @change_build_prompt %>
    <%= render V2::AlertComponent.new(
      type: :info,
      title: "A new build #{newer_builds.first.display_name} is available. Change build to update the submission.",
      dismissible: true) %>
  <% end %>

  <%= render V2::CardComponent.new(title: @title, size: :full, separator: false, border_style:) do |card| %>
    <% card.with_action do %>
      <% if changeable? %>
        <%= render V2::ModalComponent.new(
          title: "Available builds",
          subtitle: "Choose a build to send for submission to the store") do |modal| %>

          <% button = modal.with_button(label: "Change build", scheme: :light, type: :action, size: :xxs) %>
          <% button.with_icon("v2/pencil.svg") %>
          <% modal.with_body do %>
            <%= render V2::FormComponent.new(model: [release, release_platform_run, submission],
                                             scope: :store_submission,
                                             url: store_submission_path(id),
                                             free_form: true) do |form| %>
              <%= form.F.labeled_select :build_id, "Select a build", build_opts(default: current_build) %>

              <% form.with_action do %>
                <%= form.F.authz_submit "Change", "v2/mail.svg" %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% card.with_action do %>
      <%= mock_actions %>
    <% end %>

    <% card.with_action do %>
      <% if action.present? %>
        <%= render V2::ButtonComponent.new(**action) { |b| b.with_icon("v2/clipboard_list.svg") } %>
      <% end %>
    <% end %>

    <% card.with_action do %>
      <% if submission.reviewable? %>
        <%= render V2::ModalComponent.new(
          title: "Submission Preview",
          subtitle: "Review all the details before submitting for review",
          dismissable: false, size: :xxl) do |modal| %>

          <% modal.with_button(label: "Preview & submit for review", scheme: :default, type: :action, size: :xxs) %>
          <% modal.with_body do %>
            <div class="flex flex-col gap-6">
              <%= render V2::LiveRelease::PreviewSubmissionComponent.new(submission) %>
              <%= render V2::ButtonComponent.new(scheme: :default,
                                                 type: :button,
                                                 label: "Submit for review",
                                                 options: submit_for_review_store_submission_path(id),
                                                 turbo: false,
                                                 html_options: { method: :patch, data: { turbo_method: :patch } }) %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <div class="flex flex-col item-gap-default text-secondary text-xs">
      <div class="flex flex-row gap-2 items-center">
        <%= render V2::IconComponent.new("integrations/logo_#{provider}.png", size: :xl) %>
        <div class="justify-start"><%= render V2::BadgeComponent.new(**status) %></div>
        <%= render V2::LiveRelease::BuildComponent.new(current_build,
                                                       show_number: true,
                                                       show_metadata: false,
                                                       show_ci: false,
                                                       show_activity: false,
                                                       show_commit: false) %>
      </div>

      <%= render V2::LiveRelease::BuildComponent.new(current_build,
                                                     show_number: false,
                                                     show_metadata: true,
                                                     show_ci: false,
                                                     show_activity: false,
                                                     show_commit: true) %>
      <%= render V2::SectionComponent.new(style: :titled, title: "Store info", size: :micro) do %>
        <div class="flex justify-between items-center">
          <%= render V2::BadgeComponent.new(text: store_status, status: :neutral) %>
          <%= render V2::ButtonComponent.new(label: "Store dashboard ↗",
                                             scheme: :link,
                                             type: :link_external,
                                             options: external_link,
                                             html_options: { class: "text-sm" },
                                             authz: false,
                                             size: :none) do |b|
            b.with_icon(store_icon, size: :md)
          end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

