<div class="grid grid-cols-2 w-full mt-2 text-sm border-b last:border-b-0" data-controller="reveal">
  <div class="py-5 whitespace-nowrap">
    <%= commit_link %>
    <span class="text-xs uppercase tracking-wide inline-flex font-medium <%= number_style %> rounded-full text-center px-2 py-0.5"><%= commit_number %></span>
    <div class="text-slate-500"><%= commit_info %></div>
  </div>

  <div class="flex flex-row gap-x-2 justify-self-end items-center">
    <%= render V2::TeamPillComponent.new(team) %>
    <%= render partial: "shared/live_release/commit_backmerge_status", locals: { commit: commit } %>
    <%= details_toggle %>
  </div>

  <div data-reveal class="pb-4 whitespace-nowrap col-span-2" <%= "hidden" if stale? %>>
    <% if stale? %>
      <div class="my-2"><span class="font-medium">This commit has been replaced by a newer commit.</span></div>
    <% end %>

    <div class="grid grid-cols-2 gap-y-1 ml-4 gap-x-4">
      <% platform_runs.each do |run| %>
        <% if not_triggered?(run) %>
          <div class="mt-4"><%= actionable_commit(run) %></div>
        <% else %>
          <div>
            <% commit.step_runs_for(run).each do |step_run| %>
              <div class="border-dashed border-t border-slate-700 last:border-t-0 mb-2"></div>

              <div class="pt-2 <%= "text-gray-900/50" if stale? %>">
                <div class="mb-2 font-medium text-base">
                  <%= step_run.step.name %>
                  <%= dev_show { step_run.id.strip } %>
                </div>

                <!-- per step info -->
                <div>
                  <!-- ci link -->
                  <div class="mb-2">
                    <% if step_run.ci_link.present? %>
                      <%= link_to_external "CI workflow run ↗", step_run.ci_link, class: "underline" %>
                    <% else %>
                      CI workflow running
                    <% end %>

                    <span class="ml-1"><%= build_status_badge(step_run) %></span>

                    <% if step_run.fetching_build? %>
                      <%= status_badge("Waiting for build", %w[bg-green-500 text-white], pulse: true) %>
                    <% end %>
                  </div>

                  <!-- download build -->
                  <% if step_run.build_artifact_available? %>
                    <div class="mb-2">
                      <%= link_to_external "Download build ↗", step_run.download_url, class: "underline" %>

                      <div>
                        <%= render partial: "shared/build_details", locals: { step_run:, with_artifact: true } %>
                      </div>
                    </div>
                  <% end %>

                  <!-- distributions -->
                  <% if step_run.deployment_runs.exists? %>
                    <div class="mb-2">
                      <%= Deployment.display.pluralize %>
                      <div class="mt-2">
                        <% step_run.deployment_runs.each do |deployment_run| %>
                          <% deployment = deployment_run.deployment %>

                          <div class="mb-1">
                            <div class="mr-1 inline">
                              <%= render partial: "shared/deployment", locals: { deployment: deployment } %>
                            </div>

                            <%= deployment_run_status_badge(deployment_run) %>

                            <% if deployment_run.released? && deployment_run.rollout_percentage %>
                              <div class="text-xs ml-6 mt-1">
                                <span>
                                  Released to <%= number_to_percentage deployment_run.rollout_percentage %> of the users
                                </span>

                                <div class="border-slate-200 w-1/2">
                                  <div class="relative w-full h-2 bg-slate-300">
                                    <div class="absolute inset-0 bg-emerald-500" aria-hidden="true" style="width: <%= deployment_run.rollout_percentage %>%"></div>
                                  </div>
                                </div>
                              </div>
                            <% end %>

                            <%= render partial: "shared/live_release/external_release", locals: { deployment_run: } %>
                          </div>
                        <% end %>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
