<% stream_url = app_integrations_build_artifact_channels_url(step.train.app.id, with_production: step.release?) %>

<div data-controller="dropdown-stream"
     data-dropdown-stream-target-key-value="integration_id"
     data-dropdown-stream-show-element-if-value='{"is_production": true}'
     data-dropdown-stream-url-value="<%= stream_url %>"
     class="px-2 py-6 rounded-sm">

  <div class="flex flex-col gap-y-4">
    <div class="flex flex-row items-center gap-4 w-full">
      <div>
        <%= inline_svg("hamburger.svg", classname: "handle cursor-grabbing w-6") %>
      </div>

      <div class="flex-grow w-1/2">
        <%= form.select :integration_id, options_for_select(@build_channel_integrations, @selected_integration),
                        { class: "block form-select" },
                        data: { controller: "input-select", action: "change->dropdown-stream#change" } %>
      </div>

      <div class="flex-grow w-1/2">
        <%= form.select :build_artifact_channel,
                        options_for_select(display_channels(@selected_build_channels) { |chan| chan[:name] }),
                        { class: "block form-select" },
                        { data: { dropdown_stream_target: "select",
                                  action: "change->dropdown-stream#toggleElement",
                                  controller: "input-select" } } %>
      </div>

      <div>
        <button type="button" data-action="nested-form-ext#remove">
          <%= inline_svg("trash.svg", classname: "w-6") %>
        </button>

        <%= form.hidden_field :_destroy %>
      </div>
    </div>

    <div class="flex flex-row items-center gap-4 w-full">
      <div class="w-6">
      </div>
      <% if step.release? %>
        <div class="flex-grow" data-dropdown-stream-target="showElement" hidden>
          <div data-controller="reveal" class="inline-flex gap-x-4">
            <div class="flex items-center">
              <%= form.check_box :is_staged_rollout, class: "form-checkbox", data: { action: "reveal#toggle" } %>
              <%= form.label :is_staged_rollout, "Enable Staged Rollout?", class: "text-sm ml-2" %>
              <%= form.text_field :staged_rollout_config,
                                  class: "ml-2 form-input",
                                  hidden: true,
                                  placeholder: "5, 10, 50, 100",
                                  data: { reveal: true } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
