<div class="last:pl-3" data-controller="build-artifacts" data-app="<%= train.app.id %>">
  <div>
    <%= form.label :integration_id, "Provider", class: "block text-sm font-medium mb-1" %>
    <%= form.select :integration_id, options_for_select(@build_channel_integrations, @selected_integration),
                                { class: "form-select" }, data: { controller: "input-select", action: 'change->build-artifacts#change' } %>
  </div>

  <div class="mt-2">
    <%= form.label :build_artifact_channel, "Channel", class: "block text-sm font-medium mb-1" %>
    <%= form.select :build_artifact_channel,
                                options_for_select(@selected_build_channels),
                                { class: "form-select" },
                                { data: { build_artifacts_target: "select", controller: "input-select" } } %>
  </div>
</div>
