<div class="grid gap-5 md:grid-cols-2">
  <div>
    <%= form.label :name, class: "block text-sm font-medium mb-1" %>
    <%= form.text_field :name, class: "form-input w-full", placeholder: "Enter step name..", required: true %>
  </div>

  <div>
    <%= form.label :description, class: "block text-sm font-medium mb-1" %>
    <%= form.text_area :description, class: "form-input w-full mb-1", placeholder: "Describe your step..." %>
  </div>

  <div>
    <%= form.label :ci_cd_channel, "CI workflow", class: "block text-sm font-medium mb-1" %>
    <div class="control">
      <%= form.select :ci_cd_channel,
                      options_for_select(@ci_actions.map { |action| [action[:name], { action[:id] => action[:name] }.to_json] }, @step.ci_cd_channel.to_json),
                      { class: "form-select" },
                      data: { controller: "input-select" } %>
    </div>
  </div>

  <div data-controller='build-channel' data-train="<%= @train.id %>" data-app="<%= @train.app.id %>" data-step="<%= @step.id %>">
    <div>
      <%= form.label :build_artifact_integration, class: "block text-sm font-medium mb-1" %>
      <%= form.select :build_artifact_integration, options_for_select(@step.train.build_channel_integrations, @step.build_artifact_integration),
        {class: "form-select"},  required: true,  data: { controller: "input-select", action: 'change->build-channel#change'} %>
    </div>

    <div>
      <%= form.label :build_artifact_channel, class: "block text-sm font-medium mb-1 mt-4" %>
      <%= form.select :build_artifact_channel,
                      options_for_select(@build_channels, @step.build_artifact_channel.to_json),
                      { class: "form-select" },
                      data: { controller: "input-select" } %>
    </div>
  </div>

  <div class="flex flex-wrap items-center -m-3">
    <div class="m-3">
      <label class="flex items-center">
        <input type="checkbox" class="form-checkbox" />
        <span class="text-sm font-medium ml-2">Deploy Automatically?</span>
      </label>

      <div class="text-sm mt-2">This can be <strong>unchecked</strong> when you are making a final release to the store so you have full control over when to actually go live.
        We recommend for most other non-store release steps, to run the CI workflow and deploy to the build channel automatically to get maximum benefit out of tramline and reduce manual overhead.</div>
    </div>
  </div>

  <div>
    <%= form.label :release_suffix, class: "block text-sm font-medium mb-1" %>
    <%= form.text_field :release_suffix, class: "form-input w-full", placeholder: "Eg: qa-staging", required: true %>
  </div>
</div>
