<div data-controller="nested-form-ext" data-nested-form-ext-list-position-outlet="#deployments">
  <div class="sm:flex sm:justify-between sm:items-center mt-8 mb-4">
    <div>
      <h2 class="font-bold text-xl">
        How should we distribute?
      </h2>

      <%= subtitle("#{Deployment.display.downcase.pluralize.titleize} are run in the specified order. You may drag and change the order.") %>
    </div>

    <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
      <div class="py-2">
        <% if @app. %>
        <%= authz_link_to :blue,
                          "Refresh channels",
                          refresh_channels_app_integration_slack_integration_path(@step.train.app,
                                                                                  @step.train.app.notification_provider.integration,
                                                                                  @step.train.app.notification_provider),
                          method: :post, data: { turbo_method: :post } %>
      </div>
      <%= button_tag type: "button", data: { action: "nested-form-ext#add" }, class: "btn bg-emerald-500 hover:bg-emerald-600 text-white" do %>
        <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
        <span class="ml-2">Add a new <%= Deployment.display.downcase %></span>
      <% end %>
    </div>
  </div>

  <ul data-controller="sortable-list-ext list-position"
      data-sortable-list-ext-handle-value=".handle"
      data-sortable-list-ext-list-position-outlet="#deployments"
      data-list-position-initial-value=1
      id="deployments">
    <li class="nested-form-wrapper border-b border-slate-200 border-dashed pt-2 pr-2"
        data-new-record="<%= form.object.new_record? %>">
      <%= form.fields_for :deployments, Deployment.new do |deployment_form| %>
        <%= render partial: "deployment", locals: { form: deployment_form, step: @step } %>
        <%= deployment_form.hidden_field :deployment_number, value: 1, data: { list_position_target: "position" } %>
      <% end %>
    </li>

    <template data-nested-form-ext-target="template">
      <li class="nested-form-wrapper border-b border-slate-200 border-dashed pt-2 pr-2"
          data-new-record="<%= form.object.new_record? %>">
        <%= form.fields_for :deployments, Deployment.new, child_index: "NEW_RECORD" do |deployment_form| %>
          <%= render partial: "deployment", locals: { form: deployment_form, step: @step } %>
          <%= deployment_form.hidden_field :deployment_number, data: { list_position_target: "position" } %>
        <% end %>
      </li>
    </template>

    <div data-nested-form-ext-target="target"></div>
  </ul>
</div>
