<%= render PageComponent.new(breadcrumb: breadcrumb(:step, @step), title: "Edit step 🪜") do %>
  <%= render partial: 'shared/errors', locals: { resource: @step } %>

  <%= form_with(model: @step,
                url: step_path(@step),
                builder: ButtonHelper::AuthzForms,
                method: :patch) do |form| %>

    <%= render 'form', form: form %>

    <div class="mb-8 w-1/2 2xl:w-1/3">
      <div class="sm:flex sm:justify-between sm:items-center mt-8 mb-2 pb-5">
        <p class="font-bold text-xl">
          <%= Deployment.display.pluralize %>
        </p>
      </div>

      <%= render partial: "shared/deployments", locals: { step: @step, show_deployment_status: false } %>
    </div>

    <div class="mt-5">
      <%= form.authz_submit :blue, "Update" %>
    </div>
  <% end %>
<% end %>
