<%= render V2::ContainerComponent.new(title: "Edit #{@step.kind} step 🪜", subtitle: platform_subtitle(@app, @step)) do |container| %>
  <%= container.with_body do %>
    <%= render partial: 'shared/errors', locals: { resource: @step } %>
    <%= render V2::FormComponent.new(model: @step, url: app_train_platform_step_path(@app, @train, @release_platform, @step), method: :patch) do |f| %>
      <%= render "form", form: f, step: @step, release_platform: @release_platform, ci_actions: @ci_actions, train: @train %>
      <div class="mb-8">
        <div class="sm:flex sm:justify-between sm:items-center mt-8">
          <p class="font-bold text-xl">
            <%= Deployment.display.pluralize %>
          </p>
        </div>

        <% if @step.deployments.size > 1 %>
          <div class="text-sm mt-1">
            Automatic distribution to all non-production distribution channels without any manual approval is
            <mark><%= auto_deploy_status(@step) %></mark>
          </div>
        <% end %>

        <div class="sm:w-1/2 2xl:w-1/3 mt-4">
          <%= render partial: "shared/deployments", locals: { step: @step, show_deployment_status: false, platform_run: nil, step_run: nil } %>
        </div>
      </div>

      <% f.with_action do %>
        <% f.F.authz_submit "Update", "v2/archive.svg" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
