<div>
  <%= image_tag("tram_aesthetic.png") %>

  <ul>
    <li><%= link_to "Feature Flags via Flipper", "/flipper" %></li>
    <li><%= link_to "Sidekiq Dashboard", "/sidekiq" %></li>
    <li><%= link_to "PgHero Dashboard", "/pghero" %></li>
    <li><%= link_to "Letter Opener (mail catcher)", "/letter_opener" if Rails.env.development? %></li>
  </ul>
</div>

<%= link_to "Log out", destroy_user_session_path, "data-turbo": false %>



