<% provider = integration.providable %>

<div class="col-span-full xl:col-span-3 2xl:col-span-4 bg-white shadow-md rounded-sm border border-slate-200">
  <div class="flex flex-col h-full p-5">
    <div class="grow">
      <header class="flex items-center mb-4">
        <div class="w-30 h-30 shrink-0 mr-3">
          <%= image_tag("integrations/logo_#{provider.to_s}.png", width: 35) %>
        </div>
        <h3 class="text-lg text-slate-800 font-semibold">
          <%= provider.display %>
        </h3>
      </header>
    </div>

    <footer class="mt-1">
      <div class="flex flex-wrap justify-between items-center">
        <div class="flex space-x-3">
          <div class="flex items-center text-slate-400">
            <div class="text-sm text-slate-500">
              <% if integration.connected? %>
                <div class="text-xs inline-flex font-medium uppercase tracking-wide bg-green-100 text-green-600 rounded-full text-center px-2.5 py-1">
                  Connected
                </div>
              <% end %>

              <% if integration.disconnected? %>
                <%= form_with(model: [@app, integration],
                              method: :get,
                              url: connect_app_integrations_path(@app, integration)) do |form| %>
                  <%= form.hidden_field :category, value: category %>

                  <%= form.fields_for :providable do |subform| %>
                    <%= subform.hidden_field :type, value: integration.providable_type %>
                  <% end %>

                  <%= form.submit 'Connect',
                                  class: "btn border-slate-300 hover:border-slate-400 flex items-center",
                                  "data-turbo": false %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>
</div>
