<% if integration.providable.creatable? %>
  <span data-controller="visibility">
    <%= decorated_button_tag :neutral,
                             { class: "btn-lg flex items-center",
                               data: { turbo: "false", action: "visibility#toggle" } } do %>
      Connect
    <% end %>

    <%= modal_for("Add JSON Key") do %>
      <div class="flex flex-col space-y-2">
        <%= form_with(model: [current_organization, @app, integration],
                      builder: ButtonHelper::AuthzForms) do |form| %>
          <div class="flex">
            <%= form.hidden_field :category, value: category %>
            <%= form.fields_for :providable do |subform| %>
              <%= subform.hidden_field :type, value: integration.providable_type %>
              <%= subform.file_field :json_key, accept: 'application/json' %>
            <% end %>
          </div>

          <div class="flex self-end">
            <%= form.authz_submit :blue, "Create", class: "flex items-center" %>
          </div>
        <% end %>
      </div>
    <% end %>
  </span>
<% else %>
  <%= form_with(model: [current_organization, @app, integration],
                method: :get,
                builder: ButtonHelper::AuthzForms,
                url: connect_app_integrations_path(@app, integration)) do |form| %>
    <%= form.hidden_field :category, value: category %>

    <%= form.fields_for :providable do |subform| %>
      <%= subform.hidden_field :type, value: integration.providable_type %>
    <% end %>

    <%= form.authz_submit :neutral,
                          "Connect",
                          class: "flex items-center",
                          "data-turbo": false %>
  <% end %>
<% end %>
