<% breadcrumb :integrations, @app %>
<div class="mb-8">
  <h1 class="text-2xl md:text-3xl text-slate-800 font-bold">Integrations 🤖</h1>
</div>

<%= render partial: 'shared/errors', locals: { resource: @integration } %>

<section class="border-t">
  <div class="grid grid-cols-1 gap-6">
    <% @integrations_by_categories.each do |category, integrations| %>
      <h3 class="text-2xl leading-snug text-slate-800 font-bold mt-8">
        <%= show_category category %>
      </h3>

      <div class="text-lg text-slate-500"><%= Integration::CATEGORY_DESCRIPTIONS[category.to_sym] %></div>

      <div class="grid grid-cols-12 gap-6">
        <% integrations.each do |integration| %>
          <% if integration.providable.creatable? %>
            <%= render partial: "creatable",
                       locals: { current_organization: current_organization,
                                 integration: integration,
                                 category: category
                       } %>
          <% end %>

          <% if integration.providable.connectable? %>
            <%= render partial: "connectable",
                       locals: { current_organization: current_organization,
                                 integration: integration,
                                 category: category
                       } %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>

<section>
  <h3 class="text-2xl leading-snug text-slate-400 font-bold mt-16 pt-8 border-t">
    Coming Soon!
  </h3>
  <div class="grid grid-cols-4 place-items-center justify-center text-slate-400">
    <div><%= image_tag "integrations/logo_appstore.png", title: "App Store", width: 108, class: "opacity-30" %></div>
    <div><%= image_tag "integrations/logo_testflight.png", title: "TestFlight", width: 108, class: "opacity-30" %></div>
    <div><%= image_tag "integrations/logo_fad.png", title: "Firebase App Distribution", width: 150, class: "opacity-30" %></div>
    <div><%= image_tag "integrations/logo_gitlab.png", title: "GitLab", width: 110, class: "opacity-30" %></div>
  </div>
</section>
