<%= render FormComponent.new(model: [app], free_form: true) do |form| %>
  <div class="grid gap-4 mb-4 sm:grid-cols-2">
    <div><%= form.F.labeled_text_field :name, "Name" %></div>
    <div><%= form.F.labeled_text_field :bundle_identifier, "Bundle Identifier" %></div>

    <div class="sm:col-span-2"
         data-controller="domain--build-number-help"
         data-domain--build-number-help-number-current-value="">

      <%= form.F.labeled_number_field :build_number,
                                    "Build Number",
                                    { data: { domain__build_number_help_target: "input",
                                              action: "domain--build-number-help#increment" } } %>
      <div class="text-sm my-1 dark:text-main-200">
        <p>
          <span data-domain--build-number-help-target="helpTextTitle"></span>&nbsp;
          <span class="font-semibold" data-domain--build-number-help-target="helpTextVal"></span>
        </p>

        <p class="pt-1">
          This number
          <strong>must be</strong> the same or higher than the build number of the last build you
          deployed to the store.
          If you make a mistake, you can edit this later.
        </p>
      </div>
    </div>

    <div><%= form.F.labeled_select :platform, "Mobile Platform", options_for_select(App.allowed_platforms, "Android") %></div>
    <div><%= form.F.labeled_tz_select :timezone, "Timezone", default_timezones, { model: ActiveSupport::TimeZone } %></div>
    <div class="sm:col-span-2"><%= form.F.labeled_textarea :description, "Description" %></div>
  </div>

  <% form.with_action do %>
    <%= form.F.authz_submit "Add an app", "plus.svg" %>
  <% end %>
<% end %>
