<%= render TableComponent.new(columns: ["release", "current status"]) do |table| %>
  <% table.with_header do %>
    <h2 class="text-2xl text-slate-800 font-bold">Ongoing Releases</h2>
  <% end %>

  <% app.active_runs.each do |run| %>
    <% table.with_row do |row| %>
      <% row.with_cell do %>
        <div class="flex items-center">
          <div class="font-medium text-slate-800">
            <%= link_to release_path(run.id) do %>
              <%= run.train.name %>&nbsp;&nbsp;•&nbsp;&nbsp;
              <span class="underline">
                  <%= version_in_progress(run.release_version) %>
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
      <% row.with_cell do %>
        <div class="px-4">
          <div class="max-w-md mx-auto w-full">
            <div class="relative">
              <% if run.all_steps.size > 1 %>
                <div class="absolute left-0 top-1/2 -mt-3 w-full h-0.5 bg-slate-200" aria-hidden="true"></div>
              <% end %>

              <ul class="relative flex justify-between w-full">
                <% run.overall_movement_status.each do |step, status_summary| %>
                  <li data-controller="tooltip"
                      data-action="mouseenter->tooltip#show mouseleave->tooltip#hide">
                    <span class="flex items-center justify-center w-6 h-6 rounded-full text-xs text-white font-semibold <%= movement_status_color(status_summary) %>">
                      <%= step.step_number %>
                    </span>

                    <div class="flex items-center">
                      <%= render partial: "shared/tooltip", locals: { content: movement_status_text(status_summary) } %>
                      <span class="flex items-center justify-center w-6 h-6 text-xs font-semibold"><%= step.name %></span>
                    </div>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
