<%= turbo_stream_from "all_builds" %>

<%= render V2::ContainerComponent.new(title: "All Releases") do |container| %>
  <% container.with_back_button %>
  <% container.with_body do %>
    <%= render V2::SectionComponent.new(style: :titled, title: "Search by commit/PR") do %>
      <div class="col-span-1">
        <%= render SearchBarComponent.new(
          path: search_app_path(@app, *@all_releases_params),
          placeholder: "Search commit messages",
          value: params[:search_pattern],
          turbo_frame: "search_results") %>
      </div>

      <%= tag.turbo_frame id: "search_results", target: "_top", data: { turbo_action: "advance" }, class: "col-span-full" do %>
        <%= render partial: "builds", locals: { builds: @builds, pagy: @pagy, all_releases_params: @build_params, app: @app, filters: @filters } %>
        <%= render partial: "releases", locals: { releases: @releases, pagy: @pagy, all_releases_params: @search_params, app: @app, filters: @filters } %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
