<% if @app.ready? && !@app.send_notifications? %>
  <% content_for :sticky_page_message do %>
    <%= render partial: "shared/sticky_topbar_message",
               locals: { msg: "You haven't yet added the integration for notifications. Set it up to receive timely updates about your release!" } %>
  <% end %>
<% end %>

<%= render PageComponent.new(breadcrumb: breadcrumb(@app), title: "#{@app.name} 📱") do |page| %>
  <% if @app.ready? %>
    <% if @app.runs.exists? %>
      <% page.with_action do %>
        <%= authz_link_to :neutral, all_builds_app_path(@app) do %>
          <%= inline_svg("all_builds_icon.svg", classname: "w-4") %>
          <span class="ml-2">All Builds</span>
        <% end %>
      <% end %>
    <% end %>

    <% page.with_action do %>
      <%= authz_link_to :neutral, app_integrations_path(@app) do %>
        <%= inline_svg("link_icon.svg", classname: "w-4 fill-current shrink-0 text-slate-500") %>

        <span class="ml-2">Integrations</span>
      <% end %>
    <% end %>

    <% page.with_action do %>
      <%= authz_link_to :neutral, edit_app_app_config_path(@app) do %>
        <%= inline_svg("configure_icon.svg", classname: "w-4 fill-current shrink-0") %>
        <span class="ml-2">Configure</span>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_action do %>
    <%= authz_link_to :neutral, edit_app_path(@app) do %>
      <%= inline_svg("edit.svg", classname: "w-4 fill-current text-slate-500 shrink-0") %>
      <span class="ml-2">Settings</span>
    <% end %>
  <% end %>

  <% if @app.runs.blank? %>
    <% page.with_action do %>
      <%= authz_link_to :red, app_path(@app), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <span>Delete</span>
      <% end %>
    <% end %>
  <% end %>

  <%= render partial: 'shared/errors', locals: { resource: @app } %>

  <div class="space-y-8">
    <% if @app.ready? %>
      <%= render partial: "train_groups/setup_progress", locals: { setup_instructions: @train_setup_instructions, app: @app, train_in_creation: @train_in_creation } %>
    <% else %>
      <%= render partial: "apps/setup_progress", locals: { setup_instructions: @app_setup_instructions } %>
    <% end %>

    <section class="grid md:grid-cols-2 gap-x-20 pb-5 mt-8">
      <% if @app.cross_platform? %>
        <article>
          <%= render(ExternalAppComponent.new(app: @app,
                                              external_app: @app.latest_external_apps[:android],
                                              heading: "Current Play Store Status")) %>
        </article>
        <article>
          <%= render(ExternalAppComponent.new(app: @app,
                                              external_app: @app.latest_external_apps[:ios],
                                              heading: "Current App Store Status")) %>
        </article>
      <% else %>
        <article>
          <%= render(ExternalAppComponent.new(app: @app, external_app: @app.latest_external_app)) %>
        </article>
        <article class="w-full">
          <%= render "shared/demo/release_pilot" %>
        </article>
      <% end %>
    </section>

    <% if @app.trains.any? %>
      <%= render TableComponent.new(columns: ["Name", "Description", "Current Release"]) do |table| %>
        <% table.with_heading do %>
          <div class="flex justify-between items-end mb-2">
            <h2 class="text-2xl text-slate-800 font-bold">Release Train</h2>
          </div>
        <% end %>
        <% @app.trains.each do |train| %>
          <% table.with_row do |row| %>
            <% row.with_cell do %>
              <div class="flex items-center">
                <div class="font-medium text-slate-800">
                  <%= link_to train.name, app_train_group_path(@app, train) %>
                </div>
              </div>
            <% end %>
            <% row.with_cell do %>
              <div class="text-left"><%= simple_format train.description %></div>
            <% end %>
            <% row.with_cell do %>
              <div class="text-left">
                <%= "#{train.releases.any? ? train.version_current : train.version_seeded_with} • #{@app.build_number}" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>
