<% if @app.ready? && !@app.send_notifications? %>
  <% content_for :sticky_page_message do %>
    <%= render partial: "shared/sticky_topbar_message",
               locals: { msg: "You haven't yet added the integration for notifications. Set it up to receive timely updates about your release!" } %>
  <% end %>
<% end %>

<%= render PageComponent.new(breadcrumb: breadcrumb(@app), title: "#{@app.name} 📱") do |page| %>
  <% if @app.ready? %>
    <% if @app.runs.exists? %>
      <% page.with_action do %>
        <%= authz_link_to :neutral, all_builds_app_path(@app) do %>
          <%= inline_svg("all_builds_icon.svg", classname: "w-4") %>
          <span class="ml-2">All Builds</span>
        <% end %>
      <% end %>
    <% end %>

    <% page.with_action do %>
      <%= authz_link_to :neutral, app_integrations_path(@app) do %>
        <%= inline_svg("link_icon.svg", classname: "w-4 fill-current shrink-0 text-slate-500") %>

        <span class="ml-2">Integrations</span>
      <% end %>
    <% end %>

    <% page.with_action do %>
      <%= authz_link_to :neutral, edit_app_app_config_path(@app) do %>
        <%= inline_svg("configure_icon.svg", classname: "w-4 fill-current shrink-0") %>
        <span class="ml-2">Configure</span>
      <% end %>
    <% end %>
  <% end %>

  <% page.with_action do %>
    <%= authz_link_to :neutral, edit_app_path(@app) do %>
      <%= inline_svg("edit.svg", classname: "w-4 fill-current text-slate-500 shrink-0") %>
      <span class="ml-2">Settings</span>
    <% end %>
  <% end %>

  <% if @app.runs.blank? %>
    <% page.with_action do %>
      <%= authz_link_to :red, app_path(@app), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
        <span>Delete</span>
      <% end %>
    <% end %>
  <% end %>

  <%= render partial: 'shared/errors', locals: { resource: @app } %>

  <div class="space-y-8">
    <% if @app.ready? %>
      <% unless @app.trains.any? %>
        <div class="grid grid-flow-col sm:auto-cols-max justify-start gap-2">
          <%= authz_link_to :green, new_app_train_path(@app) do %>
            <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
            <span class="hidden xs:block ml-2">
              Create a release train
            </span>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= render partial: "setup_progress", locals: { setup_instructions: @setup_instructions } %>
    <% end %>

    <div class="w-1/2">
      <%= render(ExternalAppComponent.new(app: @app, external_app: @app.latest_external_app)) %>
    </div>

    <% if @app.trains.any? %>
      <% active_runs = @app.active_runs %>
      <% if active_runs.present? %>
        <%= render partial: "ongoing_releases", locals: { app: @app } %>
      <% end %>
      <%= render TableComponent.new(columns: ["Name", "Description", "Current Release"]) do |table| %>
        <% table.with_heading do %>
          <div class="flex justify-between items-end mb-2">
            <h2 class="text-2xl text-slate-800 font-bold">Release Trains</h2>
            <% if @app.trains.any? %>
              <%= authz_link_to :green, new_app_train_path(@app) do %>
                <%= inline_svg("create_plus.svg", classname: "w-4 fill-current opacity-50 shrink-0") %>
                <span class="hidden xs:block ml-2">Create another release train</span>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% @app.trains.each do |train| %>
          <% table.with_row do |row| %>
            <% row.with_cell do %>
              <div class="flex items-center">
                <div class="font-medium text-slate-800">
                  <%= link_to train.name, app_train_path(@app, train) %>
                </div>
              </div>
            <% end %>
            <% row.with_cell do %>
              <div class="text-left"><%= simple_format train.description %></div>
            <% end %>
            <% row.with_cell do %>
              <div class="text-left">
                <%= "#{train.runs.any? ? train.version_current : train.version_seeded_with} • #{@app.build_number}" %>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %>

<div class="flex flex-col col-span-full sm:col-span-8 xl:col-span-8 rounded-sm border border-slate-200">
  <h2 class="text-lg font-semibold text-slate-800 mb-2">Commits per release</h2>
  <div class="text-xs font-semibold text-slate-400 uppercase mb-1">Average number of patches or commits made to a release branch</div>
  <div class="flex items-start">
    <div class="text-3xl font-bold text-slate-800 mr-2"><%= @release_metrics[:avg_patches] %></div>
  </div>
</div>

<div class="flex flex-col col-span-full sm:col-span-8 xl:col-span-8 rounded-sm border border-slate-200">
  <h2 class="text-lg font-semibold text-slate-800 mb-2">Release Length</h2>
  <div class="text-xs font-semibold text-slate-400 uppercase mb-1">Avg. duration of a release across release trains</div>
  <div class="flex items-start">
    <div class="text-3xl font-bold text-slate-800 mr-2"><%= @release_metrics[:avg_release_length] %></div>
  </div>
</div>

<div class="flex flex-col col-span-full sm:col-span-8 xl:col-span-8 rounded-sm border border-slate-200">
  <h2 class="text-lg font-semibold text-slate-800 mb-2">Release History</h2>
  <div class="text-xs font-semibold text-slate-400 uppercase mb-1">Avg. duration of a release across release trains</div>
  <div class="flex items-start">
    <div class="text-3xl font-bold text-slate-800 mr-2"><%= area_chart @release_metrics[:release_history] %></div>
  </div>
</div>
