<%= render V2::TableComponent.new(columns: ["", ""]) do |table| %>
  <% approval_items.each do |item| %>
    <% table.with_row do |row| %>
      <% row.with_cell do %>
        <div class="flex item-gap-default">
          <%= render partial: "item_content", locals: {item:} %>

          <div class="flex items-center gap-0.5">
            <% item.approval_assignees.collect do |assignee| %>
              <%= render V2::TooltipComponent.new(item.assignee_tooltip(assignee), placement: "top") do |tooltip| %>
                <% tooltip.with_body do %>
                  <%= item.assignee_avatar(assignee) %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>

      <% row.with_cell(wrap: true) do %>
        <%= render partial: "item_select", locals: {item:} %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
