<% icon = live_release_tab_configuration.dig(:store_release, :approvals, :icon) %>
<%= render V2::LiveRelease::ContainerComponent.new(@release, title: @release.train.name) do |container| %>
  <% container.with_back_button %>
  <% container.with_tab(title: "Approvals", icon:) do %>
    <div class="flex flex-col section-gap-default">
      <%= render V2::AlertComponent.new(type: :info, title: ApprovalsPresenter::NOTICE, full_screen: false) %>
      <%= render V2::CardComponent.new(title: "Items", separator: false, size: :full) do |card| %>
        <% card.with_action do %>
          <%= render V2::ModalComponent.new(title: "Add approval item", dismissable: false) do |modal| %>
            <% modal.with_button(label: "Add", scheme: :light, type: :action, size: :xxs, arrow: :none)
                    .with_icon("v2/plus.svg", size: :md) %>
            <% modal.with_body do %>
              <%= render partial: "form", locals: {
                model: [@release, @release.approval_items.new],
                url: release_approval_items_path(@release),
                select_options: ApprovalsPresenter.available_assignee_options(@available_assignees)
              } %>
            <% end %>
          <% end %>
        <% end %>

        <%= render partial: "items", locals: {approval_items: @approval_items} %>
      <% end %>
    </div>
  <% end %>
<% end %>
