<% icon = live_release_tab_configuration.dig(:store_release, :approvals, :icon) %>
<%= render V2::LiveRelease::ContainerComponent.new(@release, title: @release.train.name) do |container| %>
  <% container.with_back_button %>
  <% container.with_tab(title: "Approvals", subtitle: ApprovalsPresenter::INFO, icon:) do %>
    <% if @release.approvals_ready? %>
      <% if @release.approvals_overridden? %>
        <%= render V2::AlertComponent.new(type: :notice, title: ApprovalsPresenter::FORCE_APPROVED_NOTICE, full_screen: false) %>
      <% else %>
        <%= render V2::AlertComponent.new(type: :success, title: ApprovalsPresenter::APPROVED_NOTICE, full_screen: false) %>
      <% end %>
    <% end %>

    <div class="flex flex-col section-gap-default mt-2">
      <%= render V2::CardComponent.new(title: "Items", separator: false, size: :full) do |card| %>
        <% unless @release.approvals_ready? %>
          <% card.with_action do %>
            <%= render V2::ButtonComponent.new(
              scheme: :danger,
              label: "Override approvals",
              options: override_approvals_release_path(@release),
              type: :button,
              html_options:
                {method: :patch,
                 data: {turbo_method: :patch,
                        turbo_confirm: "This will override the release approvals. Are you sure?"}}) do |b|
              b.with_icon("v2/key_square.svg")
            end %>
          <% end %>
        <% end %>

        <% if @release.approval_items.none? || !@release.approvals_overridden? %>
          <% card.with_action do %>
            <%= render V2::ModalComponent.new(title: "Add approval item", dismissable: false) do |modal| %>
              <% modal.with_button(label: "Add", scheme: :light, type: :action, size: :xxs, arrow: :none)
                      .with_icon("v2/plus.svg", size: :md) %>
              <% modal.with_body do %>
                <%= render partial: "form", locals: {
                  model: [@release, @release.approval_items.new],
                  url: release_approval_items_path(@release),
                  select_options: ApprovalsPresenter.available_assignee_options(@available_assignees)
                } %>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

        <% if @approval_items.none? %>
          <%= render V2::EmptyStateComponent.new(text: "There are no items to approve for this release. Please add ", banner_image: "v2/list_checks.svg", type: :tiny) %>
        <% else %>
          <%= render partial: "items", locals: {approval_items: @approval_items} %>
        <% end %>
      <% end %>
    </div>
  <% end %>
<% end %>
