<div class="text-secondary text-sm">
  <strong><%= releases.size %></strong> releases found.
</div>

<% if releases.present? %>
  <%= render SectionComponent.new(style: :boxed, size: :micro) do %>
    <% releases.each do |release| %>
      <div class="flex flex-col gap-y-2">
        <div class="flex items-center justify-between border-default-b px-1 py-1 mb-3">
          <div class="flex justify-start gap-1">
            <h2 class="heading-2 text-main dark:text-white font-normal">Release <%= release.display_release_version %></h2>
            <% if release.release_branch.present? %>
              <%= render ButtonComponent.new(label: release.release_branch,
                                           scheme: :link,
                                           type: :link_external,
                                           options: release.branch_url,
                                           authz: false,
                                           size: :xxs,
                                           arrow: :none) do |b|
              b.with_icon(vcs_provider_logo, size: :sm)
            end %>
          <% end %>
        </div>

          <div class="flex justify-end">
            <%= render ButtonComponent.new(
              scheme: :supporting,
              label: "Go to release",
              options: release_path(release.release_slug),
              size: :sm,
              html_options: { class: "-mr-2" },
              authz: false,
              type: :link) do |b|
              b.with_icon("arrow_right.svg")
            end %>
          </div>
        </div>

        <div class="flex flex-col item-gap-default">
          <% if release.commits.present? %>
            <%= render CardComponent.new(title: "Commits", separator: false, size: :xs, fold: true) do |card| %>
              <% card.with_action do %>
                <span class="text-xs text-secondary items-center">Matched <strong><%= release.commits.size %></strong> commits</span>
              <% end %>

              <%= render partial: "shared/divide_collection", locals: { 
                collection: render(CommitComponent.with_collection(
                  release.commits.map do |commit_hash| 
                    OpenStruct.new(
                      commit_hash.merge(
                        timestamp: Time.parse(commit_hash[:timestamp])
                      )
                    )
                  end
                )) 
              } %>
            <% end %>
          <% end %>

          <% if release.pull_requests.present? %>
            <%= render CardComponent.new(title: "Pull Requests", separator: false, size: :xs, fold: true) do |card| %>
              <% card.with_action do %>
                <span class="text-xs text-secondary items-center">Matched <strong><%= release.pull_requests.size %></strong> pull requests</span>
              <% end %>

              <%= render partial: "shared/divide_collection", locals: { 
                collection: render(PullRequestComponent.with_collection(
                  release.pull_requests.map do |pr_hash|
                    OpenStruct.new(pr_hash)
                  end
                )) 
              } %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= render AllReleasesTableComponent.new(
    releases: releases,
    paginator: pagy,
    query_params: all_releases_params) %>
  <footer>
    <div class="text-sm text-slate-400">† All timestamps shown are in the timezone configured for the app.</div>
  </footer>
<% else %>
  <%= render EmptyStateComponent.new(
    title: "No releases found",
    text: "Try a different search term or filter.",
    banner_image: "drill.svg",
    type: :subdued) %>
<% end %>
