<%= form_with model: @app, url: accounts_organization_app_sign_off_groups_path(@organization, @app), method: :put  do |f| %>
  <div data-controller="nested-form">
    <template data-nested-form-target='template'>
      <%= f.fields_for :sign_off_groups, SignOffGroup.new, child_index: 'TEMPLATE_RECORD' do |g| %>
        <%= render 'sign_off_fields', g: g %>
      <% end %>

    </template>

    <%= f.fields_for :sign_off_groups do |g| %>
        <%= render 'sign_off_fields', g: g %>
    <% end %>
  <div data-nested-form-target="add_item">
      <%= link_to "Add Group", "#", data: { action: "nested-form#add_association" } %>
  </div>
  </div>
  <%= f.submit "Update", class: 'btn bg-indigo-500 hover:bg-indigo-600 text-white' %>
<% end %>

<script>
    [...document.querySelectorAll('.js-choice')].map(el => new Choices(el))
</script>

