<div class="mb-8">
  <h1 class="text-2xl md:text-3xl text-slate-800 font-bold"> Sign Off groups</h1>
</div>
<div class="overflow-x-auto">
  <table class="table-auto w-full">
    <!-- Table header -->
    <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
    <tr>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">Name</div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">Members</div>
      </th>
      <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
        <div class="font-semibold text-left">Action</div>
      </th>
    </tr>
    </thead>
    <!-- Table body -->
    <tbody class="text-sm divide-y divide-slate-200">
    <!-- Row -->
      <tr>
        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="flex items-center">
            <div class="font-medium text-slate-800">
              Group name
            </div>
          </div>
        </td>
        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">members</div>
        </td>
        <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
          <div class="text-left">actions</div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<%= form_with model: @app, url: accounts_organization_app_sign_off_groups_path(@organization, @app), method: :put  do |f| %>
  <div data-controller="nested-form">
    <template data-nested-form-target='template'>
      <%= f.fields_for :sign_off_groups, SignOffGroup.new, child_index: 'TEMPLATE_RECORD' do |g| %>
        <%= render 'sign_off_fields', form: g %>
      <% end %>

    </template>

    <%= f.fields_for :sign_off_groups do |g| %>
        <%= render 'sign_off_fields', form: g %>
    <% end %>
  <div data-nested-form-target="add_item">
      <%= link_to "Add Group", "#", data: { action: "nested-form#add_association" } %>
  </div>
  </div>
  <%= f.submit "Update", class: 'btn bg-indigo-500 hover:bg-indigo-600 text-white' %>
<% end %>
