<%= form_with(model: @custom_storage, url: accounts_organization_custom_storage_path(@organization)) do |form| %>
  <% if @custom_storage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@custom_storage.errors.count, "error") %> prohibited this custom_storage from being saved:</h2>
      <ul>
        <% @custom_storage.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bucket %>
    <%= form.text_field :bucket %>
  </div>

  <div class="field">
    <%= form.label :project_id %>
    <%= form.text_field :project_id %>
  </div>

  <div class="field">
    <%= form.label :credentials %>
    <%= form.text_area :credentials, value: JSON.pretty_generate(@custom_storage.credentials || {}), rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
