<% form_url = app_appstore_integration_path(app) %>

<%= form_with(model: [app, integration], builder: EnhancedFormHelper::AuthzForm, url: form_url) do |form| %>
  <%= form.hidden_field :category, value: category %>

  <%= form.fields_for :providable do |subform| %>
    <%= subform.hidden_field :type, value: integration.providable_type %>

    <%= subform.label :key_id, "Key ID", class: "block text-sm font-medium mb-1 w-full" %>
    <%= subform.text_field :key_id, placeholder: "Paste here...", class: "mb-3" %>
    <%= subform.label :issuer_id, "Issuer ID", class: "block text-sm font-medium mb-1 w-full" %>
    <%= subform.text_field :issuer_id, placeholder: "Paste here...", class: "mb-3" %>
    <%= subform.label :p8_key_file, "Upload p8 key file", class: "block text-sm font-medium mb-1 w-full" %>
    <%= subform.file_field :p8_key_file, accept: ".p8" %>
  <% end %>

  <div class="flex items-center mt-5 mb-5" data-controller="reveal">
    <%= form.authz_submit "Create",
                          "plus.svg",
                          scheme: :default,
                          size: :xs,
                          html_options: { data: { action: "reveal#toggle" } } %>

    <div class="ml-5">
      <div hidden data-reveal>
        <%= render V2::LoadingIndicatorComponent.new(text: "Verifying...") %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to_external "How to create an API key for App Store Connect API?",
                     "https://developer.apple.com/documentation/appstoreconnectapi/creating_api_keys_for_app_store_connect_api",
                     class: "underline text-slate-500 items-end" %>
