<%= render FormComponent.new(model: [app, integration], url: app_bitrise_integration_path(app)) do |f| %>
  <% f.with_section(heading: "Add") do |section| %>
    <% section.with_description do %>
      <p>Your Bitrise PAT (personal access token)</p>
      <p class="mt-2 text-xs">
        <%= link_to_external "How to add a personal access token?",
                             "https://devcenter.bitrise.io/en/accounts/personal-access-tokens.html",
                             class: "underline" %>
      </p>
    <% end %>

    <%= section.F.hidden_field :category, value: category %>

    <% section.F.fields_for :providable do |subf| %>
      <%= subf.hidden_field :type, value: integration.providable_type %>
      <div><%= subf.labeled_text_field :access_token, "Personal Access Token", required: true %></div>
    <% end %>
  <% end %>

  <% f.with_action do %>
    <%= f.F.authz_submit "Create", "plus.svg", size: :xs %>
  <% end %>
<% end %>
