<% form_url = app_bugsnag_integration_path(app) %>

<%= form_with(model: [app, integration], url: form_url, builder: EnhancedFormHelper::AuthzForm) do |form| %>
  <%= form.hidden_field :category, value: category %>

  <%= form.fields_for :providable do |subform| %>
    <%= subform.hidden_field :type, value: integration.providable_type %>
    <%= subform.text_field :access_token, placeholder: "Paste here..." %>
  <% end %>

  <div class="flex items-center mt-5 mb-5" data-controller="reveal">
    <%= form.authz_submit "Create",
                          "plus.svg",
                          scheme: :default,
                          size: :xs,
                          html_options: { data: { action: "reveal#toggle", turbo: false } } %>

    <div class="ml-5">
      <div hidden data-reveal>
        <%= render V2::LoadingIndicatorComponent.new(text: "Verifying...") %>
      </div>
    </div>
  </div>
<% end %>

<span>
  Personal Auth Tokens for the Data Access API can be generated in the My Account section of
  <%= link_to_external "Bugsnag settings.",
                       "https://app.bugsnag.com/settings/my-account",
                       class: "underline text-slate-500 items-end" %>
</span>
