<%= render FormComponent.new(model: [app, integration], url: app_bugsnag_integration_path(app)) do |f| %>
  <% f.with_section(heading: "Add") do |section| %>
    <% section.with_description do %>
      <p>Personal Auth Tokens for the Data Access API</p>
      <p class="mt-2 text-xs">
        Generate it from the My Account section of
        <%= link_to_external "Bugsnag settings.",
                             "https://app.bugsnag.com/settings/my-account",
                             class: "underline" %>
      </p>
    <% end %>

    <%= section.F.hidden_field :category, value: category %>

    <% section.F.fields_for :providable do |subf| %>
      <%= subf.hidden_field :type, value: integration.providable_type %>
      <div><%= subf.labeled_text_field :access_token, "Personal Auth Token", required: true %></div>
    <% end %>
  <% end %>

  <% f.with_action do %>
    <%= f.F.authz_submit "Create", "plus.svg", size: :xs %>
  <% end %>
<% end %>
