<%= render FormComponent.new(model: [app, integration], url: app_codemagic_integration_path(app)) do |f| %>
  <% f.with_section(heading: "Add") do |section| %>
    <% section.with_description do %>
      <p>Your CodeMagic API token</p>
      <p class="mt-2 text-xs">
        <%= link_to_external "How to create an API token?",
              "https://docs.codemagic.io/rest-api/overview/#authentication",
              class: "underline" %>
      </p>
    <% end %>

    <%= section.F.hidden_field :category, value: category %>

    <% section.F.fields_for :providable do |subf| %>
      <%= subf.hidden_field :type, value: integration.providable_type %>
      <div><%= subf.labeled_text_field :access_token, "API Token", required: true %></div>
    <% end %>
  <% end %>

  <% f.with_action do %>
    <%= f.F.authz_submit "Create", "plus.svg", size: :xs %>
  <% end %>
<% end %>
