<% form_url = app_google_firebase_integration_path(@app) %>

<span data-controller="visibility">
  <%= decorated_button_tag :neutral, "Connect", data: { turbo: "false", action: "visibility#toggle" } %>

  <%= modal_for("Connect your Firebase app") do %>
    <%= form_with(model: [@app, integration], builder: ButtonHelper::AuthzForms, url: form_url) do |form| %>
      <%= form.hidden_field :category, value: category %>
      <%= form.fields_for :providable do |subform| %>
        <%= subform.hidden_field :type, value: integration.providable_type %>

        <%= subform.label :project_number, "Project Number", class: "block text-sm font-medium mb-1 w-full" %>
        <%= subform.text_field :project_number, placeholder: "Paste here...", class: "mb-3" %>
        <%= subform.label :app_id, "App ID", class: "block text-sm font-medium mb-1 w-full" %>
        <%= subform.text_field :app_id, placeholder: "Paste here...", class: "mb-3" %>
        <%= subform.label :json_key_file, "Upload Service Account JSON Key", class: "block text-sm font-medium mb-1 w-full" %>
        <%= subform.file_field :json_key_file, accept: 'application/json' %>
      <% end %>

      <div class="flex items-center mt-5 mb-5" data-controller="reveal">
        <%= form.authz_submit :blue, "Create", class: "flex", data: { action: "reveal#toggle" } %>

        <div class="flex text-white ml-5">
          <span class="text-slate-500" data-reveal hidden>
            Verifying
            <%= render partial: "shared/loading" %>
          </span>
        </div>
      </div>
    <% end %>

    <%= link_to_external "How to create a firebase service account?",
                         "https://firebase.google.com/docs/app-distribution/authenticate-service-account?platform=android",
                         class: "underline text-slate-500 items-end" %>
  <% end %>
</span>
