<% form_url = app_google_play_store_integration_path(@app) %>

<span data-controller="visibility">
    <button class="btn border-slate-300 hover:border-slate-400 flex items-center"
            data-turbo="false"
            data-action="visibility#toggle">
      Connect
    </button>

  <%= modal_for("Add Service Account JSON Key") do %>
    <%= form_with(model: [@app, integration], url: form_url) do |form| %>
      <%= form.hidden_field :category, value: category %>
      <%= form.fields_for :providable do |subform| %>
        <%= subform.hidden_field :type, value: integration.providable_type %>
        <%= subform.file_field :json_key, accept: 'application/json' %>
      <% end %>

      <div class="flex items-center mt-5 mb-5" data-controller="reveal">
        <%= form.submit "Create", class: "btn bg-indigo-500 hover:bg-indigo-600 flex text-white", data: { action: "reveal#toggle" } %>

        <div class="flex text-white ml-5">
          <span class="text-slate-500" data-reveal hidden>
            Verifying
            <%= render partial: "shared/loading" %>
          </span>
        </div>
      </div>
    <% end %>

    <%= link_to_external "How to create a service account?", "https://developers.google.com/android/management/service-account", class: "underline text-slate-500 items-end" %>
  <% end %>
</span>
