<%= render V2::FormComponent.new(model: [app, integration], url: app_google_play_store_integration_path(app)) do |f| %>
  <% f.with_section(heading: "Add") do |section| %>
    <% section.with_description do %>
      <p>Your Service Account Key</p>
      <p class="mt-2 text-xs">
        <%= link_to_external "How to create a service account?",
                             "https://docs.tramline.app/integrations/distribution/play_store",
                             class: "underline" %>
      </p>
    <% end %>

    <%= section.F.hidden_field :category, value: category %>

    <% section.F.fields_for :providable do |subf| %>
      <%= subf.hidden_field :type, value: integration.providable_type %>
      <div>
        <%= subf.labeled_file_field :json_key_file,
                                    "JSON key file",
                                    "Only .json files.",
                                    accept: "application/json",
                                    required: true %>
      </div>
    <% end %>
  <% end %>

  <% f.with_action do %>
    <%= f.F.authz_submit "Create", "plus.svg", size: :xs %>
  <% end %>
<% end %>
