<% breadcrumb :release, @release %>
<div class="sm:flex sm:justify-between sm:items-center mb-8">
  <!-- Left: Title -->
  <div class="mb-4 sm:mb-0">
    <h1 class="text-2xl md:text-3xl text-slate-800 font-bold"><%= @train.name.titleize %> 🚂</h1>
    <h2> <%= @release.branch_name %> </h2>
  </div>

  <!-- Right: Actions -->
  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">

    <%= link_to app_train_path(@app, @train) do%>
      <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white mt-5"> Train </button>
    <% end %>

    <% if @release.on_track? %>
      <%= button_to release_path(@release.id), method: :delete do%>
        <button class="btn bg-red-500 hover:bg-red-600 text-white mt-5"> Stop </button>
      <% end %>
    <% end %>

  </div>
</div>

<div class="flex mb-10">
  <% @train.steps.each do |step| %>
    <% step_run = @release.step_runs.find_by(step: step) %>
    <% step_status = step_run&.status || 'pending' %>
    <div class="outline grow text-center h-25">
      <%= step.name %>
      <br/>
      <%= step_status %>
      <% if step.can_start? %>
        <%= button_to 'start', start_release_step_run_path(@release, step), { class: 'btn bg-indigo-500 hover:bg-indigo-600 text-white' } %>
      <% end %>
      <div class="sign_off">
        <% @train.sign_off_groups.each do |group| %>
          <div class="flex">
           <%= group.name %> :
            <% if step.sign_offs.exists?(sign_off_group: group, signed: true) %>
               <%= button_to "Approved", step_sign_off_path(step), params: { sign_off_group_id: group.id, commit_id: @train.commits.last }, class: 'btn bg-indigo-500 hover:bg-indigo-600 text-white"', method: :delete %>
            <% else %>
               <%= button_to "Not Approved", step_sign_off_path(step), params: { sign_off_group_id: group.id, commit_id: @train.commits.last }, class: 'btn bg-indigo-500 hover:bg-indigo-600 text-white"' %>
              <% end %>

          </div>
        <% end %>
      </div>
    </div>
  <% end %>  
</div>


<h3 class="font-bold">Commits </h3>

<% @release.commits.each do |commit| %>
  <div class="flex">
    <div class="mr-2">
      <%= link_to commit.commit_hash[0, 5], commit.url %>
    </div>
    <div class="">
      <%= commit.message %>
    </div>
  </div>
<% end %>
