<% if @release.finished? || @release.stopped? || @release.stopped_after_partial_finish? %>
  <% content_for :sticky_page_message do %>
    <%= render partial: "shared/sticky_topbar_message",
               locals: { msg: "This release was completed and is now locked." } %>
  <% end %>
<% end %>

<% breadcrumb :release, @release %>

<div class="sm:flex sm:justify-between sm:items-center pb-8 border-b border-slate-200">
  <!-- Left: Title -->
  <div class="mb-4 sm:mb-0">
    <h2 class="text-2xl md:text-3xl text-slate-800 font-bold">
      <%= @release.release_version %>
    </h2>
  </div>

  <!-- Right: Actions -->
  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
    <%= decorated_link_to :neutral, "Event Timeline", timeline_release_path(@release) %>

    <% if @release.stoppable? %>
      <%= authz_button_to :red, "Stop release", release_path(@release.id), method: :delete,
                          data: { turbo_method: :delete, turbo_confirm: stop_release_warning(@release) } %>
    <% end %>
  </div>
</div>

<div class="grid grid-cols-2 gap-6 mt-8">
  <div>
    <%= render partial: "shared/live_release/kick_off", locals: { release: @release, release_train: @train } %>

    <% if @release.pre_release_prs? %>
      <%= render partial: "shared/live_release/separator", locals: { margin_only: true } %>
      <%= render partial: "shared/live_release/pre_release_prs", locals: { pre_release_prs: @pre_release_prs } %>
    <% end %>

    <%= render partial: "shared/live_release/separator", locals: { margin_only: true } %>

    <% if @release.release_metadata.present? %>
      <%= render partial: "shared/live_release/release_metadata",
                 locals: { release: @release, is_android: @app.android? } %>
    <% end %>
  </div>

  <div>
    <%= render partial: "shared/live_release/commit_log", locals: { release: @release } %>
  </div>
</div>

<%= render partial: "shared/live_release/separator" %>

<div class="mt-8">
  <span class="font-bold text-2xl">Build stability</span>
  <span class="text-xl text-slate-400 ml-4"><%= time_ago_in_words(@release.updated_at) %> ago</span>
</div>

<div class="grid grid-cols-2 gap-6 mt-8">
  <% @release.release_platform_runs.each do |run| %>
    <%= render partial: "shared/live_release/stability", locals: { platform: "#{run.display_attr(:platform)} release", release: run, steps: run.release_platform.steps } %>
  <% end %>
</div>

<% if @release.active_build_queue.present? || @release.continuous_backmerge? %>
  <%= render partial: "shared/live_release/separator" %>
<% end %>

<div class="grid grid-cols-2 gap-6 mt-8">
  <% if @release.active_build_queue.present? %>
    <%= render partial: "shared/live_release/build_queue", locals: { release: @release, build_queue: @release.active_build_queue } %>
  <% end %>

  <% if @release.continuous_backmerge? %>
    <%= render partial: "shared/live_release/backmerge", locals: { release: @release } %>
  <% end %>
</div>


<%= render partial: "shared/live_release/separator" %>

<div class="grid grid-cols-1 gap-6 mt-8">
  <%= render partial: "shared/live_release/builds", locals: { release: @release, commits: @commits } %>
</div>

<% if @app.cross_platform? %>
  <%= render partial: "shared/live_release/separator" %>
  <div class="grid grid-cols-2 gap-6 mt-8">
    <% @release.release_platform_runs.each do |run| %>
      <div>
        <span class="font-bold text-2xl"><%= run.display_attr(:platform) %> Release Events</span>
        <%= render partial: "shared/event_timeline", locals: { events: run.events(10), short_width: true } %>
        <span class="text-sm text-slate-400">Showing the last 10 events, <%= link_to "view all", timeline_release_path(@release), class: "underline" %></span>
      </div>
    <% end %>
  </div>
<% end %>

<%= render partial: "shared/live_release/separator" %>

<div class="mt-8">
  <%= render partial: "shared/live_release/finalize", locals: { release: @release, post_release_prs: @post_release_prs } %>
</div>
