<% breadcrumb :release, @release %>

<div class="sm:flex sm:justify-between sm:items-center pb-8 border-b border-slate-200">
  <!-- Left: Title -->
  <div class="mb-4 sm:mb-0">
    <p class="text-2xl md:text-3xl text-slate-800 font-bold"><%= @release.release_version %></p>
  </div>

  <!-- Right: Actions -->
  <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
    <%= link_to "Event Log", timeline_release_path(@release), class: "btn border-slate-300 hover:border-slate-400 text-slate-600" %>
    <% if @release.on_track? %>
      <%= button_to "Stop release", release_path(@release.id), method: :delete, class: "btn bg-red-500 hover:bg-red-600 text-white" %>
    <% end %>
  </div>
</div>

<%= render partial: "releases/live_release/pre_release_prs", locals: { pre_release_prs: @pre_release_prs } %>
<%= render partial: "releases/live_release/kick_off", locals: { release: @release, release_train: @train } %>
<%= render partial: "releases/live_release/stability", locals: { release: @release, release_train: @train } %>
<%= render partial: "releases/live_release/finalize", locals: { release: @release, post_release_prs: @post_release_prs } %>
