<%= render V2::LiveRelease::ContainerComponent.new(@release,
                                                   title: @train.name,
                                                   tab_config: @tab_configuration) do |container| %>
  <% container.with_back_button %>
  <% container.with_tab(title: "App Submission", icon: @tab_configuration.dig(:release, :app_submission, :icon)) do %>
    <%= render V2::PlatformViewComponent.new(@release) do |component| %>
      <% component.platform_runs.each do |run| %>
        <div class="grid grid-cols-1 section-gap-default">

          <% if run.inflight_production_release.present? %>
              <%= render V2::LiveRelease::ProductionSubmissionComponent.new(run.inflight_production_release.store_submission, title: "In-flight Submission") %>
          <% end %>

          <% if run.active_production_release.present? %>
            <%= render V2::LiveRelease::ProductionSubmissionComponent.new(run.active_production_release.store_submission, inactive: run.inflight_production_release.present?, title: "Active Submission") %>
          <% end %>

          <% if run.finished_production_release.present? %>
            <%= render V2::LiveRelease::ProductionSubmissionComponent.new(run.finished_production_release.store_submission, inactive: true, title: "Completed Submission") %>
          <% end %>

          <% if run.production_releases.none? %>
            <%= render V2::EmptyStateComponent.new(
              title: "Not ready to be submitted",
              text: "Please wait for a Release Candidate to be available to start a submission.",
              banner_image: "v2/mail.svg",
              type: :subdued) %>
          <% end %>

          <% older_releases = run.older_production_releases %>
          <% if older_releases.any? %>
            <%= render V2::SectionComponent.new(style: :titled, title: "Previous submissions", size: :compact) do %>
              <div class="flex flex-col item-gap-default">
                <% older_releases.each do |prod_release| %>
                  <%= render V2::AccordionComponent.new do |accordion| %>
                    <% accordion.with_title_section do %>
                      <div class="flex text-sm items-center justify-between">
                        <div class="flex gap-2">
                          <span><%= prod_release.build.display_name %></span>
                          <%= render V2::BadgeComponent.new(text: "Superseded", status: :neutral) %>
                        </div>

                        <div class="flex items-center">
                          <%= inline_svg("v2/dotted_line.svg", classname: "w-4 h-4 inline-flex mx-2 text-secondary") %>
                          <span class="text-secondary font-normal"><%= ago_in_words(prod_release.updated_at) %></span>
                        </div>
                      </div>
                    <% end %>

                    <div class="my-3">
                      <%= render V2::LiveRelease::ProductionSubmissionComponent.new(prod_release.store_submission, inactive: true) %>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
