<%= render V2::LiveRelease::ContainerComponent.new(@release,
                                                   title: @train.name,
                                                   tab_config: @tab_configuration) do |container| %>
  <% container.with_back_button %>
  <% container.with_tab(title: "App Submission", icon: @tab_configuration.dig(:release, :app_submission, :icon)) do %>
    <%= render V2::PlatformViewComponent.new(@release) do |component| %>
      <% component.platform_runs.each do |run| %>
        <div class="grid grid-cols-1">

          <% if run.inflight_production_release.present? %>
              <%= render V2::LiveRelease::ProductionSubmissionComponent.new(run.inflight_production_release.store_submission) %>
          <% end %>

          <% if run.active_production_release.present? %>
            <%= render V2::LiveRelease::ProductionSubmissionComponent.new(run.active_production_release.store_submission, inactive: run.inflight_production_release.present?) %>
          <% end %>

          <% if run.finished_production_release.present? %>
            <%= render V2::LiveRelease::ProductionSubmissionComponent.new(run.finished_production_release.store_submission, inactive: true) %>
          <% end %>

          <% if run.production_releases.none? %>
            <%= render V2::EmptyStateComponent.new(
              title: "Not ready to be submitted",
              text: "Please wait for a Release Candidate to be available to start a submission.",
              banner_image: "v2/mail.svg",
              type: :subdued) %>
          <% end %>

          <% if run.older_production_releases.present? %>
            <%= render V2::SectionComponent.new(style: :titled, title: "Previous submissions", size: :compact) do %>
              <div class="flex flex-col item-gap-default">
                <% run.older_production_releases.each do |prod_release| %>
                  <%= render V2::LiveRelease::ProductionSubmissionComponent.new(prod_release.store_submission, inactive: true) %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% end %>
<% end %>
