<%= developer_commentary do %>
  <p>
    It's advisable to avoid splitting the full name and ask for an optional preferred name.
    Refer to <a href=https://uxmovement.com/forms/why-your-form-only-needs-one-name-field>this</a>.
  </p>
  <p>We only need the Organization Name from the first signee, the rest will be configured later.</p>
  <p>Currently, only the admin will be able to invite new users to their org. New users can't self-signup.</p>
  <p>Logins can get locked after 3 wrong attempts, hence you see a section on unlocking at the bottom.</p>
  <p>- kit</p>
<% end %>

<div class="max-w-sm mx-auto px-4 py-8">
  <h1 class="text-3xl text-slate-800 font-bold mb-6">Create your account ✨</h1>
  <!-- Form -->
  <%= form_for(resource, as: resource_name, html: { 'data-turbo' => "false" }, url: registration_path(resource_name)) do |f| %>

    <%= render partial: 'shared/errors' %>

    <div class="space-y-4">
      <div>
        <%= f.label :full_name, class: "block text-sm font-medium mb-1" %>
        <%= f.text_field :full_name, autofocus: true, autocomplete: "full-name", class: "form-input w-full" %>
      </div>

      <div>
        <%= f.label :preferred_name, class: "block text-sm font-medium mb-1" %>
        <%= f.text_field :preferred_name, autofocus: true, autocomplete: "preferred-name", placeholder: "What should we call you?", class: "form-input w-full" %>
      </div>

      <div>
        <%= f.label :email, class: "block text-sm font-medium mb-1" %>
        <%= f.email_field :email, autocomplete: "current-password", class: "form-input w-full" %>
      </div>

      <div>
        <%= f.fields_for :organizations, @organization do |m| %>
          <%= m.label :name, "Organization Name", class: "block text-sm font-medium mb-1" %>
          <%= m.text_field :name, autofocus: true, autocomplete: "organization-name", class: "form-input w-full" %>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password, class: "block text-sm font-medium mb-1" %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Minimum #{@minimum_password_length} characters", class: "form-input w-full" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "block text-sm font-medium mb-1" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input w-full" %>
      </div>

      <div class="flex items-center justify-between mt-6">
        <div class="mr-1">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-sm underline hover:no-underline" %>
          <% end %>
        </div>
        <%= f.submit "Sign up", class: "btn bg-indigo-500 hover:bg-indigo-600 text-white ml-3" %>
      </div>
    </div>
  <% end %>

  <!-- Footer -->
  <div class="pt-5 mt-6 border-t border-slate-200">
    <div class="text-sm">
      Have an account?
      <%= link_to "Sign In", user_session_path, class: "font-medium text-indigo-500 hover:text-indigo-600" %>
    </div>
  </div>
</div>

<!--<p><%#= render "devise/shared/links" %></p>-->
