<%= form_with(
      model: [current_organization, app, train, step],
      url: accounts_organization_app_releases_train_steps_path(current_organization, app, train, step)
    ) do |form| %>
  <fieldset class="block">
    <legend><%= legend %></legend>
    <div class="field">
      <%= form.label :name, class: "label" %>
      <div class="control">
        <%= form.text_field :name, class: "input", required: true %>
      </div>
    </div>

    <div class="field">
      <%= form.label :description, class: "label" %>
      <div class="control">
        <%= form.text_area :description, class: "input", required: true %>
      </div>
    </div>

    <% unless @first_step %>
      <div class="field">
        <%= form.label "Run after last step", class: "label" %>
        <div class="control">
          <%= form.number_field :run_after_duration_value, step: 1, min: 1, default: 1, required: true, class: "input" %>
          <%= form.select :run_after_duration_unit,
                          options_for_select([%w[Hour(s) hours], %w[Day(s) days], %w[Week(s) weeks]], "hours"), required: true %>
        </div>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :build_artifact_channel, class: "label" %>
      <div class="control">
        <%= form.text_field :build_artifact_channel, class: "input", required: true %>
      </div>
    </div>

    <div class="field">
      <%= form.label :ci_cd_channel, "CI/CD channel", class: "label" %>
      <div class="control">
        <%= form.text_field :ci_cd_channel, class: "input", required: true %>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <%= form.button 'Submit', class: "button is-link", "data-turbo": false %>
      </div>
    </div>
  </fieldset>
<% end %>