<div class="mb-8">
  <h1 class="text-2xl md:text-3xl text-slate-800 font-bold"><%= @step.name %> 🪜</h1>
</div>

<table class="table-auto w-full">
  <!-- Table header -->
  <thead class="text-xs font-semibold uppercase text-slate-500 bg-slate-50 border-t border-b border-slate-200">
  <tr>
    <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      #
    </th>
    <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      Description
    </th>
    <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      Build Channel
    </th>
    <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      CI/CD Channel
    </th>
    <th class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      Run after previous step
    </th>
  </tr>
  </thead>
  <tbody class="text-sm divide-y divide-slate-200">
  <tr>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      <%= @step.step_number %></td>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      <%= @step.description %></td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      <%= @step.build_artifact_channel %>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      <%= @step.ci_cd_channel %>
    </td>
    <td class="px-2 first:pl-5 last:pr-5 py-3 whitespace-nowrap">
      <%= @step.run_after_duration %>
    </td>
  </tr>
  </tbody>
</table>

<div class="mt-6">
  <button class="btn bg-indigo-500 hover:bg-indigo-600 text-white">
    <svg class="w-4 h-4 fill-current opacity-50 shrink-0" viewBox="0 0 16 16">
      <path d="M15 7H9V1c0-.6-.4-1-1-1S7 .4 7 1v6H1c-.6 0-1 .4-1 1s.4 1 1 1h6v6c0 .6.4 1 1 1s1-.4 1-1V9h6c.6 0 1-.4 1-1s-.4-1-1-1z"/>
    </svg>

    <span class="hidden xs:block ml-2">
    <%= link_to "Add another step",
                new_accounts_organization_app_releases_train_step_path(current_organization, @app, @train) %>
  </span>
  </button>
</div>
