<h3><%= @step.name %></h3>

<p>
  <table>
  <thead>
  <tr>
    <th>#</th>
    <th>Description</th>
    <th>Build Channel</th>
    <th>CI/CD Channel</th>
    <th>Run after previous step</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      <%= @step.step_number %></td>
    </td>
    <td>
      <%= @step.description %></td>
    <td>
      <%= @step.build_artifact_channel %>
    </td>
    <td>
      <%= @step.ci_cd_channel %>
    </td>
    <td>
      <%= @step.run_after_duration %>
    </td>
  </tr>
  </tbody>
</table>
</p>

<%= link_to "Add another step",
            new_accounts_organization_app_releases_train_step_path(current_organization, @app, @train) %>