<!DOCTYPE html>
<html>
<head>
  <title>The Tramline HQ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://unpkg.com/awsm.css/dist/awsm.min.css">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
</head>

<body>
<header>
  <h1><%= link_to "The Tramline HQ", root_path, class: "app-title" %></h1>
  <sub>pre-α</sub>
  <nav>
    <% unless user_signed_in? %>
      <%= link_to "Log in", user_session_path %>
      <span>•</span>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </nav>

  <%= yield :exceptions %>
</header>

<hr/>

<main>
  <% flash.each do |name, msg| %>
    <% unless name.start_with?("custom_errors") %>
      <sub>
        <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
      </sub>
    <% end %>
  <% end %>
  <main class="container mx-auto mt-28 px-5 flex">
    <main class="container mx-auto mt-28 px-5 flex">
  
    <%= yield %>
    </main>
  </main>
</main>

</body>
</html>
