<!DOCTYPE html>
<html>
<head>
  <title>The Tramline HQ</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.min.css">
  <link rel="stylesheet" href="https://ga.jspm.io/npm:flatpickr@4.6.9/dist/flatpickr.min.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>

<%= developer_commentary do %>
  <p>This is definitely not the final UI. We'll revamp the nav bar and the general IA completely soon.</p>
  <p>- kit</p>
<% end %>

<header>
  <h1>The Tramline HQ</h1>
  <nav>
    <%= link_to "Home", root_path %>
    <span>•</span>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, "data-turbo": false %>
    <% else %>
      <%= link_to "Log in", user_session_path %>
      <span>•</span>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
  </nav>
</header>


<% flash.each do |name, msg| %>
  <% unless name.start_with?("custom_errors") %>
    <blockquote>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    </blockquote>
  <% end %>
<% end %>

<%= yield %>

</body>
</html>
