<!DOCTYPE html>
<html>
<head>
  <%= render partial: "shared/favicon" %>
  <title>Tramline</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
</head>

<body>
  <%= yield :errors %>
</body>
