<!DOCTYPE html>
<html>
<head>
  <%= render partial: "shared/favicon" %>
  <title>Tramline</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
<main class="bg-white">
  <div class="relative flex">
    <div class="w-full">
      <div class="min-h-screen h-full flex flex-col after:flex-1">
        <div class="flex-1">
          <div class="flex items-center justify-between">
          </div>
        </div>
        <%= yield %>
      </div>
    </div>
  </div>
</main>
</body>
</html>
