<!DOCTYPE html>
<html>
<head>
  <%= render partial: "shared/favicon" %>
  <title><%= current_organization.name %> | Tramline</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

  <!-- Include Choices CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

  <%= javascript_importmap_tags %>
</head>

<body>

<%#= yield :exceptions %>

<div class="flex h-screen overflow-hidden">
  <%= render partial: 'shared/sidebar' %>
  <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
    <%= render partial: 'shared/header' %>

    <main>
      <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
        <%= render partial: 'shared/flash' %>
        <%= yield %>
      </div>
    </main>
  </div>
</div>

</body>
</html>
