<!DOCTYPE html>
<html>
<head>
  <%= render partial: "shared/favicon" %>
  <title><%= current_organization.name %> | Tramline</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <!-- Include Choices CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css"/>
  <%= javascript_importmap_tags %>
  <!-- current deploy: <%= Site.git_ref %> at <%= Site.git_ref_at %> -->
</head>

<body>
<div class="flex h-screen overflow-hidden">
  <div class="relative flex flex-col flex-1 overflow-y-scroll overflow-x-hidden h-full">
    <%= render partial: 'shared/header' %>

    <main class="mb-64">
      <div class="py-8 w-full max-w-7xl mx-auto">
        <%= render partial: 'shared/flash' %>
        <%= breadcrumbs fragment_class: 'text-slate-500', separator: ' » ', class: 'text-sm text-slate-500 mb-4' %>
        <%= yield %>
      </div>
    </main>

    <%= render partial: 'shared/footer' %>
  </div>
</div>
</body>
</html>
