<!DOCTYPE html>
<html>
<head>
  <%= render partial: "shared/favicon" %>
  <title>Tramline</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
</head>

<body>
  <main>
    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto">
      <div class="max-w-2xl m-auto mt-16">
        <div class="text-center px-4">
          <div class="inline-flex mb-8">
            <%= image_tag("desktop_computer.svg", width: 300) %>
          </div>

          <div class="mb-6">
            <a href="https://tramline.app/" class="underline">Tramline</a> is only supported on desktop browsers at the moment.
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
